[com_0]
type=model
x=135
y=16
width=35
height=32
model=model_2644_obj
zoom=624
xan=521
yan=1288

[com_1]
type=text
x=4
y=2
width=58
height=14
font=p12
shadowed=yes
text=GnomeBall
colour=0xFFFF00

[com_2]
type=text
x=4
y=22
width=35
height=14
font=p12
shadowed=yes
text=Score:
colour=0x00FF99

[com_3]
type=text
x=4
y=43
width=81
height=14
font=p12
shadowed=yes
text=Choose Action
colour=0x00C000

[com_4]
type=layer
x=4
y=60
width=145
height=190

[com_5]
layer=com_4
type=graphic
x=25
y=115
buttontype=target
width=25
height=39
graphic=gnomeball_buttons,2
actionverb=Tackle
actiontarget=npc,player

[com_6]
layer=com_4
type=graphic
x=25
y=15
buttontype=normal
width=25
height=39
graphic=gnomeball_buttons,1
option=Shoot

[com_7]
layer=com_4
type=graphic
x=25
y=65
buttontype=target
width=25
height=39
graphic=gnomeball_buttons,0
actionverb=Pass to
actiontarget=npc,player

[com_8]
layer=com_4
type=text
x=78
y=25
width=33
height=14
font=p12
shadowed=yes
text=Shoot
colour=0xFFFF00

[com_9]
layer=com_4
type=text
x=78
y=75
width=28
height=14
font=p12
shadowed=yes
text=Pass
colour=0xFFFF00

[com_10]
layer=com_4
type=text
x=78
y=125
width=34
height=14
font=p12
shadowed=yes
text=Tackle
colour=0xFFFF00

[com_11]
type=text
x=42
y=22
width=17
height=14
script1op1=pushvar,gnomeball
font=p12
shadowed=yes
text=%1
colour=0x00FF99
