[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[com_88]
type=text
x=420
y=29
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0xFF0000
overcolour=0xFFFFFF

[com_89]
type=text
x=154
y=30
width=194
height=14
center=yes
font=b12
shadowed=yes
text=Thessalias' Makeovers (Legs)
colour=0xFFFF00

[com_90]
type=rect
x=59
y=249
width=403
height=28
fill=yes

[khaki]
type=rect
x=85
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,2
fill=yes
colour=0x7B6E32
option=Khaki

[black]
type=rect
x=110
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,3
fill=yes
colour=0x262323
option=Black

[crimson]
type=rect
x=135
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,4
fill=yes
colour=0x752F3B
option=Crimson

[navy]
type=rect
x=160
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,5
fill=yes
colour=0x3B3B4E
option=Navy

[straw]
type=rect
x=185
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,6
fill=yes
colour=0xAA9045
option=Straw

[white]
type=rect
x=210
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,7
fill=yes
colour=0xBEB89C
option=White

[red]
type=rect
x=235
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,8
fill=yes
colour=0x8B3B2A
option=Red

[blue]
type=rect
x=260
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,9
fill=yes
colour=0x2D5272
option=Blue

[green]
type=rect
x=285
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,10
fill=yes
colour=0x2D723E
option=Green

[yellow]
type=rect
x=310
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,11
fill=yes
colour=0xA3970D
option=Yellow

[purple]
type=rect
x=335
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,12
fill=yes
colour=0x83537B
option=Purple

[orange]
type=rect
x=360
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,13
fill=yes
colour=0x9D642F
option=Orange

[rose]
type=rect
x=385
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,14
fill=yes
colour=0xA17067
option=Rose

[lime]
type=rect
x=410
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,15
fill=yes
colour=0x829472
option=Lime

[cyan]
type=rect
x=435
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,16
fill=yes
colour=0x728C94
option=Cyan

[emerald]
type=rect
x=60
y=250
buttontype=select
width=25
height=25
script1op1=pushvar,option3
script1=eq,1
fill=yes
colour=0x1C6135
option=Emerald

[confirm]
type=text
x=197
y=289
buttontype=normal
width=127
height=14
font=b12
shadowed=yes
text=CONFIRM (500 gold)
colour=0x00FF00
overcolour=0xFF0000

[com_108]
type=graphic
x=59
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,1
activegraphic=headicons,1

[com_109]
type=graphic
x=84
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,2
activegraphic=headicons,1

[com_110]
type=graphic
x=109
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,3
activegraphic=headicons,1

[com_111]
type=graphic
x=134
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,4
activegraphic=headicons,1

[com_112]
type=graphic
x=160
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,5
activegraphic=headicons,1

[com_113]
type=graphic
x=185
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,6
activegraphic=headicons,1

[com_114]
type=graphic
x=210
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,7
activegraphic=headicons,1

[com_115]
type=graphic
x=235
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,8
activegraphic=headicons,1

[com_116]
type=graphic
x=260
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,9
activegraphic=headicons,1

[com_117]
type=graphic
x=285
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,10
activegraphic=headicons,1

[com_118]
type=graphic
x=310
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,11
activegraphic=headicons,1

[com_119]
type=graphic
x=335
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,12
activegraphic=headicons,1

[com_120]
type=graphic
x=360
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,13
activegraphic=headicons,1

[com_121]
type=graphic
x=385
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,14
activegraphic=headicons,1

[com_122]
type=graphic
x=410
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,15
activegraphic=headicons,1

[com_123]
type=graphic
x=435
y=250
width=25
height=25
script1op1=pushvar,option3
script1=eq,16
activegraphic=headicons,1

[com_124]
type=text
x=220
y=225
width=73
height=14
font=p12
shadowed=yes
text=Select colour
colour=0xFFFF00

[com_125]
type=model
x=50
y=220
width=32
height=32
model=model_254_idk
zoom=400

[com_126]
type=model
x=185
y=220
width=32
height=32
model=model_271_idk
zoom=400

[com_127]
type=model
x=310
y=210
width=32
height=32
model=model_267_idk
zoom=420

[com_128]
type=model
x=435
y=220
width=32
height=32
model=model_274_idk
zoom=400

[plain]
type=graphic
x=46
y=89
buttontype=select
width=40
height=120
script1op1=pushvar,option1
script1=eq,1
option=Plain

[shorts]
type=graphic
x=180
y=90
buttontype=select
width=40
height=120
script1op1=pushvar,option1
script1=eq,2
option=Shorts

[flares]
type=graphic
x=306
y=86
buttontype=select
width=40
height=120
script1op1=pushvar,option1
script1=eq,3
option=Flares

[turn_ups]
type=graphic
x=430
y=88
buttontype=select
width=40
height=120
script1op1=pushvar,option1
script1=eq,4
option=Turn-ups

[com_133]
type=graphic
x=53
y=90
width=25
height=25
script1op1=pushvar,option1
script1=eq,1
activegraphic=headicons,1

[com_134]
type=graphic
x=187
y=90
width=25
height=25
script1op1=pushvar,option1
script1=eq,2
activegraphic=headicons,1

[com_135]
type=graphic
x=313
y=87
width=25
height=25
script1op1=pushvar,option1
script1=eq,3
activegraphic=headicons,1

[com_136]
type=graphic
x=436
y=89
width=25
height=25
script1op1=pushvar,option1
script1=eq,4
activegraphic=headicons,1

[com_137]
type=text
x=211
y=62
width=87
height=14
font=p12
shadowed=yes
text=Select leg style
colour=0xFFFF00
