<table width="500" cellpadding="0" cellspacing="0" border="0" background="/img/title/fm_middle.gif">
    <tr>
        <td width=7></td>
        <td valign="bottom" style="background-color: #000">
            <center>