<br>
<table width=250 bgcolor=black cellpadding=4>
    <tr>
        <td class=e>
            <center>
                <b><%= title %></b><br>
                <a href="/title" class=c>Main menu</a>
                <% if (typeof links !== 'undefined') { for (let i = 0; i < links.length; i++) { %>
                    <%- links[i].br ? '<br>' : '- ' %><a href="<%= links[i].href %>" class=c><%= links[i].text %></a>
                <% } } %>
            </center>
        </td>
    </tr>
</table>
<br>