[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[com_88]
type=text
x=420
y=29
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0xFF0000
overcolour=0xFFFFFF

[com_89]
type=text
x=182
y=274
buttontype=normal
width=137
height=14
font=b12
shadowed=yes
text=CONFIRM (3000 Gold)
colour=0xFFFF00
overcolour=0x00FF00

[com_90]
type=rect
x=229
y=64
width=35
height=202
fill=yes

[com_91]
type=model
x=90
y=160
width=32
height=32
model=model_63_idk_head
zoom=500
yan=1800

[com_92]
type=model
x=380
y=165
width=32
height=32
model=model_103_idk_head
zoom=500
yan=200

[com_93]
type=model
x=90
y=160
width=32
height=32
model=model_81_idk_head
zoom=500
yan=1800

[com_94]
type=rect
x=230
y=90
buttontype=select
width=32
height=25
script1op1=pushvar,option2
script1=eq,1
fill=yes
colour=0xBB8F6A

[com_95]
type=rect
x=230
y=115
buttontype=select
width=32
height=25
script1op1=pushvar,option2
script1=eq,2
fill=yes
colour=0xA47F5D

[com_96]
type=rect
x=230
y=140
buttontype=select
width=32
height=25
script1op1=pushvar,option2
script1=eq,3
fill=yes
colour=0x9E7A49

[com_97]
type=rect
x=230
y=165
buttontype=select
width=32
height=25
script1op1=pushvar,option2
script1=eq,4
fill=yes
colour=0x8E6E42

[com_98]
type=rect
x=230
y=190
buttontype=select
width=32
height=25
script1op1=pushvar,option2
script1=eq,5
fill=yes
colour=0x79582A

[com_99]
type=rect
x=230
y=215
buttontype=select
width=32
height=25
script1op1=pushvar,option2
script1=eq,6
fill=yes
colour=0x644E24

[com_100]
type=rect
x=230
y=240
buttontype=select
width=32
height=25
script1op1=pushvar,option2
script1=eq,7
fill=yes
colour=0x4C3D09

[com_101]
type=rect
x=230
y=65
buttontype=select
width=32
height=25
script1op1=pushvar,option2
script1=eq,8
fill=yes
colour=0xD5A985

[com_102]
type=text
x=78
y=273
buttontype=select
width=33
height=14
script1op1=pushvar,option1
script1=eq,1
font=b12
shadowed=yes
text=MALE
activecolour=0x00FF00

[com_103]
type=text
x=167
y=29
width=166
height=14
font=p12
shadowed=yes
text=Select skin colour and gender
colour=0xFFFF00

[com_104]
type=text
x=377
y=273
buttontype=select
width=47
height=14
script1op1=pushvar,option1
script1=eq,2
font=b12
shadowed=yes
text=FEMALE
activecolour=0x00FF00

[com_105]
type=graphic
x=233
y=65
width=25
height=25
script1op1=pushvar,option2
script1=eq,8
activegraphic=headicons,1

[com_106]
type=graphic
x=233
y=90
width=25
height=25
script1op1=pushvar,option2
script1=eq,1
activegraphic=headicons,1

[com_107]
type=graphic
x=233
y=115
width=25
height=25
script1op1=pushvar,option2
script1=eq,2
activegraphic=headicons,1

[com_108]
type=graphic
x=233
y=140
width=25
height=25
script1op1=pushvar,option2
script1=eq,3
activegraphic=headicons,1

[com_109]
type=graphic
x=233
y=165
width=25
height=25
script1op1=pushvar,option2
script1=eq,4
activegraphic=headicons,1

[com_110]
type=graphic
x=233
y=190
width=25
height=25
script1op1=pushvar,option2
script1=eq,5
activegraphic=headicons,1

[com_111]
type=graphic
x=233
y=215
width=25
height=25
script1op1=pushvar,option2
script1=eq,6
activegraphic=headicons,1

[com_112]
type=graphic
x=233
y=240
width=25
height=25
script1op1=pushvar,option2
script1=eq,7
activegraphic=headicons,1

[com_113]
type=graphic
x=60
y=94
buttontype=select
width=100
height=150
script1op1=pushvar,option1
script1=eq,1

[com_114]
type=graphic
x=341
y=87
buttontype=select
width=100
height=150
script1op1=pushvar,option1
script1=eq,2
