<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Abuse Guide</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/guides" class=c>Rules & Security Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center><b>How to handle abusive players</b><br><br></center>

<p>If whilst you are playing RuneScape, you happen to come across another player that is either harassing yourself or other players, or is generally being disruptive, there are various things you may do.

<center><p><b><u>In game system</u></b></center>
<p>
<table width=450>
<tr><td valign=top>Firstly you may report the player in game via the "report abuse" button situated to the bottom right of the game client just to the left of the private messages tab.</td>
<td><img src="/img/manual/snap1.gif" align=left></td></tr>

</table>
<p>
<p>The best circumstances to report a player in game are the following:
<ol>
<li>Swearing, profanity or racial abuse (see guidance on how to use the Report Abuse System below)
<li>Trade scams (lied about the trade to steal items from you)
<li>Asking other players for passwords (trying to steal accounts)
<li>Attempting to buy or sell a RuneScape account
<li>Impersonating our staff
<li>Advertising a scam website
</ol>

<p>This will enable us with your help to take quick and effective action against the abusive players in Runescape. 
<p><center><img src="/img/manual/snap2.gif" align=center></center>
<p><b>Please Note: (reference trade scams)</b>

<p>We must remind you though that if you do lend anyone anything it is at your OWN RISK! Many people are conned by others and whilst we are trying to catch them, the problem will be minimized if you only engage in swaps and trusts if you are FULLY 100 percent convinced that they are trustworthy.

<p>Please also note that we cannot replace any money or items that have been lost.

<p><b>Punishments</b>

<p>Our punishments range from a verbal warning, to black marks being accrued against your account. This will lead very quickly to temporary and permanent bans should you re-offend. The severity of punishment will depend on the severity of each report and the number of total reports against a player. 

<p><b>Caution - How to use the Report Abuse System</b>

<p>If you are going to send in a report against a player you must make sure that it is a legitimate claim of abuse. This means that it must contain evidence of the above situations or we will not be able to take any action. 

<p>Before sending in a verbal abuse report please try and think about whether you are genuinely offended by the other players remarks. If the chat filter has blocked out the profanity then there is <b>no</b> need to send in a report. Please only do so if you are genuinely offended.

<p>Sending in hoax reports slows us down with dealing with your other queries, and repeatedly doing so is likely to result in action being taken against your account.

<p>For example petty abuse such as simply calling someone a "noob" is not a good enough reason to report someone for abuse. Being offensive to someone else and then reporting them when they retaliate is also a complete misuse of the system. Our logs clearly show the incident that is reported, so it will be easy see who actually started the abuse. 

<p>So please, take some time and use some common sense to ensure that your report is valid.

<center><p><b><u>Online Customer Support forms</u></b></center>

<p>There are certain circumstances when it is better to report players through our online report forms which can be found <a href="/support" class=c>here</a>.

<p>These situations might include 

<ul>
<li>players using macroers or cheating programs
<li>hack sites that perhaps you might have stumbled across
<li>Any other valid abuse that you do not feel can be reported in game
</ul>

<center><p><b><u>Further helpful hints on abusive players</u></b></center>

<p>If you come across a player in game that is harassing you and you wish to ignore the player, you can do so by reading the following:

<p>If there is a particular user causing a problem then use the ignore function to block further messages. (To do this click the red 'unhappy face' icon between the yellow 'happy face' icon and the log out button, click where it says 'add name' and finally  enter the name of the user to block.) 

<p>If you continue to receive unwanted messages, or receive harassment from multiple players then you should use the privacy controls to block all messages from everyone except your friends. (To do this click the buttons marked 'Public Chat', 'Private Chat' and 'Trade / Duel' at the bottom of the screen until they say either 'friends' so only people on your friends list can speak to you, or 'off' to prevent all messages).
<p>If you have any further enquiries please contact us via <a href="/support" class=c>customer support</a>.
<p>

</td></tr></table>

<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</center>
</td></tr></table>
</center></td></tr></table></body></html>