<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>


</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Health & Safety</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="guides" class=c>Rules & Security Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<p align=center><center>
<p align=center><b>WARNING: READ BEFORE PLAYING</b></p>

<p><center><b>Photo sensitive Seizure warning</b></center>
<p align=justify>

<p align=justify>
<p align=justify>A very small proportion of people can experience epileptic seizures when exposed to certain light patterns or flashing lights. Such exposure to certain patterns or backgrounds on a computer screen, or while playing video games, may induce an epileptic seizure in these people. Certain conditions can induce previously undetected epileptic symptoms even in people who have no prior history of prior seizures or epilepsy.
<p align=justify>
<p align=justify>If you, or anyone in your family, have an epileptic condition, consult your physician prior to playing RuneScape. If you experience any of the following symptoms while playing a video or computer game - dizziness, eye or muscle twitches, altered vision, loss of awareness, disorientation, any involuntary movement, or convulsions - STOP PLAYING IMMEDIATELY and consult your physician. Only when they have given you the all clear should you resume play.
<p><center><b>Repetitive Strain Injury Warning </b></center>
<p align=justify>Prolonged use of a computer, bad posture, low levels of fitness can all combine to contribute to a condition referred to as Repetitive Strain Injury.  
 
<p align=justify>To help avoid it follow these simple steps:

<p align=justify>When playing RuneScape take a 10 minute break from your computer every hour. Get up and walk around, do some stretches. Exercise regularly. When using the computer only maintain a loose grip on the mouse. Never rest your wrists on a support whilst typing or using the mouse. For extended periods of mouse-only use place the mouse directly in front of you between you and the monitor.  Make sure the top of the monitor is at eye level and directly in front of you and that your seat is at the right height so that your forearms are at right angles to your upper arms.
 
<p align=left>The picture below illustrates a correct sitting position:</p>

<img src='/img/manual/safekeyboard.jpg' width=394 height=294>

<p align=justify>If you have any serious pain or discomfort in your arms, neck, shoulders or back whilst playing RuneScape stop playing immediately and consult your physician. Only when they have given you the all clear should you resume play. </p>


</td></tr></table>

<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</center>
</td></tr></table>
</center></td></tr></table></body></html>