<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Rules & Security</b><br>
<a href="/title" class=c>Main Menu</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->

    <table width=500 bgcolor=black cellpadding=4>
      <tr><td class=e><center>
	    <table width=100 bgcolor=black cellpadding=0>
	      <tr><td> 
        <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: relative;">
           <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: absolute;">
              <a href='/guides/rules'><img src=/img/title/blank.gif width=100 height=35 border=0></a>
           </div>
        </div>
        <table width=100 bgcolor=black cellpadding=2><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>Rules</center></td></tr></table>
        </td></tr></table>
        <table>
          <tr><td><a href=/guides/rules><img src=/img/manual/rules.jpg width=95 height=65 border=0></a></td>
            <td>It is important that everyone reads and understands our rules. Please <a href=/guides/rules class=c> Click here</a> to learn our rules</td>
          </tr>
        </table>
      </td></tr>
    </table>
    <p>
<table>
    <tr valign=top><td>
    <p>
    <table width=240 bgcolor=black cellpadding=4>
      <tr><td class=e><center>  
	    <table width=150 bgcolor=black cellpadding=0>
	      <tr><td> 
        <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: relative;">
           <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: absolute;">
              <a href='/guides/securetips'><img src=/img/title/blank.gif width=150 height=35 border=0></a>
           </div>
        </div>
        <table width=150 bgcolor=black cellpadding=2>
          <tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>  Security Tips</td></tr>
        </table>
        </td></tr></table>
        <table>
          <tr><td>  <a href=/guides/securetips class=c><img src=/img/manual/securitytips.jpg width=95 height=65 border=0></a>  </td>
            <td> For advice on how to keep your account secure<br> <a href=/guides/securetips class=c>Click here</a>
            </td>
          </tr>
        </table>
      </td></tr>
    </table>
    <p>
    <table width=240 bgcolor=black cellpadding=4>
      <tr><td class=e><center>
	    <table width=150 bgcolor=black cellpadding=0>
	      <tr><td> 
        <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: relative;">
           <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: absolute;">
              <a href='/guides/safety'><img src=/img/title/blank.gif width=150 height=35 border=0></a>
           </div>
        </div>
        <table width=150 bgcolor=black cellpadding=2>
          <tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>  Play Safely</td></tr>
        </table>
       	</td></tr></table>
        <table>
          <tr><td>  <a href=/guides/safety class=c><img src=/img/manual/playsafely.jpg width=95 height=65 border=0></a>  </td>
              <td>Helpful hints so you can be both safe and have fun<br><a href=/guides/safety class=c>Click here</a></td>
          </tr>
        </table>
      </td></tr>
    </table>
    <p>
    <table width=240 bgcolor=black cellpadding=4>
      <tr><td class=e><center>
	    <table width=150 bgcolor=black cellpadding=0>
	      <tr><td> 
        <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: relative;">
           <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: absolute;">
              <a href='/guides/epilepsy'><img src=/img/title/blank.gif width=150 height=35 border=0></a>
           </div>
        </div>
        <table width=150 bgcolor=black cellpadding=2>
          <tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>Health & Safety</td></tr>
        </table>
        </td></tr></table>
        <table>
          <tr><td>  <a href=/guides/epilepsy class=c><img src=/img/manual/seizurewarning.jpg width=95 height=65 border=0></a>  </td>
            <td>Please read this guide before playing RuneScape.<br><a href=/guides/epilepsy class=c>Click here</a></td>
          </tr>
        </table>
      </td></tr>
    </table>
  </td>
  <td width=10></td>
  <td valign=top>
    <table width=240 bgcolor=black cellpadding=4>
      <tr><td class=e><center>  
	    <table width=150 bgcolor=black cellpadding=0>
	      <tr><td> 
        <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: relative;">
           <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: absolute;">
              <a href='/guides/abuse'><img src=/img/title/blank.gif width=150 height=35 border=0></a>
           </div>
        </div>
        <table width=150 bgcolor=black cellpadding=2>
          <tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>Reporting abuse</td></tr>
        </table>
        </td></tr></table>
        <table>
          <tr><td>  <a href=/guides/abuse class=c><img src='/img/manual/reportingabuse.jpg' width=95 height=65 border=0></a>  </td>
            <td>Dealing with and reporting abusive players <br><a href=/guides/abuse class=c>Click here</a></td>
          </tr>
        </table>
      </td></tr>
    </table>
    <p>
    <table width=240 bgcolor=black cellpadding=4>
      <tr><td class=e><center>  
	    <table width=150 bgcolor=black cellpadding=0>
	      <tr><td> 
        <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: relative;">
           <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: absolute;">
              <a href='/guides/responsible'><img src=/img/title/blank.gif width=150 height=35 border=0></a>
           </div>
        </div>
        <table width=150 bgcolor=black cellpadding=2>
          <tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>Responsible gaming</td></tr>
        </table>
        </td></tr></table>
        <table>
          <tr><td>  <a href=/guides/responsible class=c><img src='/img/manual/responsiblegaming.jpg' width=95 height=65 border=0></a>  </td>
            <td>Maintain a balanced life whilst playing RuneScape. <br><a href=/guides/responsible class=c>Click here</a></td>
          </tr>
        </table>
      </td></tr>
    </table>
    <p>
    <table width=240 bgcolor=black cellpadding=4>
      <tr><td class=e><center>  
	    <table width=150 bgcolor=black cellpadding=0>
	      <tr><td> 
        <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: relative;">
           <DIV STYLE="LEFT: 0px; TOP: 0px; POSITION: absolute;">
              <a href='/guides/scam'><img src=/img/title/blank.gif width=150 height=35 border=0></a>
           </div>
        </div>
        <table width=150 bgcolor=black cellpadding=2>
          <tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>Avoid Scamming</td></tr>
        </table>
        </td></tr></table>
        <table>
          <tr><td>  <a href=/guides/scam class=c><img src=/img/manual/scamming.jpg width=95 height=65 border=0></a></td>
            <td> What is a scam and how do you avoid being scammed?<br><a href=/guides/scam class=c>Click here</a></td>
          </tr>
        </table>
      </td></tr>
    </table>

</center>

<br>
</td></tr></table>
<!-- end content table -->
</td></tr></table>
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>