<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
<!--
-->
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Rules of conduct</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/guides' class=c>Rules & Security Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->

To keep RuneScape enjoyable for everyone there are <b>twelve</b> rules you must observe.<br>
We won't tolerate disruptive players, and if you break our rules you will be <b>banned</b>.<br>
Members who are banned for breaking our rules are not entitled to any sort of refund.
<p>

<table>

<tr valign=top>
          <td width=250>
            <center>
              <table width=240 height=190 bgcolor=black cellpadding=4>
                <tr valign=top>
                  <td class=e>
                    <center>
                      <table>
                        <tr valign=middle>
                          <td valign="top">
                            <table width=100 bgcolor=black cellpadding=2>
                              <tr>
                                <td class=b bgcolor=#474747 background=/img/stoneback.gif>
                                  <center>Offensive<br>Language</center>
                                </td>
                              </tr>
                            </table>
                            <br><img src=/img/rules/lang.jpg width=100 height=75>
                          </td>
                          <td>
                            <b>Rule 1.</b><br>You must not use any language which may be considered by others to be offensive, racist or obscene.<br>
                          </td>
                        </tr>
                      </table>  
                    </center>
                  </td>
                </tr>
              </table>
            </center>
          </td>
          <td width=250>
            <center>
              <table width=240 height=190 bgcolor=black cellpadding=4>
                <tr valign=top>
                  <td class=e>
                    <center>
                      <table>
                        <tr valign=middle>
                          <td valign="top">
                            <table width=100 bgcolor=black cellpadding=2>
                              <tr>
                                <td class=b bgcolor=#474747 background=/img/stoneback.gif>
                                  <center>Item Scamming</center>
                                </td>
                              </tr>
                            </table>  
                            <br><img src=/img/rules/itemscam.jpg width=100 height=75>
                          </td>
                          <td>
                            <b>Rule 2.</b><br>You must not scam or deceive other players.<br><br>Lying to other players for your own personal gain is not in the spirit of the game.
                          </td>
                        </tr>
                      </table>
                    </center>
                  </td>
                </tr>
              </table>
            </center>
          </td>
        </tr>

        <tr valign=top>
          <td width=250>
            <center>
              <table width=240 height=220 bgcolor=black cellpadding=4>
                <tr valign=top>
                  <td class=e>
                    <center>
                      <table>
                        <tr valign=middle>
                          <td valign="top">
                            <table width=100 bgcolor=black cellpadding=2>
                              <tr>
                                <td class=b bgcolor=#474747 background=/img/stoneback.gif>
                                  <center>Password Scamming</center>
                                </td>
                              </tr>
                            </table>
                            <br><img src=/img/rules/passscam.jpg width=100 height=75>
                          </td>
                          <td>
                            <br><b>Rule 3.</b><br>Asking/trying to persuade another player to give you their password for <b>any</b> reason is against the rules and will not be tolerated.
                          </td>
                        </tr>
                      </table>  
                    </center>
                  </td>
                </tr>
              </table>
            </center>
          </td>
          <td width=250>
            <center>
              <table width=240 height=220 bgcolor=black cellpadding=4>
                <tr valign=top>
                  <td class=e>
                    <center>
                      <table>
                        <tr valign=middle>
                          <td valign="top">
                            <table width=100 bgcolor=black cellpadding=2>
                              <tr>
                                <td class=b bgcolor=#474747 background=/img/stoneback.gif>
                                  <center>Cheating/<br>Bug Abuse</center>
                                </td>
                              </tr>
                            </table>  
                            <br><img src=/img/rules/cheating.jpg width=100 height=75>
                          </td>
                          <td>
                            <b>Rule 4.</b><br>You must not use or attempt to use any cheats or errors which you find in our software.</td></tr>
      			    <tr><td colspan=2> Any exploits which you find must be immediately reported to Jagex through Customer Support. <br>
                          </td>
                        </tr>
                      </table>
                    </center>
                  </td>
                </tr>
              </table>
            </center>
          </td>
        </tr>
        
        
        <tr valign=top>
          <td width=250>
            <center>
              <table width=240 height=250 bgcolor=black cellpadding=4>
                <tr valign=top>
                  <td class=e>
                    <center>
                      <table>
                        <tr valign=middle>
                          <td valign="top">
                            <table width=100 bgcolor=black cellpadding=2>
                              <tr>
                                <td class=b bgcolor=#474747 background=/img/stoneback.gif>
                                  <center>Jagex Staff impersonation</center>
                                </td>
                              </tr>
                            </table>
                            <br><img src=/img/rules/impstaff.jpg width=100 height=75>
                          </td>
                          <td>
                            <b>Rule 5.</b><br>You should not attempt to impersonate Jagex staff in any way, for any reason.</td></tr>
      			    <tr><td colspan=2> The names of Jagex Staff will appear in white when speaking in-game. <br> 
      			    Anyone whose name is not white in-game is not Jagex staff. 
                          </td>
                        </tr>
                      </table>  
                    </center>
                  </td>
                </tr>
              </table>
            </center>
          </td>
          <td width=250>
            <center>
              <table width=240 height=250 bgcolor=black cellpadding=4>
                <tr valign=top>
                  <td class=e>
                    <center>
                      <table>
                        <tr valign=middle>
                          <td valign="top">
                            <table width=100 bgcolor=black cellpadding=2>
                              <tr>
                                <td class=b bgcolor=#474747 background=/img/stoneback.gif>
                                  <center>  Account<br>Sharing/Trading</center>
                                </td>
                              </tr>
                            </table>  
                            <br><img src=/img/rules/sharing.jpg width=100 height=75>
                          </td>
                          <td>
                            <b>Rule 6.</b><br>Each account should only be used by ONE person. Account sharing is NOT allowed.</td></tr>
                            <tr><td colspan=2> You may not sell, transfer or lend your account to anyone else, or permit anyone else to use your account, and you may not accept an account that anybody else offers you.<br>
                          </td>
                        </tr>
                      </table>
                    </center>
                  </td>
                </tr>
              </table>
            </center>
          </td>
        </tr>
        <tr>
          <td width=250>
            <center>
              <table width=240 height=235 bgcolor=black cellpadding=4>
                <tr valign=top>
                  <td class=e>
                    <center>
                      <table>
                        <tr valign=top>
                          <td valign="top">
                            <table width=100 height=50 bgcolor=black cellpadding=2>
                              <tr>
                                <td class=b bgcolor=#474747 background=/img/stoneback.gif>
                                  <center>Macroing</center>
                                </td>
                              </tr>
                            </table>
                            <br><img src=/img/rules/macros.jpg width=100 height=75> 
                          </td>
                          <td>
                            <b>Rule 7.</b><br>You must not attempt to use other programs (e.g. bots, macros or autominers) in conjunction with our games to give </tr></tr>
                            <tr><td colspan=2>yourself an unfair advantage at the game. You also may not circumvent any of our mechanisms designed to log out inactive users automatically.<br>
                          </td>
                        </tr>
                      </table>
                    </center>
                  </td>
                </tr>
              </table>    
            </center>
          </td>
          <td width=250>
            <center>
              <table width=240 height=235 bgcolor=black cellpadding=4>
                <tr valign=top>
                  <td class=e>
                    <center>
                      <table>
                        <tr valign=top>
                          <td valign="top">
                            <table width=100 bgcolor=black cellpadding=2>
                              <tr>
                                <td class=b bgcolor=#474747 background=/img/stoneback.gif>
                                  <center>  Multiple<br>Logging In</center>
                                </td>
                              </tr>
                            </table>
                            <br><img src=/img/rules/multilog.jpg width=100 height=75>
                          </td>
                          <td><b>Rule 8.</b><br>You may create more than one RuneScape account, but if you do, you may not log in more than one account at any time, and they must not interact with each other in <b>any</b> way.</td>
                        </tr>
                      </table>
                    </center>
                  </td>
                </tr>
              </table>
            </center>
          </td>
        </tr>
      </table>

      <table>
      <tr>
        <td width=250>
          <center>
            <table width=240 height=190 bgcolor=black cellpadding=4>
              <tr valign=top>
                <td class=e>
                  <center>
                    <table>
                      <tr valign=middle>
                        <td valign="top">
                          <table width=100 bgcolor=black cellpadding=2>
                            <tr>
                              <td class=b bgcolor=#474747 background=/img/stoneback.gif>
                                <center>  Encouraging<br>Others to<br>Break Rules</center>
                              </td>
                            </tr>
                          </table>
                          <br><img src=/img/rules/scamsite.jpg width=100 height=75>
                        </td>
                        <td>  <b>Rule 9.</b><br>You must not encourage others to break any of the RuneScape rules.<br></td>
                      </tr>
                    </table>
                  </center>
                </td>
              </tr>
            </table>
          </center>
        </td>
        <td width=250>
          <center>
          <table width=240 height=190 bgcolor=black cellpadding=4>
            <tr valign=top>
              <td class=e>
                <center>
                  <table>
                    <tr valign=top>
                      <td valign="top">
                        <table width=100 bgcolor=black cellpadding=2>
                          <tr>
                            <td class=b bgcolor=#474747 background=/img/stoneback.gif><center>  Misuse Of<br>Customer Support</center></td>
                          </tr>
                        </table>
                        <br><img src=/img/rules/misuse.jpg width=100 height=75>
                      </td>
                      <td>  <b>Rule 10.</b><br>You must not misuse RuneScape Customer Support. This includes threatening or reporting an innocent person, or by supplying false information.</td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>
          </center>
        </td>
      </tr>
      <tr>
        <td width=250>
          <center>
            <table width=240 height=230 bgcolor=black cellpadding=4>
              <tr valign=top>
                <td class=e>
                  <center>
                    <table>
                      <tr>
                        <td valign="top">
                          <table width=100 bgcolor=black cellpadding=2>
                            <tr>
                              <td class=b bgcolor=#474747 background=/img/stoneback.gif>
                                <center>Advertising/<br>Website</center>
                              </td>
                            </tr>
                          </table>
                          <br><img src=/img/rules/noadv.jpg width=100 height=75>
                        </td>
                        <td>  <b>Rule 11.</b><br>You are not allowed to actively advertise in the RuneScape game or RuneScape forums.</td></tr>
                        <tr><td colspan=2>This includes advertising <b>any</b> website or product and <b>no web addresses</b> are allowed. Telling other players <b>any</b> web-address is not allowed.<br></td>
                      </tr>
                    </table>
                  </center>
                </td>
              </tr>
            </table>
          </center>
        </td>
        <td width=250>
          <center>
          <table width=240 height=230 bgcolor=black cellpadding=4>
            <tr valign=top>
              <td class=e>
                <center>
                  <table>
                    <tr>
                      <td valign="top">
                        <table width=100 bgcolor=black cellpadding=2>
                          <tr>
                            <td class=b bgcolor=#474747 background=/img/stoneback.gif><center>  Real World<br>Item Trading</center></td>
                          </tr>
                        </table>
                        <br><img src=/img/rules/rule12.jpg width=100 height=75>
                      </td>
                      <td>  <b>Rule 12.</b><br>RuneScape items must only be exchanged for other items/services within the game.</td></tr>
                      <tr><td colspan=2>Exchanging RuneScape items for real-life money or other real-life benefits is not allowed.<br></td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>
          </center>
        </td>
      </tr>
      </CENTER>  
    </table>     
</center>
<br>

<!--end content body-->
</td></tr></table>
<!-- end content table -->
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</td></tr></table>
</center></td></tr></table></body></html>