<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Safety guide</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/guides" class=c>Rules & Security Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>

<p align=justify>RuneScape is a multiplayer adventure so let's face it, you are going to meet lots of new and exciting friends along your travels. 

<p align=justify>However please remember you DO NOT know any of these people in real life. This is not to say that they are not as nice in real life as they act in RuneScape, they most likely are, but it's important and best to keep a safe distance from your RuneScape fellow players. 
<p align=justify>For this reason we have put together some helpful hints so you can be both safe and have fun on RuneScape.

<p align=justify><b>1</b>. Do NOT tell other players personal information. Not even if they claim to be Jagex staff! 
<br><br>Don't tell ANYONE your real name, email address, home address, messenger handle or phone number. Use your RuneScape in game friends list and chat to interact with the other players safely.

<p align=justify><b>2.</b> If you feel that someone is making you uncomfortable you should not attempt to carry on a conversation with this person. <p>Please see our <a href="/guides/abuse" class=c>disruptive members guide</a> for details on both how to ignore these players and report them should they directly insult you.
<p align=justify>3. Chatting of a sexual nature (aka cybering) is strictly forbidden in RuneScape and should someone approach you in game with this type of chat, please follow the instructions in our <a href="/guides/abuse" class=c>disruptive members guide</a> and report the player to us.
<p align=justify>4. RuneScape is an ONLINE game. There is no need to meet anyone in real life. Remember you only have the other player's word that they are who they say they are. This includes their gender, age, occupation and everything they claim to be. 
<p align=justify>If you decide against this and do plan to meet a RuneScape player in real life, please tell your parents or guardian what you are doing and have them assist you on the meet. 
DO NOT go alone.
<p align=justify>5. Always keep your parents or guardians informed of how your game is going. It would be a good idea to introduce them to the game and encourage them to check on you regularly to ensure that your game remains problem free.
<p align=justify><b>6.</b> If you need any help we are only an email form away. Please contact customer support and we will get back to you ASAP.
Have fun and be safe. That's what RuneScape is all about!

<p align=justify><b>7.</b> For serious cases related to Child Protection in the United States, please report it to: <a href="http://www.fbi.gov/contactus.htm" target="new" class=c>http://www.fbi.gov/contactus.htm</a>
<p align=justify>
For serious cases in the UK contact your local police force via their Station number, find more information here:  <a href="http://www.police.uk" target="new" class=c>http://www.police.uk</a>, alternatively contact the Social Services (you can find their number in the phone book).
<p align=justify>
Or if you are outside the United Kingdom or the United States we suggest you contact your local law enforcement agency.
<p align=justify>For further information on chatting safely online please see the following sites:

<center><table>
<tr><td><a href="http://www.iwf.org.uk" target="new" class=c>www.iwf.org.uk</a></td><td width=20></td><td><a href="http://www.chatdanger.com" target="new" class=c>www.chatdanger.com</a></td></tr>
<tr><td><a href="http://www.nch.org.uk/internet" target="new" class=c>www.nch.org.uk/internet</a></td><td></td><td><a href="http://www.getnetwise.org" target="new" class=c>www.getnetwise.org</a></td></tr>
<tr><td><a href="http://www.thinkuknow.co.uk" target="new" class=c>www.thinkuknow.co.uk</a></td><td></td><td><a href="http://www.fkbko.net" target="new" class=c>www.fkbko.net</a></td></tr>
<tr><td colspan=3 align=center><a href="http://www.childnet-int.org" target="new" class=c>www.childnet-int.org</a></td></tr>
</table>

</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>