<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Scamming Prevention Guide</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/guides" class=c>Rules & Security Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>

<p align=center><center><b><font color='#ffbb22'>Scamming Prevention Guide</font></b></center>

<p align=justify>Whilst Runescape for the most part is a friendly community with honest players, just as in real life there will be untrustworthy and dishonest people who will look to gain an unfair advantage in the game by trying to scam you of your items/account.

<p align=justify>Our policy is to never return lost items to players that have been scammed, since doing so just encourages users to claim they lost items they never had to gain an unfair advantage. We also provide a totally safe way to trade items in the game.

<p align=justify>We therefore suggest that you read the following information to ensure that you do not fall victim to a scammer.

<p align=center><center><b><font color='#ffbb22'>Scamming prevention FAQ</font></b></center><br>
<p align=justify><b>What is a scam?</b>

<p align=justify>A scam is the act of acquiring item(s) from another player through misinformation, confusion and pressure, or by taking advantage of basic trust.

<p align=justify><b>What do I do if I get scammed?</b>

<p align=justify>Unfortunately, if you do fall victim to a scam we cannot return any of the lost items back to your player. However, you can report the scammer at the time of the event by using the in game report button which is situated to the bottom right of the client window. For more information see our <a href='/guides/abuse' class=c>Reporting abuse guide</a> located within the guides section in our online manual.

<p align=justify><b>How do I prevent myself from being scammed?</b>

<p align=justify>We have put together some useful tips for you that should help prevent you from being scammed by another player. These can be found on the next few pages.

<p align=center><center><b><font color='#ffbb22'>Tips to avoid being scammed</font></b></center><br>

<p align=justify><b>Think carefully about the trustworthiness of the other player</b>

<p align=justify>Before commencing in a trade/transaction with another player always consider the trustworthiness of their character.

<p align=justify><b>Be wary of newly created/low level players</b>

<p align=justify>A player's level is one indicator that may be used to measure their trustworthiness. For example if a level 3 (lowest level) player is offering you rare or expensive items you should ask yourself exactly how such a low player could have acquired these items? There are some people that will register a new character purely to scam other players. Higher players are generally more trustworthy as if they do scam and you report them they have more to lose than a newly created character. These examples are not <b>ALWAYS</b> the case, and it does not mean <b>ALL</b> high level characters are trustworthy, but generally it holds true.

<p align=justify>You can see a players level by rightclicking on their player, or by going to the high scores table from the main page.

<p align=justify><b>Ask around</b>

<p align=justify>If you are unsure of a player's credibility, it is definitely worth asking around in game to see if you can find out anything on the player. You might be able to find someone who has had a trading experience with this player.

<p align=justify><b>Do they want to trade officially?</b>

<p align=justify>If another player suggests an unofficial type of trade, you should definitely be suspicious. We have a very secure trading system for players and there is absolutely no reason why someone should not want to use this. Some examples of this are people asking for you to give them items first before they are willing to give you their part of the deal. Another example is someone asking you to drop the items on the floor instead of using the trade window. 

<p align=justify>In 99% of these cases the other player will be looking to scam your items. Suggest to them that you use the secure trading system and if they decline then refuse to go any further in the trade. For more information on our trading system please refer to the <a href='/rs2/controls/trading' class=c>trading guide</a>, located in the online manual.

<p align=justify><b>Displays of trust</b>

<p align=justify>Some players will ask you to display an element of trust in order to receive a free item or to join a group. This normally comes in the form of giving them an item, and them giving you it back. This will start as a small item and escalate to larger items or even multiple items.

<p align=justify>Do not engage in any type of trust test as it will almost certainly result in you losing valuable items. A good rule to go by is do not give any other player an item you are not yourself willing to lose.

<p align=justify><b>Is the deal too good to be true?</b>

<p align=justify>If you are being offered an exceptionally good deal and there are certain things that are making you suspicious then do NOT go ahead with the deal. If something seems too good to be true, in most cases it normally is.

<p align=justify><b>Be extra careful and vigilant</b>

<p align=justify>When conducting a trade with another player try to be extra careful and vigilant. You should be aware that people can remove and add items freely up until the final confirmation screen. <b>ALWAYS</b> check the final confirmation screen to ensure not only you are giving the items you mean to give but that you are receiving what you expect also.

<p align=justify><b>Players offering to make you items</b>

<p align=justify>Certain objects in RuneScape have minimum level requirements in order to craft the item. If somebody offers to make an item for you, its good practice to not only be aware of the level of skill needed to craft that item but to check on the high scores table to ensure the player really does have the skill level to make that item. 

<p align=justify>Then if you are happy with their levels it's a good idea to ask for something in return of the same value of the items you are giving them to craft to cover yourself should they be looking to steal the items. Any player that is genuinely looking to craft these items for you should not have a problem with this method. If they do, then most likely they are trying to scam you.

<p align=justify><b>Large trades</b>

<p align=justify>If you are conducting a very large trade and it is too large to conduct in one transaction, it is suggested that you break it into smaller, equal proportions. In order to cover yourself it is best that for each of these smaller trades you only trade items in which you receive items from the other player of the same value.

<a name="#stolentips">
<p align=center><center><p><b><font color='#ffbb22'>Tips to avoid having your account stolen</font></b></center>

<p align=justify><b>Trojan/Key loggers</b>

<p align=justify>This is probably the most common way players have their accounts stolen. Trojan/key loggers normally come in the form of an executable file, but can take different forms and are normally cleverly renamed to try and hide the .exe extension. Often they are passed off as possible applications that claim to be related to Runescape (Runescape cartoons, calculators etc). They can be distributed as part of an email attachment, a download from a website or even an instant messenger file send.

<p align=justify><b>Scam sites</b>

<p align=justify>These are sites that claim to offer advantages to players and will ask for your character name and password to pass them on to you. These are normally things like item/stat upgrades, free items, beta testing, moderator applications etc.

<p align=justify>We do not offer any of these services and anything claiming to is <b>ALWAYS</b> a scam. You should <b>NEVER</b> be entering your password into a website that is not www.runescape.com 

<p align=justify><b>Fake emails</b>

<p align=justify>Any emails we send out will only ever contain purely text information and never an attachment. We will never ask you to download anything in an email and will never ask for you to reply with your password. If we do send you an email and request more information from you it will always ask you to send in a query via our customer support section.

<p align=justify><b>Staff impersonation</b>

<p align=justify>It is true that Jagex staff, do have moderator characters, but all customer support issues are dealt with officially through our customer support area on the Runescape website.

<p align=justify>Staff will <b>NEVER</b> ask for your details in game and never request that you give items to them. If someone does approach you claiming to be Jagex staff and asks for information that makes you suspicious, then it is certainly someone impersonating our staff. These characters should be reported using the in game report system.

<br><br>

<p align=justify><b>Downloading 3rd party software</b>

<p align=justify>Programs that claim to give you an advantage in Runescape will either be one of two things:

<ol>
<li>A macro program that will control your character for you whilst away from your computer. Our systems detect these and we permanently ban any accounts we find using them.<br><br>
<li>A keylogger or a Trojan virus.
</ol>

<p align=justify>Either way, your account and any information you have on your computer will be at risk and we suggest you <b>NEVER</b> download these types of programs for your own safety.

<p align=justify>For more detailed information on keeping your account secure we have an in depth <a href=/guides/securetips class=c>security tips guide</a> that will be of use. This can be found in the guides section, which is located in our online manual.



</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>