<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Security Information</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="guides" class=c>Rules & Security Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<p align=center>
<center><font color='#ffbb22'><b>1. Do NOT tell other players personal information</b></font></center>
<p align=justify>Not even if they claim to be Jagex staff! The RuneScape chat is not encrypted and therefore must not EVER be used to send sensitive information.
<ul>
<li>Don't tell ANYONE your password ever!
<li>Don't tell others your password recovery-questions
<li>Don't tell others your real name, email, ICQ number, credit-card details, etc...
</ul>
<p align=center><center><font color='#ffbb22'><b>2. Think before using your password</b></font></center>
<p align=justify>Never enter your password or recovery-questions into ANY website other than runescape.com or runescape.co.uk.
<p align=justify>You should NOT use the same password at every website you visit, this is very dangerous! Your RuneScape password should be different to all your other passwords, and ONLY used for RuneScape. 
<p align=justify>
<p align=justify>When entering your password make sure nobody is standing behind you watching you type it in! You wouldn't believe
how often this happens! Please be careful.
<p align=justify>
<p align=center>
<center><font color='#ffbb22'><b>3. Watch out for fake websites!</b></font></center>
<p align=justify>There are websites which look very similar to runescape.com but <font color='red'>STEAL</font> your password. Don't trust a site just because it looks official.
<ul><li>RuneScape cheat sites - There are NO RuneScape cheats. These are fakes!
<li>RuneScape staff sites - We do not have secret sites on which you can become an admin or moderator! These are fakes!
<li>RuneScape surveys - Our official surveys NEVER require a password
<li>RuneScape chat boards/rooms - Don't use your RuneScape password on these sites! Use a DIFFERENT password or you will regret it!
<li>RuneScape test servers - Watch out for fake servers. If in doubt create a NEW account, rather than risking your main character.
</ul>
<p align=justify>
<p align=center><center><font color='#ffbb22'><b>4. Don't use unofficial RuneScape addons.</b></font></center>
<p align=justify>
There are programs which claim to make RuneScape easier or better, but actually <font color='red'>STEAL</font>
your password. Not only is using these programs extremely risky, it's also against the rules.
<p align=justify>
<p align=center><center><font color='#ffbb22'><b>5. Watch out for fake emails, and fake staff!</b></font></center>
<p align=justify>There are many people pretending to be Jagex Staff or impersonating its creators.
It is easy to forge emails, so don't trust an email just because it looks official.
<br>
<b>Real staff will NEVER ask you for your password!</b>

<p>To help you be sure that correspondance from us is genuine, we send all messages (except password support reminders) to your 
RuneScape <b>Message Centre</b>. This is accessible from the RuneScape front page, and will require your RuneScape in-game 
login details (again, please be sure that you are at RuneScape.com).
<p>
We only ever send two emails - one for lost-password help and one to say that we have placed a message in your message centre.
<ul><li>We <b>never</b> send emails saying we need your password to check you aren't cheating!
<li>We <b>never</b> send emails saying we need your recovery-questions to check you didn't steal the account.
<li>We <b>never</b> send emails containing attachments of any sort
<li>We <b>never</b> send emails saying we need your password to let you join the Jagex staff.
<li>We <b>never</b> send emails offering to let you test new features or servers. These are fakes!
</ul><p align=justify>
<p align=center>
<center><font color='#ffbb22'><b>6. Do NOT share your RuneScape account with anyone else!</b></font></center>
<p align=justify>Not even your best friend! A HUGE number of players have lost their account this way. 
Not only is this an extremly stupid thing to do, it's also against the rules. So
we won't help you when you come crying to us!
<p align=justify>
<p align=center><center><font color='#ffbb22'><b>7. Make sure your computer is secure!</b></font></center>
<p align=justify>Most windows distributions are NOT secure unless you take some basic precautions:
<p align=justify>
<ul>
<li>If you use windows get the latest updates and security fixes for your computer from <a href="http://windowsupdate.microsoft.com" target='_blank' class=c>windowsupdate.microsoft.com</a> This is a MUST!
<li>Install some up to date anti-virus software. I personally use Norton-Antivirus. Alternatively you can
get a free virus scanner from <a href="http://www.grisoft.com?aff_id=1316" target='_blank' class=c>www.grisoft.com</a>
<li>Install a firewall to protect your computer from external attacks. You can get free firewall software from
<a href="http://www.zonealarm.com/" target='_blank' class=c>www.zonealarm.com</a>
<li>Be very careful about what programs you run to avoid a trojan being installed on your machine.
For more information about trojans, and how to remove them see <a href="http://www.hackfix.org/" target='_blank' class=c>www.hackfix.org</a>
</ul>
<p align=justify>
<p align=center><center><font color='#ffbb22'><b>8. Protecting your computer from spyware (unwanted advertising and tracking)</b></font></center>
<p align=justify>
If when you visit our website you are seeing multiple pop-up adverts, then it is not likely to be coming from us. All our advertising partners have been given clear and strict instructions not to sell any form of pop up adverts.
<p>
If you are seeing popup adverts then they are probably actually coming from a program which you may have picked up from a third-party website, which spawns unwanted adverts whilst you are using the Internet. This type of program is unfortunately common and is known as 'spyware'.
<p>
Luckily there are free programs you can use to easily remove this 'spyware'.<br>
Ad-aware is a program from a reputable company called Lavasoft which can help keep your system clean.  Ad-aware software is free and is available from their website at <a href='http://www.lavasoft.de' class=c target=_new>www.lavasoft.de</a>.
</td></tr></table>


<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</center>
</td></tr></table>
</center></td></tr></table></body></html>