* text=auto

*.js text
*.ts text

*.jpg binary
*.png binary
*.gif binary

*.zip binary
*.ico binary
*.sf2 binary
*.wasm binary

*.mid binary
*.ob2 binary
*.base binary
*.frame binary
*.synth binary

*.pack text eol=lf
