services:
  2004scape:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./:/app
    environment:
      - NODE_WEB_PORT
      - NODE_TCP_PORT
      - NODE_MEMBERS
      - NODE_XPRATE
      - NODE_PRODUCTION
      - NODE_ALLOW_CHEATS
      - NODE_DEBUG
    ports:
      - 8888:8888
      - 43594:43594
