[com_0]
type=text
x=175
y=6
width=149
height=14
font=p12
shadowed=yes
text=You Journey on the ship....
colour=0xFFFF00

[com_1]
type=model
x=254
y=140
width=38
height=37
model=model_3040
zoom=485
xan=229
yan=1983

[com_2]
type=text
x=102
y=74
width=62
height=17
font=q8
shadowed=yes
text=Kandarin
colour=0xF3CC99

[com_3]
type=text
x=387
y=49
width=56
height=17
font=q8
shadowed=yes
text=Asgarnia
colour=0xF3CC99

[com_4]
type=text
x=272
y=116
width=56
height=17
font=q8
shadowed=yes
text=Karamja
colour=0xF3CC99

[com_5]
type=text
x=202
y=105
width=55
height=17
font=q8
shadowed=yes
text=Crandor
colour=0xF3CC99

[com_6]
type=text
x=190
y=78
width=56
height=17
font=q8
shadowed=yes
text=Entrana
colour=0xF3CC99

[com_7]
type=text
x=340
y=74
width=31
height=17
font=q8
shadowed=yes
text=Port
colour=0xF3CC99

[com_8]
type=text
x=338
y=90
width=38
height=17
font=q8
shadowed=yes
text=Sarim
colour=0xF3CC99

[com_9]
type=model
x=380
y=93
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[com_10]
type=model
x=249
y=73
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[com_11]
type=model
x=353
y=164
width=32
height=32
model=model_3046
zoom=1500
xan=390
yan=1833

[com_12]
type=model
x=49
y=156
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[com_13]
type=text
x=38
y=115
width=31
height=17
font=q8
shadowed=yes
text=Port
colour=0xF3CC99

[com_14]
type=text
x=24
y=132
width=62
height=17
font=q8
shadowed=yes
text=Khazzard
colour=0xF3CC99

[com_15]
type=text
x=338
y=171
width=26
height=17
font=q8
shadowed=yes
text=Ship
colour=0xF3CC99

[com_16]
type=text
x=332
y=186
width=33
height=17
font=q8
shadowed=yes
text=Yard
colour=0xF3CC99

[com_17]
type=model
x=119
y=101
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[com_18]
type=model
x=167
y=199
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[com_19]
type=text
x=197
y=195
width=36
height=17
font=q8
shadowed=yes
text=Cairn
colour=0xF3CC99

[com_20]
type=text
x=197
y=210
width=23
height=17
font=q8
shadowed=yes
text=Isle
colour=0xF3CC99

[com_21]
type=model
x=153
y=117
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[com_22]
type=text
x=131
y=139
width=70
height=17
font=q8
shadowed=yes
text=Brimhaven
colour=0xF3CC99

[com_23]
type=text
x=59
y=99
width=64
height=17
font=q8
shadowed=yes
text=Ardougne
colour=0xF3CC99

[com_24]
type=model
x=249
y=96
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199

[com_25]
type=model
x=255
y=140
width=36
height=37
script1op1=pushvar,boat_takeoff
script1=eq,1
activemodel=model_3065_obj
activeanim=sarim_entrana
zoom=485
xan=229
yan=1983

[com_26]
type=model
x=255
y=140
width=36
height=37
script1op1=pushvar,boat_takeoff
script1=eq,2
activemodel=model_3065_obj
activeanim=entrana_sarim
zoom=485
xan=229
yan=1983

[com_27]
type=model
x=255
y=140
width=36
height=37
script1op1=pushvar,boat_takeoff
script1=eq,3
activemodel=model_3065_obj
activeanim=sarim_crandor
zoom=485
xan=229
yan=1983

[com_28]
type=model
x=255
y=140
width=36
height=37
script1op1=pushvar,boat_takeoff
script1=eq,4
activemodel=model_3065_obj
activeanim=crandor_sarim
zoom=485
xan=229
yan=1983

[com_29]
type=model
x=255
y=140
width=36
height=37
script1op1=pushvar,boat_takeoff
script1=eq,5
activemodel=model_3065_obj
activeanim=sarim_karamja
zoom=485
xan=229
yan=1983

[com_30]
type=model
x=255
y=139
width=36
height=37
script1op1=pushvar,boat_takeoff
script1=eq,6
activemodel=model_3065_obj
activeanim=karamja_sarim
zoom=485
xan=229
yan=1983

[com_31]
type=model
x=255
y=140
width=36
height=37
script1op1=pushvar,boat_takeoff
script1=eq,7
activemodel=model_3065_obj
activeanim=seq_636
zoom=485
xan=229
yan=1983

[com_32]
type=model
x=255
y=140
width=36
height=37
script1op1=pushvar,boat_takeoff
script1=eq,8
activemodel=model_3065_obj
activeanim=seq_637
zoom=485
xan=229
yan=1983

[com_33]
type=model
x=255
y=140
width=36
height=37
script1op1=pushvar,boat_takeoff
script1=eq,9
activemodel=model_3065_obj
zoom=485
xan=229
yan=1983

[com_34]
type=model
x=255
y=140
width=36
height=37
script1op1=pushvar,boat_takeoff
script1=eq,10
activemodel=model_3065_obj
activeanim=cairn_khazzard
zoom=485
xan=229
yan=1983

[com_35]
type=model
x=256
y=140
width=36
height=37
script1op1=pushvar,boat_takeoff
script1=eq,11
activemodel=model_3065_obj
activeanim=khazzard_trawler
zoom=485
xan=229
yan=1983

[com_36]
type=model
x=256
y=140
width=36
height=37
script1op1=pushvar,boat_takeoff
script1=eq,12
activemodel=model_3065_obj
activeanim=trawler_khazzard
zoom=485
xan=229
yan=1983

[com_37]
type=model
x=256
y=140
width=36
height=37
script1op1=pushvar,boat_takeoff
script1=eq,13
activemodel=model_3065_obj
activeanim=cairn_sarim
zoom=485
xan=229
yan=1983

[com_38]
type=model
x=334
y=116
width=32
height=32
model=model_3046
zoom=1500
xan=306
yan=199
