[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[com_88]
type=text
x=116
y=191
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,9
center=yes
font=p12
text=Warhammer
activecolour=0xFFFFFF

[com_89]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF

[com_90]
type=text
x=18
y=141
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,4
center=yes
font=p12
text=Sword
activecolour=0xFFFFFF

[com_91]
type=text
x=18
y=241
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,6
center=yes
font=p12
text=Long sword
activecolour=0xFFFFFF

[com_92]
type=text
x=18
y=191
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,5
center=yes
font=p12
text=Scimitar
activecolour=0xFFFFFF

[com_93]
type=text
x=18
y=291
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,14
center=yes
font=p12
text=2 hand sword
activecolour=0xFFFFFF

[com_94]
type=text
x=73
y=219
width=34
height=14
script1op1=pushvar,smithing_bars
script1=gt,1
center=yes
font=p12
shadowed=yes
text=2bars
colour=0xC00000
activecolour=0x00C000

[com_95]
type=text
x=73
y=269
width=33
height=14
script1op1=pushvar,smithing_bars
script1=gt,2
font=p12
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000

[com_96]
type=text
x=116
y=91
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,1
center=yes
font=p12
text=Axe
activecolour=0xFFFFFF

[com_97]
type=text
x=116
y=241
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,10
center=yes
font=p12
text=Battle axe
activecolour=0xFFFFFF

[com_98]
type=text
x=116
y=141
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,2
center=yes
font=p12
text=Mace
activecolour=0xFFFFFF

[com_99]
type=text
x=18
y=91
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,0
center=yes
font=p12
text=Dagger
activecolour=0xFFFFFF

[com_100]
type=text
x=171
y=219
width=33
height=14
script1op1=pushvar,smithing_bars
script1=gt,2
font=p12
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000

[other_layer]
type=layer
x=410
y=209
width=80
height=46

[com_102]
layer=other_layer
type=text
x=0
y=32
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,4
center=yes
font=p12
text=other
activecolour=0xFFFFFF

[com_103]
layer=other_layer
type=text
x=55
y=10
width=25
height=14
script1op1=pushvar,smithing_bars
script1=gt,0
center=yes
font=p12
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000

[com_104]
type=text
x=214
y=91
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,11
center=yes
font=p12
text=Chain body
activecolour=0xFFFFFF

[com_105]
type=text
x=214
y=141
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,16
center=yes
font=p12
text=Plate legs
activecolour=0xFFFFFF

[com_106]
type=text
x=214
y=191
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,16
center=yes
font=p12
text=Plate skirt
activecolour=0xFFFFFF

[com_107]
type=text
x=214
y=241
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,18
center=yes
font=p12
text=Plate body
activecolour=0xFFFFFF

[com_108]
type=text
x=312
y=91
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,3
center=yes
font=p12
text=Medium helm
activecolour=0xFFFFFF

[com_109]
type=text
x=312
y=141
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,7
center=yes
font=p12
text=Full helm
activecolour=0xFFFFFF

[com_110]
type=text
x=312
y=191
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,8
center=yes
font=p12
text=Square shield
activecolour=0xFFFFFF

[com_111]
type=text
x=312
y=241
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,12
center=yes
font=p12
text=Kite shield
activecolour=0xFFFFFF

[com_112]
type=text
x=406
y=191
width=88
height=14
script1op1=pushvar,smithing_level
script1=gt,7
center=yes
font=p12
text=Throwing knives
activecolour=0xFFFFFF

[com_113]
type=text
x=410
y=91
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,4
script2op1=pushvar,option1
script2=eq,1
center=yes
font=p12
text=Dart tips
activecolour=0xFFFFFF

[com_114]
type=text
x=410
y=141
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,5
center=yes
font=p12
text=Arrow heads
activecolour=0xFFFFFF

[com_115]
type=text
x=269
y=69
width=33
height=14
script1op1=pushvar,smithing_bars
script1=gt,2
font=p12
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000

[com_116]
type=text
x=269
y=119
width=33
height=14
script1op1=pushvar,smithing_bars
script1=gt,2
font=p12
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000

[com_117]
type=text
x=269
y=169
width=33
height=14
script1op1=pushvar,smithing_bars
script1=gt,2
font=p12
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000

[com_118]
type=text
x=269
y=219
width=33
height=14
script1op1=pushvar,smithing_bars
script1=gt,4
font=p12
shadowed=yes
text=5bars
colour=0xC00000
activecolour=0x00C000

[com_119]
type=text
x=367
y=119
width=34
height=14
script1op1=pushvar,smithing_bars
script1=gt,1
center=yes
font=p12
shadowed=yes
text=2bars
colour=0xC00000
activecolour=0x00C000

[com_120]
type=text
x=367
y=169
width=34
height=14
script1op1=pushvar,smithing_bars
script1=gt,1
center=yes
font=p12
shadowed=yes
text=2bars
colour=0xC00000
activecolour=0x00C000

[com_121]
type=text
x=367
y=219
width=33
height=14
script1op1=pushvar,smithing_bars
script1=gt,2
font=p12
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000

[com_122]
type=text
x=73
y=169
width=34
height=14
script1op1=pushvar,smithing_bars
script1=gt,1
center=yes
font=p12
shadowed=yes
text=2bars
colour=0xC00000
activecolour=0x00C000

[com_123]
type=text
x=12
y=30
width=488
height=14
center=yes
font=b12
shadowed=yes
text=What would you like to make?
colour=0xFFFF00

[com_124]
type=text
x=171
y=169
width=33
height=14
script1op1=pushvar,smithing_bars
script1=gt,2
font=p12
shadowed=yes
text=3bars
colour=0xC00000
activecolour=0x00C000

[column1]
type=inv
x=42
y=60
width=1
height=5
margin=66,18
option1=Make
option2=Make 5
option3=Make 10

[column2]
type=inv
x=140
y=60
width=1
height=5
margin=66,18
option1=Make
option2=Make 5
option3=Make 10

[column3]
type=inv
x=238
y=60
width=1
height=5
margin=66,18
option1=Make
option2=Make 5
option3=Make 10

[column4]
type=inv
x=336
y=60
width=1
height=5
margin=66,18
option1=Make
option2=Make 5
option3=Make 10

[column5]
type=inv
x=434
y=60
width=1
height=5
margin=66,18
option1=Make set
option2=Make 5 sets
option3=Make 10 sets

[com_130]
type=text
x=73
y=119
width=25
height=14
script1op1=pushvar,smithing_bars
script1=gt,0
center=yes
font=p12
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000

[com_131]
type=text
x=73
y=69
width=25
height=14
script1op1=pushvar,smithing_bars
script1=gt,0
center=yes
font=p12
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000

[com_132]
type=text
x=171
y=69
width=25
height=14
script1op1=pushvar,smithing_bars
script1=gt,0
center=yes
font=p12
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000

[com_133]
type=text
x=367
y=69
width=25
height=14
script1op1=pushvar,smithing_bars
script1=gt,0
center=yes
font=p12
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000

[com_134]
type=text
x=465
y=69
width=25
height=14
script1op1=pushvar,smithing_bars
script1=gt,0
center=yes
font=p12
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000

[com_135]
type=text
x=171
y=119
width=25
height=14
script1op1=pushvar,smithing_bars
script1=gt,0
center=yes
font=p12
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000

[com_136]
type=text
x=465
y=119
width=25
height=14
script1op1=pushvar,smithing_bars
script1=gt,0
center=yes
font=p12
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000

[com_137]
type=text
x=465
y=169
width=25
height=14
script1op1=pushvar,smithing_bars
script1=gt,0
center=yes
font=p12
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000

[stud_layer]
type=layer
x=410
y=259
width=80
height=46

[com_139]
layer=stud_layer
type=text
x=0
y=32
width=80
height=14
script1op1=pushvar,smithing_level
script1=gt,4
center=yes
font=p12
text=Studs
activecolour=0xFFFFFF

[com_140]
layer=stud_layer
type=text
x=55
y=10
width=25
height=14
script1op1=pushvar,smithing_bars
script1=gt,0
center=yes
font=p12
shadowed=yes
text=1bar
colour=0xC00000
activecolour=0x00C000
