[com_0]
type=model
x=244
y=152
width=35
height=35
model=model_3044
zoom=651
xan=2041
yan=6

[title]
type=text
x=120
y=110
width=276
height=17
center=yes
font=q8
shadowed=yes
text=Choose the stat you wish to be advanced!
colour=0xFFFF00

[close]
type=text
x=433
y=12
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[attack]
type=graphic
x=148
y=140
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,1
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Attack

[strength]
type=graphic
x=180
y=140
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,2
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Strength

[ranged]
type=graphic
x=212
y=140
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,3
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Ranged

[magic]
type=graphic
x=244
y=140
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,4
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Magic

[defence]
type=graphic
x=276
y=140
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,5
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Defence

[hitpoints]
type=graphic
x=308
y=140
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,6
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Hitpoints

[prayer]
type=graphic
x=340
y=140
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,7
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Prayer

[agility]
type=graphic
x=180
y=176
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,8
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Agility

[herblore]
type=graphic
x=212
y=176
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,9
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Herblore

[thieving]
type=graphic
x=244
y=176
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,10
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Thieving

[crafting]
type=graphic
x=276
y=176
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,11
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Crafting

[runecraft]
type=graphic
x=308
y=176
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,12
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Runecraft

[mining]
type=graphic
x=148
y=212
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,13
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Mining

[smithing]
type=graphic
x=180
y=212
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,14
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Smithing

[fishing]
type=graphic
x=212
y=212
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,15
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Fishing

[cooking]
type=graphic
x=244
y=212
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,16
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Cooking

[firemaking]
type=graphic
x=276
y=212
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,17
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Firemaking

[woodcutting]
type=graphic
x=308
y=212
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,18
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Woodcutting

[fletching]
type=graphic
x=340
y=212
buttontype=normal
width=25
height=25
script1op1=pushvar,xplamp
script1=eq,19
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1
option=Advance Fletching

[confirm]
type=text
x=232
y=244
buttontype=normal
width=44
height=14
font=p12
shadowed=yes
text=Confirm
colour=0x00C000

[com_23]
type=graphic
x=148
y=140
width=25
height=25
graphic=staticons,0

[com_24]
type=graphic
x=180
y=140
width=25
height=25
graphic=staticons,1

[com_25]
type=graphic
x=212
y=140
width=25
height=25
graphic=staticons,3

[com_26]
type=graphic
x=244
y=140
width=25
height=25
graphic=staticons,5

[com_27]
type=graphic
x=276
y=140
width=25
height=25
graphic=staticons,2

[com_28]
type=graphic
x=308
y=140
width=25
height=25
graphic=staticons,6

[com_29]
type=graphic
x=340
y=140
width=25
height=25
graphic=staticons,4

[com_30]
type=graphic
x=180
y=176
width=25
height=25
graphic=staticons,7

[com_31]
type=graphic
x=212
y=176
width=25
height=25
graphic=staticons,8

[com_32]
type=graphic
x=244
y=176
width=25
height=25
graphic=staticons,9

[com_33]
type=graphic
x=276
y=176
width=25
height=25
graphic=staticons,10

[com_34]
type=graphic
x=308
y=176
width=25
height=25
graphic=staticons2,0

[com_35]
type=graphic
x=148
y=212
width=25
height=25
graphic=staticons,12

[com_36]
type=graphic
x=180
y=212
width=25
height=25
graphic=staticons,13

[com_37]
type=graphic
x=212
y=212
width=25
height=25
graphic=staticons,14

[com_38]
type=graphic
x=244
y=212
width=25
height=25
graphic=staticons,15

[com_39]
type=graphic
x=276
y=212
width=25
height=25
graphic=staticons,16

[com_40]
type=graphic
x=308
y=212
width=25
height=25
graphic=staticons,17

[com_41]
type=graphic
x=340
y=212
width=25
height=25
graphic=staticons,11
