type=overlay

[com_0]
type=graphic
x=0
y=40
buttontype=select
width=36
height=36
script1op1=pushvar,game_brightness
script1=eq,1
graphic=miscgraphics,4
activegraphic=miscgraphics,7

[com_1]
type=graphic
x=11
y=40
buttontype=select
width=36
height=36
script1op1=pushvar,game_brightness
script1=eq,1
graphic=miscgraphics,6
activegraphic=miscgraphics,8

[com_2]
type=graphic
x=46
y=40
buttontype=select
width=36
height=36
script1op1=pushvar,game_brightness
script1=eq,2
graphic=miscgraphics,4
activegraphic=miscgraphics,7

[com_3]
type=graphic
x=57
y=40
buttontype=select
width=36
height=36
script1op1=pushvar,game_brightness
script1=eq,2
graphic=miscgraphics,6
activegraphic=miscgraphics,8

[com_4]
type=graphic
x=92
y=40
buttontype=select
width=36
height=36
script1op1=pushvar,game_brightness
script1=eq,3
graphic=miscgraphics,4
activegraphic=miscgraphics,7

[com_5]
type=graphic
x=103
y=40
buttontype=select
width=36
height=36
script1op1=pushvar,game_brightness
script1=eq,3
graphic=miscgraphics,6
activegraphic=miscgraphics,8

[com_6]
type=graphic
x=139
y=40
buttontype=select
width=36
height=36
script1op1=pushvar,game_brightness
script1=eq,4
graphic=miscgraphics,4
activegraphic=miscgraphics,7

[com_7]
type=graphic
x=153
y=40
buttontype=select
width=36
height=36
script1op1=pushvar,game_brightness
script1=eq,4
graphic=miscgraphics,6
activegraphic=miscgraphics,8

[com_8]
type=graphic
x=48
y=100
buttontype=select
width=36
height=36
script1op1=pushvar,mouse_buttons
script1=eq,0
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_9]
type=graphic
x=10
y=100
buttontype=select
width=36
height=36
script1op1=pushvar,mouse_buttons
script1=eq,1
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_10]
type=graphic
x=105
y=100
buttontype=select
width=36
height=36
script1op1=pushvar,chat_effects
script1=eq,0
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_11]
type=graphic
x=143
y=100
buttontype=select
width=36
height=36
script1op1=pushvar,chat_effects
script1=eq,1
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_12]
type=text
x=49
y=4
width=90
height=14
font=b12
shadowed=yes
text=Game Options
colour=0x00FFFF

[com_13]
type=text
x=41
y=24
width=104
height=14
font=p12
shadowed=yes
text=Screen Brightness
colour=0xFFFFFF

[com_14]
type=text
x=12
y=53
width=23
height=11
font=p11
shadowed=yes
text=Dark
colour=0xFFFF00
activecolour=0xFF8000

[com_15]
type=text
x=52
y=53
width=34
height=11
font=p11
shadowed=yes
text=Normal
colour=0xFFFF00
activecolour=0xFF8000

[com_16]
type=text
x=100
y=53
width=31
height=11
font=p11
shadowed=yes
text=Bright
colour=0xFFFF00
activecolour=0xFF8000

[com_17]
type=text
x=142
y=53
width=43
height=11
font=p11
shadowed=yes
text=V-Bright
colour=0xFFFF00
activecolour=0xFF8000

[com_18]
type=text
x=6
y=82
width=85
height=14
font=p12
shadowed=yes
text=Mouse Buttons
colour=0xFFFFFF

[com_19]
type=text
x=56
y=110
width=19
height=14
font=p12
shadowed=yes
text=Two
colour=0xFFFF00
activecolour=0xFF8000

[com_20]
type=text
x=17
y=110
width=22
height=14
font=p12
shadowed=yes
text=One
colour=0xFFFF00
activecolour=0xFF8000

[com_21]
type=text
x=106
y=82
width=72
height=14
font=p12
shadowed=yes
text=Chat Effects
colour=0xFFFFFF

[com_22]
type=text
x=151
y=110
width=20
height=14
font=p12
shadowed=yes
text=Off
colour=0xFFFF00
activecolour=0xFF8000

[com_23]
type=text
x=115
y=110
width=15
height=14
font=p12
shadowed=yes
text=On
colour=0xFFFF00
activecolour=0xFF8000

[com_24]
type=text
x=6
y=196
width=40
height=26
center=yes
font=p12
shadowed=yes
text=Music\nVolume
colour=0xFFFFFF

[com_25]
type=graphic
x=52
y=197
buttontype=select
width=25
height=25
script1op1=pushvar,music_volume
script1=eq,4
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[com_26]
type=graphic
x=78
y=197
buttontype=select
width=25
height=25
script1op1=pushvar,music_volume
script1=eq,3
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[com_27]
type=graphic
x=104
y=197
buttontype=select
width=25
height=25
script1op1=pushvar,music_volume
script1=eq,2
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[com_28]
type=graphic
x=130
y=197
buttontype=select
width=25
height=25
script1op1=pushvar,music_volume
script1=eq,1
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[com_29]
type=graphic
x=156
y=197
buttontype=select
width=25
height=25
script1op1=pushvar,music_volume
script1=eq,0
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[com_30]
type=text
x=56
y=204
width=17
height=11
font=p11
shadowed=yes
text=Off
colour=0xFFFF00
activecolour=0xFF8000

[com_31]
type=text
x=88
y=204
width=4
height=11
font=p11
shadowed=yes
text=1
colour=0xFFFF00

[com_32]
type=text
x=113
y=204
width=7
height=11
font=p11
shadowed=yes
text=2
colour=0xFFFF00

[com_33]
type=text
x=139
y=204
width=6
height=11
font=p11
shadowed=yes
text=3
colour=0xFFFF00

[com_34]
type=text
x=166
y=204
width=5
height=11
font=p11
shadowed=yes
text=4
colour=0xFFFF00

[com_35]
type=text
x=6
y=226
width=40
height=26
center=yes
font=p12
shadowed=yes
text=Effect\nVolume
colour=0xFFFFFF

[com_36]
type=graphic
x=52
y=227
buttontype=select
width=25
height=25
script1op1=pushvar,sound_volume
script1=eq,4
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[com_37]
type=graphic
x=78
y=227
buttontype=select
width=25
height=25
script1op1=pushvar,sound_volume
script1=eq,3
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[com_38]
type=graphic
x=104
y=227
buttontype=select
width=25
height=25
script1op1=pushvar,sound_volume
script1=eq,2
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[com_39]
type=graphic
x=130
y=227
buttontype=select
width=25
height=25
script1op1=pushvar,sound_volume
script1=eq,1
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[com_40]
type=graphic
x=156
y=227
buttontype=select
width=25
height=25
script1op1=pushvar,sound_volume
script1=eq,0
graphic=miscgraphics3,0
activegraphic=miscgraphics3,1

[com_41]
type=text
x=56
y=234
width=17
height=11
font=p11
shadowed=yes
text=Off
colour=0xFFFF00
activecolour=0xFF8000

[com_42]
type=text
x=88
y=234
width=4
height=11
font=p11
shadowed=yes
text=1
colour=0xFFFF00

[com_43]
type=text
x=113
y=234
width=7
height=11
font=p11
shadowed=yes
text=2
colour=0xFFFF00

[com_44]
type=text
x=139
y=234
width=6
height=11
font=p11
shadowed=yes
text=3
colour=0xFFFF00

[com_45]
type=text
x=166
y=234
width=5
height=11
font=p11
shadowed=yes
text=4
colour=0xFFFF00

[com_46]
type=text
x=46
y=138
width=100
height=14
font=p12
shadowed=yes
text=Split Private-chat
colour=0xFFFFFF

[com_47]
type=graphic
x=56
y=154
buttontype=select
width=36
height=36
script1op1=pushvar,split_privatechat
script1=eq,1
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_48]
type=graphic
x=98
y=154
buttontype=select
width=36
height=36
script1op1=pushvar,split_privatechat
script1=eq,0
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_49]
type=text
x=66
y=165
width=15
height=14
font=p12
shadowed=yes
text=On
colour=0xFFFF00

[com_50]
type=text
x=106
y=164
width=20
height=14
font=p12
shadowed=yes
text=Off
colour=0xFFFF00
