<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040>
<center>
  <table bgcolor=black cellpadding=4 width=150>
    <tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>
    More Magic</center></td></tr>
  </table>
  <table border=0>
    <tr><td>New teleport spells, New 'wave' projectile spells, and Orb enchant spells.</td></tr>
  </table>
</center>
<DIV NAME=div ID=div STYLE="LEFT: 0px; TOP: 140px; POSITION: absolute;">
<img border=0 hspace=0 vspace=0 alt="" src='/img/members/moremagicpic.jpg'>
</div>
</body></html>