<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>
<center>
  <table bgcolor=black cellpadding=4 width=250>
    <tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>
    Quick & Easy Payment Options</center></td></tr>
  </table>
  <table border=0>
    <tr><td><br>
    <table>
      <tr><td><img src='/img/members/feat_creditcard.gif' width=40 height=40></td><td><b>Credit/Debit Card</b><br>Pay securely online with your Credit/Debit card via our payment partners Worldpay.</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td><img src='/img/members/feat_paybycash.gif' width=40 height=40></td><td><b>PayByCash</b><br>No credit card? No problem! Options include cheque, moneyorder, cash and wire-transfer!</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td><img src='/img/members/feat_paybyphone.gif' width=40 height=40></td><td><b>PayByPhone</b><br>Subscribe putting the cost on your phone bill, by calling or sending a text message!</td></tr>
    </table>
    <p>
    <center>To view our payment options in more detail please<br><a href='https://secure2.runescape.com:443/weblogin/login?mod=smenu&dest=subscriptions' class=c target=_parent>click here</a> to log-in to our subscription area.</center>
</td></tr></table></center></body></html>