[com_0]
type=model
x=243
y=138
width=35
height=35
model=model_3032
zoom=650
xan=400

[com_1]
type=text
x=209
y=108
width=106
height=17
center=yes
font=q8
shadowed=yes
text=Congratulations!
colour=0xFFFF00

[com_2]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF

[com_3]
type=text
x=114
y=130
width=296
height=17
center=yes
font=q8
shadowed=yes
text=You have completed the Observatory Quest.
colour=0xFFFF00

[com_4]
type=model
x=114
y=201
width=85
height=105
model=model_loc_2210_8
zoom=1500
xan=11
yan=1849

[com_5]
type=text
x=212
y=241
width=69
height=14
center=yes
font=p12
shadowed=yes
text=Total Points:
colour=0x0099FF

[com_6]
type=text
x=285
y=241
width=17
height=14
script1op1=pushvar,questpoints
center=yes
font=p12
shadowed=yes
text=%1
colour=0x0099FF

[com_7]
type=model
x=341
y=195
width=32
height=32
model=model_3037
zoom=800
xan=500

[com_8]
type=text
x=212
y=180
width=93
height=14
font=p12
shadowed=yes
text=You are awarded
colour=0x00C000

[com_9]
type=text
x=255
y=198
width=8
height=14
center=yes
font=p12
shadowed=yes
text=2
colour=0xFF0000

[com_10]
type=text
x=222
y=214
width=76
height=14
center=yes
font=p12
shadowed=yes
text=Quest points.
colour=0x00C000
