[com_0]
type=text
x=21
y=5
width=441
height=17
center=yes
font=q8
text=Line1

[com_1]
type=text
x=21
y=29
width=441
height=17
center=yes
font=q8
text=Line2

[com_2]
type=text
x=21
y=53
width=441
height=17
center=yes
font=q8
text=Line3

[com_3]
type=text
x=69
y=77
buttontype=pause
width=350
height=17
center=yes
font=q8
text=Click here to continue
colour=0xFFFF00
overcolour=0x00C000
