[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic=sworddecor,1

[com_1]
type=model
x=56
y=13
buttontype=normal
width=64
height=64
zoom=100
xan=100
yan=100

[com_2]
type=model
x=207
y=13
buttontype=normal
width=64
height=64
zoom=400

[com_3]
type=model
x=360
y=13
buttontype=normal
width=64
height=64
zoom=400

[com_4]
type=text
x=12
y=76
buttontype=normal
width=152
height=17
center=yes
font=q8

[com_5]
type=text
x=164
y=76
buttontype=normal
width=152
height=17
center=yes
font=q8

[com_6]
type=text
x=316
y=76
buttontype=normal
width=152
height=17
center=yes
font=q8

[com_7]
type=text
x=8
y=3
width=464
height=17
center=yes
font=q8
text=Select an Option
colour=0x800000

[com_8]
type=text
x=396
y=5
buttontype=normal
width=72
height=14
font=p12
shadowed=yes
text=Close window
colour=0xFFFF00
