[com_0]
type=model
x=40
y=26
width=32
height=32
zoom=400
xan=40
yan=1882

[com_1]
type=text
x=111
y=30
width=350
height=17
center=yes
font=q8
text=Line1

[com_2]
type=text
x=111
y=80
buttontype=pause
width=350
height=17
center=yes
font=q8
text=Click here to continue
colour=0xFFFF00
overcolour=0x00C000
