<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</style>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>
<DIV STYLE="LEFT: 0px; TOP: 0px; WIDTH: 600px; POSITION: relative;">

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!--scrolling border-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=top>
<center>

<!-- title --><!--spacing table-->
<table height=140><tr valign=top><td>
<center>
  <table width=300 bgcolor=black cellpadding=4><tr><td class=e>
  <font size=2><center><b>Bestiary</b><br><a href="/title" class="c">Main menu</a> - <a href='/varrock' class=c>Library of Varrock</a></center></font>
  </td></tr></table>

<font size=2 >
<a href='a' class=c>A</a> - 
<a href='b' class=c><font color=#ffbb22><b>B</b></font></a> - 
<a href='c' class=c>C</a> - 
<a href='d' class=c>D</a> - 
<a href='e' class=c>E</a> - 
<a href='f' class=c>F</a> - 
<a href='g' class=c>G</a> - 
<a href='h' class=c>H</a> - 
<a href='i' class=c>I</a> - 
<a href='j' class=c>J</a> - 
<a href='k' class=c>K</a> - 
<a href='l' class=c>L</a> - 
<a href='m' class=c>M</a>
<br>
<a href='n' class=c>N</a> - 
<a href='o' class=c>O</a> - 
<a href='p' class=c>P</a> - 
<a href='q' class=c>Q</a> - 
<a href='r' class=c>R</a> - 
<a href='s' class=c>S</a> - 
<a href='t' class=c>T</a> - 
<a href='u' class=c>U</a> - 
<a href='v' class=c>V</a> - 
<a href='w' class=c>W</a> - 
<a href='x' class=c>X</a> - 
<a href='y' class=c>Y</a> - 
<a href='z' class=c>Z</a>
</font>
</center></td></tr></table><!--end spacing table--><!--scrolling scroll-->
<table width=390 height=80 cellpadding=0 cellspacing=0 border=0 background=/img/varrock/scrollingscroll.gif>
<tr><td><br></td></tr>
<tr><td width=10></td><td valign=top>
<br>
<h3>&nbsp;&nbsp;Bandit</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>5 ft 11 in</td>
<td width=150 rowspan=3 align=right> 
<img src='/img/varrock/bestiary/banditanim.gif' width=150 height=150 border=0></TD></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>235 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 29</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>The Wilderness 
</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Human</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>They live by the unique Bandits' Code of stealing from the rich and giving to the poor. <br>If you define 'the poor' as them and 'the rich' as everyone else.</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Shiny gold coins. And lots of them. Kept in easy to open moneybags.</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>The long arm of the Law.</td></tr>
</table>
<p><hr><p>
<br><h3>&nbsp;&nbsp;Barbarian</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>6 ft 2 in</td>
  <td width=150 rowspan=3 align=right><img src='/img/varrock/bestiary/barbariananim.gif' width=150 height=150 border=0></TD></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>235 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 16</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>The Barbarian Village</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Muscle-clad bearded warriors</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Self-sufficient. Having plundered
            and pillaged in the tribal warfare
            of days gone by, some contemporary 
            barbarians have now dropped anchor 
            with settlements of  
            their own. Remaining relatively
            neutral, they could be a useful
            force indeed if anyone could
            tempt them into an alliance... </td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Wood-chopping</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Anyone who uses magic in battle</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Bear</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>5 ft (8ft at full stretch)</td>
  <td width=150 rowspan=3 align=right><img src='/img/varrock/bestiary/bearanim.gif' width=150 height=150 border=0></TD></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>600 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 24<br>Level 26  
</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Bears like to roam the forests</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Large and deceptively cuddly looking</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Bears are happiest when minding
their own business, but they live in a world
which values their fur. If disturbed 
by an adventurer in search of loot, these
noble beasts pack quite a punch!</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Hibernating</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Fur-lined jackets</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Black Dragon</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>32 ft long</td>
  <td width=150 rowspan=3 align=right><img src='/img/varrock/bestiary/blackdragonanim.gif' width=150 height=150 border=0></TD></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>See Red Dragon</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 200</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Taverley Dungeon <br>
These awesome destroyers can usually be identified by 
the large pile of human bones that tend to surround them</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Jet black. That reddy-orange tint is actually
just an optical illusion, because one is normally viewing
them through a torrent of flames</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>King-like</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Their long-held supremacy, which is now waning</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>The non-stop nature of evolution itself
...as shown by the recent emergence of the King Black Dragon</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Black Knight</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>6 ft on the nose</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/blackknightanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>200 lbs exactly:
robust but fighting fit</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 46</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Black Knight Fortress in the north,
Taverley Dungeon, and the Lava Maze (wilderness)</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Large and foreboding, it is no wonder
that these bad boys were once the talk of Runescape.
And even now they continue to swing their weapons with the
full weight of their illustrious history.</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Educated and refined, these dashing villains like to 
unwind over a glass of mulled wine and Baxtorian poetry. They spit on peasants and refuse to pay taxes - but 
they still know how to treat a lady</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Mulled wine and poetry. Remember
this if ever you lack the motivation to decapitate someone</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Peasants and taxes</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Blue Dragon</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>5 ft</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/bluedragonanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>290 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 50<br>Level 105  
</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Taverley Dungeon</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>As their name suggests, these
magnificent creatures by their distinctive
sky blue appearance</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>The Blue Dragons guard the early stages of Taverley Dungeon. A beautiful
yet fearsome creature, these guardians are but a taste of things to come</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>The traquility of Taverley Lake. But prized
for their flesh, these beasts now take refuge in the dungeon, where would-be attackers must fight the dragon on his own terms</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Rangers</td></tr>
</table>
<br><br><br><br><br>
</td><td width=10></td></tr></table>
<!--end scrolling scroll-->
<table height=75><tr><td></td></tr></table>
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</td></tr></table>
<!--end scrolling border-->

<!--top scroll-->
<DIV STYLE="LEFT: 50px; TOP: 160px; POSITION: absolute;">
<img src=/img/varrock/scrolltop.gif width=493 height=64>
</div>
<!--bottom scroll-->
<DIV STYLE="LEFT: 0px; Bottom: 200px; POSITION: relative;">
<img src=/img/varrock/scrolltop.gif width=493 height=64>
</div>

</div>
</body></html>