<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</style>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>
<DIV STYLE="LEFT: 0px; TOP: 0px; WIDTH: 600px; POSITION: relative;">
<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!--scrolling border-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=top>
<center>

<!-- title --><!--spacing table-->
  <table height=140><tr valign=top><td><center><table width=300 bgcolor=black cellpadding=4><tr><td class=e>
  <font size=2><center><b>Bestiary</b><br><a href="/title" class="c">Main menu</a> - <a href='/varrock' class=c>Library of Varrock</a></center></font>
  </td></tr></table>

<font size=2 >
<a href='a' class=c>A</a> - 
<a href='b' class=c>B</a> - 
<a href='c' class=c>C</a> - 
<a href='d' class=c><font color=#ffbb22><b>D</b></font></a> - 
<a href='e' class=c>E</a> - 
<a href='f' class=c>F</a> - 
<a href='g' class=c>G</a> - 
<a href='h' class=c>H</a> - 
<a href='i' class=c>I</a> - 
<a href='j' class=c>J</a> - 
<a href='k' class=c>K</a> - 
<a href='l' class=c>L</a> - 
<a href='m' class=c>M</a>
<br>
<a href='n' class=c>N</a> - 
<a href='o' class=c>O</a> - 
<a href='p' class=c>P</a> - 
<a href='q' class=c>Q</a> - 
<a href='r' class=c>R</a> - 
<a href='s' class=c>S</a> - 
<a href='t' class=c>T</a> - 
<a href='u' class=c>U</a> - 
<a href='v' class=c>V</a> - 
<a href='w' class=c>W</a> - 
<a href='x' class=c>X</a> - 
<a href='y' class=c>Y</a> - 
<a href='z' class=c>Z</a>
</font>
</center></td></tr></table><!--end spacing table--><!--scrolling scroll-->
<table width=390 height=80 cellpadding=0 cellspacing=0 border=0 background=/img/varrock/scrollingscroll.gif>
<tr><td><br></td></tr>
<tr><td width=10></td><td valign=top>
<br>
<h3>&nbsp;&nbsp;Dark Warrior</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>5 ft 10 in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/darkwarrioranim.gif' width=150 height=150 border=0></td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>200 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 21</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>The Wilderness 
</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Well-armed</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Mercenary. <br>Dark warriors do not enjoy the
same status as Dark wizards or Dark knights, so they tend to hang around in small groups of like-minded individuals</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>To stay one step ahead of the authorities</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Other followers of Zamorak. <br>Despite their 
shared allegiance, the Dark warriors prefer to keep themselves to themselves. Bear this in mind if you plan on disturbing them</td></tr>
</table>
<p><hr><p>
<br><h3>&nbsp;&nbsp;Dark Wizard</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>5 ft 8 in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/darkwizardanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>160 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 13</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Dark Wizards' Tower; the Stone Circle south of Varrock; the Wilderness</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Like the wizard. Only darker</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Machiavellian: Dark Wizards will
do anything to further the cause of Zamorak. <br>And if that means burning many of their own number in the Wizards' Tower, then so be it</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Treachery. For all their dark arts, it is ultimately their ability to deceive thier fellow man that makes them so dangerous</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>People who think that they can't be trusted.<br>
The fact is that the incident with the Wizards' Tower was a one-off, and it'll never happen again. Surely you of all people could find it in your heart to give them a second chance?</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Deadly Red Spider</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>25 in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/deadlyredspideranim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>15 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 36</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Karamja Volcano, Varrock Sewers</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Red</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Predatorial.<br>
But this is a two way process, as anyone trained in the art of apothecary knows that the Deadly Red Spider's eggs can be used to make a potent strength potion</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Closing in for the kill. Dispensing with the usual small-talk, The Deadly Red Spider goes straight for the jugular</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>The whole "which is better, red or green?" debate</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Druid</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>5 ft 8 in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/druidanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>160 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 29</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>The Druid Circle and the Druid Village</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Dressed in gleaming white robes,
you could be forgiven for forgetting that
the druids are in fact neutral</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>It is said that the druids may
have used the runestones, long before the 
mages of the East discovered them. But the druids
are a solitary lot, and as their numbers dwindle
it is feared that their secrets may die with them</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Making potions, using their herblore abilities. <br>Druids also rely on the power of the runestone, which may be the
unifying factor behind all that is seen and unseen</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Socialising.<br> Their reluctance to mix with
other has alienated them from all those who are suspicious
of druid rituals- from townsfolk to the 
followers of Saradomin</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Dungeon Rat</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>Approx 1 ft long</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/dungeonratanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>40 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 16</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Under Clock Tower</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Ratty.</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>A very sociable creature (to other rats anyway), rats tend to be found in large groups in areas with a lot of refuse, as they dont like to try too hard to find their food.</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Recycling - mainly wasted food and corpses into Rat droppings.</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Contrary to popular belief, is not that fond of cheese.</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Dwarf</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>4 ft 2 in.</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/dwarfanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>200 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 18, with iron axe, iron helmet and leather armour</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>In and around the Ice Mountain</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Short and stout</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Moody and dour.<br> Though not 
    very religious, dwarves show their respects to 
    Guthix, the source of the iron ore which they mine so diligently</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Difficult to say, since
       nothing seems to put them in a good mood. <br>But they are at 
       least less grumpy when they're making things</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Some say that dwarves just don't
	like people, but this does not account for all the other races that
	irritate them. Their bark is worse than their bite, however</td></tr>
</table>
<br><br><br><br><br>
</td><td width=10></td></tr></table>
<!--end scrolling scroll--><table height=75><tr><td></td></tr></table>
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</td></tr></table>
<!--end scrolling border-->

<!--top scroll-->
<DIV STYLE="LEFT: 50px; TOP: 160px; POSITION: absolute;">
<img src=/img/varrock/scrolltop.gif width=493 height=64>
</div>
<!--bottom scroll-->
<DIV STYLE="LEFT: 0px; Bottom: 200px; POSITION: relative;">
<img src=/img/varrock/scrolltop.gif width=493 height=64>
</div>

</body></html>