<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</style>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>
<DIV STYLE="LEFT: 0px; TOP: 0px; WIDTH: 600px; POSITION: relative;">
<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!--scrolling border-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=top>
<center>

<!-- title --><!--spacing table-->
  <table height=140><tr valign=top><td><center><table width=300 bgcolor=black cellpadding=4><tr><td class=e>
  <font size=2><center><b>Bestiary</b><br><a href="/title" class="c">Main menu</a> - <a href='/varrock' class=c>Library of Varrock</a></center></font>
  </td></tr></table>

<font size=2 >
<a href='a' class=c>A</a> - 
<a href='b' class=c>B</a> - 
<a href='c' class=c>C</a> - 
<a href='d' class=c>D</a> - 
<a href='e' class=c>E</a> - 
<a href='f' class=c>F</a> - 
<a href='g' class=c><font color=#ffbb22><b>G</b></font></a> - 
<a href='h' class=c>H</a> - 
<a href='i' class=c>I</a> - 
<a href='j' class=c>J</a> - 
<a href='k' class=c>K</a> - 
<a href='l' class=c>L</a> - 
<a href='m' class=c>M</a>
<br>
<a href='n' class=c>N</a> - 
<a href='o' class=c>O</a> - 
<a href='p' class=c>P</a> - 
<a href='q' class=c>Q</a> - 
<a href='r' class=c>R</a> - 
<a href='s' class=c>S</a> - 
<a href='t' class=c>T</a> - 
<a href='u' class=c>U</a> - 
<a href='v' class=c>V</a> - 
<a href='w' class=c>W</a> - 
<a href='x' class=c>X</a> - 
<a href='y' class=c>Y</a> - 
<a href='z' class=c>Z</a>
</font>
</center></td></tr></table><!--end spacing table--><!--scrolling scroll-->
<table width=390 height=80 cellpadding=0 cellspacing=0 border=0 background=/img/varrock/scrollingscroll.gif>
<tr><td><br></td></tr>
<tr><td width=10></td><td valign=top>
<br>
<h3>&nbsp;&nbsp;Ghost</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>N/A</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/ghostanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>N/A</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 25</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Draynor Manor, Varrock sewers' dungeon 
</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Ethereal</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Ghosts drift about in state
of some distress, existing as spirits but 
outside the refuge of the gods</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Large mansions to haunt, dance music</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Being disturbed- this can cause them to attack</td></tr>
</table>
<p><hr><p>
<br><h3>&nbsp;&nbsp;Giant</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>7 ft 2 in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/giantanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>290 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 37 (giant)<br>Level 62 (moss)<br>Level 68 (ice)<br>Level 109 (fire)</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>The wilderness and most dungeons</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Gigantic</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Giants are said to be one of the 
oldest races in Runescape, which each type having
evolved according to the different kinds of
environment that they were exposed to</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Personal space- as found in dungeons and the wilderness</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Anyone who gets under their feet</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Giant Bat</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>Quite high off the ground</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/giantbatanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>30 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 32</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Outside Morgan le Faye Castle and in Taverley 
Dungeon</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Large winged vermin- to the untrained eye these things
are basically rats with wings</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Annoying.<br>Giant bats will make a point of flapping
in your face (no, I said "flapping") just when you're trying to 
do the crucial part of a quest. You'd happily kill the whole 
jolly lot of them, if only you could be bothered</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Caves and dungeons</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Sitting still</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Giant Rat</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>2 ft</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/giantratanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>120 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 2 (normal rat)<br>Level 13 
</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Lumbridge swamp Varrock slums and sewers, and many a dungeon around Runescape</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Dirty grey <br>with beady eyes</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Unhygienic</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>To eat from rotting carcasses</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Rat poison</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Giant Spider</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>30 in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/giantspideranim2.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>20 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 2  (Small spider)<br>Level 8 (Giant spider) 
</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Giant spiders often hang out in Lumbridge castle basement, sewers and houses, before disappearing down giant plug holes</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Eight-legged and hairy</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Incy-wincy; but watch out for the giant spider's bite</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>To try and try again</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>People who don't look where they're standing</td></tr>
</table>
<p><hr><p>
<br><h3>&nbsp;&nbsp;Gnome</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>2 ft 2 in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/gnomeanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>60 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 3 (Gnome troop)<br>Level 23-31 (Guards)</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>The Tree Gnome village and Grand Tree stronghold</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Pint-sized</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>The gnomes are a spirited lot, always ready
             with a quip for those who stumble over them.
             They are also keen entrepreneurs, carving out
             restaurants and cocktail bars into their
             wooden abode</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Gnomes like to stick together, forming tight-knit
       communities under the rule of a gnome king</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>The Runescape annual basketball tournament. So they play gnomeball instead</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Goblin</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>5 ft 4 in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/goblinanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>180 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 7<br>Level 13 (spear)</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Goblins are common right across Runescape, and particularly in the goblin village of north Asgarnia; 
	   around Lumbridge, and the woods near Port Sarim</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Green and warty</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Whilst not exactly "civilised", goblins do build mud huts
 to form small communities.
              Cowardly and weak, they are good targets for low-level players</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Eating slugs and worms</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Complex mental challenges</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Greater Demon</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>8ft 6in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/greaterdemonanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>350 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 89</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Entrana, Lava Maze (underground),
ruins in (north-east) wilderness.</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>As Zamorack's representative
on Runescape, these demons are immediately
recognisable by their capacity to kill
you in a matter of seconds. And with the Greater
Demon, what you see is what you get</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Not known</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Being master of all that they
survey</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Cowards.<br>If you go to fight a 
Greater Demon, don't run away or retreat.
You'll still get killed, but at least
he'll respect you more that way</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Grey Wolf</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>Up to 7ft long</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/greywolfanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>230 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 64</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>The Wilderness</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Like a Guard Dogs' meaner, crazier, and more bloodthirsty uncle.</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>There are many people who claim the wolfs' reputation as a killer is undeserved, and that they rarely attack humans. Those people have never encountered a hungry pack of grey wolves. <br>To the Grey Wolf, everything else is either dinner or potential dinner.</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Running in packs looking for food.</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Being called a Bad Dog.</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Guard</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>5 ft 10in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/guardanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>220 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 28</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Throughout the towns, wherever things may need
guarding, especially gates and banks</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Stout and intimidating, these 
guards give the distinct impression that
they will not be open to negotation</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Inflexible.<br>If a guard has been
told not to let people past, he'll keep 
that entrance blocked come hell or high water.
But if you just want to beat up some old man a 
few yards away, he'll conveniently turn a blind 
eye.It's just not his job to care</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Maintaining order</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>The smell of corruption that seems
to surround their pay masters- from local
town councillors, right up to the top of the ladder</td></tr>
</table>
<br><br><br><br>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Guard Dog</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>6 ft long</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/guarddoganim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>170 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 48</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Brimhaven, Ardougne, McGrubor's Wood</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Goes for the standard, no-nonsense guard-dog look</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Limited. These animals do nothing for
the claim that a dog is a man's best friend.<br>Unless
your idea of a best friend is someone who rips your
limbs off with their teeth</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Barking at intruders</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Cats</td></tr>
</table>
<br><br><br><br><br>
</td><td width=10></td></tr></table>
<!--end scrolling scroll--><table height=75><tr><td></td></tr></table>
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</td></tr></table>
<!--end scrolling border-->

<!--top scroll-->
<DIV STYLE="LEFT: 50px; TOP: 160px; POSITION: absolute;">
<img src=/img/varrock/scrolltop.gif width=493 height=64>
</div>
<!--bottom scroll-->
<DIV STYLE="LEFT: 0px; Bottom: 200px; POSITION: relative;">
<img src=/img/varrock/scrolltop.gif width=493 height=64>
</div>

</body></html>