<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</style>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>
<DIV STYLE="LEFT: 0px; TOP: 0px; WIDTH: 600px; POSITION: relative;">
<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!--scrolling border-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=top>
<center>

<!-- title --><!--spacing table-->
  <table height=140><tr valign=top><td><center><table width=300 bgcolor=black cellpadding=4><tr><td class=e>
  <font size=2><center><b>Bestiary</b><br><a href="/title" class="c">Main menu</a> - <a href='/varrock' class=c>Library of Varrock</a></center></font>
  </td></tr></table>

<font size=2 >
<a href='a' class=c>A</a> - 
<a href='b' class=c>B</a> - 
<a href='c' class=c>C</a> - 
<a href='d' class=c>D</a> - 
<a href='e' class=c>E</a> - 
<a href='f' class=c>F</a> - 
<a href='g' class=c>G</a> - 
<a href='h' class=c>H</a> - 
<a href='i' class=c>I</a> - 
<a href='j' class=c>J</a> - 
<a href='k' class=c>K</a> - 
<a href='l' class=c>L</a> - 
<a href='m' class=c><font color=#ffbb22><b>M</b></font></a>
<br>
<a href='n' class=c>N</a> - 
<a href='o' class=c>O</a> - 
<a href='p' class=c>P</a> - 
<a href='q' class=c>Q</a> - 
<a href='r' class=c>R</a> - 
<a href='s' class=c>S</a> - 
<a href='t' class=c>T</a> - 
<a href='u' class=c>U</a> - 
<a href='v' class=c>V</a> - 
<a href='w' class=c>W</a> - 
<a href='x' class=c>X</a> - 
<a href='y' class=c>Y</a> - 
<a href='z' class=c>Z</a>
</font>
</center></td></tr></table><!--end spacing table--><!--scrolling scroll-->
<table width=390 height=80 cellpadding=0 cellspacing=0 border=0 background=/img/varrock/scrollingscroll.gif>
<tr><td><br></td></tr>
<tr><td width=10></td><td valign=top>
<br>
<h3>&nbsp;&nbsp;Man</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>5 ft 10in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/mananim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>175 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 9 (generic man)</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Humans are currently the dominant species on Runescape 
</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Human</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Humans are certainly quite advanced creatures, building large communities
and various labour-saving devices.<br>Whether they are exactly "civilised", however, is more open for debate...</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Dark suits</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Being attacked by players trying to up their levels.<br>This is where the phrase "Why does everything always happen to me?" comes from</td></tr>
</table>
<p><hr><p>
<br><h3>&nbsp;&nbsp;Monk</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>6 ft</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/monkanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>180 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 13</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>The monastery to the west of Edgeville</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Human</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Monastic. These men have achieved
            a level of devotion that few could 
            hope to match</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Saradomin</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Zamorak</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Monk of Zamorak</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>6 ft</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/monkofzamanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>180 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top> Level 29 (with mace)<br>Level 47</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Lower level monks dwell in the Chaos Temple 
of north Asgarnia; higher level monks can also be found
in Taverley Dungeon</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Level 47 monks adorn themselves with the blood
red robes of Zamorak</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Ungodly- at least as far as Saradomin is 
concerned. These monks have perverted His sacred rituals,
and corrupted them to please their own hellish master.
But don't fall prey to crusader zeal- many a Saradominist
has rushed headlong into Taverley Dungeon, never to be
seen again</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Zamorak</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Saradomin</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Mountain Dwarf</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>4ft 2in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/mountaindwarfanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>200 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>level 28</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Beneath Wolf Mountain</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Vertically challenged</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Secluded. These dwarves are
happy just to be left to their own devices. They
love nothing better than mining for ore and 
generally being at one with
nature</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>The cool mountain air</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Elves and horses</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Mugger</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>5 ft 10 in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/muggeranim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>160 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 10</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Varrock castle</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Shifty looking</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>The mugger is at the low-rent end of the
mercerary lifestyle. With no real skill to his name,
the mugger can never be sure that he will be
able to rob you.<br> But he'll certainly have a really good
try- and you have to respect him for that</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Weaklings</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Thieves. Muggers are envious of these more
skilled criminals</td></tr>
</table>
<br><br><br><br><br>
</td><td width=10></td></tr></table>
<!--end scrolling scroll--><table height=75><tr><td></td></tr></table>
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</td></tr></table>
<!--end scrolling border-->

<!--top scroll-->
<DIV STYLE="LEFT: 50px; TOP: 160px; POSITION: absolute;">
<img src=/img/varrock/scrolltop.gif width=493 height=64>
</div>
<!--bottom scroll-->
<DIV STYLE="LEFT: 0px; Bottom: 200px; POSITION: relative;">
<img src=/img/varrock/scrolltop.gif width=493 height=64>
</div>

</body></html>