<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</style>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>
<DIV STYLE="LEFT: 0px; TOP: 0px; WIDTH: 600px; POSITION: relative;">
<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!--scrolling border-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=top>
<center>

<!-- title --><!--spacing table-->
  <table height=140><tr valign=top><td><center><table width=300 bgcolor=black cellpadding=4><tr><td class=e>
  <font size=2><center><b>Bestiary</b><br><a href="/title" class="c">Main menu</a> - <a href='/varrock' class=c>Library of Varrock</a></center></font>
  </td></tr></table>

<font size=2 >
<a href='a' class=c>A</a> - 
<a href='b' class=c>B</a> - 
<a href='c' class=c>C</a> - 
<a href='d' class=c>D</a> - 
<a href='e' class=c>E</a> - 
<a href='f' class=c>F</a> - 
<a href='g' class=c>G</a> - 
<a href='h' class=c>H</a> - 
<a href='i' class=c>I</a> - 
<a href='j' class=c>J</a> - 
<a href='k' class=c>K</a> - 
<a href='l' class=c>L</a> - 
<a href='m' class=c>M</a>
<br>
<a href='n' class=c>N</a> - 
<a href='o' class=c>O</a> - 
<a href='p' class=c>P</a> - 
<a href='q' class=c>Q</a> - 
<a href='r' class=c>R</a> - 
<a href='s' class=c>S</a> - 
<a href='t' class=c>T</a> - 
<a href='u' class=c>U</a> - 
<a href='v' class=c>V</a> - 
<a href='w' class=c><font color=#ffbb22><b>W</b></font></a> - 
<a href='x' class=c>X</a> - 
<a href='y' class=c>Y</a> - 
<a href='z' class=c>Z</a>
</font>
</center></td></tr></table><!--end spacing table--><!--scrolling scroll-->
<table width=390 height=80 cellpadding=0 cellspacing=0 border=0 background=/img/varrock/scrollingscroll.gif>
<tr><td><br></td></tr>
<tr><td width=10></td><td valign=top>
<br>
<h3>&nbsp;&nbsp;Warriorwoman</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>6 ft</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/warriorwomananim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>165 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 27</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>Varrock castle 
</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Muscular</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>These women
have decided to walk away from the domestic role that
their society imposes upon them. Donning heavy armour,
they take a stand against an increasingly chaotic world</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Wielding large weapons</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Over-familiar men</td></tr>
</table>
<p><hr><p>
<br><h3>&nbsp;&nbsp;White Knight</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>5ft 11in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/whiteknightanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>195 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 56</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>The White Knights have a castle in 
Falador which they call home</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Shiny.<br>The White Knights never go out
without buffing their armour first</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>The goody-two-shoes
of Runescape. People may respect the White Knights, 
but nobody really likes them. Yes, they fight the good
fight against evil, but do they have to 
be so mincingly polite?</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>The sense of satisfaction from a 
job well done</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Dishonesty.<br>The White Knights
believe that they have nothing if they 
don't have their honour</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;White Wolf</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>Up to 7ft long</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/whitewolfanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>230 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 31<br>Level 41<br>Level 71 (Pack Leader) 
</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>In the pass of White Wolf Mountain</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Lean and hungry looking, these tenacious
beasts must steal themselves against the cold mountain
air</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>The wolves patrol the
crucial pass in the north. Although of varying strengths, 
these aggressive animals can be relentless when pack hunting.
Like a hazard of nature, white wolves essentially control this
passage. So heed these words and pack plenty 
of provisions- or stay away from White Wolf Mountain</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>The recent rise in tourism through the mountain regions</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Warmer weather, which can make them lethargic</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Witch</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>5 ft 4in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/witchanim.gif' width=160 height=170 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>150 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 25</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>South Kharid, Draynor Manor</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Gnarled fingers and a hooked nose</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Independent. Witches, although
often considered evil, practise a craft which
is in many way closer to the Druidic rituals
than the minions of Zamorak. Shunned by a
mistrustful society, however, these loners
sometimes take to summoning up the forces of darkness 
against their enemies</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>Mixing things in their cauldron. It's all in 
the sauce</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>Most men. Some believe that the male
obsession with a woman's appearance has isolated these old spinster women</td></tr>
</table>
<p><hr><p>
<br>
<h3>&nbsp;&nbsp;Wizard</h3>
<table border=0>
<tr><td width=80 valign=top>Height:</td><td width=100 valign=top>5 ft 8 in</td>
<td width=150 rowspan=3 align=right>
<img src='/img/varrock/bestiary/wizardanim.gif' width=150 height=150 border=0>
</td></tr>
<tr><td width=80 valign=top>Weight:</td><td width=100 valign=top>160 lbs</td></tr>
<tr><td width=80 valign=top>Varieties:</td><td width=100 valign=top>Level 16</td></tr>
</table>
<table width=355 border=0>
<tr><td width=80 valign=top>Locations:</td><td>The Wizard's Tower</td></tr>
<tr><td width=80 valign=top>Appearance:</td><td>Human</td></tr>
<tr><td width=80 valign=top>Way of Life:</td><td>Legendary. The wizards hold a special place
             in Runescape's history. But it
             was their ill-advised alliance with the
             Dark Wizards that plunged the land
             into chaos.<br>And many believe that their
             mastery of the rune no longer holds the
             power that it once did</td></tr>
<tr><td width=80 valign=top>Likes:</td><td>A willing apprentice</td></tr>
<tr><td width=80 valign=top>Dislikes:</td><td>The druids. The increasing scarcity of runestones 
          has caused a growing sense of mistrust between 
          these great practitioners of magical arts.<br>
          This is a rift which the forces of evil are only
          too eager to exploit</td></tr>
</table>
<br><br><br><br><br>
</td><td width=10></td></tr></table>
<!--end scrolling scroll--><table height=75><tr><td></td></tr></table>
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</td></tr></table>
<!--end scrolling border-->

<!--top scroll-->
<DIV STYLE="LEFT: 50px; TOP: 160px; POSITION: absolute;">
<img src=/img/varrock/scrolltop.gif width=493 height=64>
</div>
<!--bottom scroll-->
<DIV STYLE="LEFT: 0px; Bottom: 200px; POSITION: relative;">
<img src=/img/varrock/scrolltop.gif width=493 height=64>
</div>

</body></html>