type=overlay

[com_0]
type=layer
x=3
y=20
clientcode=503
width=168
height=204
scroll=400

[com_1]
layer=com_0
type=text
x=7
y=8
clientcode=401
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_2]
layer=com_0
type=text
x=7
y=23
clientcode=402
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_3]
layer=com_0
type=text
x=7
y=38
clientcode=403
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_4]
layer=com_0
type=text
x=7
y=53
clientcode=404
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_5]
layer=com_0
type=text
x=7
y=68
clientcode=405
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_6]
layer=com_0
type=text
x=7
y=83
clientcode=406
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_7]
layer=com_0
type=text
x=7
y=98
clientcode=407
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_8]
layer=com_0
type=text
x=7
y=113
clientcode=408
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_9]
layer=com_0
type=text
x=7
y=128
clientcode=409
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_10]
layer=com_0
type=text
x=7
y=143
clientcode=410
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_11]
layer=com_0
type=text
x=7
y=158
clientcode=411
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_12]
layer=com_0
type=text
x=7
y=173
clientcode=412
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_13]
layer=com_0
type=text
x=7
y=188
clientcode=413
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_14]
layer=com_0
type=text
x=7
y=203
clientcode=414
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_15]
layer=com_0
type=text
x=7
y=218
clientcode=415
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_16]
layer=com_0
type=text
x=7
y=233
clientcode=416
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_17]
layer=com_0
type=text
x=7
y=248
clientcode=417
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_18]
layer=com_0
type=text
x=7
y=263
clientcode=418
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_19]
layer=com_0
type=text
x=7
y=278
clientcode=419
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_20]
layer=com_0
type=text
x=7
y=293
clientcode=420
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_21]
layer=com_0
type=text
x=7
y=308
clientcode=421
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_22]
layer=com_0
type=text
x=7
y=323
clientcode=422
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_23]
layer=com_0
type=text
x=7
y=338
clientcode=423
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_24]
layer=com_0
type=text
x=7
y=353
clientcode=424
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_25]
layer=com_0
type=text
x=7
y=368
clientcode=425
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_26]
layer=com_0
type=text
x=7
y=383
clientcode=426
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_27]
layer=com_0
type=text
x=7
y=398
clientcode=427
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_28]
layer=com_0
type=text
x=7
y=413
clientcode=428
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_29]
layer=com_0
type=text
x=7
y=428
clientcode=429
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_30]
layer=com_0
type=text
x=7
y=443
clientcode=430
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_31]
layer=com_0
type=text
x=7
y=458
clientcode=431
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_32]
layer=com_0
type=text
x=7
y=473
clientcode=432
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_33]
layer=com_0
type=text
x=7
y=488
clientcode=433
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_34]
layer=com_0
type=text
x=7
y=503
clientcode=434
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_35]
layer=com_0
type=text
x=7
y=518
clientcode=435
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_36]
layer=com_0
type=text
x=7
y=533
clientcode=436
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_37]
layer=com_0
type=text
x=7
y=548
clientcode=437
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_38]
layer=com_0
type=text
x=7
y=563
clientcode=438
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_39]
layer=com_0
type=text
x=7
y=578
clientcode=439
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_40]
layer=com_0
type=text
x=7
y=593
clientcode=440
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_41]
layer=com_0
type=text
x=7
y=608
clientcode=441
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_42]
layer=com_0
type=text
x=7
y=623
clientcode=442
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_43]
layer=com_0
type=text
x=7
y=638
clientcode=443
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_44]
layer=com_0
type=text
x=7
y=653
clientcode=444
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_45]
layer=com_0
type=text
x=7
y=668
clientcode=445
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_46]
layer=com_0
type=text
x=7
y=683
clientcode=446
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_47]
layer=com_0
type=text
x=7
y=698
clientcode=447
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_48]
layer=com_0
type=text
x=7
y=713
clientcode=448
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_49]
layer=com_0
type=text
x=7
y=728
clientcode=449
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_50]
layer=com_0
type=text
x=7
y=743
clientcode=450
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_51]
layer=com_0
type=text
x=7
y=758
clientcode=451
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_52]
layer=com_0
type=text
x=7
y=773
clientcode=452
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_53]
layer=com_0
type=text
x=7
y=788
clientcode=453
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_54]
layer=com_0
type=text
x=7
y=803
clientcode=454
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_55]
layer=com_0
type=text
x=7
y=818
clientcode=455
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_56]
layer=com_0
type=text
x=7
y=833
clientcode=456
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_57]
layer=com_0
type=text
x=7
y=848
clientcode=457
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_58]
layer=com_0
type=text
x=7
y=863
clientcode=458
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_59]
layer=com_0
type=text
x=7
y=878
clientcode=459
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_60]
layer=com_0
type=text
x=7
y=893
clientcode=460
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_61]
layer=com_0
type=text
x=7
y=908
clientcode=461
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_62]
layer=com_0
type=text
x=7
y=923
clientcode=462
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_63]
layer=com_0
type=text
x=7
y=938
clientcode=463
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_64]
layer=com_0
type=text
x=7
y=953
clientcode=464
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_65]
layer=com_0
type=text
x=7
y=968
clientcode=465
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_66]
layer=com_0
type=text
x=7
y=983
clientcode=466
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_67]
layer=com_0
type=text
x=7
y=998
clientcode=467
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_68]
layer=com_0
type=text
x=7
y=1013
clientcode=468
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_69]
layer=com_0
type=text
x=7
y=1028
clientcode=469
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_70]
layer=com_0
type=text
x=7
y=1043
clientcode=470
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_71]
layer=com_0
type=text
x=7
y=1058
clientcode=471
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_72]
layer=com_0
type=text
x=7
y=1073
clientcode=472
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_73]
layer=com_0
type=text
x=7
y=1088
clientcode=473
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_74]
layer=com_0
type=text
x=7
y=1103
clientcode=474
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_75]
layer=com_0
type=text
x=7
y=1118
clientcode=475
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_76]
layer=com_0
type=text
x=7
y=1133
clientcode=476
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_77]
layer=com_0
type=text
x=7
y=1148
clientcode=477
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_78]
layer=com_0
type=text
x=7
y=1163
clientcode=478
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_79]
layer=com_0
type=text
x=7
y=1178
clientcode=479
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_80]
layer=com_0
type=text
x=7
y=1193
clientcode=480
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_81]
layer=com_0
type=text
x=7
y=1208
clientcode=481
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_82]
layer=com_0
type=text
x=7
y=1223
clientcode=482
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_83]
layer=com_0
type=text
x=7
y=1238
clientcode=483
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_84]
layer=com_0
type=text
x=7
y=1253
clientcode=484
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_85]
layer=com_0
type=text
x=7
y=1268
clientcode=485
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_86]
layer=com_0
type=text
x=7
y=1283
clientcode=486
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_87]
layer=com_0
type=text
x=7
y=1298
clientcode=487
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_88]
layer=com_0
type=text
x=7
y=1313
clientcode=488
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_89]
layer=com_0
type=text
x=7
y=1328
clientcode=489
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_90]
layer=com_0
type=text
x=7
y=1343
clientcode=490
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_91]
layer=com_0
type=text
x=7
y=1358
clientcode=491
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_92]
layer=com_0
type=text
x=7
y=1373
clientcode=492
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_93]
layer=com_0
type=text
x=7
y=1388
clientcode=493
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_94]
layer=com_0
type=text
x=7
y=1403
clientcode=494
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_95]
layer=com_0
type=text
x=7
y=1418
clientcode=495
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_96]
layer=com_0
type=text
x=7
y=1433
clientcode=496
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_97]
layer=com_0
type=text
x=7
y=1448
clientcode=497
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_98]
layer=com_0
type=text
x=7
y=1463
clientcode=498
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_99]
layer=com_0
type=text
x=7
y=1478
clientcode=499
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_100]
layer=com_0
type=text
x=7
y=1493
clientcode=500
width=153
height=14
font=p12
shadowed=yes
colour=0xFFFFFF

[com_101]
type=text
x=51
y=4
width=68
height=14
font=b12
shadowed=yes
text=Ignore list
colour=0xFFFF00

[com_102]
type=graphic
x=15
y=224
buttontype=normal
clientcode=501
width=72
height=36
graphic=combatboxes,0
option=Add friend

[com_103]
type=graphic
x=95
y=224
buttontype=normal
clientcode=502
width=72
height=36
graphic=combatboxes,0
option=Delete friend

[com_104]
type=text
x=23
y=234
width=56
height=14
font=p12
shadowed=yes
text=Add Name
colour=0xFFFF00
activecolour=0xFFFFFF

[com_105]
type=text
x=105
y=234
width=51
height=14
font=p12
shadowed=yes
text=Del Name
colour=0xFFFF00
activecolour=0xFFFFFF

[com_106]
type=graphic
x=3
y=20
width=25
height=30
graphic=steelborder,0

[com_107]
type=graphic
x=146
y=20
width=25
height=30
graphic=steelborder,1

[com_108]
type=graphic
x=3
y=194
width=25
height=30
graphic=steelborder,2

[com_109]
type=graphic
x=146
y=194
width=25
height=30
graphic=steelborder,3

[com_110]
type=graphic
x=28
y=5
width=36
height=36
graphic=steelborder2,0

[com_111]
type=graphic
x=64
y=5
width=36
height=36
graphic=steelborder2,0

[com_112]
type=graphic
x=100
y=5
width=36
height=36
graphic=steelborder2,0

[com_113]
type=graphic
x=112
y=5
width=36
height=36
graphic=steelborder2,0

[com_114]
type=graphic
x=150
y=50
width=36
height=36
graphic=steelborder2,1

[com_115]
type=graphic
x=150
y=86
width=36
height=36
graphic=steelborder2,1

[com_116]
type=graphic
x=150
y=122
width=36
height=36
graphic=steelborder2,1

[com_117]
type=graphic
x=150
y=158
width=36
height=36
graphic=steelborder2,1

[com_118]
type=graphic
x=-12
y=50
width=36
height=36
graphic=miscgraphics,2

[com_119]
type=graphic
x=-12
y=86
width=36
height=36
graphic=miscgraphics,2

[com_120]
type=graphic
x=-12
y=122
width=36
height=36
graphic=miscgraphics,2

[com_121]
type=graphic
x=-12
y=158
width=36
height=36
graphic=miscgraphics,2

[com_122]
type=graphic
x=28
y=203
width=36
height=36
graphic=miscgraphics,3

[com_123]
type=graphic
x=64
y=203
width=36
height=36
graphic=miscgraphics,3

[com_124]
type=graphic
x=100
y=203
width=36
height=36
graphic=miscgraphics,3

[com_125]
type=graphic
x=111
y=203
width=36
height=36
graphic=miscgraphics,3
