type=overlay

[com_0]
type=text
x=7
y=55
width=179
height=14
font=p12
shadowed=yes
text=When you have finished playing
colour=0xFFFF00

[com_1]
type=text
x=20
y=73
width=152
height=14
font=p12
shadowed=yes
text=RuneScape, always use the
colour=0xFFFF00

[com_2]
type=text
x=10
y=91
width=169
height=14
font=p12
shadowed=yes
text=button below to logout safely.
colour=0xFFFF00

[com_3]
type=graphic
x=74
y=153
width=36
height=36
graphic=miscgraphics,7

[com_4]
type=graphic
x=48
y=153
width=36
height=36
graphic=miscgraphics,7

[com_5]
type=graphic
x=22
y=153
width=36
height=36
graphic=miscgraphics,7

[com_6]
type=graphic
x=104
y=153
width=36
height=36
graphic=miscgraphics,8

[com_7]
type=graphic
x=130
y=153
width=36
height=36
graphic=miscgraphics,8

[try_logout]
type=text
x=30
y=163
buttontype=normal
clientcode=205
width=128
height=14
font=b12
shadowed=yes
text=Click here to logout
colour=0xFFFFFF
overcolour=0xFF0000
