type=overlay

[com_0]
type=layer
x=0
y=0
width=190
height=36

[com_1]
layer=com_0
type=graphic
x=-1
y=0
width=36
height=36
graphic=miscgraphics,4

[com_2]
layer=com_0
type=graphic
x=29
y=0
width=36
height=36
graphic=miscgraphics,5

[com_3]
layer=com_0
type=graphic
x=62
y=0
width=36
height=36
graphic=miscgraphics,4

[com_4]
layer=com_0
type=graphic
x=92
y=0
width=36
height=36
graphic=miscgraphics,5

[com_5]
layer=com_0
type=graphic
x=125
y=0
width=36
height=36
graphic=miscgraphics,4

[com_6]
layer=com_0
type=graphic
x=155
y=0
width=36
height=36
graphic=miscgraphics,5

[com_7]
layer=com_0
type=graphic
x=4
y=5
width=25
height=25
graphic=staticons,0

[com_8]
layer=com_0
type=graphic
x=68
y=5
width=25
height=25
graphic=staticons,6

[com_9]
layer=com_0
type=graphic
x=128
y=5
width=25
height=25
graphic=staticons,12

[com_10]
layer=com_0
type=text
x=32
y=5
width=15
height=12
script1op1=stat_level,attack
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_11]
layer=com_0
type=text
x=44
y=17
width=15
height=12
script1op1=stat_base_level,attack
script2op1=
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_12]
layer=com_0
type=text
x=96
y=5
width=15
height=12
script1op1=stat_level,hitpoints
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_13]
layer=com_0
type=text
x=108
y=17
width=15
height=12
script1op1=stat_base_level,hitpoints
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_14]
layer=com_0
type=text
x=160
y=5
width=15
height=12
script1op1=stat_level,mining
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_15]
layer=com_0
type=text
x=172
y=17
width=15
height=12
script1op1=stat_base_level,mining
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_16]
type=layer
x=0
y=31
width=190
height=36

[com_17]
layer=com_16
type=graphic
x=-1
y=0
width=36
height=36
graphic=miscgraphics,4

[com_18]
layer=com_16
type=graphic
x=29
y=0
width=36
height=36
graphic=miscgraphics,5

[com_19]
layer=com_16
type=graphic
x=62
y=0
width=36
height=36
graphic=miscgraphics,4

[com_20]
layer=com_16
type=graphic
x=92
y=0
width=36
height=36
graphic=miscgraphics,5

[com_21]
layer=com_16
type=graphic
x=125
y=0
width=36
height=36
graphic=miscgraphics,4

[com_22]
layer=com_16
type=graphic
x=155
y=0
width=36
height=36
graphic=miscgraphics,5

[com_23]
layer=com_16
type=graphic
x=4
y=5
width=25
height=25
graphic=staticons,1

[com_24]
layer=com_16
type=graphic
x=68
y=5
width=25
height=25
graphic=staticons,7

[com_25]
layer=com_16
type=graphic
x=128
y=5
width=25
height=25
graphic=staticons,13

[com_26]
layer=com_16
type=text
x=32
y=5
width=15
height=12
script1op1=stat_level,strength
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_27]
layer=com_16
type=text
x=44
y=17
width=15
height=12
script1op1=stat_base_level,strength
script2op1=
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_28]
layer=com_16
type=text
x=96
y=5
width=15
height=12
script1op1=stat_level,agility
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_29]
layer=com_16
type=text
x=108
y=17
width=15
height=12
script1op1=stat_base_level,agility
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_30]
layer=com_16
type=text
x=160
y=5
width=15
height=12
script1op1=stat_level,smithing
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_31]
layer=com_16
type=text
x=172
y=17
width=15
height=12
script1op1=stat_base_level,smithing
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_32]
type=layer
x=0
y=62
width=190
height=36

[com_33]
layer=com_32
type=graphic
x=-1
y=0
width=36
height=36
graphic=miscgraphics,4

[com_34]
layer=com_32
type=graphic
x=29
y=0
width=36
height=36
graphic=miscgraphics,5

[com_35]
layer=com_32
type=graphic
x=62
y=0
width=36
height=36
graphic=miscgraphics,4

[com_36]
layer=com_32
type=graphic
x=92
y=0
width=36
height=36
graphic=miscgraphics,5

[com_37]
layer=com_32
type=graphic
x=125
y=0
width=36
height=36
graphic=miscgraphics,4

[com_38]
layer=com_32
type=graphic
x=155
y=0
width=36
height=36
graphic=miscgraphics,5

[com_39]
layer=com_32
type=graphic
x=4
y=5
width=25
height=25
graphic=staticons,2

[com_40]
layer=com_32
type=graphic
x=128
y=5
width=25
height=25
graphic=staticons,14

[com_41]
layer=com_32
type=text
x=32
y=5
width=15
height=12
script1op1=stat_level,defence
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_42]
layer=com_32
type=text
x=44
y=17
width=15
height=12
script1op1=stat_base_level,defence
script2op1=
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_43]
layer=com_32
type=text
x=96
y=5
width=15
height=12
script1op1=stat_level,herblore
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_44]
layer=com_32
type=text
x=108
y=17
width=15
height=12
script1op1=stat_base_level,herblore
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_45]
layer=com_32
type=text
x=160
y=5
width=15
height=12
script1op1=stat_level,fishing
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_46]
layer=com_32
type=text
x=172
y=17
width=15
height=12
script1op1=stat_base_level,fishing
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_47]
type=layer
x=-1
y=93
width=190
height=36

[com_48]
layer=com_47
type=graphic
x=-1
y=0
width=36
height=36
graphic=miscgraphics,4

[com_49]
layer=com_47
type=graphic
x=29
y=0
width=36
height=36
graphic=miscgraphics,5

[com_50]
layer=com_47
type=graphic
x=62
y=0
width=36
height=36
graphic=miscgraphics,4

[com_51]
layer=com_47
type=graphic
x=92
y=0
width=36
height=36
graphic=miscgraphics,5

[com_52]
layer=com_47
type=graphic
x=125
y=0
width=36
height=36
graphic=miscgraphics,4

[com_53]
layer=com_47
type=graphic
x=155
y=0
width=36
height=36
graphic=miscgraphics,5

[com_54]
layer=com_47
type=graphic
x=5
y=5
width=25
height=25
graphic=staticons,3

[com_55]
layer=com_47
type=graphic
x=69
y=5
width=25
height=25
graphic=staticons,9

[com_56]
layer=com_47
type=graphic
x=129
y=5
width=25
height=25
graphic=staticons,15

[com_57]
layer=com_47
type=text
x=33
y=5
width=15
height=12
script1op1=stat_level,ranged
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_58]
layer=com_47
type=text
x=45
y=17
width=15
height=12
script1op1=stat_base_level,ranged
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_59]
layer=com_47
type=text
x=97
y=5
width=15
height=12
script1op1=stat_level,thieving
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_60]
layer=com_47
type=text
x=109
y=17
width=15
height=12
script1op1=stat_base_level,thieving
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_61]
layer=com_47
type=text
x=161
y=5
width=15
height=12
script1op1=stat_level,cooking
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_62]
layer=com_47
type=text
x=173
y=17
width=15
height=12
script1op1=stat_base_level,cooking
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_63]
type=layer
x=-1
y=124
width=190
height=36

[com_64]
layer=com_63
type=graphic
x=-1
y=0
width=36
height=36
graphic=miscgraphics,4

[com_65]
layer=com_63
type=graphic
x=29
y=0
width=36
height=36
graphic=miscgraphics,5

[com_66]
layer=com_63
type=graphic
x=62
y=0
width=36
height=36
graphic=miscgraphics,4

[com_67]
layer=com_63
type=graphic
x=92
y=0
width=36
height=36
graphic=miscgraphics,5

[com_68]
layer=com_63
type=graphic
x=155
y=0
width=36
height=36
graphic=miscgraphics,5

[com_69]
layer=com_63
type=graphic
x=125
y=0
width=36
height=36
graphic=miscgraphics,4

[com_70]
layer=com_63
type=graphic
x=5
y=5
width=25
height=25
graphic=staticons,4

[com_71]
layer=com_63
type=graphic
x=69
y=5
width=25
height=25
graphic=staticons,10

[com_72]
layer=com_63
type=graphic
x=129
y=5
width=25
height=25
graphic=staticons,16

[com_73]
layer=com_63
type=text
x=33
y=5
width=15
height=12
script1op1=stat_level,prayer
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_74]
layer=com_63
type=text
x=45
y=17
width=15
height=12
script1op1=stat_base_level,prayer
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_75]
layer=com_63
type=text
x=96
y=6
width=15
height=12
script1op1=stat_level,crafting
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_76]
layer=com_63
type=text
x=109
y=17
width=15
height=12
script1op1=stat_base_level,crafting
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_77]
layer=com_63
type=text
x=161
y=5
width=15
height=12
script1op1=stat_level,firemaking
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_78]
layer=com_63
type=text
x=173
y=17
width=15
height=12
script1op1=stat_base_level,firemaking
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_79]
type=layer
x=-1
y=155
width=190
height=36

[com_80]
layer=com_79
type=graphic
x=-1
y=0
width=36
height=36
graphic=miscgraphics,4

[com_81]
layer=com_79
type=graphic
x=29
y=0
width=36
height=36
graphic=miscgraphics,5

[com_82]
layer=com_79
type=graphic
x=62
y=0
width=36
height=36
graphic=miscgraphics,4

[com_83]
layer=com_79
type=graphic
x=92
y=0
width=36
height=36
graphic=miscgraphics,5

[com_84]
layer=com_79
type=graphic
x=125
y=0
width=36
height=36
graphic=miscgraphics,4

[com_85]
layer=com_79
type=graphic
x=155
y=0
width=36
height=36
graphic=miscgraphics,5

[com_86]
layer=com_79
type=graphic
x=5
y=5
width=25
height=25
graphic=staticons,5

[com_87]
layer=com_79
type=graphic
x=69
y=5
width=25
height=25
graphic=staticons,11

[com_88]
layer=com_79
type=graphic
x=129
y=5
width=25
height=25
graphic=staticons,17

[com_89]
layer=com_79
type=layer
x=1
y=1
width=64
height=32
overlayer=com_152

[com_90]
layer=com_79
type=layer
x=65
y=1
width=64
height=32
overlayer=com_188

[com_91]
layer=com_79
type=layer
x=129
y=1
width=64
height=32
overlayer=com_224

[com_92]
layer=com_79
type=text
x=33
y=5
width=15
height=12
script1op1=stat_level,magic
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_93]
layer=com_79
type=text
x=45
y=17
width=15
height=12
script1op1=stat_base_level,magic
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_94]
layer=com_79
type=text
x=97
y=5
width=15
height=12
script1op1=stat_level,fletching
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_95]
layer=com_79
type=text
x=109
y=17
width=15
height=12
script1op1=stat_base_level,fletching
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_96]
layer=com_79
type=text
x=161
y=5
width=15
height=12
script1op1=stat_level,woodcutting
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_97]
layer=com_79
type=text
x=173
y=17
width=15
height=12
script1op1=stat_base_level,woodcutting
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_98]
type=layer
x=1
y=212
width=186
height=60

[com_99]
layer=com_98
type=rect
x=3
y=9
width=178
height=36
colour=0x726451

[com_100]
layer=com_98
type=rect
x=4
y=10
width=176
height=34
colour=0x726451

[com_101]
layer=com_98
type=rect
x=4
y=10
width=177
height=35
colour=0x2E2B23

[com_102]
layer=com_98
type=rect
x=5
y=11
width=174
height=32
fill=yes

[com_103]
layer=com_98
type=text
x=90
y=12
width=84
height=14
script1op1=op8
font=p12
shadowed=yes
text=Combat Lvl: %1
colour=0xFFFF00

[com_104]
layer=com_98
type=text
x=91
y=27
width=69
height=14
script1op1=op9
font=p12
shadowed=yes
text=Total Lvl: %1
colour=0xFFFF00

[com_105]
layer=com_98
type=text
x=18
y=20
width=38
height=14
script1op1=pushvar,questpoints
font=p12
shadowed=yes
text=QP: %1
colour=0xFFFF00

[com_106]
type=graphic
x=68
y=73
width=25
height=25
graphic=staticons,8

[com_107]
type=layer
x=0
y=1
width=64
height=32
overlayer=com_122

[com_108]
type=layer
x=64
y=1
width=64
height=32
overlayer=com_158

[com_109]
type=layer
x=128
y=1
width=64
height=32
overlayer=com_194

[com_110]
type=layer
x=0
y=32
width=64
height=32
overlayer=com_128

[com_111]
type=layer
x=64
y=32
width=64
height=32
overlayer=com_164

[com_112]
type=layer
x=128
y=32
width=64
height=32
overlayer=com_200

[com_113]
type=layer
x=0
y=63
width=64
height=32
overlayer=com_134

[com_114]
type=layer
x=64
y=63
width=64
height=32
overlayer=com_170

[com_115]
type=layer
x=0
y=94
width=64
height=32
overlayer=com_140

[com_116]
type=layer
x=0
y=125
width=64
height=32
overlayer=com_146

[com_117]
type=layer
x=128
y=63
width=64
height=32
overlayer=com_206

[com_118]
type=layer
x=64
y=94
width=64
height=32
overlayer=com_176

[com_119]
type=layer
x=128
y=94
width=64
height=32
overlayer=com_212

[com_120]
type=layer
x=64
y=125
width=64
height=32
overlayer=com_182

[com_121]
type=layer
x=128
y=125
width=64
height=32
overlayer=com_218

[com_122]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_123]
layer=com_122
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_124]
layer=com_122
type=text
x=6
y=7
width=56
height=14
font=p12
shadowed=yes
text=Attack XP:
colour=0xFFFF00

[com_125]
layer=com_122
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_126]
layer=com_122
type=text
x=66
y=7
width=15
height=14
script1op1=stat_xp,attack
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_127]
layer=com_122
type=text
x=86
y=23
width=15
height=14
script1op1=stat_xp_remaining,attack
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_128]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_129]
layer=com_128
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_130]
layer=com_128
type=text
x=6
y=7
width=70
height=14
font=p12
shadowed=yes
text=Strength XP:
colour=0xFFFF00

[com_131]
layer=com_128
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_132]
layer=com_128
type=text
x=77
y=7
width=15
height=14
script1op1=stat_xp,strength
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_133]
layer=com_128
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,strength
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_134]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_135]
layer=com_134
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_136]
layer=com_134
type=text
x=6
y=7
width=66
height=14
font=p12
shadowed=yes
text=Defence XP:
colour=0xFFFF00

[com_137]
layer=com_134
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_138]
layer=com_134
type=text
x=76
y=7
width=15
height=14
script1op1=stat_xp,defence
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_139]
layer=com_134
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,defence
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_140]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_141]
layer=com_140
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_142]
layer=com_140
type=text
x=6
y=7
width=63
height=14
font=p12
shadowed=yes
text=Ranged XP:
colour=0xFFFF00

[com_143]
layer=com_140
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_144]
layer=com_140
type=text
x=73
y=7
width=15
height=14
script1op1=stat_xp,ranged
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_145]
layer=com_140
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,ranged
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_146]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_147]
layer=com_146
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_148]
layer=com_146
type=text
x=6
y=7
width=54
height=14
font=p12
shadowed=yes
text=Prayer XP:
colour=0xFFFF00

[com_149]
layer=com_146
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_150]
layer=com_146
type=text
x=64
y=7
width=15
height=14
script1op1=stat_xp,prayer
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_151]
layer=com_146
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,prayer
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_152]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_153]
layer=com_152
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_154]
layer=com_152
type=text
x=6
y=7
width=51
height=14
font=p12
shadowed=yes
text=Magic XP:
colour=0xFFFF00

[com_155]
layer=com_152
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_156]
layer=com_152
type=text
x=60
y=7
width=15
height=14
script1op1=stat_xp,magic
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_157]
layer=com_152
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,magic
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_158]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_159]
layer=com_158
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_160]
layer=com_158
type=text
x=6
y=7
width=70
height=14
font=p12
shadowed=yes
text=Hitpoints XP:
colour=0xFFFF00

[com_161]
layer=com_158
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_162]
layer=com_158
type=text
x=80
y=7
width=15
height=14
script1op1=stat_xp,hitpoints
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_163]
layer=com_158
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,hitpoints
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_164]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_165]
layer=com_164
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_166]
layer=com_164
type=text
x=6
y=7
width=53
height=14
font=p12
shadowed=yes
text=Agility XP:
colour=0xFFFF00

[com_167]
layer=com_164
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_168]
layer=com_164
type=text
x=64
y=7
width=15
height=14
script1op1=stat_xp,agility
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_169]
layer=com_164
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,agility
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_170]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_171]
layer=com_170
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_172]
layer=com_170
type=text
x=6
y=7
width=67
height=14
font=p12
shadowed=yes
text=Herblore XP:
colour=0xFFFF00

[com_173]
layer=com_170
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_174]
layer=com_170
type=text
x=76
y=7
width=15
height=14
script1op1=stat_xp,herblore
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_175]
layer=com_170
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,herblore
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_176]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_177]
layer=com_176
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_178]
layer=com_176
type=text
x=6
y=7
width=65
height=14
font=p12
shadowed=yes
text=Thieving XP:
colour=0xFFFF00

[com_179]
layer=com_176
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_180]
layer=com_176
type=text
x=76
y=7
width=15
height=14
script1op1=stat_xp,thieving
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_181]
layer=com_176
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,thieving
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_182]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_183]
layer=com_182
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_184]
layer=com_182
type=text
x=6
y=7
width=64
height=14
font=p12
shadowed=yes
text=Crafting XP:
colour=0xFFFF00

[com_185]
layer=com_182
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_186]
layer=com_182
type=text
x=72
y=7
width=15
height=14
script1op1=stat_xp,crafting
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_187]
layer=com_182
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,crafting
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_188]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_189]
layer=com_188
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_190]
layer=com_188
type=text
x=6
y=7
width=69
height=14
font=p12
shadowed=yes
text=Fletching XP:
colour=0xFFFF00

[com_191]
layer=com_188
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_192]
layer=com_188
type=text
x=80
y=7
width=15
height=14
script1op1=stat_xp,fletching
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_193]
layer=com_188
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,fletching
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_194]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_195]
layer=com_194
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_196]
layer=com_194
type=text
x=6
y=7
width=55
height=14
font=p12
shadowed=yes
text=Mining XP:
colour=0xFFFF00

[com_197]
layer=com_194
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_198]
layer=com_194
type=text
x=64
y=7
width=15
height=14
script1op1=stat_xp,mining
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_199]
layer=com_194
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,mining
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_200]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_201]
layer=com_200
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_202]
layer=com_200
type=text
x=6
y=7
width=69
height=14
font=p12
shadowed=yes
text=Smithing XP:
colour=0xFFFF00

[com_203]
layer=com_200
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_204]
layer=com_200
type=text
x=80
y=7
width=15
height=14
script1op1=stat_xp,smithing
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_205]
layer=com_200
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,smithing
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_206]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_207]
layer=com_206
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_208]
layer=com_206
type=text
x=6
y=7
width=59
height=14
font=p12
shadowed=yes
text=Fishing XP:
colour=0xFFFF00

[com_209]
layer=com_206
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_210]
layer=com_206
type=text
x=68
y=7
width=15
height=14
script1op1=stat_xp,fishing
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_211]
layer=com_206
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,fishing
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_212]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_213]
layer=com_212
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_214]
layer=com_212
type=text
x=6
y=7
width=66
height=14
font=p12
shadowed=yes
text=Cooking XP:
colour=0xFFFF00

[com_215]
layer=com_212
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_216]
layer=com_212
type=text
x=76
y=7
width=15
height=14
script1op1=stat_xp,cooking
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_217]
layer=com_212
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,cooking
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_218]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_219]
layer=com_218
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_220]
layer=com_218
type=text
x=6
y=7
width=81
height=14
font=p12
shadowed=yes
text=Firemaking XP:
colour=0xFFFF00

[com_221]
layer=com_218
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_222]
layer=com_218
type=text
x=92
y=7
width=15
height=14
script1op1=stat_xp,firemaking
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_223]
layer=com_218
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,firemaking
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_224]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_225]
layer=com_224
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_226]
layer=com_224
type=text
x=6
y=7
width=90
height=14
font=p12
shadowed=yes
text=Woodcutting XP:
colour=0xFFFF00

[com_227]
layer=com_224
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_228]
layer=com_224
type=text
x=100
y=7
width=15
height=14
script1op1=stat_xp,woodcutting
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_229]
layer=com_224
type=text
x=84
y=23
width=15
height=14
script1op1=stat_xp_remaining,woodcutting
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_230]
type=layer
x=0
y=186
width=193
height=36

[com_231]
layer=com_230
type=graphic
x=-1
y=0
width=36
height=36
graphic=miscgraphics,4

[com_232]
layer=com_230
type=graphic
x=29
y=0
width=36
height=36
graphic=miscgraphics,5

[com_233]
layer=com_230
type=graphic
x=5
y=5
width=25
height=25
graphic=staticons2,0

[com_234]
layer=com_230
type=layer
x=1
y=1
width=64
height=32
overlayer=com_237

[com_235]
layer=com_230
type=text
x=33
y=5
width=15
height=12
script1op1=stat_level,runecraft
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_236]
layer=com_230
type=text
x=45
y=17
width=15
height=12
script1op1=stat_base_level,runecraft
center=yes
font=p11
shadowed=yes
text=%1
colour=0xFFFF00

[com_237]
type=layer
x=2
y=216
width=183
height=43
hide=yes

[com_238]
layer=com_237
type=rect
x=4
y=7
width=174
height=32
fill=yes

[com_239]
layer=com_237
type=text
x=6
y=7
width=77
height=14
font=p12
shadowed=yes
text=Runecraft XP:
colour=0xFFFF00

[com_240]
layer=com_237
type=text
x=6
y=23
width=74
height=14
font=p12
shadowed=yes
text=Next Level At:
colour=0xFFFF00

[com_241]
layer=com_237
type=text
x=85
y=7
width=15
height=14
script1op1=stat_xp,runecraft
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_242]
layer=com_237
type=text
x=88
y=23
width=15
height=14
script1op1=stat_xp_remaining,runecraft
font=p12
shadowed=yes
text=%1
colour=0xFFFF00
