[com_0]
type=graphic
x=14
y=80
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=412
y=46
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=361
y=45
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=274
y=45
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=187
y=45
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=100
y=45
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=13
y=45
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=409
y=232
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=272
y=231
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=359
y=235
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=185
y=235
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=98
y=233
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=12
y=231
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=42
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=86
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=122
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=158
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=194
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_36]
type=graphic
x=479
y=229
width=36
height=36
graphic=steelborder2,1

[com_37]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_38]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_40]
type=model
x=31
y=49
width=437
height=242
zoom=606
xan=1551
yan=1020

[com_41]
type=graphic
x=55
y=274
width=36
height=36
graphic=miscgraphics,3

[com_42]
type=graphic
x=125
y=274
width=36
height=36
graphic=miscgraphics,3

[com_43]
type=graphic
x=160
y=274
width=36
height=36
graphic=miscgraphics,3

[com_44]
type=graphic
x=195
y=274
width=36
height=36
graphic=miscgraphics,3

[com_45]
type=graphic
x=230
y=274
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=265
y=274
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=300
y=274
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=335
y=274
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=370
y=274
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=405
y=274
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=-3
y=230
width=36
height=36
graphic=miscgraphics,2

[com_52]
type=graphic
x=90
y=274
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=71
y=27
width=36
height=36
graphic=steelborder2,0

[com_54]
type=graphic
x=106
y=27
width=36
height=36
graphic=steelborder2,0

[com_55]
type=graphic
x=141
y=27
width=36
height=36
graphic=steelborder2,0

[com_56]
type=graphic
x=176
y=27
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=211
y=27
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=246
y=27
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=281
y=27
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=316
y=27
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=479
y=61
width=36
height=36
graphic=steelborder2,1

[com_62]
type=graphic
x=351
y=27
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=386
y=27
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=-3
y=67
width=36
height=36
graphic=miscgraphics,2

[com_65]
type=graphic
x=421
y=27
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=248
y=64
width=36
height=36
graphic=steelborder2,0

[com_67]
type=graphic
x=36
y=27
width=36
height=36
graphic=steelborder2,0

[com_68]
type=graphic
x=20
y=274
width=36
height=36
graphic=miscgraphics,3

[com_69]
type=graphic
x=475
y=42
width=25
height=30
graphic=steelborder,1

[com_70]
type=graphic
x=456
y=27
width=36
height=36
graphic=steelborder2,0

[com_71]
type=graphic
x=475
y=265
width=25
height=30
graphic=steelborder,3

[com_72]
type=graphic
x=440
y=274
width=36
height=36
graphic=miscgraphics,3

[com_73]
type=text
x=421
y=54
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[com_74]
type=graphic
x=283
y=64
width=36
height=36
graphic=steelborder2,0

[com_75]
type=graphic
x=318
y=64
width=36
height=36
graphic=steelborder2,0

[com_76]
type=graphic
x=353
y=64
width=36
height=36
graphic=steelborder2,0

[com_77]
type=graphic
x=388
y=64
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=423
y=64
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=458
y=64
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=213
y=64
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=178
y=64
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=143
y=64
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=108
y=64
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=73
y=64
width=36
height=36
graphic=steelborder2,0

[com_85]
type=graphic
x=12
y=265
width=25
height=30
graphic=steelborder,2

[com_86]
type=graphic
x=38
y=64
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=17
y=64
width=36
height=36
graphic=steelborder2,0

[com_88]
type=text
x=42
y=127
width=438
height=26
center=yes
font=p12
shadowed=yes
text=Proceed with caution. If you go much further north you will enter the\nwilderness. This is a very dangerous area where other players can attack you!
colour=0xFFFFFF

[com_89]
type=text
x=206
y=55
width=102
height=17
center=yes
font=q8
shadowed=yes
text=WARNING !!!
colour=0xFF0000

[com_90]
type=text
x=45
y=171
width=423
height=26
center=yes
font=p12
shadowed=yes
text=The further north you go the more dangerous it becomes, but there is more\ntreasure to be found.
colour=0xFFFFFF

[com_91]
type=text
x=79
y=215
width=358
height=26
center=yes
font=p12
shadowed=yes
text=In the wilderness an indicator at the bottom-right of the screen\nwill show the current level of danger.
colour=0xFFFF00
