type=overlay

[com_0]
type=graphic
x=78
y=39
width=36
height=36
graphic=miscgraphics,2

[com_1]
type=graphic
x=78
y=68
width=36
height=36
graphic=miscgraphics,2

[com_2]
type=graphic
x=78
y=105
width=36
height=36
graphic=miscgraphics,2

[com_3]
type=graphic
x=78
y=146
width=36
height=36
graphic=miscgraphics,2

[com_4]
type=graphic
x=22
y=118
width=36
height=36
graphic=miscgraphics,2

[com_5]
type=graphic
x=22
y=154
width=36
height=36
graphic=miscgraphics,2

[com_6]
type=graphic
x=134
y=118
width=36
height=36
graphic=miscgraphics,2

[com_7]
type=graphic
x=134
y=154
width=36
height=36
graphic=miscgraphics,2

[com_8]
type=graphic
x=48
y=81
width=36
height=36
graphic=miscgraphics,3

[com_9]
type=graphic
x=107
y=81
width=36
height=36
graphic=miscgraphics,3

[com_10]
type=graphic
x=58
y=42
width=36
height=36
graphic=miscgraphics,3

[com_11]
type=graphic
x=112
y=41
width=36
height=36
graphic=miscgraphics,3

[com_12]
type=graphic
x=78
y=4
width=36
height=36
graphic=miscgraphics,0

[com_13]
type=graphic
x=37
y=43
width=36
height=36
graphic=miscgraphics,0

[com_14]
type=graphic
x=78
y=43
width=36
height=36
graphic=miscgraphics,0

[com_15]
type=graphic
x=119
y=43
width=36
height=36
graphic=miscgraphics,0

[com_16]
type=graphic
x=22
y=82
width=36
height=36
graphic=miscgraphics,0

[com_17]
type=graphic
x=78
y=82
width=36
height=36
graphic=miscgraphics,0

[com_18]
type=graphic
x=134
y=82
width=36
height=36
graphic=miscgraphics,0

[com_19]
type=graphic
x=78
y=122
width=36
height=36
graphic=miscgraphics,0

[com_20]
type=graphic
x=78
y=162
width=36
height=36
graphic=miscgraphics,0

[com_21]
type=graphic
x=22
y=162
width=36
height=36
graphic=miscgraphics,0

[com_22]
type=graphic
x=134
y=162
width=36
height=36
graphic=miscgraphics,0

[com_23]
type=layer
x=8
y=200
width=161
height=57
scroll=110

[com_24]
layer=com_23
type=rect
x=2
y=2
width=173
height=130
fill=yes

[com_25]
layer=com_23
type=text
x=10
y=3
width=64
height=11
center=yes
font=p11
shadowed=yes
text=Attack bonus
colour=0xFFFF00

[com_26]
layer=com_23
type=text
x=84
y=3
width=74
height=11
center=yes
font=p11
shadowed=yes
text=Defence bonus
colour=0xFFFF00

[stabattack]
layer=com_23
type=text
x=16
y=15
width=54
height=11
center=yes
font=p11
shadowed=yes
text=Stab: +120
colour=0x6B6F33

[slashattack]
layer=com_23
type=text
x=15
y=27
width=56
height=11
center=yes
font=p11
shadowed=yes
text=Slash:+120
colour=0x6B6F33

[crushattack]
layer=com_23
type=text
x=14
y=39
width=58
height=11
center=yes
font=p11
shadowed=yes
text=Crush:+120
colour=0x6B6F33

[magicattack]
layer=com_23
type=text
x=13
y=51
width=59
height=11
center=yes
font=p11
shadowed=yes
text=Magic: +120
colour=0x6B6F33

[rangeattack]
layer=com_23
type=text
x=12
y=63
width=62
height=15
center=yes
font=p11
shadowed=yes
text=Range: +120
colour=0x6B6F33

[stabdefence]
layer=com_23
type=text
x=96
y=15
width=54
height=11
center=yes
font=p11
shadowed=yes
text=Stab: +120
colour=0x6B6F33

[slashdefence]
layer=com_23
type=text
x=93
y=27
width=59
height=11
center=yes
font=p11
shadowed=yes
text=Slash: +120
colour=0x6B6F33

[crushdefence]
layer=com_23
type=text
x=92
y=39
width=61
height=11
center=yes
font=p11
shadowed=yes
text=Crush: +120
colour=0x6B6F33

[magicdefence]
layer=com_23
type=text
x=92
y=51
width=59
height=11
center=yes
font=p11
shadowed=yes
text=Magic: +120
colour=0x6B6F33

[rangedefence]
layer=com_23
type=text
x=91
y=63
width=62
height=11
center=yes
font=p11
shadowed=yes
text=Range: +120
colour=0x6B6F33

[com_37]
layer=com_23
type=text
x=48
y=80
width=73
height=11
center=yes
font=p11
shadowed=yes
text=Other bonuses
colour=0xFFFF00

[strengthbonus]
layer=com_23
type=text
x=9
y=92
width=75
height=11
center=yes
font=p11
shadowed=yes
text=Strength: +120
colour=0x6B6F33

[prayerbonus]
layer=com_23
type=text
x=90
y=92
width=66
height=11
center=yes
font=p11
shadowed=yes
text=Prayer: +120
colour=0x6B6F33

[com_40]
type=rect
x=8
y=200
width=161
height=57
colour=0x726451

[com_41]
type=rect
x=9
y=201
width=161
height=55
colour=0x726451

[com_42]
type=rect
x=9
y=201
width=161
height=56
colour=0x2E2B23

[wear]
type=inv
x=24
y=44
width=3
height=5
margin=24,8
slot1=wornicons,0:56,-38
slot2=wornicons,1:-41,1
slot3=wornicons,2:-56,1
slot4=wornicons,3
slot5=wornicons,5
slot6=wornicons,6
slot8=wornicons,7
slot10=wornicons,8
slot11=wornicons,9
slot12=:-55,40
slot13=wornicons,4:112,-40
slot14=wornicons,10:41,-159
option1=Remove
