type=overlay

[prayer_thickskin]
type=graphic
x=19
y=6
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_thickskin
script1=eq,1
activegraphic=prayerglow,0

[prayer_strengthburst]
type=graphic
x=79
y=6
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_strengthburst
script1=eq,1
activegraphic=prayerglow,0

[prayer_clarity]
type=graphic
x=139
y=6
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_clarity
script1=eq,1
activegraphic=prayerglow,0

[prayer_rockskin]
type=graphic
x=19
y=42
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_rockskin
script1=eq,1
activegraphic=prayerglow,0

[prayer_superhumanstrength]
type=graphic
x=79
y=42
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_superhumanstrength
script1=eq,1
activegraphic=prayerglow,0

[prayer_improvedreflexes]
type=graphic
x=139
y=42
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_improvedreflexes
script1=eq,1
activegraphic=prayerglow,0

[prayer_rapidrestore]
type=graphic
x=19
y=78
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_rapidrestore
script1=eq,1
activegraphic=prayerglow,0

[prayer_rapidheal]
type=graphic
x=79
y=78
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_rapidheal
script1=eq,1
activegraphic=prayerglow,0

[prayer_protectitems]
type=graphic
x=139
y=78
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_protectitems
script1=eq,1
activegraphic=prayerglow,0

[prayer_steelskin]
type=graphic
x=19
y=114
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_steelskin
script1=eq,1
activegraphic=prayerglow,0

[prayer_ultimatestrength]
type=graphic
x=79
y=114
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_ultimatestrength
script1=eq,1
activegraphic=prayerglow,0

[prayer_incrediblereflexes]
type=graphic
x=139
y=114
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_incrediblereflexes
script1=eq,1
activegraphic=prayerglow,0

[prayer_protectfrommagic]
type=graphic
x=19
y=150
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_protectfrommagic
script1=eq,1
activegraphic=prayerglow,0

[prayer_protectfrommissiles]
type=graphic
x=79
y=150
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_protectfrommissiles
script1=eq,1
activegraphic=prayerglow,0

[prayer_protectfrommelee]
type=graphic
x=139
y=150
buttontype=toggle
width=34
height=34
script1op1=pushvar,prayer_protectfrommelee
script1=eq,1
activegraphic=prayerglow,0

[com_15]
type=layer
x=3
y=178
width=186
height=88

[com_16]
type=rect
x=6
y=187
width=178
height=72
colour=0x726451

[com_17]
type=rect
x=7
y=188
width=176
height=70
colour=0x726451

[com_18]
type=rect
x=7
y=188
width=177
height=71
colour=0x2E2B23

[com_19]
type=rect
x=8
y=189
width=174
height=68
fill=yes

[com_20]
type=graphic
x=21
y=8
width=30
height=30
overlayer=com_37
script1op1=stat_base_level,prayer
script1=gt,0
graphic=prayeroff,0
activegraphic=prayeron,0

[com_21]
type=graphic
x=81
y=8
width=30
height=30
overlayer=com_41
script1op1=stat_base_level,prayer
script1=gt,3
graphic=prayeroff,1
activegraphic=prayeron,1

[com_22]
type=graphic
x=141
y=8
width=30
height=30
overlayer=com_45
script1op1=stat_base_level,prayer
script1=gt,6
graphic=prayeroff,2
activegraphic=prayeron,2

[com_23]
type=graphic
x=21
y=44
width=30
height=30
overlayer=com_49
script1op1=stat_base_level,prayer
script1=gt,9
graphic=prayeroff,3
activegraphic=prayeron,3

[com_24]
type=graphic
x=81
y=44
width=30
height=30
overlayer=com_53
script1op1=stat_base_level,prayer
script1=gt,12
graphic=prayeroff,4
activegraphic=prayeron,4

[com_25]
type=graphic
x=141
y=44
width=30
height=30
overlayer=com_57
script1op1=stat_base_level,prayer
script1=gt,15
graphic=prayeroff,5
activegraphic=prayeron,5

[com_26]
type=graphic
x=21
y=80
width=30
height=30
overlayer=com_61
script1op1=stat_base_level,prayer
script1=gt,18
graphic=prayeroff,6
activegraphic=prayeron,6

[com_27]
type=graphic
x=81
y=80
width=30
height=30
overlayer=com_65
script1op1=stat_base_level,prayer
script1=gt,21
graphic=prayeroff,7
activegraphic=prayeron,7

[com_28]
type=graphic
x=141
y=80
width=30
height=30
overlayer=com_69
script1op1=stat_base_level,prayer
script1=gt,24
graphic=prayeroff,8
activegraphic=prayeron,8

[com_29]
type=graphic
x=21
y=116
width=30
height=30
overlayer=com_73
script1op1=stat_base_level,prayer
script1=gt,27
graphic=prayeroff,9
activegraphic=prayeron,9

[com_30]
type=graphic
x=81
y=116
width=30
height=30
overlayer=com_77
script1op1=stat_base_level,prayer
script1=gt,30
graphic=prayeroff,10
activegraphic=prayeron,10

[com_31]
type=graphic
x=141
y=116
width=30
height=30
overlayer=com_81
script1op1=stat_base_level,prayer
script1=gt,33
graphic=prayeroff,11
activegraphic=prayeron,11

[com_32]
type=graphic
x=21
y=152
width=30
height=30
overlayer=com_85
script1op1=stat_base_level,prayer
script1=gt,36
graphic=prayeroff,12
activegraphic=prayeron,12

[com_33]
type=graphic
x=81
y=152
width=30
height=30
overlayer=com_89
script1op1=stat_base_level,prayer
script1=gt,39
graphic=prayeroff,13
activegraphic=prayeron,13

[com_34]
type=graphic
x=141
y=152
width=30
height=30
overlayer=com_93
script1op1=stat_base_level,prayer
script1=gt,42
graphic=prayeroff,14
activegraphic=prayeron,14

[com_35]
type=text
x=8
y=223
width=174
height=14
script1op1=stat_level,prayer
script2op1=stat_base_level,prayer
center=yes
font=p12
text=Prayer: %1/%2
colour=0xFFFF00

[com_36]
type=graphic
x=83
y=192
width=25
height=25
graphic=staticons,4

[com_37]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_38]
layer=com_37
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_39]
layer=com_37
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 1\nThick Skin
colour=0xFFFF00

[com_40]
layer=com_37
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=Increases your defence by 5%
colour=0x6B6F33

[com_41]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_42]
layer=com_41
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_43]
layer=com_41
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 4\nBurst of Strength
colour=0xFFFF00

[com_44]
layer=com_41
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=Increases your strength by 5%
colour=0x6B6F33

[com_45]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_46]
layer=com_45
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_47]
layer=com_45
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 7\nClarity of Thought
colour=0xFFFF00

[com_48]
layer=com_45
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=Increases your attack by 5%
colour=0x6B6F33

[com_49]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_50]
layer=com_49
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_51]
layer=com_49
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 10\nRock Skin
colour=0xFFFF00

[com_52]
layer=com_49
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=Increases your defence by 10%
colour=0x6B6F33

[com_53]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_54]
layer=com_53
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_55]
layer=com_53
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 13\nSuperhuman Strength
colour=0xFFFF00

[com_56]
layer=com_53
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=Increases your strength by 10%
colour=0x6B6F33

[com_57]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_58]
layer=com_57
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_59]
layer=com_57
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 16\nImproved Reflexes
colour=0xFFFF00

[com_60]
layer=com_57
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=Increases your attack by 10%
colour=0x6B6F33

[com_61]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_62]
layer=com_61
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_63]
layer=com_61
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 19\nRapid Restore
colour=0xFFFF00

[com_64]
layer=com_61
type=text
x=3
y=41
width=174
height=20
center=yes
font=p11
shadowed=yes
text=2x restore rate for all stats\nexcept hitpoints and prayer
colour=0x6B6F33

[com_65]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_66]
layer=com_65
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_67]
layer=com_65
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 22\nRapid Heal
colour=0xFFFF00

[com_68]
layer=com_65
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=2x restore rate for hitpoints stat
colour=0x6B6F33

[com_69]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_70]
layer=com_69
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_71]
layer=com_69
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 25\nProtect Items
colour=0xFFFF00

[com_72]
layer=com_69
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=Keep 1 extra item if you die
colour=0x6B6F33

[com_73]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_74]
layer=com_73
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_75]
layer=com_73
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 28\nSteel Skin
colour=0xFFFF00

[com_76]
layer=com_73
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=Increases your defence by 15%
colour=0x6B6F33

[com_77]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_78]
layer=com_77
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_79]
layer=com_77
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 31\nUltimate Strength
colour=0xFFFF00

[com_80]
layer=com_77
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=Increases your strength by 15%
colour=0x6B6F33

[com_81]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_82]
layer=com_81
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_83]
layer=com_81
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 34\nIncredible Reflexes
colour=0xFFFF00

[com_84]
layer=com_81
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=Increases your attack by 15%
colour=0x6B6F33

[com_85]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_86]
layer=com_85
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_87]
layer=com_85
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 37\nProtect from Magic
colour=0xFFFF00

[com_88]
layer=com_85
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=Protection from magical attacks
colour=0x6B6F33

[com_89]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_90]
layer=com_89
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_91]
layer=com_89
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 40\nProtect From Missiles
colour=0xFFFF00

[com_92]
layer=com_89
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=Protection from ranged attacks
colour=0x6B6F33

[com_93]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_94]
layer=com_93
type=rect
x=3
y=5
width=174
height=68
fill=yes

[com_95]
layer=com_93
type=text
x=3
y=8
width=174
height=26
center=yes
font=p12
shadowed=yes
text=Level 43\nProtect from Melee
colour=0xFFFF00

[com_96]
layer=com_93
type=text
x=3
y=41
width=174
height=11
center=yes
font=p11
shadowed=yes
text=Protection from close attacks
colour=0x6B6F33
