<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Lores and Histories of RuneScape</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock' class=c>Library Of Varrock</a><br><a href='/varrock/histories' class=c>Histories Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<b><u>THE LEGEND OF ARRAV<br></b></u>
<i>Anonymous author, reprinted from the scroll named</i><br>
<b>Arrav Of Avarrocka, The Hero Of Men</b><br>
<i>Original date of writing unknown.</i></center>
<p align=justify>
<u><h4>Childhood Of A Hero</h4></u>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratel.gif' width=100 height=100 align=top></td><td>
<p align=justify>egend tells us that one day a mighty hero was born near the town we now call Varrock. But no record of his birth or parents were ever found. 
<br>For a wandering group of travellers seeking sanctuary from the Goblins and Ogres that did infest the land did find a human child while following a river on a day when both sun and moon were in the sky at the same time. </td></tr></table></center>
For the child was unusually tall for one so young, with dark eyes and a fierce countenance, yet fair hair and skin, and a kind smile. The elders of the group did see this child as a good omen, and decided that they should set up camp at this place, and did name their camp Avarrocka. The child was brought into the camp, and raised as their own child, and they did teach him how to hunt, and how to farm, and how to kill, for the times of legend were harsher than they are today.
<p align=justify>
And the tribes greatest hunter did teach the young men of the tribe the skills of hunting. He taught them the skill of silence, and of the parts of animals that caused sickness and should be removed before eating, and where to stand in wind and streams so that animals could not detect the hunters presence, and of tracking the prey through examining the forests through which they moved.
And the child was more gifted than the rest of the young adults, as well as standing a good head taller, and when the time came for the young men to hunt their first animals alone, the child did bring back to the camp a large stag, with fair white skin and deep red eyes, and the elders saw this as a good omen.
<p align=justify>
And the tribes greatest farmer did teach the young men of the importance of farming well, and of the times of the calendar that seeds would grow best in, and of the changes in the clouds that showed how crops would grow, and of growing certain crops together to prevent the spouting foods from being consumed by the birds, and by the pests of the land. And when it came for the crops to be harvested, all were awed by the height of the childs grain, and the succulence of his fruits, and the elders saw that this was a good omen for the village.
<p align=justify>
And when the tribes mightiest warrior taught the young men how to fight, all were amazed at the prowess of the child, for he moved as though he had been born with a sword drawn, and his strength and speed were equal to men twice his size and age. And the elders of the village saw how fortunate they were that such a mighty warrior should have been delivered unto them.
<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratea.gif' width=100 height=100 align=top></td><td>
nd so came the Tenth year after finding the child, and by all reckonings they took the child to be around 12 years old, yet the child was still unnamed. So the elders decided to send the child on a quest to find a name, for they would not be able to call the young man 'Child' for much longer. And they did say unto him <i>"go forth, and bring back a name that your people may know you as"</i> </td></tr></table></center>and so the child left the village by himself for the first time since he had been found there.<p>
And the child wandered far, following the rivers and hills and clouds and stars to find his name. And after a number of days, he did come upon an encampment of Goblins who had discovered the village of Avarrocka, and did plan to make it their own with a nightfall attack. And as the goblins saw him, they screamed at him in their own language <i>"arrav"</i> as they attacked him. And they screamed <i>"arrav"</i> louder as he bested them, by individuals and by groups, until they all lay dead or defeated. 
<p align=justify>
So The child returned to Avarrocka, and the elders asked him if he had found his name yet. And the child recounted the tale of the goblin camp, and how their treacherous plans had been thwarted by his luck in finding them, and his skill in combatting them. And one of the wisemen said to him:
<br><i>"Your name Child is now Arrav, for that is the name the fates have given you. It is a curse word in the Goblin tongue. The fates have decided your true name to be a curse upon Goblins, for that is what you truly are"</i> 
<br>and all agreed that it was a good name, and much rejoicing was had for the village had been spared by the actions of Arrav.
<p align=justify>
and as Arrav grew, so too did the village of Avarrocka, for it was situated on fertile land, and it became prosperous. As the tales of Arravs defeat of the Goblins spread amongst both humans and goblins, the village grew larger, as humans came to live there in peace, and Goblins stayed away, for they were fearful of Arrav, the Curse of Goblins.
<center><img src='/img/newsletter/smstones.jpg'></center><p align=center>
<a href='arravtales2' class=c>The Legend of Arrav - Part 2</a><p>
<center><img src='/img/newsletter/smstones.jpg'></center><p>
</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</td>
</tr>
</table>
</body>
</html>
