<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>
<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Lores and Histories of RuneScape</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock' class=c>Library Of Varrock</a><br><a href='/varrock/histories' class=c>Histories Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<b><u>THE LEGEND OF ARRAV<br></b></u>
<i>Anonymous author, reprinted from the scroll named</i><br>
<b>Arrav Of Avarrocka, The Hero Of Men</b><br>
<i>Original date of writing unknown.</i></center>
<p align=justify>
<u><h4>A Curse In The Land Of Dreams</h4></u>
<p align=justify>
<table><tr><td></center>
<img src=/img/varrock/elaborate/elaboratea.gif width=100 height=100 align=top></td><td>nd one night, as Arrav visited the Land of Dreams, he encountered a man dressed all in Black, with pale skin, and dark of countenance. And although Arrav knew himself to be in the Land of Dreams, where things cannot be trusted to be what they appear, this man was different from the other travellers he had encountered, and spoke to him by name;</td></tr></table></center>
<i>"I know you Arrav of Avarrocka, Curse of Goblins, Hunter of the White Stag, Child of Sun and Moon. I know you, and I do not fear you. 
<br>I am Zemouregal of the Mahjarrat tribe, and this land is mine for the taking. 
<br>I have seen our futures, for they are entwined together, and it ends with your utter defeat at my hand. 
<br>You will serve me eternally as a slave, and the town you love so much will be destroyed at your own hand."</i>
<p align=justify>
And when Arrav awoke, he was much afeared, for he knew not how he could face an enemy that could challenge him in the Land of Dreams, and make him remember the events of Dream, that normally passed with the first hours of awakening, so Arrav went to consult the elders. 
<br>The elders of the tribe could not explain to Arrav how such a man could appear to him in the Land of Dream, and were sorely troubled. 
<p align=justify>
For 7 days and nights the elders discussed Arravs encounter in the Land of Dreams, and all agreed that it was a bad omen, and that Arrav could not remain in Avarrocka for fear of destruction befalling the town that it had now become. So they decided that Arrav must be sent on a quest that he could never complete so as to spare their town the wrath of the mysterious darkly dressed man. Yet Arravs strength and wisdom meant that any normal quest could not be given, as he could easily defeat any enemy and fetch any item.
<p align=justify>
Then on the seventh night, the eldest of the elders spoke up. He had a dimly remembered memory from his youth of tales of a fabulous shield that did not belong to this world, and that was strong against nearly every attack, but whose whereabouts were unknown. When the other elders heard of this tale they were puzzled, for none of them had ever heard such a tale, and they wondered how the old man could remember such a distant memory so clearly. And in truth, the elder himself could not explain how this memory had come to him so clearly while he had slept, yet all agreed this was the perfect quest to remove Arrav from Avarrocka and protect it from the harm they feared would befall it.
<p align=justify>
<u><h4>An Encounter Most Strange</h4></u>
<p align=justify>
<table><tr><td></center>
<img src=/img/varrock/elaborate/elaboratea.gif width=100 height=100 align=top></td><td>nd so it came to pass that the elders of Avarrocka told Arrav of this shield, and that it would be necessary for the protection of the town, and Arrav agreed, and began to make ready his equipment for the quest. Along with the sword he had been given when training as a child, he brought enough bread and cooked meat to last him seven days in the lands outside of Avarrocka, where men feared to venture, and set out of the confines of the town and into the lands outside.</td></tr></table></center>
<p align=justify>
Arrav had not travelled far West, when he came upon a strange house, surrounded by mist. Wondering what kind of being would abide in such a place, yet being unafraid, he entered the house to meet three men inside sitting arguing at a table. The argument was a passionate one, and they took no notice of Arrav as he entered their house.
The language they spoke was strange and unfamiliar, yet somehow he could understand what they were arguing about, and it seemed to be about the ownership of the house they were standing in. The argument did not seem to make much sense to him, but the first man was apparently complaining how the others had crept in while he was asleep, and that they had stolen the house he had made for himself.
<p align=justify>
Arrav wondered what the man meant by the others, but noticed a number of smaller figures, almost too small to notice, huddled around the shadows of the table chittering to each other almost below his hearing. The noises and speech of the place concerned Arrav, and he decided to continue on his way leaving this strange house behind him, for the things he had seen did trouble him greatly. Arrav headed West again, with the sounds of argument continuing behind him until he could hear them no longer.
<p align=justify>
<u><h4>A Meeting With The Imcando</h4></u>
<p align=justify>
<table><tr><td></center>
<img src=/img/varrock/elaborate/elaboratet.gif width=100 height=100 align=top></td><td>he journey continued, for many miles as Arrav wandered through the countryside seeking those who knew of the shield which he sought, across a mighty river that flowed seemingly entirely from the north to the south as far as he could see and close to a towering and icebound mountain. At the foot of this icey mountains Arrav did encounter a race he had never seen before; they looked like men,</td></tr></table></center>yet were far shorter, and they seemed unafraid of Arrav as he approached them.
<p align=justify>
He spoke to them of the shield which he saught, and although they denied any knowledge of such an item, he could see in their eyes a guardedness, that made him suspect of the truth of their claims. Arrav stood tall, and asked them who they were, and they spake unto him 
<br><i>"We are of the clan Imcando, known far and wide for our skills with weaponry"</i> 
<br>and seemed puzzled that he had no recognition of them. Sure that the dwarves knew more of the shield which he sought than they admitted, Arrav decided to stay with them and gain their trust, and perhaps learn more of the whereabouts of the shield which he had pledged to find.
<p align=justify>
Many moons passed, as Arrav stayed amongst the dwarves, and eventually the leader of the Imcandos summoned Arrav to him.
<p align=justify>
<i>"Your ways are strange to us Arrav of Avvarroka, yet we see the honour with which you carry yourself. When first you came amongst us you spoke of a mighty shield of which you seek. </i>
<table><tr><td></center>
<img src=/img/varrock/elaborate/elaboratew.gif width=100 height=100 align=top></td><td><i>e know you suspect us of having knowledge of such an item, and that is why you have remained here. We have offered you our hospitality, and as we have come to know you we have seen you to be a man of honour, so speak now of why you search for this item, for it is one of our greatest treasures and we cannot allow it to fall into the hands of the undeserving."</i> </td></tr></table></center>
Arrav spoke of his encounter with the darkly dressed man in the Land of Dreams, and at the mention of the name Zemouregal he saw a dark shadow fall across the countenance of the elder.
<p align=justify><i>
"we know of this being who calls himself Zemouregal. For many years he has attempted to gain control of this shield, for it is a mighty artifact that will bring him great power against all races should he gain possession of it. Long ago we vowed that this must never happen, for we dwarves have memories of the time when Gods walked this land, and do not wish to see such devestation return to our fair world. Although we know you to be a man of great honour and courage, you cannot defeat Zemouregal, and we must never allow him the chance to gain control of such a powerful object. I fear that he has manipulated you and those you obey, and must ask you to leave as your continued presence here serves only to alert him to our settlement"</i>
<p align=justify>
Arravs heart was filled with sadness at these words, for he had become accustomed to spending time with the Imcando and learning their ways of mining and smithing, yet he knew the wisdom of these words. As the dwarf spoke them to him, he realised too why the elders of Avarrocka had sent him on this quest, for their fears were the same as the Imcandos, that Arrav could bring nothing but harm to them whilst staying in such a place. with a strange weariness in his heart Arrav continued on his quest, for he knew that he must find the shield which his elders saught whether he had the assistance of the Imcando or not.
<center><img src='/img/newsletter/smstones.jpg'></center><p align=center>
<i>Coming Soon...</i> <b>The Legend of Arrav - Part 3</b><p>
<center><img src='/img/newsletter/smstones.jpg'></center><p>
</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center>
</td>
</tr>
</table>
</body>
</html>