<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Lores and Histories of RuneScape</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock' class=c>Library Of Varrock</a><br><a href='/varrock/histories' class=c>Histories Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<p align=justify>
<u><h4>Gnomic Negotiations</h4></u>

<p align=justify>    
<table><tr><td></center>
<img src=/img/varrock/elaborate/elaboratei.gif width=100 height=100 align=top></td><td>n the  time before  the  Grand  Tree came  into being,
    the gnomes  were planning  to co-exist  with the humans.
    For if  you trace  humanity back   far enough,  you will
    find that these two  races share  a common  geneology. 
    Just  don't tell the humans that- they tend to be  a
    bit touchy about any comparisons with their   vertically
    challenged counterparts.</td></tr></table></center>
    The gnomes,   for their   part, are   touchy about  this
    touchiness.
<p align=justify>  
    "They  just  don't  like us  'cos  they  think we're
    short" said one gnome when questioned on this. 
<p align=justify>  
    "Which  is  wrong,  'cos  we're  not  short  at all.
    They're just too  tall. It's a  waste of perfectly  good
    skin."
<p align=justify>  
    Gnomes  have  always  been  sensitive  about   their
    height- or lack  of it, and  some say that  their famous
    sense of humour  is a defense  mechanism that is  bourne
    out of insecurity. 
<p align=justify>  
    We asked Dr.Darius  Gnomalus, Head of  Psychology at
    the  Gnome  Institute  of  Knowledge,  about  this.   He
    disagreed vehemently.
<p align=justify>  
    "You think I have to  make up for my lack  of height
    with cheap gags?  You're crazy as  a coconut. Us  gnomes
    can be very serious individuals you know."
<p align=justify>  
    It was at this point that Dr.Darius' head  exploded,
    sending tiny pieces of  gnome everywhere. I recoiled  in
    shock and  horror, wondering  how such  a terrible thing
    could have happened. Only then did I discover that  this
    was not the real Dr.Darius, but a synthetic model. 
<p align=justify>  
    The good  doctor now  appeared from  behind a potted
    plant, convulsing with laughter. 
<p align=justify>  
    "I'm  sorry, but  you should  have seen  your face.
    Absolutely priceless! And I'm a good ventiloquist,  yes?
    You bigguns are  so easy to  fool. Maybe the  air is too
    thin up there- not enough oxygen to the brain perhaps?"
<p align=justify>  
    I terminated the interview at this point.
<p align=justify>  
<table><tr><td></center>
<img src=/img/varrock/elaborate/elaboratea.gif width=100 height=100 align=top></td><td>nd it was only  after storming out in  disgust that
    it  suddenly  hit  me.  Maybe  the  problem  wasn't with
    gnomes, but  with humans.  Perhaps we  do take ourselves
    too seriously. Maybe it was time to put the humour  back
    into human.</td></tr></table></center>
    So I decided to  lighten the tension. I  resolved to
    buy a  custard pie,  and splat  it into  the face of the
    next gnome that I met- just to show that us bigguns  can
    have  fun too.  I would  forge a  new era  of gnome-man
    relations, by being an ambassador of silliness.
<p align=justify>  
    Which is exactly what I did. Arming myself with  the
    most custardy flan available,  I headed off towards  the
    Grand Tree. Standing  at the bottom  was a rather  funny
    -looking gnome, who was  obviously just minding his  own
    business. 
<p align=justify>  
    Having  found my  target, I  let fly  with the  pie,
    covering his gnomic features with a thick layer of gunk.
    At this point I then  burst out laughing, but the  gnome
    remained  eerily silent.  I thought  I'd better  explain
    myself.    
<p align=justify>  
    "I'm sorry friend, just having a bit of fun.  What's
    your name anyway?"
<p align=justify>  
    "Glough", replied the  gnome earnestly. "My  name is
    Glough."

</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</center>
</td>
</tr>
</table>
</body>
</html>