<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Lores and Histories of RuneScape</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock' class=c>Library Of Varrock</a><br><a href='/varrock/histories' class=c>Histories Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<i>Extracted From</i> <br>
<b>Ages of Man: The Rise Of Civilisation <br>
A Historical Study <br></b>
<i>by Solus Teppleton</i></center>
<p align=justify>
<i><h4>Introduction</h4></i>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratea.gif' width=100 height=100 align=top></td><td>
<p align=justify><i>
s a child wandering these fair lands we call RuneScape I was naturally curious of how things had come to be, and of how things are now, and thus was my thirst for the mysteries of RuneScape first discovered.
<br>But as I grew, I saw that few others followed my desires to know of our ancestors, and of the stories that have shaped the world in which we live, and I was dismayed.</i> </td></tr></table></center>
<i>And so I searched the world, taking gossip from where I could.
I ventured deep into dungeons and underground caves in search of the history of this world, so that we may all gain some insight into the present from the lessons of the past. 
<br>And as I quested for knowledge, I found that I was not the only one who desired to know of these tales after all.
<p align=justify>
Many of the noble families of Misthalin, Asgarnia and Kandarin also wanted to know of the tales of their ancestors who had brought them such wealth and nobility, and the Kings too were curious as to their glorious histories long since forgotten. 
<br>But the man whose endless devotion to recording and cataloguing the histories of our lands, and without whose help this tome would have been impossible is Reldo, the librarian of Varrock.<br>
Thus it is to him that this book is dedicated; for his research is the basis of much of this work, and I sincerely hope his efforts continue so that these chronicles can be more fully completed than I have been able to do in my own humble efforts.</i>

<u><h4>The First And Second Ages</h4></u>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaborated.gif' width=100 height=100 align=top></td><td>espite all of my efforts I have found nothing of historical evidence of these Two Ages. <br>
There are brief mentions of events in various religous texts I have had access to, but I must discount these as religous propaganda being a man of a scientific background. I also do not wish to offend the Church of Saradomin with some of the outrageous claims made in these texts.</td></tr></table></center>
I have heard disturbing tales from rival religions about the nature and behaviour of Saradomin at this time, which I suspect is merely propaganda for various different religions.<br> 
In any case, it would appear that the vast majority of tales I have discovered are parables and folk tales rather than histories, and therefore useless to a modern day scholar such as myself.

<u><h4>The Third Age</h4></u>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratea.gif' width=100 height=100 align=top></td><td>
s most scholars in Runescapian History are aware, little is known of the time period we call the 'third age'. 
The vast majority of recorded information is folklore tales from peasants and brief mentions in the family trees that survive of various noble families, and sadly very few artefacts from this time have been recovered.<br>The valiant efforts of the esteemed Archaelogical Society Members have come to naught,</td></tr></table></center>
but there are a few facts that seem indisputable from the research I have conducted, especially in the ancient archives section of the Library of Varrock. <p>
Possibly the reason for such lack of information is that there are numerous references to a war between the gods that very nearly killed us as a race until some unknown event caused there to be a ceasefire of sorts. 
<br>I am especially interested in obtaining more information about this age, and when this tome is complete this will be the area I will be investigating most thoroughly.<p>
I have repeatedly heard from different sources that there are ancient artifacts and unknown tales in the fabled land of Zanaris, although how much of this information I believe is questionable.
<br>As a man of science I am relatively confident that Zanaris does not exist and is just a trick by rogues to lead travellers into dangerous areas and then looting them. 
<br>I plan on confirming this for myself sometime in the future however.

<u><h4>The Fourth Age</h4></u>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratea.gif' width=100 height=100 align=top></td><td>
lthough actual details are scarce, I believe the passage from the third age to the fourth age is marked by whatever event caused the Gods to no longer conduct their wars and battles upon our soil directly.<br> 
The races of Man, devestated by wars, and creatures that thankfully no longer exist in our world, were scattered across the world into small groups. </td></tr></table></center>
Sadly, as is our nature, these groups competed with each other for the limited resources present, with many groups actively warring against other clans. 
<p>
It is my theory from examining various manuscripts and artifacts that the people of RuneScape were mostly of a Nomadic lifestyle.
They would settle in one area until all its resources were used up, and would then move on to a new site.
this would repeat monthly so that a meagre lifestyle was maintained with the travellers following the seasons around the world. <br>When two rival tribes were too close to each others settlement a war between the two would then ensue, with the victors either obliterating the other tribe, or absorbing them into their own tribe and increasing the size. 
The more peaceful tribes (tellingly, very few relics remain of such tribes) would sometimes merge with stronger tribes through marriage of their elders and leaders.
<p>
I believe for at least the first few hundred years of this age this was the predominant lifestyle of man, until all the smaller tribes were absorbed into larger tribes either through conquest or marriage. 
<br>Settlements became more permanent as skills such as farming and animal herding were developed, meaning the need for constant travelling was eliminated. 
<br>As the lifestyle of these people became more settled and less nomadic, aspects of modern day culture such as community and personal property began to emerge.
<br>Apparently there was a certain degree of specialisation with these more stable settlements too, as it became clear that the work needed could be split among the group, with some becoming farmers, some miners and so on.
<p>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratei.gif' width=100 height=100 align=top></td><td>
t was also around this time that metals mined from rocks began to be used effectively. 
<br>I have discovered early examples of metals taken from rocks that seemed to have been used as primitive jewlery and decorative ornaments, but there is a definite shift towards using them for tools and weapons as these permanent settlements began to appear.
</td></tr></table></center>This is perhaps unsurprising given the major threats faced to these tribes from other races, especially the Goblins and Dwarves, and indeed from other tribes.
<br>Also the concept of the calendar began to appear, as farming practices improved and the time of crop planting and havesting became more important now that these settlements could no longer simply move on to a new location when their resources were exhausted.
<p>
Another major advancement was the invention of leisure. 
<br>By having a permanent settlement and dividing the work amongst the tribe they now had time for themselves other than for working, sleeping and eating. 
<br>Within a period of approximately 25 years of these first permanent settlements being created, you begin to see the development of RuneScapes first real culture.
<br>Folklore and poems began to be written of great events in their lives.
<br>There were huge leaps in the quality of craftwork, from primitive chunks of metal and gems threaded together to brooches, pins, and ornamental weaponry, of considerable more skill. 
<br>Many of the techniques of modern crafting began to appear at this time.
<br>The weaponry developed in this period too is far closer to the smithed axes and swords of modern day RuneScape than the blunt objects and clubs that make up the artefacts of the Third Age.
<br>We as a race owe a lot to the developments made in this short period of time.
<p>
<u><h4>The Fifth Age</h4></u>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratea.gif' width=100 height=100 align=top></td><td>
lthough very hard to find specific dates for the events of the first 4 ages, the mark of the Fifth age is clearly marked by a certain unknown tribe from the northern wastes finding an unknown artifact that allowed the use of magic. 
Details of this discovery are very difficult to find, as it seems to have been a closely guarded secret.I have however found a small number of first hand accounts of this discovery, and the impact upon the people that resulted from it.</td></tr></table></center>
The major importance of this discovery was the manufacture of runestones, which as any modern reader will know are of vital importance to modern life, and the number of mages that walk amongst us is further proof.
<p>
This discovery effectively meant an end to the fear of Goblins and other races attacking these primitive settlements.
<br>A settlement could now be defended extrememly effectively with small numbers of warriors supported by mystical defences and attacks against most foes.
<br>It is in this Age that the main kingdoms of Misthalin, Kandarin and Asgarnia (to give them their modern names) were first formed as the major settlements became villages, and then began to be the mighty towns that we recognise today. 
Runestones were also traded amongst tribes, with evidence of runestones having been found everywhere from the state of Al Kharid to the island of Entrana.
<br>It has also been reported to me that runestones have been found in the deepest jungles of Karamja, showing how influential a discovery they were.
<br>A strategic alliance with the Dwarves was also formed at this time, and this can be seen as a golden age for mankind, with a mighty tower of magic built by these mages to study and enhance the abilities of the runestones that were now common place.
<p>
Unfortunately with no major threat to the settlements the people began to become decadent, with many of them becoming dissatisfied with the way things were run. 
<br>This in my belief is the reason why cults of Zamorak began to spring up around the world. 
<br>Possibly the best known event of this time was the treachery of the Zamorakian mages in destroying the mighty wizards tower - the destruction of the tower certainly seems to mark a turning point for the worse in the fortunes of mankind, and an end to the 'Golden Age'. 
<br>This event is covered in greater detail in various other accounts, and in contradictory ways, but there is clear evidence that there was definitely a wizards tower that was destroyed by fire. 
<br>Nobody seems to contradict the story that it was caused by Mages following the order of Zamorak, although the motives for this act are slightly unclear beyond any religous cause.<p>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratet.gif' width=100 height=100 align=top></td><td>
his act was followed by a massive backlash against Zamorakian followers, who had been tolerated (if not exactly welcomed) prior to the destruction of the wizards tower. 
<br>A number of holy crusades by Saradomin followers (such as the White Knights of Falador) were waged against all those suspected to hold Zamorakian beliefs. </td></tr></table></center>
The massive feeling of betrayal by Zamorakians in fact still continues to modern times, with very few areas that I have visited acknowledging or allowing Zamorakian symbols or worship. 
<p>
Not all of the people at this time were attacted to permanent settlements however. 
Some tribes and clans chose to retain their nomadic lifestyle and 'primitive' ways. 
<br>Modern day races call the descendants of these people 'barbarians' as they have not evolved to the same cultural degree as ourselves. 
<br>However, I spent many months among these peoples, and found them to be extremely welcoming to strangers who do not offend them (which is unfortunately all too easy).
<br>They are in fact a very cultural people with a very rich tradition of oral history. 
In fact, much of this tome I must offer thanks to these barbarians for, with their tales of the roles of their ancestors in their modern lives proved very useful in compiling this history.
<br>Also when they speak of events that occurred before the written traditions began to appear in the late 4th age, they have records of various heroes whose deeds would otherwise be forgotten. 
<br>I would urge any fellow historians interested in expanding upon this brief history I have produced to spend time with them and learn their ways, for they are the people we used to be, and the people we might be still if the runestones had not been discovered. 

</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</center>
</td>
</tr>
</table>
</body>
</html>