<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Lores and Histories of RuneScape</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock' class=c>Library Of Varrock</a><br><a href='/varrock/histories' class=c>Histories Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<b>Being A True and Concise History Of The Discovery of The Runes That Allow Magicks.</b>
<br>
<i>extract from</i><br> 
<b>"Conversations with a Mage by Samael Leynes"</b>
<p>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratet.gif' width=100 height=100 align=top></td><td>
<p align=justify>
he question had seemed simple enough, yet when asked the old man had looked at me with a strange mixture of pity and contempt when I had asked him where the runes that now shaped our daily lives hadst come from. I waited patiently for his answer, apparently ignoring the look upon his face, for I was sure that his previous eloquence and stories of the tales before mankind hadst entrusted myself to him.</td></tr></table></center>
Eventually, with a jarring choking cough, he began to speak to me of the Runes which had allowed man to use the Arts Of Magick to assist him.
<p align=justify><i>"As my time on this plane draws to an end, the treachery of the evil followers of Zamorak still burns within my heart and mind, as I know that such knowledges as those like me have gained will forever be lost to ye ages. I have not much time, yet must tell what I know concerning the Runes and the dangers that their treachery hast brought upon our fair world.
<p align=justify><table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratei.gif' width=100 height=100 align=top></td><td><i> am one of the few left alive who remember the time before we hadst the Runes, when man fought man for food, when there were no havens from the creatures that seek to destroy us as a race. Yea, I remember still the times before Man and Dwarves considered each other allies, and only the bravest of Heroes wouldst venture beneath the ground, lest he fall foul of the wrath of the Dwarves who hadst claimed that area as their own.</i></td></tr></table></center> 
I remember the old names of the Kingdoms, before they were kingdoms, of the Men who ruled before there were Kings. I remember how the discovery didst heal old wounds between families, didst make mankind safe in this world for the first time in our memories, and didst make even the humblest of men able to walk with a king as an equal... yes... I remember..."</i><p>
I didst await some small amount of time after these words, for I didst not wish to impose upon the old man too much, for we had talked at this inn for a long time of many things, which I have recounted to you in this humble tome dear reader, but I was obliged to hurry the old man, for it had been a long night already, and I didst fear for his health as he coughed heavily, and he didst seem to be lost in his own thoughts with my question. 
<br>I purchased another mug of ale from the innkeeper, and prompted the old man for an answer to my original query.
<p align=justify>
<i>"An answer you want is it boy? And you have fresh ale? Well, we will see... but thou must know in this world, that sometimes a simple question gets not a simple answer...
<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratei.gif' width=100 height=100 align=top></td><td><i> remember my father, a smith of the highest standing, first telling me as a boy that a Man from the North had madest a discovery of... 
well, there are some secrets I fear I must take to my grave in case they fall into the wrong hands. 
<br>Yet I will say this; this man of the North had found something of great importance that didst require a great deal of studying, and had bought some paltry supplies such as hammers and chisels from my father</i></td></tr></table></center> which is how he knew of it.<br>
Even as a young boy I hadst an interest in this world in which we dwell, and this discovery didst surprise me, and that night I stole away from my parents home in the land we now call Misthalin so that I mayst join this man in examining his findings.
What had he found? 
<br>Patience boy, I am coming to that, but I cannot reveal too much for evil walks this land, and if it knew all of the secrets which hadst been discovered all of man would suffer in ways thou canst not even imagine... let us just say, that this man from the North hadst discovered Magick.<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratei.gif' width=100 height=100 align=top></td><td>
<i> was not the only one who hadst come to see his discovery either. A group of people, perhaps 50 in number from all over this realm, and of all ages and tribes hadst heard similar rumours, and as consumed by curiosity as I hadst come to pledge ourselves to assist in discovering the secrets of this discovery.I cannot describe to you the awe and wonder we all felt when first the man from the north demonstrated the power he had discovered...</td></tr></table></center>
To strike a foe with a mighty gust of wind at will! This feat is almost commonplace nowadays, and seen in brawls all over the lands, but back then... 
<br>it was as though we hadst gained the power of a god! 
<br>And as we trained, and studied, our powers grew stronger, and more unbelievable... I saw men moving objects with just the power of their mind, others turning useless items into the purest gold!</i>
<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaborateb.gif' width=100 height=100 align=top></td><td><i>
ut these skills and powers learned by those who had chosen to learn from this man from the north were not the greatest discovery that we didst make. 
<br>It was discovered that we couldst take these powers and magicks, and bind them into solid objects which we called rune stones, for each hadst been marked with the rune symbol of the magick which we hadst bound unto it. </i></td></tr></table></center>
<i>These stones couldst then be given to someone who hadst not studied or trained with our group - and the magickal energies bound within them couldst then be released at will! 
<br>We all agreed that the discovery and the magicks it had allowed us, and our ability to store these magicks in compressed form as stones, each carefully marked with what magickal energy had been stored within it so as to avoid accidental expenditures, required much investigation, far more investigation than was possible with just the small group that we were... so we vowed to all return to our homelands and spread the message of our discoveries, so that we couldst gain more followers to assist us in our research.</i><br><i>
When I returned home, my parents didst scold me for my thoughtlessness and selfishness in leaving them with nary a word of explanation, yet the looks on their faces when I showed them the powers which I hadst achieved through my studies! When I smelted some of my fathers ore in my hand without the need of his furnace, he didst almost collapse with wonderment, for it was then that he couldst see what I could see when I had left home; that this discovery wast the future of our people on this world. 
<table><tr><td></center></i>
<img src='/img/varrock/elaborate/elaborateo.gif' width=100 height=100 align=top></td><td><i>nly my mother gave me words of caution, which I didst not understand then in my foolish youth, that there was danger in trying to match the Gods, for the Gods are jealous and do not want mere mortals having powers such as they possess... 
<br>many times since then I have thought on her words and wished I hadst understood them as I do now when she first didst speak them..."</i></td></tr></table></center></i>
Again the Old mans story didst seem to be unfinished, and again he didst seem to be waiting for some hidden signal to proceed; having become used to his ways in the hours I hadst spent with him so far, I rose to fetch him more ale, but he snapped out of his reverie with a wave of his hand
<p align=justify><i>
"No boy, I needst not more ale, I have had my fill for this night, and all the ale in Misthalin cannot wipe away the memories of treachery and bloodshed that I have, no matter how much I sometimes wish they could. 
<br>Just indulge an old man his memories of loved ones long dead for a moment, I willst return to my tale when I am ready.</i>
</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</center>
</td>
</tr>
</table>
</body>
</html>