<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Lores and Histories of RuneScape</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock' class=c>Library Of Varrock</a><br><a href='/varrock/histories' class=c>Histories Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<p align=justify>
<u><h4>Spirit of the Pass</h4></u>

<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratey.gif' width=100 height=100 align=top></td><td>ou  must be  careful walking  through the  underground
    pass... it is filled with the spirit of Zamorak. You can
    feel it as you wind your way round the stalactites- like
    an icy chill that threatens to penetrate the very fabric
    of your  being. Not so many travellers come down here
    these days, but there are some who are still foolhardy enough.</td></tr></table></center>
    I remember seeing one such warrior. Going by the name of 
    Randas, he stood tall and proud like an elven king. But 
    that same pride made him vulnerable to Zamorak's calls. 
    Randas' worthy desire to be a great and mighty warrior
    also made him corruptible to Zamorak's promises of glory. 
    Zamorak showed him a way to achieve his goals, by 
    appealing to that most base and dark nature that resides in all of us.  
<p align=justify>   
    It starts as a whisper in your ears. Dismissing the sounds
    as the whistling of the wind, Randas steeled himself against
    these forces and continued on his way. But the whispers became
    moans, at once fearsome and enticing, like the call of some
    beautiful siren. "Join us!" The voices cried, "Join us!"
    "Why fight against your nature?" they asked Randas. 
    "Your greatness lies within you, but only Zamorak can 
    truly unlock your potential." 
 <p align=justify>  
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratei.gif' width=100 height=100 align=top></td><td>n time these voices became visions. Visions of human armies,
    wasted by some unseen hand. Their bodies lie heaped 
    together like some amorphous mass of mutilated flesh. 
    And standing on top of this great heap stood Randas,
    a bloody sword in one hand, and a glazed look in his eyes.
    A destroyer of his own people... but a victor all the same.              
</td></tr></table></center>                  
    And upon entering Zamorak's Tower, it is said that Randas 
    performed a ritual that would alter his spirit forever. 
    Kneeling down at the sacred altar, he spilled his blood 
    into a silver chalice and offered it to Zamorak. And then 
    Randas began to chant the words of ancients- strange, 
    twisted noises from deep within the bowels of eternity.  
 <p align=justify>             
    This was the spirit of Zarmorak, pulsing through
    his body like the cry of an animal from some unholy sacrifice.  
    His whole form began to convulse as electrical charges 
    streamed through his muscles. But the power was too much 
    for his mind; it was as if the forces of darkness were 
    a black cloud expanding inside his head. As he witnessed
    yet more ghoulish and nightmarish visions, the world outside
    seemed to disintegrate in front of him.   
 <p align=justify>                           
                            
    In fact the world was still there- it was Randas' mind that had
    been broken. And now if you get lost in the tunnels you might
    just stumble into Randas. A shadow of a man, his eyes are hollow,
    with no life behind them. For Randas is part of the asylum now,
    just one of the many walking dead. A human vegetable, he wonders
    the tunnels in a zombified state, oblivious to all his surroundings.
    Ask him about Zamorak and he will tell you as much as he can remember.      
    He may even tell you more about the ritual that he performed. 
 <p align=justify>   
    Just don't let curiosity get the better of you...


</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</center>
</td>
</tr>
</table>
</body>
</html>