[line1]
type=text
x=73
y=15
width=390
height=17
center=yes
font=q8
text=Line1

[line2]
type=text
x=73
y=44
width=390
height=18
center=yes
font=q8
text=Line2

[continue]
type=text
x=93
y=74
buttontype=pause
width=350
height=17
center=yes
font=q8
text=Click here to continue
colour=0xFFFF00
overcolour=0x00C000

[icon]
type=model
x=30
y=24
width=32
height=32
model=model_2376_obj
zoom=496
xan=418
yan=14

[icon2]
type=model
x=39
y=45
width=32
height=32
model=model_2489_obj
zoom=400
xan=353
yan=18
