<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Banks</b><br>
<a href="/title" class=c>Main menu</a> - <a href="/rs2/controls" class=c>Controls index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>

<center><b>The Bank of RuneScape</b></center><p>

<p align=justify>You can only hold 28 items at once (plus weapons and clothing) in RuneScape and carrying around all your money is risky, because when you die you drop what you are holding. Therefore you need to have somewhere to store your extra items and to stash your treasure. 
<p align=justify>
For this purpose the bank of RuneScape has opened branches all over the world. Branches of this bank can be found in Varrock, Falador, Edgeville, and Draynor village, and other populated areas.
<p align=justify>
When you wish to access your in-game bank account, just walk to the nearest bank and right-click your mouse on any of the booths there. The bank screen shown below will appear, and you can now choose to deposit and withdraw items.
Some banks can be accessed by special bank chests too, just left click on the chest to access yout bank.
<p align=justify>
If you have more than one of item in the bank a number will appear next to indicate how many you have. The bankers aren't fussy and will safely store anything from runes to big piles of coal! 
<p align=justify>
<center><img src="/img/rs2/manual/controls/bank.gif"></center>
<br>
<p align=justify>Any items which don't normally stack in your inventory and that are tradeable, (such as ores) can be withdrawn in the form of a note. This allows large trades without taking up lots of inventory slots. To choose to withdraw the items as a note, click the "withdraw as note" button at the bottom of the screen, otherwise choose "withdraw as item".
<p align=justify>
To deposit an item, simply right-click on the item you wish to depsoit in your inventory, and select the number you wish to deposit from the list. The banks are free to use, so making use of them to safely store your extra items is a very good idea! 

</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>