<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Inventory</b><br>
<a href="/title" class=c>Main menu</a> - <a href="/rs2/controls" class=c>Controls index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>

<table border=0><tr><td>
<center><b>Using your inventory</b></center><p>
<table><tr><td valign=top>
Whenever you pick-up or purchase an item it will be added to your inventory. To view the items in your inventory, just click your mouse on the backpack icon on the player interface.
Your inventory has 28 slots available, plus separate spaces for clothes and weapons and other adornments. Large items will take up one inventory slot each. Small items such as money can all be stored in just one slot, in which case a yellow number at the top left of the slot indicates how many of that item you are currently holding.
</td><td>
<img src="/img/rs2/manual/controls/inventory2.gif">
</td></tr></table>
<p>
</td></tr></table>
<p>
<table border=0><tr><td valign=top>
To use an item you are holding, open your inventory, and then click on the item you wish to use. You can then click on another item or person to use the two together. To drop an item you are holding, select the "drop" option, and your character will drop the item on the floor beneath you. 
<p>
Armour and weapons are an important aspect of the game. The weaponry you are wielding can often make the difference between winning and losing a battle. To wield a weapon, go to your inventory screen and click on the item that you wish to wield. If the item can be worn it will then move to your equipment screen.
</td><td>
<img src="/img/rs2/manual/controls/inventory_clicked2.gif">
</td></tr>

</center>
</td></tr></table>

<p>
<table border=0><tr><td valign=top>
<img src="/img/rs2/manual/controls/weapon_equip.gif">
</td><td valign=top>
Your character has separate slots for each type of weapon or clothing. 
To view what you have equipped, click the man icon on the player interface. Separate slots show what you are holding on your person at
any time. To remove an item right-click on the slot you wish to change, and select remove from the list.
<br><br>
The lower equipment status box displays the total bonus your equipped weapons give you.
In the attack section, you are shown what bonuses are applied to each attack style, in the defence
section, the bonus refers to how effective your equipped armour/weapon is against a particular style.
Use the scroll bar to scroll down to the other bonuses section, this displays any other relevant bonuses your equipment may give you. You will find different combinations of equipment will give you differing
bonuses up and down, dependant on that particular item's strengths or weaknesses.
</td></tr>

</center>
</td></tr></table>


<!--end content body-->
</td></tr></table>
<br><br>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>