<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Shops</b><br>
<a href="/title" class=c>Main menu</a> - <a href="/rs2/controls" class=c>Controls index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>

<table border=0><tr><td>
<center><b>RuneScape shops</b></center><p>

<p>Scattered throughout RuneScape there are many shops where you can buy and sell items. Most shops will specialise in a certain type of item. For instance, the sword shop will only buy and sell swords. In addition to the specialist shops there are several "General stores" which will buy and sell almost anything. However, items in the general stores normally cost slightly more, and they will pay less for items that you sell to them. If you take the trouble to find the right shop you can often get a better deal. 
<p>
To access the shop you must talk to the shop-keeper in the store and choose the conversation option to indicate that you wish to buy or sell. Or you can right-click the mouse and choose the "trade" option
to go straight to the shop screen, without having any prior conversation.
A screen like the one shown below will appear. 
<center><p align=center>
<img src="/img/rs2/manual/controls/shop.gif"></center>

<p>This window shows all the items you can buy and sell at the current shop. In the example here the player is using an archery store which has various ranging equipment for sale.
<p>
Next to each item is a number that indicates the number that the shop has in stock that are available for purchase. If there is no number next to the item you wish to buy, that means it is the last one in stock, so buy it quickly if you want it! <br>
Whenever you are in a shop screen your inventory will be displayed in the interface, so you will always know whether you have room to buy what you want to or not.
<p>
Left clicking with the mouse button on any item will give it's value in GP; clicking an item in your inventory will tell you how much the shop ius prepared to buy the item from you for (if at all), clicking in the shop window will show how much the shop will sell for.<br>
These two prices will not be the same since the shop buys at a lower price than it sells at (the shopkeeper is making a hefty profit!).<br> 
Right-clicking on the item will
open a selection of all options to value, examine and buy different number of the item selected.
If you wish to sell an item from your inventory, simply right-click on the item you wish to sell, then choose the amount you wish to sell from the list.
 
<p>
The price of items in the shop also depends on the current stock. If a shop has 500 swords in store it will sell them at a reduced rate to try and clear stock. However, it will also pay less for them if you are selling. <p>
</td></tr></table>

</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>