<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Trading</b><br>
<a href="/title" class=c>Main menu</a> - <a href="/rs2/controls" class=c>Controls index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>

<table border=0><tr><td>
<center><b>Trading with other players</b></center><p>
<p>
Trading items with other players is an important aspect of RuneScape and will often allow you to buy and sell your items at a better price than the shops offer. Many rare items cannot be purchased in the shops at all and can only be obtained by finding them yourself, or by purchase from another player. 
<p>
Before you start trading you need to find a buyer (or seller). For instance, if you have mined some coal and you want to sell it, you could try standing in a busy area and saying "Coal for sale!" 
<p>
Once you have found someone to trade with, click on their character with the right mouse button, and select the "trade-with" option. The other player will be informed of your request, and to accept your trade they must click on your character and also select the "trade-with" option. 
<p align=center><center><img src="/img/rs2/manual/controls/trade_confirmation.gif"></center>
<p>
At this point a screen similar to the one shown above will appear. All the items in the left-hand side of the screen are what you are offering in the trade, the items in the right-hand side are what your trading partner is offering you. To add an item to your offer click on it in the inventory box. If you wish to add multiple items (e.g a stack of coins), then right click the object and select the 'offer x' option, to manually select the number you wish to offer. To remove an item from your offer, just click on it in the offer window and it will be removed. 
<p>
Once you are happy with the proposed exchange, press the green "accept" button. If you aren't happy for any reason, press the red "decline" button to cancel the trade.
<center><br><img src="/img/rs2/manual/controls/tradescreen.gif"></center>
<p>
A final confirmation like the one shown above will appear. This clearly lists everything which is being swapped and gives you one last chance to check you are getting the trade you expected. You should read this information carefully, and then once you are sure you are happy with the trade, press the green "accept" button. 
<p>
Remember that there is no way to reverse a trade if you later change your mind. So be careful! Giving items in return for information, or with the promise of getting them back is very risky. Not all RuneScape players are honest, and you could end up losing your items for nothing if you do this!

</td></tr></table>

</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>