[com_0]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=324
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=324
y=140
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=324
y=20
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=324
y=200
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=324
y=260
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=96
y=20
width=25
height=30
graphic=steelborder,0

[com_21]
type=graphic
x=81
y=49
width=36
height=36
graphic=miscgraphics,2

[com_22]
type=graphic
x=81
y=85
width=36
height=36
graphic=miscgraphics,2

[com_23]
type=graphic
x=81
y=121
width=36
height=36
graphic=miscgraphics,2

[com_24]
type=graphic
x=81
y=157
width=36
height=36
graphic=miscgraphics,2

[com_25]
type=graphic
x=81
y=193
width=36
height=36
graphic=miscgraphics,2

[com_26]
type=graphic
x=81
y=229
width=36
height=36
graphic=miscgraphics,2

[com_27]
type=graphic
x=81
y=265
width=36
height=36
graphic=miscgraphics,2

[com_28]
type=graphic
x=397
y=50
width=36
height=36
graphic=steelborder2,1

[com_29]
type=graphic
x=397
y=86
width=36
height=36
graphic=steelborder2,1

[com_30]
type=graphic
x=397
y=122
width=36
height=36
graphic=steelborder2,1

[com_31]
type=graphic
x=397
y=158
width=36
height=36
graphic=steelborder2,1

[com_32]
type=graphic
x=397
y=194
width=36
height=36
graphic=steelborder2,1

[com_33]
type=graphic
x=397
y=230
width=36
height=36
graphic=steelborder2,1

[com_34]
type=graphic
x=397
y=266
width=36
height=36
graphic=steelborder2,1

[com_35]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[com_36]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[com_37]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[com_38]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[com_39]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[com_40]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[com_41]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[com_42]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[com_43]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_44]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_45]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_46]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_47]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_48]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_49]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_50]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_51]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[com_52]
type=graphic
x=96
y=290
width=25
height=30
graphic=steelborder,2

[com_53]
type=graphic
x=393
y=20
width=25
height=30
graphic=steelborder,1

[com_54]
type=graphic
x=393
y=290
width=25
height=30
graphic=steelborder,3

[com_55]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[com_56]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=377
y=34
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=101
y=34
width=36
height=36
graphic=steelborder2,0

[com_64]
type=text
x=127
y=30
width=192
height=14
font=b12
shadowed=yes
text=What would you like to make?
colour=0xFFFF00

[com_65]
type=text
x=341
y=28
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF

[ring_mould]
type=layer
x=56
y=74
width=400
height=66

[com_67]
layer=ring_mould
type=model
x=184
y=5
width=32
height=32
model=model_2666_obj
zoom=571
xan=300
yan=302

[com_68]
layer=ring_mould
type=text
x=0
y=40
width=400
height=14
center=yes
font=p12
shadowed=yes
text=You need a ring mould to craft rings.
colour=0xFFFFFF

[rings_title]
type=text
x=90
y=59
width=332
height=14
center=yes
font=b12
shadowed=yes
text=Rings
colour=0xFFFF00

[rings_layer]
type=layer
x=56
y=84
width=400
height=38

[rings_inv]
layer=rings_layer
type=inv
x=66
y=3
width=6
height=1
margin=15,0
option1=Make
option2=Make 5
option3=Make 10

[rings1]
layer=rings_layer
type=model
x=115
y=6
width=32
height=32
zoom=100

[rings2]
layer=rings_layer
type=model
x=162
y=6
width=32
height=32
zoom=100

[rings3]
layer=rings_layer
type=model
x=209
y=6
width=32
height=32
zoom=100

[rings4]
layer=rings_layer
type=model
x=256
y=6
width=32
height=32
zoom=100

[rings5]
layer=rings_layer
type=model
x=303
y=6
width=32
height=32
zoom=100

[necklace_mould]
type=layer
x=56
y=162
width=400
height=66

[com_78]
layer=necklace_mould
type=model
x=184
y=7
width=32
height=32
model=model_2729_obj
zoom=571
xan=300
yan=302

[com_79]
layer=necklace_mould
type=text
x=0
y=40
width=400
height=14
center=yes
font=p12
shadowed=yes
text=You need a necklace mould to craft necklaces.
colour=0xFFFFFF

[necklaces_title]
type=text
x=90
y=147
width=332
height=14
center=yes
font=b12
shadowed=yes
text=Necklaces
colour=0xFFFF00

[necklaces_layer]
type=layer
x=56
y=172
width=400
height=38

[necklaces_inv]
layer=necklaces_layer
type=inv
x=66
y=3
width=6
height=1
margin=15,0
option1=Make
option2=Make 5
option3=Make 10

[necklaces1]
layer=necklaces_layer
type=model
x=119
y=-4
width=32
height=32
zoom=400

[necklaces2]
layer=necklaces_layer
type=model
x=165
y=-4
width=32
height=32
zoom=200

[necklaces3]
layer=necklaces_layer
type=model
x=212
y=-4
width=32
height=32
zoom=400

[necklaces4]
layer=necklaces_layer
type=model
x=259
y=-4
width=32
height=32
zoom=400

[necklaces5]
layer=necklaces_layer
type=model
x=306
y=-4
width=32
height=32
zoom=400

[amulet_mould]
type=layer
x=56
y=250
width=400
height=66

[com_89]
layer=amulet_mould
type=model
x=184
y=6
width=32
height=32
model=model_2368_obj
zoom=571
xan=300
yan=302

[com_90]
layer=amulet_mould
type=text
x=0
y=40
width=400
height=14
center=yes
font=p12
shadowed=yes
text=You need an amulet mould to craft amulets.
colour=0xFFFFFF

[amulets_title]
type=text
x=90
y=235
width=332
height=14
center=yes
font=b12
shadowed=yes
text=Amulets
colour=0xFFFF00

[amulets_layer]
type=layer
x=56
y=260
width=400
height=38

[amulets_inv]
layer=amulets_layer
type=inv
x=66
y=3
width=6
height=1
margin=15,0
option1=Make
option2=Make 5
option3=Make 10

[amulets1]
layer=amulets_layer
type=model
x=123
y=-19
width=32
height=32
zoom=400

[amulets2]
layer=amulets_layer
type=model
x=169
y=-19
width=32
height=32
zoom=400

[amulets3]
layer=amulets_layer
type=model
x=216
y=-19
width=32
height=32
zoom=400

[amulets4]
layer=amulets_layer
type=model
x=263
y=-19
width=32
height=32
zoom=400

[amulets5]
layer=amulets_layer
type=model
x=309
y=-19
width=32
height=32
zoom=400
