<!DOCTYPE html>
<html lang="en">

<head>
  <title>RuneScape 2</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    body {
      margin: 0;
      padding: 0;
      color: #fff;
      background-color: #000;
    }

    canvas {
      display: block;
      margin: 0 auto;

      touch-action: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      outline: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      z-index: -1;
    }
  </style>

  <script defer="defer" src="/js/runetek.js"></script>
  <script defer="defer" src="/js/client.js"></script>
</head>

<body>
  <canvas id="canvas" width="789" height="532"></canvas>
</body>

</html>
