[com_0]
type=model
x=239
y=145
width=35
height=35
model=model_3035
zoom=525
xan=395

[com_1]
type=model
x=356
y=250
buttontype=normal
width=42
height=42
model=model_2747_obj
zoom=400
xan=136
yan=2008

[com_2]
type=layer
x=34
y=259
width=45
height=36

[com_3]
layer=com_2
type=graphic
x=0
y=0
buttontype=normal
width=45
height=36
graphic=leftarrow,0

[com_4]
type=text
x=355
y=269
width=46
height=17
font=q8
shadowed=yes
text=Activus
activetext=Activus
colour=0xFF00FF

[com_5]
type=text
x=60
y=80
width=175
height=17
font=q8
text=line1

[com_6]
type=text
x=58
y=96
width=177
height=17
font=q8
text=line2

[com_7]
type=text
x=56
y=112
width=179
height=17
font=q8
text=line3

[com_8]
type=text
x=54
y=128
width=181
height=17
font=q8
text=line4

[com_9]
type=text
x=51
y=144
width=184
height=17
font=q8
text=line5

[com_10]
type=text
x=49
y=160
width=186
height=17
font=q8
text=line6

[com_11]
type=text
x=47
y=176
width=188
height=17
font=q8
text=line7

[com_12]
type=text
x=45
y=192
width=190
height=17
font=q8
text=line8

[com_13]
type=text
x=42
y=208
width=193
height=17
font=q8
text=line9

[com_14]
type=text
x=40
y=224
width=195
height=17
font=q8
text=line10

[com_15]
type=text
x=38
y=240
width=197
height=17
font=q8
text=line11

[com_16]
type=text
x=322
y=80
width=135
height=17
font=q8
text=line12

[com_17]
type=text
x=322
y=96
width=136
height=17
font=q8
text=line13

[com_18]
type=text
x=283
y=112
width=179
height=17
font=q8
text=line14

[com_19]
type=text
x=283
y=128
width=181
height=17
font=q8
text=line15

[com_20]
type=text
x=283
y=144
width=183
height=17
font=q8
text=line16

[com_21]
type=text
x=283
y=160
width=185
height=17
font=q8
text=line17

[com_22]
type=text
x=283
y=176
width=187
height=17
font=q8
text=line18

[com_23]
type=text
x=283
y=192
width=189
height=17
font=q8
text=line19

[com_24]
type=text
x=283
y=208
width=193
height=17
font=q8
text=line20

[com_25]
type=layer
x=12
y=20
width=488
height=36

[com_26]
layer=com_25
type=graphic
x=94
y=-3
width=88
height=60
graphic=tradebacking,0

[com_27]
layer=com_25
type=graphic
x=182
y=6
width=88
height=60
graphic=tradebacking,0

[com_28]
layer=com_25
type=graphic
x=270
y=6
width=88
height=60
graphic=tradebacking,0

[com_29]
layer=com_25
type=graphic
x=358
y=6
width=88
height=60
graphic=tradebacking,0

[com_30]
layer=com_25
type=graphic
x=394
y=6
width=88
height=60
graphic=tradebacking,0

[com_31]
layer=com_25
type=graphic
x=6
y=-1
width=88
height=60
graphic=tradebacking,0

[com_32]
layer=com_25
type=graphic
x=60
y=16
width=36
height=36
graphic=miscgraphics,3

[com_33]
layer=com_25
type=graphic
x=96
y=16
width=36
height=36
graphic=miscgraphics,3

[com_34]
layer=com_25
type=graphic
x=132
y=16
width=36
height=36
graphic=miscgraphics,3

[com_35]
layer=com_25
type=graphic
x=168
y=16
width=36
height=36
graphic=miscgraphics,3

[com_36]
layer=com_25
type=graphic
x=204
y=16
width=36
height=36
graphic=miscgraphics,3

[com_37]
layer=com_25
type=graphic
x=240
y=16
width=36
height=36
graphic=miscgraphics,3

[com_38]
layer=com_25
type=graphic
x=276
y=16
width=36
height=36
graphic=miscgraphics,3

[com_39]
layer=com_25
type=graphic
x=312
y=16
width=36
height=36
graphic=miscgraphics,3

[com_40]
layer=com_25
type=graphic
x=348
y=16
width=36
height=36
graphic=miscgraphics,3

[com_41]
layer=com_25
type=graphic
x=384
y=16
width=36
height=36
graphic=miscgraphics,3

[com_42]
layer=com_25
type=graphic
x=420
y=16
width=36
height=36
graphic=miscgraphics,3

[com_43]
layer=com_25
type=graphic
x=428
y=16
width=36
height=36
graphic=miscgraphics,3

[com_44]
layer=com_25
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_45]
layer=com_25
type=graphic
x=60
y=-15
width=36
height=36
graphic=steelborder2,0

[com_46]
layer=com_25
type=graphic
x=96
y=-15
width=36
height=36
graphic=steelborder2,0

[com_47]
layer=com_25
type=graphic
x=132
y=-15
width=36
height=36
graphic=steelborder2,0

[com_48]
layer=com_25
type=graphic
x=168
y=-15
width=36
height=36
graphic=steelborder2,0

[com_49]
layer=com_25
type=graphic
x=204
y=-15
width=36
height=36
graphic=steelborder2,0

[com_50]
layer=com_25
type=graphic
x=240
y=-15
width=36
height=36
graphic=steelborder2,0

[com_51]
layer=com_25
type=graphic
x=276
y=-15
width=36
height=36
graphic=steelborder2,0

[com_52]
layer=com_25
type=graphic
x=312
y=-15
width=36
height=36
graphic=steelborder2,0

[com_53]
layer=com_25
type=graphic
x=348
y=-15
width=36
height=36
graphic=steelborder2,0

[com_54]
layer=com_25
type=graphic
x=384
y=-15
width=36
height=36
graphic=steelborder2,0

[com_55]
layer=com_25
type=graphic
x=420
y=-15
width=36
height=36
graphic=steelborder2,0

[com_56]
layer=com_25
type=graphic
x=25
y=-15
width=36
height=36
graphic=steelborder2,0

[com_57]
layer=com_25
type=graphic
x=463
y=0
width=25
height=30
graphic=steelborder,1

[com_58]
layer=com_25
type=graphic
x=427
y=-15
width=36
height=36
graphic=steelborder2,0

[com_59]
layer=com_25
type=graphic
x=463
y=7
width=25
height=30
graphic=steelborder,3

[com_60]
layer=com_25
type=graphic
x=25
y=16
width=36
height=36
graphic=miscgraphics,3

[com_61]
layer=com_25
type=graphic
x=0
y=7
width=25
height=30
graphic=steelborder,2

[com_62]
type=text
x=422
y=33
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[com_63]
type=text
x=248
y=30
width=19
height=14
center=yes
font=b12
shadowed=yes
text=%1
colour=0xFFFF00

[com_64]
type=model
x=288
y=89
width=32
height=32
model=model_2747_obj
zoom=520
xan=136
yan=2008
