[com_0]
type=model
x=39
y=59
width=32
height=32
zoom=2501
xan=273
yan=1623

[com_1]
type=text
x=111
y=9
width=350
height=17
center=yes
font=q8
text=Line1

[com_2]
type=text
x=111
y=25
width=350
height=17
center=yes
font=q8
text=Line1

[com_3]
type=text
x=111
y=41
width=350
height=17
center=yes
font=q8
text=Line1

[com_4]
type=text
x=111
y=57
width=350
height=17
center=yes
font=q8
text=Line1

[com_5]
type=text
x=111
y=80
buttontype=pause
width=350
height=17
center=yes
font=q8
text=Click here to continue
colour=0xFFFF00
overcolour=0x00C000
