[com_0]
type=model
x=34
y=34
width=32
height=32
zoom=796
xan=40
yan=1882

[com_1]
type=text
x=111
y=16
width=350
height=17
center=yes
font=q8
text=Line1

[com_2]
type=text
x=111
y=32
width=350
height=17
center=yes
font=q8
text=Line2

[com_3]
type=text
x=111
y=48
width=350
height=17
center=yes
font=q8
text=Line3

[com_4]
type=text
x=111
y=64
width=350
height=17
center=yes
font=q8
text=Line4
