[com_0]
type=text
x=21
y=0
width=441
height=17
center=yes
font=q8
text=Line1

[com_1]
type=text
x=21
y=16
width=441
height=17
center=yes
font=q8
text=Line2

[com_2]
type=text
x=21
y=32
width=441
height=17
center=yes
font=q8
text=Line3

[com_3]
type=text
x=21
y=48
width=441
height=17
center=yes
font=q8
text=Line4

[com_4]
type=text
x=21
y=64
width=441
height=17
center=yes
font=q8
text=Line5

[com_5]
type=text
x=65
y=80
buttontype=pause
width=350
height=17
center=yes
font=q8
text=Click here to continue
colour=0xFFFF00
overcolour=0x00C000
