[com_0]
type=text
x=0
y=-1
width=480
height=17
center=yes
font=q8
text=Select an Option
colour=0x800000

[com_1]
type=text
x=0
y=16
buttontype=normal
width=480
height=17
center=yes
font=q8
text=option1
overcolour=0x00C000

[com_2]
type=text
x=0
y=36
buttontype=normal
width=480
height=17
center=yes
font=q8
text=option2
overcolour=0x00C000

[com_3]
type=text
x=0
y=56
buttontype=normal
width=480
height=17
center=yes
font=q8
text=option3
overcolour=0x00C000

[com_4]
type=text
x=0
y=76
buttontype=normal
width=480
height=17
center=yes
font=q8
text=option4
overcolour=0x00C000

[com_5]
type=layer
x=126
y=1
width=229
height=13

[com_6]
layer=com_5
type=graphic
x=0
y=0
width=57
height=13
graphic=sworddecor,1

[com_7]
layer=com_5
type=graphic
x=172
y=0
width=57
height=13
graphic=sworddecor,0

[com_8]
type=layer
x=2
y=1
width=476
height=13
hide=yes

[com_9]
layer=com_8
type=graphic
x=0
y=0
width=57
height=13
graphic=sworddecor,1

[com_10]
layer=com_8
type=graphic
x=419
y=0
width=57
height=13
graphic=sworddecor,0
