[com_0]
type=graphic
x=164
y=178
width=36
height=36
graphic=steelborder2,1

[com_1]
type=graphic
x=-10
y=178
width=36
height=36
graphic=miscgraphics,2

[com_2]
type=graphic
x=5
y=224
buttontype=normal
clientcode=201
width=45
height=36
graphic=leftarrow,0
option=Add friend

[com_3]
type=graphic
x=141
y=224
buttontype=normal
clientcode=202
width=45
height=36
graphic=rightarrow,0
option=Delete friend

[com_4]
type=text
x=73
y=236
width=42
height=14
center=yes
font=p12
shadowed=yes
text=%1/%2
colour=0xFFFF00

[com_5]
type=graphic
x=5
y=4
width=25
height=30
graphic=steelborder,0

[com_6]
type=graphic
x=160
y=4
width=25
height=30
graphic=steelborder,1

[com_7]
type=graphic
x=5
y=192
width=25
height=30
graphic=steelborder,2

[com_8]
type=graphic
x=160
y=192
width=25
height=30
graphic=steelborder,3

[com_9]
type=graphic
x=30
y=-11
width=36
height=36
graphic=steelborder2,0

[com_10]
type=graphic
x=66
y=-11
width=36
height=36
graphic=steelborder2,0

[com_11]
type=graphic
x=102
y=-11
width=36
height=36
graphic=steelborder2,0

[com_12]
type=graphic
x=138
y=-11
width=36
height=36
graphic=steelborder2,0

[com_13]
type=graphic
x=164
y=34
width=36
height=36
graphic=steelborder2,1

[com_14]
type=graphic
x=164
y=70
width=36
height=36
graphic=steelborder2,1

[com_15]
type=graphic
x=164
y=106
width=36
height=36
graphic=steelborder2,1

[com_16]
type=graphic
x=164
y=142
width=36
height=36
graphic=steelborder2,1

[com_17]
type=graphic
x=-10
y=34
width=36
height=36
graphic=miscgraphics,2

[com_18]
type=graphic
x=-10
y=70
width=36
height=36
graphic=miscgraphics,2

[com_19]
type=graphic
x=-10
y=106
width=36
height=36
graphic=miscgraphics,2

[com_20]
type=graphic
x=-10
y=142
width=36
height=36
graphic=miscgraphics,2

[com_21]
type=graphic
x=16
y=201
width=36
height=36
graphic=miscgraphics,3

[com_22]
type=graphic
x=52
y=201
width=36
height=36
graphic=miscgraphics,3

[com_23]
type=graphic
x=88
y=201
width=36
height=36
graphic=miscgraphics,3

[com_24]
type=graphic
x=124
y=201
width=36
height=36
graphic=miscgraphics,3

[com_25]
type=layer
x=13
y=148
width=165
height=65

[com_26]
layer=com_25
type=rect
x=0
y=4
width=9
height=9
fill=yes

[com_27]
layer=com_25
type=text
x=16
y=0
width=36
height=14
font=p12
shadowed=yes
text=part1c
colour=0xFFFF00

[com_28]
layer=com_25
type=text
x=16
y=16
width=38
height=14
font=p12
shadowed=yes
text=part2c
colour=0xFFFF00

[com_29]
layer=com_25
type=text
x=16
y=32
width=37
height=14
font=p12
shadowed=yes
text=part3c
colour=0xFFFF00

[com_30]
layer=com_25
type=text
x=16
y=48
width=37
height=14
font=p12
shadowed=yes
text=part4c
colour=0xFFFF00

[com_31]
type=layer
x=13
y=12
width=165
height=65

[com_32]
layer=com_31
type=rect
x=0
y=4
width=9
height=9
fill=yes

[com_33]
layer=com_31
type=text
x=16
y=0
width=37
height=14
font=p12
shadowed=yes
text=part1a
colour=0xFFFF00

[com_34]
layer=com_31
type=text
x=16
y=16
width=39
height=14
font=p12
shadowed=yes
text=part2a
colour=0xFFFF00

[com_35]
layer=com_31
type=text
x=16
y=32
width=38
height=14
font=p12
shadowed=yes
text=part3a
colour=0xFFFF00

[com_36]
layer=com_31
type=text
x=16
y=48
width=38
height=14
font=p12
shadowed=yes
text=part4a
colour=0xFFFF00

[com_37]
type=layer
x=13
y=80
width=165
height=65

[com_38]
layer=com_37
type=rect
x=0
y=4
width=9
height=9
fill=yes

[com_39]
layer=com_37
type=text
x=16
y=0
width=37
height=14
font=p12
shadowed=yes
text=part1b
colour=0xFFFF00

[com_40]
layer=com_37
type=text
x=16
y=16
width=39
height=14
font=p12
shadowed=yes
text=part2b
colour=0xFFFF00

[com_41]
layer=com_37
type=text
x=16
y=32
width=38
height=14
font=p12
shadowed=yes
text=part3b
colour=0xFFFF00

[com_42]
layer=com_37
type=text
x=16
y=48
width=38
height=14
font=p12
shadowed=yes
text=part4b
colour=0xFFFF00
