[com_0]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF

[com_1]
type=model
x=239
y=155
width=32
height=32
model=model_3044
zoom=525

[com_2]
type=text
x=82
y=82
width=354
height=14
center=yes
font=q8
shadowed=yes
colour=0xFF0000

[com_3]
type=text
x=82
y=98
width=354
height=14
center=yes
font=q8
shadowed=yes
colour=0xFF0000

[com_4]
type=text
x=82
y=114
width=354
height=14
center=yes
font=q8
shadowed=yes
colour=0xFF0000

[com_5]
type=text
x=82
y=131
width=354
height=14
center=yes
font=q8
shadowed=yes
colour=0xFF0000

[com_6]
type=text
x=82
y=148
width=354
height=14
center=yes
font=q8
shadowed=yes
colour=0xFF0000

[com_7]
type=text
x=82
y=165
width=354
height=14
center=yes
font=q8
shadowed=yes
colour=0xFF0000

[com_8]
type=text
x=82
y=182
width=354
height=14
center=yes
font=q8
shadowed=yes
colour=0xFF0000

[com_9]
type=text
x=82
y=199
width=354
height=14
center=yes
font=q8
shadowed=yes
colour=0xFF0000

[com_10]
type=text
x=82
y=216
width=354
height=14
center=yes
font=q8
shadowed=yes
colour=0xFF0000

[com_11]
type=text
x=82
y=233
width=354
height=14
center=yes
font=q8
shadowed=yes
colour=0xFF0000

[com_12]
type=text
x=82
y=250
width=354
height=14
center=yes
font=q8
shadowed=yes
colour=0xFF0000

[com_13]
type=text
x=82
y=267
width=354
height=14
center=yes
font=q8
shadowed=yes
colour=0xFF0000
