type=overlay

[com_0]
type=text
x=4
y=10
width=47
height=14
font=p12
shadowed=yes
text=Weapon:
colour=0xFFFF00

[name]
type=text
x=52
y=10
width=17
height=14
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_2]
type=text
x=4
y=40
width=114
height=14
font=p12
shadowed=yes
text=Choose Attack Style
colour=0x00C000

[unarmed101]
type=layer
x=4
y=60
width=145
height=190

[unarmed0]
layer=unarmed101
type=graphic
x=5
y=5
buttontype=select
width=72
height=36
script1op1=pushvar,attackstyle
script1=eq,0
graphic=combatboxes,0
activegraphic=combatboxes,1

[unarmed2]
layer=unarmed101
type=graphic
x=5
y=97
buttontype=select
width=72
height=36
script1op1=pushvar,attackstyle
script1=eq,2
graphic=combatboxes,0
activegraphic=combatboxes,1

[unarmed1]
layer=unarmed101
type=graphic
x=5
y=51
buttontype=select
width=72
height=36
script1op1=pushvar,attackstyle
script1=eq,1
graphic=combatboxes,0
activegraphic=combatboxes,1

[com_7]
layer=unarmed101
type=graphic
x=22
y=11
width=34
height=24
graphic=combaticons,14

[com_8]
layer=unarmed101
type=graphic
x=21
y=57
width=34
height=24
graphic=combaticons,15

[com_9]
layer=unarmed101
type=graphic
x=22
y=103
width=34
height=24
graphic=combaticons,16

[com_10]
layer=unarmed101
type=text
x=78
y=5
width=30
height=11
font=p11
shadowed=yes
text=Punch
colour=0xFFFF00

[com_11]
layer=unarmed101
type=text
x=78
y=51
width=19
height=11
font=p11
shadowed=yes
text=Kick
colour=0xFFFF00

[com_12]
layer=unarmed101
type=text
x=78
y=97
width=26
height=11
font=p11
shadowed=yes
text=Block
colour=0xFFFF00

[com_13]
layer=unarmed101
type=text
x=78
y=18
width=50
height=11
font=p11
text=(Accurate)
colour=0xFFFF00

[com_14]
layer=unarmed101
type=text
x=78
y=64
width=64
height=11
font=p11
text=(Aggressive)
colour=0xFFFF00

[com_15]
layer=unarmed101
type=text
x=78
y=110
width=58
height=11
font=p11
text=(Defensive)
colour=0xFFFF00

[com_16]
type=text
x=82
y=90
width=36
height=11
font=p11
text=(Crush)
colour=0xFFFF00

[com_17]
type=text
x=82
y=136
width=36
height=11
font=p11
text=(Crush)
colour=0xFFFF00

[com_18]
type=text
x=82
y=182
width=36
height=11
font=p11
text=(Crush)
colour=0xFFFF00
