type=overlay

[preview]
type=model
x=135
y=16
width=35
height=32
model=model_2778_obj
zoom=624
xan=521
yan=1288

[com_1]
type=text
x=4
y=10
width=47
height=14
font=p12
shadowed=yes
text=Weapon:
colour=0xFFFF00

[name]
type=text
x=52
y=10
width=17
height=14
font=p12
shadowed=yes
text=%1
colour=0xFFFF00

[com_3]
type=text
x=4
y=40
width=114
height=14
font=p12
shadowed=yes
text=Choose Attack Style
colour=0x00C000

[pickaxe101]
type=layer
x=4
y=60
width=145
height=190

[pickaxe0]
layer=pickaxe101
type=graphic
x=5
y=5
buttontype=select
width=72
height=36
script1op1=testvar,attackstyle
script1=eq,0
graphic=combatboxes,0
activegraphic=combatboxes,1

[pickaxe3]
layer=pickaxe101
type=graphic
x=5
y=143
buttontype=select
width=72
height=36
script1op1=testvar,attackstyle
script1=eq,3
graphic=combatboxes,0
activegraphic=combatboxes,1

[pickaxe2]
layer=pickaxe101
type=graphic
x=5
y=97
buttontype=select
width=72
height=36
script1op1=testvar,attackstyle
script1=eq,2
graphic=combatboxes,0
activegraphic=combatboxes,1

[pickaxe1]
layer=pickaxe101
type=graphic
x=5
y=51
buttontype=select
width=72
height=36
script1op1=testvar,attackstyle
script1=eq,1
graphic=combatboxes,0
activegraphic=combatboxes,1

[com_9]
layer=pickaxe101
type=graphic
x=22
y=149
width=34
height=24
graphic=combaticons3,0

[com_10]
layer=pickaxe101
type=graphic
x=22
y=11
width=34
height=24
graphic=combaticons3,1

[com_11]
layer=pickaxe101
type=graphic
x=21
y=57
width=34
height=24
graphic=combaticons3,3

[com_12]
layer=pickaxe101
type=graphic
x=22
y=103
width=34
height=24
graphic=combaticons3,2

[com_13]
layer=pickaxe101
type=text
x=78
y=5
width=27
height=11
font=p11
shadowed=yes
text=Spike
colour=0xFFFF00

[com_14]
layer=pickaxe101
type=text
x=78
y=51
width=31
height=11
font=p11
shadowed=yes
text=Impale
colour=0xFFFF00

[com_15]
layer=pickaxe101
type=text
x=78
y=97
width=32
height=11
font=p11
shadowed=yes
text=Smash
colour=0xFFFF00

[com_16]
layer=pickaxe101
type=text
x=78
y=143
width=26
height=11
font=p11
shadowed=yes
text=Block
colour=0xFFFF00

[com_17]
layer=pickaxe101
type=text
x=78
y=18
width=50
height=11
font=p11
text=(Accurate)
colour=0xFFFF00

[com_18]
layer=pickaxe101
type=text
x=78
y=110
width=64
height=11
font=p11
text=(Aggressive)
colour=0xFFFF00

[com_19]
layer=pickaxe101
type=text
x=78
y=64
width=64
height=11
font=p11
text=(Aggressive)
colour=0xFFFF00

[com_20]
layer=pickaxe101
type=text
x=78
y=156
width=58
height=11
font=p11
text=(Defensive)
colour=0xFFFF00

[com_21]
type=text
x=82
y=90
width=29
height=11
font=p11
text=(Stab)
colour=0xFFFF00

[com_22]
type=text
x=82
y=136
width=29
height=11
font=p11
text=(Stab)
colour=0xFFFF00

[com_23]
type=text
x=82
y=182
width=36
height=11
font=p11
text=(Crush)
colour=0xFFFF00

[com_24]
type=text
x=82
y=228
width=29
height=11
font=p11
text=(Stab)
colour=0xFFFF00
