<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Armour Guide</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/rs2/skills" class=c>Skills Index</a>
</center></td></tr></table>
<br>
<!-- end of title box -->

<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e>
<table border=0><tr><td>


 
<br>
<p><center><b>Armour Types</b></center><p>

<p>The following is a brief guide on the various armour types available in the game, and their varying strengths and weaknesses.
<br><br><br>

<b>
Helmets
</b><p>
<table><tr><td valign=top width=50><center><img src="/img/rs2/manual/fighting/helmet.gif"></center><br><center><img src="/img/rs2/manual/fighting/fullhelm.gif"></center></td><td>
Full helmets offer better protection than medium helmets, but casting magic or using a ranged weapon is more difficult when using a full helmet, purely because the characters vision is obstructed.  
</td></tr></table>

<b><p>
Mage and priest Robes
</b><p>

<table><tr><td valign=top width=50><center><img src="/img/rs2/manual/fighting/mage.gif"></center><br><center><img src="/img/rs2/manual/fighting/monk.gif"></center></td><td>
Mage robes offer no extra defence against ranged or melee combat, but do give an advantage to casting and defending against magic.<br> 
Priest robes are exactly the same, but give a bonus to your prayer points rather than magic. 
</td></tr></table>

<b><p>
Leather and Dragonhide
</b><p>

<table><tr><td valign=top width=50><center><img src="/img/rs2/manual/fighting/leather.gif"></center></td><td>
Leather tends to be weak armour, but can now be improved by studding the leather or hardening it. Leather is more resistant to crushing attacks and weaker against stabbing attacks, but its flexibility makes it ideal for use by rangers. 
</td></tr></table>

<table><tr><td valign=top width=50><center><img src="/img/rs2/manual/fighting/chaps.gif"></center></td><td>
The same applies for Dragonhide armour, although it is much stronger than basic leather. Due to the magic nature of dragons, it is very useful when defending against spells and magical effects. However, this tends to interfere with the wearers ability to cast magic. 
</td></tr></table>

<b><p>
Chainmail
</b><p>

<table><tr><td valign=top width=50><center><img src="/img/rs2/manual/fighting/chain.gif"></center></td><td>
Chainmail is made up of small rings connected together. It is particularly useful for turning away slashing weapons and absorbing the impact of a "crushing" attack. Chain is weak against stabbing weapons as small pointy blades can get through the rings. Chain is quite flexible, and so does not carry any disadvantages when using ranged weapons. Mages will tend to find the armour gets in the way slightly of some of the finer spell casting techniques. 
</td></tr></table>

<b><p>
Plate
</b><p>

<table><tr><td valign=top width=50><center><img src="/img/rs2/manual/fighting/plate.gif"></center><br><center><img src="/img/rs2/manual/fighting/plateleg.gif"></center></td><td>
Plate armour is much heavier and stronger than chain, although rangers and mages find it incredibly difficult to use in conjunction with firing arrows or spells. <br>
Plate armour is weakest against crushing damage as it cannot absorb the impact as well as it can against slashing or stabbing attacks.  
</td></tr></table>

<b><p>
Shields
</b><p>

<table><tr><td valign=top width=50><center><img src="/img/rs2/manual/fighting/sqshield.gif"></center><br><center><img src="/img/rs2/manual/fighting/shield.gif"></center></td><td>
The two shield types are very similar, but have slight differences. Both are excellent defences against slashing attacks, but the kite shield is weak against stabbing attacks and the square shield is weak against crushing attacks. Using a shield while casting magic or ranging is very difficult as it obstructs the movement of the user. 
</td></tr></table>


</td></tr></table>
</td></tr></table>
<br>

<!--end main body text -->
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>