<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->

<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Duelling</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/rs2/skills" class=c>Skills Index</a>
</center></td></tr></table>
<br>
<!-- end of title box -->

<!-- tip box 1 -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e>
<center><b>Duelling with other players</b></center><p>

<i>Duelling is only available to RuneScape <a href='/members' class=c>members</a>.
Please subscribe to get this feature.</i>
<p>

<table><tr><td>
Duelling allows two players to agree to a fight outside the wilderness. Either
for an agreed prize, or just for fun.
<br>
All duels take place in the Duel Arena east of Al Kharid. You can challenge players from the walkways that overlook the six duel arenas. Right click on their character and select the 'duel-with' option. The other player will be informed of your request, and to accept your duel they must click on your character and also select the 'duel-with' option.
</td><td>
<img src=/img/rs2/manual/fighting/duelscreen.gif>
</td></tr></table>

<br>
<p>Both players will then be shown a screen where they can decide how the duel will work. First of all each player decides which items they would like to risk in the duel. If you win the duel you get all the items the other player has offered, but if you lose then the other player gets your offered items. For instance you might decide that you will wager your ruby against your opponents sword. If you wish to just duel to see who is strongest there is no need to add any items.<br><br>
<center><img src=/img/rs2/manual/fighting/duelstake.gif></center>

<p>In addition to deciding on the stake there are some options you can set:
<br><br><table border=0>
<tr><td><b>No Forfeit:</b></td>
<td>Fed up of your opponent giving up? Then tick this box and make it a fight to the death!</td></tr>
<tr><td valign=top><b>No Movement:</b></td>
<td>Don't want your opponent running away all the time? Tick this option.</td></tr>

<tr><td valign=top><b>No Weapons:</b></td>
<td>Try a bit of unarmed combat. This option disallows the use of all worn weapons.</td></tr>

<tr><td valign=top><b>No Armour:</b></td>
<td>Disallows the use of worn armour.</td></tr>

<tr><td valign=top><b>No Ranged:</b></td>
<td>Don't want someone popping arrows at you? Choose to turn off ranging.</td></tr>

<tr><td valign=top><b>No Melee:</b></td>
<td>Disables all hand-to-hand fighting.</td></tr>

<tr><td valign=top><b>No Magic:</b></td>
<td>Disallows the use of magic in this duel. Good if you want to save your runes for later.</td></tr>

<tr><td valign=top><b>No Potions:</b></td>
<td>You and your opponent will not be able to drink potions to boost your stats.</td></tr>

<tr><td valign=top><b>No Food:</b></td>
<td>Don't want your opponent eating food and healing all the time? Choose No Food.</td></tr>

<tr><td valign=top><b>No Prayer:</b></td>
<td>Disallows the use of prayers in this duel.</td></tr>

<tr><td valign=top><b>Obstacles:</b></td>
<td>Are you a ranger or mage? Choose this option! Obstacles may help you to put a baricade between you and your opponent.</td></tr>
</table>

<p>
Once both players are happy with the options they should press
the accept button.
<p>

<p>





<table><tr><td>
<img src=/img/rs2/manual/fighting/duelopponent.gif>
<p></td><td valign=top>
A final confirmation box will appear. This clearly lists what the duel will involve and gives you one last chance to check it is what you expected. You should read this information carefully, and then once you are sure you are happy, press the green "accept" button to begin the fight.
<br>
When the duel starts you and your opponent will be taken to one of the arenas.  Unless No Movement is on you can run around in the entire arena.  There may be lots of other players fighting, but you will only be allowed to attack your opponent.  
</td></tr></table>
A big yellow arrow will be above your opponents head so you can easily pick them out.<p>
The duel will continue until a player forfeits (if allowed), or until one player has died. Both players will be taken to the hospital nearby to be healed. The winner can then savour his victory and claim his winnings!
</td></tr></table>



<br>

<!--end main body text -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>