<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->

<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Fighting Monsters</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/rs2/skills" class=c>Skills Index</a>
</center></td></tr></table>
<br>
<!-- end of title box -->

<!-- tip box 1 -->
<table bgcolor=black cellpadding=4 width=500><tr><td class=e>
<center><b>Initiating combat</b></center><p>
To fight a monster or character in the game just point your mouse at your opponent and select the 'attack' option. Not every character in the game can be attacked, so if no attack option is visible on the menu, then the character is probably part of some quest or shop, and is not designed to be fought. <p>
When you point the mouse at your opponent their relative strength will be indicated next to their name.
<p>
<table border=0 cellpadding=2><tr><td valign=top><img src=/img/rs2/manual/fighting/npc1.gif></td><td>
 In the example here the goblin can be seen to be a level-2 monster. This is also coloured coded to help you decide if you should fight or not. It your opponent is weaker than you the indicator is shown in green, for equal opponents it is shown in yellow, whereas for stronger opponents it is shown in red.
</td></tr></table>
In addition to their level some monsters will be stronger if they have weapons or armour. Some creatures have natural armour or weapons. A unicorn has a horn and a giant scorpions carapace provide natural armour.
Be wary about attacking monsters which are marked as much stronger than you. You could easily die before you get a chance to retreat. Some of the more aggressive monsters - particularly ones which dwell further away from the cities, or in the dungeon, will attack you if you just move near to them so be careful where you go to start with!
<p>
<center><b>Combat styles</b></center>
<p>
To select the combat style you are using  you will need select the crossed sword icon on the player interface. Different weapons will have different choices of combat styles.
<table><tr><td>
Choosing 'accurate' will make you more likely to hit your opponent. Choosing 'aggressive' means that when you do hit your opponent you are likely to do more damage. 'Defensive' makes your opponent less likely to hit you. Whereas 'controlled' simply improves all three by a smaller amount. The combat style you select also affects which stats you gain experience points in when you kill the monster.
</td><td valign=top><img src=/img/rs2/manual/fighting/npc2.gif></td></tr></table>
<p>
The different combat styles will also have different damage types, 'crush', 'slash' and 'stab', different monsters will have be weaker against different damage types.


<table><tr><td><img src=/img/rs2/manual/fighting/npc3.gif></td><td valign=top>
 The amount of  damage each combat participant has taken is indicated by a horizontal bar above their head. If your bar is entirely green you are not hurt, it will turn red as you are hit. If the bar goes entirely red your character will die. A number will also briefly appear over you whenever you are hit by your opponent, indicating how many points of damage you have just sustained.
</td></tr></table>
<p>
If you find you are losing the battle, then you can run away by clicking on the ground.  If you do retreat it's best to keep moving, as monsters will pursue you and carry on hitting you. If you run far enough away monsters will give up the chase.
<p><center><b>Multiway combat areas</b></center><p>
<table><tr><td>There are some areas where multiple players can fight monsters and multiple monsters can fight players. These areas are called multicombat areas and a pair of crossed swords will appear in the bottom left corner of the screen to indicate you are in such an area.</td><td valign=top>
<img src=/img/rs2/manual/fighting/multiway.gif>
</td></tr></table>
<p><center><b>Dying</b></center><p>
Dying isn't much fun, so we recommend you avoid it. However most players will sooner or later get into a fight they can't win and end up losing all their hitpoints. Luckily death in RuneScape isn't permanent and after a few moments you will reappear in Lumbridge.
<p>
You keep all your stats and skills, BUT you drop the items you are carrying! It is unlikely you will be able to retrieve them so we recommend you keep as many of your valuables in the bank as possible. If you haven't attacked any other players recently (see section on player killing) you will also keep your 3 most valuable items. But you won't keep stackable items like coins, runes, arrows, etc.
<p><center><b>Combat skills</b></center><p>
The following are the skills you character will use by fighting.
<p>
<b>Attack<br></b>
Advancing this skill increases your chances of hitting an opponent.
<p>
<b>Strength<br></b>
Advancing this skill increases the amount of damage you do.
<p>
<b>Defence<br></b>
Advancing this skill decreases your chances of being hit by an opponent
<p>
<b>Hitpoints<br></b>
The amount of damage you can take in a fight before you die.
<p>
Other combat skills are <a href="/rs2/skills/prayer" class=c>prayer</a>, <a href="/rs2/skills/magic" class=c>magic</a> and <a href="/rs2/skills/ranging" class=c>ranged</a>, each of which has its own guide in this manual.

</td></tr></table>
<br>


<!--end main body text -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->



</center></td></tr></table></body></html>