<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->

<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Player Killing</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/rs2/skills" class=c>Skills Index</a>
</center></td></tr></table>
<br>
<!-- end of title box -->

<!-- tip box 1 -->
<table bgcolor=black cellpadding=4 width=500><tr><td class=e>
<center><b>Fighting other players</b></center><p>
As well as fighting the computer controlled monsters and characters you can also choose to directly fight with other players. Fighting against other players is often a lot more dangerous because they have a much greater variety of ways to fight than monster
<p>
Also in multiway combat areas watch out because their friends could be lurking behind a tree ready to finish you off! 
<p>
<table><tr><td><img src=/img/rs2/manual/fighting/player1.gif></td><td>
Killing other players can potentially give great rewards if they are holding valuable items. However attacking another player sets your alignment to 'evil', and a skull appears above your head to indicate this. As longer as your player is marked with a skull the risk is greater. If you die you will drop everything you are holding (you won't get to keep your 3 best items like you normally do!). If you play for 20 minutes without attacking anyone, the skull will disappear and the 3 item protection will work again.
</td></tr></table>

<p>
Not everybody likes fighting other players, so to do it you have to go to a special area of the map known as 'the wilderness'. Reaching the wilderness is easy, just keep on walking north and eventually you will get there. The wilderness is a desolate area full of death and danger. As well as the extra risk of attack from other players there are also many nasty monsters. However the rewards are also greater, and there is more treasure to be found if you dare to enter this area.
<p>
<table><tr><td>
When you enter the wilderness an icon at the bottom right of the screen will appear to remind you. This also indicates how far into the wilderness you have gone. The further north you go the more dangerous the wilderness becomes. At the south edge of the wilderness you can only fight with players who are a very similar level to yourself, whereas as you go north the range allowed increases, and by the north edge players of vastly different abilities can engage in combat and the danger is great!
</td><td><img src=/img/rs2/manual/fighting/player2.gif></td></tr><tr><td colspan=2><p>
A further note to those with the power of teleportation - the evil auras that have built up in the wilderness are blocking teleportation to wilderness levels above 20.
</td></tr></table>
<center><b><p>
Specific Playerkilling tactics</b></center><p>

<b>Mage vs Warrior</b><p>

<i><p>WARRIOR</i><p>
The mage will likely attempt to "hold" the warrior as quickly as possible, retreat to a safe distance and unleash with some spells. Since all of the big armour (plate and chain) carries negative bonuses to magical defence, your best plan is to take off all your armour or change to more appropriate attire, such as Dragonhide or studded leather. <br>
Quick thrown weapons are a good way to distract your opponent, and to <a href="/rs2/skills/herblore" class=c>poison</a> him / her. This may give the warrior a few seconds to get in close and hit the mage with his primary weapon. The mage is not likely to be wearing any armour, so don't worry about which attack style you are using.

<i><p>MAGE</i><p>
The warrior is dangerous at close range and useless at any distance - the simple tactics are to hold the warrior using one of the bind spells and start firing in damaging spells, or weaken or confuse your opponent from distance.<br>
If the player gets in close defend yourself using your staff and wait for another opportunity to hold them. If you're a particularly high level mage, you may be able to wear some armour while fending off the warriors advances and continue hitting him with your spells. Do remember that the armour will reduce your ability to cast magic.

<b><p>Warrior vs Ranger</b><p>

<i><p>WARRIOR</i><p>
You have excellent defence vs rangers if you're wearing your standard plate set, so you have little to worry about. Make sure you have a few <a href="/rs2/skills/herblore" class=c>cure poison potions</a> to stop the blighter from sticking you with a poisoned arrow and wade into him with your primary weapon.<br> 
If he is using Dragonhide or leather armour, your best bet is to hack him down with stabbing or slashing weapons.

<i><p>RANGER</i><p>
This is your toughest fight. A warrior has excellent defence vs your projectile attacks, and your armour is unlikely to stand up to the battering from a well placed blade. One available option is to run and get some distance between you and your target - hopefully put a forest between you so you can rain arrows down while he / she is picking her way through the forest. If the warrior gets close your in trouble.<br>
You could put on some chainmail instead as this offers better protection from the warrior, but offers no bonus to your ranged attack. Try to lead the warrior to a busier area; with any luck the warrior will get distracted and you can retreat to distance. Poisoning your projectiles is always useful as this can often distract the warrior for a few vital seconds.

<b><p>Ranger vs mage</b><p>

<i><p>RANGER</i><p>
Your leather armours give you the best defence vs spells, so you won't be getting hit that often by his magic. Fortunately for you, Robes offer no protection against your projectiles so stand back and turn him into a pin-cushion. At close ranges use throwing weapons and your shortbows, as they are quick and effective.<br>
If the Mage tries to run you can pull out your longbow, with a much greater range than any other weapon he will have trouble getting out of your reach. Always use poisoned weapons if you can, as the extra damage really adds up.
<i><p>
MAGE</i><p>
Rangers will give you the most trouble, as your hold spells won't affect their ability to attack you. In addition, they often have a very good defence vs magic due to their leather armour, particularly if they are wearing Dragonhide. Leather is also fairly strong against Crush attacks, so your staff won't be too much use up close either.
Your best bet is to just blast away with your best damage spells and hope they hit; forget using your other spells as they won't help.<br> 
You'll probably need some <a href="/rs2/skills/herblore" class=c>cure poison potions</a>, as arrows/daggers/darts/and javelins can all be poisoned.
If all else fails, you can always run to the lower wilderness and teleport out.



<!-- end tip box 1 -->

</td></tr></table>
<br>
<!--end main body text -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>