<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Weapons Guide</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/rs2/skills" class=c>Skills Index</a>
</center></td></tr></table>
<br>
<!-- end of title box -->

<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e>
<table border=0><tr><td>


 
<br>
<p><center><b>Weapons chart</b></center><p>

<p>Below is a chart showing the different types of weapons available in game, and how they compare with each other when used in combat.
<br><br>
<!-- table -->
<center>
<table bgcolor=black cellpadding=6 border=0>

<tr>
<td width=80 bgcolor=#382418><center><b>Weapon</b></center></td>
<td width=80 bgcolor=#382418><center><b>Speed</b></center></td>
<td width=80 bgcolor=#382418><center><b>Strength</b></center></td>
<td width=80 bgcolor=#382418><center><b>Damage</b></center></td>
</tr>

<tr>
<td><center><img src="/img/rs2/manual/fighting/dagger.gif"><br>Dagger</center></td>
<td><center>Fastest<br></center></td>

<td><center>Weakest<br></center></td>
<td><center>Stab</center></td>
</tr>

<tr>
<td><center><img src="/img/rs2/manual/fighting/ssword.gif"><br>Sword</center></td>
<td><center>Fast<br></center></td>

<td><center>Weak<br></center></td>
<td><center>Stab / Slash</center></td>
</tr>

<tr>
<td><center><img src="/img/rs2/manual/fighting/scimitar.gif"><br>Scimitar</center></td>
<td><center>Fast<br></center></td>

<td><center>Medium<br></center></td>
<td><center>Slash</center></td>
</tr>

<tr>
<td><center><img src="/img/rs2/manual/fighting/mace.gif"><br>Mace</center></td>
<td><center>Medium<br></center></td>

<td><center>Weak<br></center></td>
<td><center>Crush / Stab</center></td>
</tr>

<tr>
<td><center><img src="/img/rs2/manual/fighting/lsword.gif"><br>Long Sword</center></td>
<td><center>Medium<br></center></td>

<td><center>Medium<br></center></td>
<td><center>Slash / Stab</center></td>
</tr>

<tr>
<td><center><img src="/img/rs2/manual/fighting/axe.gif"><br>Axe</center></td>
<td><center>Medium<br></center></td>

<td><center>Weak<br></center></td>
<td><center>Slash / Crush</center></td>
</tr>

<tr>
<td><center><img src="/img/rs2/manual/fighting/pickaxe.gif"><br>Pickaxe</center></td>
<td><center>Medium<br></center></td>

<td><center>Weak<br></center></td>
<td><center>Stab / Crush</center></td>
</tr>

<tr>
<td><center><img src="/img/rs2/manual/fighting/spear.gif"><br>Spears<br><a href="/members" class=c>Members only</a></center></td>
<td><center>Medium<br></center></td>

<td><center>Medium<br></center></td>
<td><center>Stab / Crush / Slash</center></td>
</tr>

<tr>
<td><center><img src="/img/rs2/manual/fighting/baxe.gif"><br>Battle Axe</center></td>
<td><center>Slow<br></center></td>

<td><center>High<br></center></td>
<td><center>Slash / Crush</center></td>
</tr>

<tr>
<td><center><img src="/img/rs2/manual/fighting/whammer.gif"><br>Warhammer</center></td>
<td><center>Slow<br></center></td>

<td><center>High<br></center></td>
<td><center>Crush</center></td>
</tr>

<tr>
<td><center><img src="/img/rs2/manual/fighting/2hsword.gif"><br>2-Handed Sword</center></td>
<td><center>Slowest<br></center></td>

<td><center>Highest<br></center></td>
<td><center>Slash / Crush</center></td>
</tr>









<td valign=top></td></center>
<td></td>



</tr>
</table><p>
<center><b>Weapons Guide</b></center><p>
<b>Dagger</b><p>

The fastest of all the weapons. A player with a dagger can attack just over twice as fast as a player with a 2 handed weapon. A daggers principal attack is stabbing though it can be used as a slashing weapon.<br>
Daggers are also useful because they can be used to <a href="/rs2/skills/herblore" class=c>poison</a> an opponent (<a href="/members" class=c>members only</a>). The combination of fast attacks and poison make the dagger an ideal starting weapon in a fight against a ranger or a mage. Even if they run, you can get the odd hit in, hopefully poisoning them before you change to your primary weapon.
<b><p>
Short Sword</b><p>

A fast stabbing weapon. Though not as fast as the dagger it does carry significantly more damage. Can also be used as a slashing weapon. A short sword is a good all-round weapon and is not too expensive. 
<b><p>
Scimitar</b><p>

The scimitar is a slash only weapon. Not as flexible as the short sword, yet deals slightly more damage. Slashing weapons are good against cloth and leather armour. 
<b><p>
Mace</b><p>

Maces are primarily crushing weapons. Faster than the Warhammer and more flexible, RuneScape maces have little pointy studs to stab with. Crushing is particularly useful against plated opponents. Maces are also the preferred weapon of the priest as they carry a prayer bonus.<br>
The mace also has a "controlled" fighting option which allows you to spread your experience points between the four combat stats.
<b><p>
Long Sword</b><p>

The warriors friend. The longsword is excellent when stabbing or slashing through opponents, carries a good amount of damage, and is faster than the 2-hander, battle axe or Warhammer.  Like the mace, the longsword has a "controlled" fighting option.
<b><p>
Axe
</b><p>
The axe is best used in <a href="/rs2/skills/woodcutting" class=c>woodcutting</a>, but makes a competent weapon if nothing else is handy. 
<b><p>
Pickaxe
</b><p>
A pickaxe is best used in <a href="/rs2/skills/mining" class=c>mining</a>, but can be effective if nothing else is to hand. 
<b><p>
Spear (<a href="/members" class=c>Members only</a>)
</b><p>
The spear is the most flexible of all the weapons in RuneScape, although it sacrifices speed and power because of this.<br> 
It is the only weapon that can stab, crush or slash effectively, and can also be used to poison your opponent.  The spear also features the "controlled" fighting option.
 
<b><p>
Battle Axe
</b><p>
Faster than the 2-handed sword, yet not quite as much damage. Another useful wilderness weapon as it does very effective damage in Slashing and Crushing modes, which will get through any player armour. 

<b><p>
Warhammer
</b><p>
The Warhammer is basically a big lump of metal on the end of a pole. Not a subtle weapon - it is basically used to smash through your opponents. Slightly faster than the 2-handed sword, and can be used in conjunction with a shield. Perfect for fights against plated warriors.  
<b><p>
2 Handed Sword
</b><p>
The mighty 2-handed sword packs an incredible punch, but is the slowest of all the weapons, and cannot be used with a shield. The damage it deals is considerably higher than any other weapon made of the same material. Although it cannot be used to stab, very few pieces of armour can stand up to its mighty power.

</td></tr></table>

</td></tr></table>
<br>

<!--end main body text -->
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>