<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Quests</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/members" class=c>Members Benefits</a><br>
<a href="/manual" class=c>How to Play Index</a>

</center></td></tr></table><p>

<table width=450 border=0><tr><td width=300><center>


<table width=160 height=405 bgcolor=black cellpadding=4><tr valign=top><td class=e><center>
<table bgcolor=black cellpadding=4 width=150><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>
Standard Quests</center></td></tr></table>
<table>
<tr><td>
<br>
<b>Novice Quests</b>

</tr></td>
<tr><td><a href='/rs2/quests/runemystery' class=c>Rune Mysteries</a></td></tr>
<tr><td><a href='/rs2/quests/cookassist' class=c>Cook's Assistant</a></td></tr>
<tr><td><a href='/rs2/quests/sheepshearer' class=c>Sheep Shearer</a></td></tr>
<tr><td><a href='/rs2/quests/witchpotion' class=c>Witch's Potion</a></td></tr>
<tr><td><a href='/rs2/quests/romeojuliet' class=c>Romeo & Juliet</a></td></tr>
<tr><td><a href='/rs2/quests/piratetreasure' class=c>Pirate's Treasure</a></td></tr>
<tr><td><a href='/rs2/quests/ernestchicken' class=c>Ernest the Chicken</a></td></tr>
<tr><td><a href='/rs2/quests/impcatcher' class=c>Imp Catcher</a></td></tr>
<tr><td><a href='/rs2/quests/princeali' class=c>Prince Ali Rescue</a></td></tr>
<tr><td><a href='/rs2/quests/goblindiplo' class=c>Goblin Diplomacy</a></td></tr>
<tr><td><a href='/rs2/quests/doric' class=c>Doric's Quest</a></td></tr>
<tr><td><a href='/rs2/quests/restlessghost' class=c>The Restless Ghost</a></td></tr>
<tr><td><a href='/rs2/quests/shieldarrav' class=c>Shield of Arrav</a><br>
<tr><td><a href='/rs2/quests/vampireslayer' class=c>Vampire Slayer</a></td></tr>
<tr><td><a href='/rs2/quests/demonslayer' class=c>Demon Slayer</a></td></tr>

<tr><td>
<br>
<b>Intermediate Quests</b>

</tr></td>

<tr><td><a href='/rs2/quests/blackknight' class=c>Black Knight's Fortress</a></td></tr>
<tr><td><a href='/rs2/quests/knightsword' class=c>The Knight's Sword</a></td></tr>

<tr><td>
<br>
<b>Experienced Quests</b>
</tr></td>

<tr><td><a href='/rs2/quests/dragonslayer' class=c>Dragon Slayer</a></td></tr>

</table>
</center></td></tr></table>

</center></td><td width=300><center>

<table width=320 height=405 bgcolor=black cellpadding=4><tr valign=top><td class=e><center>
<table bgcolor=black cellpadding=4 width=150><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>
Member-Only Quests</center></td></tr></table>
<table border=0>

<tr><td>
<br>
<b>Novice Quests</b>

</tr></td>

<tr><td><a href='/rs2/quests/murdermystery' class=c>Murder Mystery</a></td><td></td><td><a href='/rs2/quests/observatory' class=c>Observatory Quest</a></td></tr>
<tr><td><a href='/rs2/quests/gertrudescat' class=c>Gertrude's Cat</a></td><td></td><td><a href='/rs2/quests/dwarfcannon' class=c>Dwarf Cannon</a></td></tr>
<tr><td><a href='/rs2/quests/druidicritual' class=c>Druidic Ritual</a></td><td></td><td><a href='/rs2/quests/fishingcontest' class=c>Fishing Contest</a></td></tr>
<tr><td><a href='/rs2/quests/sheepherder' class=c>Sheep Herder</a></td><td></td><td><a href='/rs2/quests/plaguecity' class=c>Plague City</a></td></tr>
<tr><td><a href='/rs2/quests/monksfriend' class=c>Monk's Friend</a></td><td></td><td><a href='/rs2/quests/hazeel' class=c>The Hazeel Cult</a></td></tr>
<tr><td><a href='/rs2/quests/biohazard' class=c>Biohazard</a></td><td></td><td></td></tr>


<tr><td>
<br>
<b>Intermediate Quests</b>

</tr></td>

<tr><td><a href='/rs2/quests/clocktower' class=c>Clock Tower</a></td><td></td><td><a href='/rs2/quests/junglepotion' class=c>Jungle Potion</a></td></tr>
<tr><td><a href='/rs2/quests/merlincrystal' class=c>Merlin's Crystal</a></td><td></td><td><a href='/rs2/quests/witchhouse' class=c>Witch's House</a></td></tr>
<tr><td><a href='/rs2/quests/seaslug' class=c>Sea Slug</a></td><td></td><td><a href='/rs2/quests/tribaltotem' class=c>Tribal Totem</a></td></tr>
<tr><td><a href='/rs2/quests/treegnome' class=c>Tree Gnome Village</a></td><td></td><td><a href='/rs2/quests/touristtrap' class=c>The Tourist Trap</a></td></tr>
<tr><td><a href='/rs2/quests/digsite' class=c>Digsite Quest</a></td><td></td><td><a href='/rs2/quests/chompy' class=c>Big Chompy Bird Hunting</a></td></tr>

<tr><td>
<br>
<b>Experienced Quests</b>

</tr></td>

<tr><td><a href='/rs2/quests/waterfall' class=c>Waterfall Quest</a></td><td></td><td><a href='/rs2/quests/scorpioncatcher' class=c>Scorpion Catcher</a></td></tr>
<tr><td><a href='/rs2/quests/holygrail' class=c>The Holy Grail</a></td><td></td><td><a href='/rs2/quests/fightarena' class=c>Fight Arena</a></td></tr>
<tr><td><a href='/rs2/quests/lostcity' class=c>Lost City</a></td><td></td><td><a href='/rs2/quests/grandtree' class=c>The Grand Tree</a></td></tr>
<tr><td><a href='/rs2/quests/watchtower' class=c>Watch Tower</a></td><td></td><td><a href='/rs2/quests/shilovillage' class=c>Shilo Village Quest</a></td></tr>
<tr><td><a href='/rs2/quests/templeikov' class=c>Temple of Ikov</a></td><td></td><td><a href='/rs2/quests/undergroundpass' class=c>The Underground Pass</a></td></tr>
<tr><td><a href='/rs2/quests/hero' class=c>Hero's Quest</a></td><td></td><td><a href='/rs2/quests/familycrest' class=c>Family Crest</a></td></tr>
<tr><td><a href='/rs2/quests/legends' class=c>Legends Quest</a></td><td></td><td></td></tr>

</table>
</center></td></tr></table>
</center></td></tr></table>
<br>
</center></td></tr></table>
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>