[com_0]
type=model
x=239
y=145
width=35
height=35
model=model_3035
zoom=525
xan=395

[cocktail_index_layer]
type=layer
x=300
y=80
width=135
height=167
hide=yes

[cocktail_index]
layer=cocktail_index_layer
type=text
x=0
y=0
width=135
height=17
center=yes
font=q8
text=Cocktail Index
colour=0x000080

[blurberry_special]
layer=cocktail_index_layer
type=text
x=0
y=30
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Blurberry Special

[chocolate_saturday]
layer=cocktail_index_layer
type=text
x=0
y=50
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Chocolate Saturday

[drunk_dragon]
layer=cocktail_index_layer
type=text
x=0
y=70
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Drunk Dragon

[fruit_blast]
layer=cocktail_index_layer
type=text
x=0
y=90
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Fruit Blast

[pineapple_punch]
layer=cocktail_index_layer
type=text
x=0
y=110
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Pineapple Punch

[sgg]
layer=cocktail_index_layer
type=text
x=0
y=130
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Short Green Guy

[wizard_blizzard]
layer=cocktail_index_layer
type=text
x=0
y=150
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Wizard Blizzard

[rightarrow_layer]
type=layer
x=432
y=259
width=45
height=36

[rightarrow]
layer=rightarrow_layer
type=graphic
x=0
y=0
buttontype=normal
width=45
height=36
graphic=rightarrow,0

[gnome_food_index_layer]
type=layer
x=47
y=80
width=409
height=209

[gnome_bowls]
layer=gnome_food_index_layer
type=text
x=15
y=0
width=163
height=17
center=yes
font=q8
text=Gnome Bowls
colour=0x000080

[chocolate_bomb]
layer=gnome_food_index_layer
type=text
x=12
y=32
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Chocolate Bomb

[tangled_toads_legs]
layer=gnome_food_index_layer
type=text
x=11
y=48
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Tangled Toad's Legs

[worm_hole]
layer=gnome_food_index_layer
type=text
x=10
y=64
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Worm Hole

[veg_ball]
layer=gnome_food_index_layer
type=text
x=9
y=80
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Veg Ball

[gnome_crunchies]
layer=gnome_food_index_layer
type=text
x=6
y=112
width=163
height=17
center=yes
font=q8
text=Gnome Crunchies
colour=0x000080

[premade_worm_crunchies]
layer=gnome_food_index_layer
type=text
x=3
y=144
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Worm Crunchies

[chocchip_crunchies]
layer=gnome_food_index_layer
type=text
x=2
y=160
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Choc Chip Crunchies

[premade_spicy_crunchies]
layer=gnome_food_index_layer
type=text
x=1
y=176
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Spicy Crunchies

[premade_toad_crunchies]
layer=gnome_food_index_layer
type=text
x=0
y=192
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Toad Crunchies

[gnome_battas]
layer=gnome_food_index_layer
type=text
x=239
y=0
width=163
height=17
center=yes
font=q8
text=Gnome Battas
colour=0x000080

[premade_worm_batta]
layer=gnome_food_index_layer
type=text
x=242
y=32
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Worm Batta

[toads_legs_batta]
layer=gnome_food_index_layer
type=text
x=243
y=48
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Toad's Legs Batta

[cheese_tomato_batta]
layer=gnome_food_index_layer
type=text
x=244
y=64
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Cheese & Tomato Batta

[premade_fruit_batta]
layer=gnome_food_index_layer
type=text
x=245
y=80
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Fruit Batta

[premade_vegetable_batta]
layer=gnome_food_index_layer
type=text
x=246
y=96
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Vegetable Batta

[com_29]
type=layer
x=12
y=20
width=488
height=36

[com_30]
layer=com_29
type=graphic
x=94
y=-3
width=88
height=60
graphic=tradebacking,0

[com_31]
layer=com_29
type=graphic
x=182
y=6
width=88
height=60
graphic=tradebacking,0

[com_32]
layer=com_29
type=graphic
x=270
y=6
width=88
height=60
graphic=tradebacking,0

[com_33]
layer=com_29
type=graphic
x=358
y=6
width=88
height=60
graphic=tradebacking,0

[com_34]
layer=com_29
type=graphic
x=394
y=6
width=88
height=60
graphic=tradebacking,0

[com_35]
layer=com_29
type=graphic
x=6
y=-1
width=88
height=60
graphic=tradebacking,0

[com_36]
layer=com_29
type=graphic
x=60
y=16
width=36
height=36
graphic=miscgraphics,3

[com_37]
layer=com_29
type=graphic
x=96
y=16
width=36
height=36
graphic=miscgraphics,3

[com_38]
layer=com_29
type=graphic
x=132
y=16
width=36
height=36
graphic=miscgraphics,3

[com_39]
layer=com_29
type=graphic
x=168
y=16
width=36
height=36
graphic=miscgraphics,3

[com_40]
layer=com_29
type=graphic
x=204
y=16
width=36
height=36
graphic=miscgraphics,3

[com_41]
layer=com_29
type=graphic
x=240
y=16
width=36
height=36
graphic=miscgraphics,3

[com_42]
layer=com_29
type=graphic
x=276
y=16
width=36
height=36
graphic=miscgraphics,3

[com_43]
layer=com_29
type=graphic
x=312
y=16
width=36
height=36
graphic=miscgraphics,3

[com_44]
layer=com_29
type=graphic
x=348
y=16
width=36
height=36
graphic=miscgraphics,3

[com_45]
layer=com_29
type=graphic
x=384
y=16
width=36
height=36
graphic=miscgraphics,3

[com_46]
layer=com_29
type=graphic
x=420
y=16
width=36
height=36
graphic=miscgraphics,3

[com_47]
layer=com_29
type=graphic
x=428
y=16
width=36
height=36
graphic=miscgraphics,3

[com_48]
layer=com_29
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_49]
layer=com_29
type=graphic
x=60
y=-15
width=36
height=36
graphic=steelborder2,0

[com_50]
layer=com_29
type=graphic
x=96
y=-15
width=36
height=36
graphic=steelborder2,0

[com_51]
layer=com_29
type=graphic
x=132
y=-15
width=36
height=36
graphic=steelborder2,0

[com_52]
layer=com_29
type=graphic
x=168
y=-15
width=36
height=36
graphic=steelborder2,0

[com_53]
layer=com_29
type=graphic
x=204
y=-15
width=36
height=36
graphic=steelborder2,0

[com_54]
layer=com_29
type=graphic
x=240
y=-15
width=36
height=36
graphic=steelborder2,0

[com_55]
layer=com_29
type=graphic
x=276
y=-15
width=36
height=36
graphic=steelborder2,0

[com_56]
layer=com_29
type=graphic
x=312
y=-15
width=36
height=36
graphic=steelborder2,0

[com_57]
layer=com_29
type=graphic
x=348
y=-15
width=36
height=36
graphic=steelborder2,0

[com_58]
layer=com_29
type=graphic
x=384
y=-15
width=36
height=36
graphic=steelborder2,0

[com_59]
layer=com_29
type=graphic
x=420
y=-15
width=36
height=36
graphic=steelborder2,0

[com_60]
layer=com_29
type=graphic
x=25
y=-15
width=36
height=36
graphic=steelborder2,0

[com_61]
layer=com_29
type=graphic
x=463
y=0
width=25
height=30
graphic=steelborder,1

[com_62]
layer=com_29
type=graphic
x=427
y=-15
width=36
height=36
graphic=steelborder2,0

[com_63]
layer=com_29
type=graphic
x=463
y=7
width=25
height=30
graphic=steelborder,3

[com_64]
layer=com_29
type=graphic
x=25
y=16
width=36
height=36
graphic=miscgraphics,3

[com_65]
layer=com_29
type=graphic
x=0
y=7
width=25
height=30
graphic=steelborder,2

[book_title]
type=text
x=75
y=30
width=360
height=14
center=yes
font=b12
shadowed=yes
text=The Blurberry Cocktail Guide
colour=0xFFFF00

[com_67]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF
