[com_0]
type=layer
x=12
y=20
width=488
height=36

[com_1]
layer=com_0
type=graphic
x=94
y=-3
width=88
height=60
graphic=tradebacking,0

[com_2]
layer=com_0
type=graphic
x=182
y=6
width=88
height=60
graphic=tradebacking,0

[com_3]
layer=com_0
type=graphic
x=270
y=6
width=88
height=60
graphic=tradebacking,0

[com_4]
layer=com_0
type=graphic
x=358
y=6
width=88
height=60
graphic=tradebacking,0

[com_5]
layer=com_0
type=graphic
x=394
y=6
width=88
height=60
graphic=tradebacking,0

[com_6]
layer=com_0
type=graphic
x=6
y=-1
width=88
height=60
graphic=tradebacking,0

[com_7]
layer=com_0
type=graphic
x=60
y=16
width=36
height=36
graphic=miscgraphics,3

[com_8]
layer=com_0
type=graphic
x=96
y=16
width=36
height=36
graphic=miscgraphics,3

[com_9]
layer=com_0
type=graphic
x=132
y=16
width=36
height=36
graphic=miscgraphics,3

[com_10]
layer=com_0
type=graphic
x=168
y=16
width=36
height=36
graphic=miscgraphics,3

[com_11]
layer=com_0
type=graphic
x=204
y=16
width=36
height=36
graphic=miscgraphics,3

[com_12]
layer=com_0
type=graphic
x=240
y=16
width=36
height=36
graphic=miscgraphics,3

[com_13]
layer=com_0
type=graphic
x=276
y=16
width=36
height=36
graphic=miscgraphics,3

[com_14]
layer=com_0
type=graphic
x=312
y=16
width=36
height=36
graphic=miscgraphics,3

[com_15]
layer=com_0
type=graphic
x=348
y=16
width=36
height=36
graphic=miscgraphics,3

[com_16]
layer=com_0
type=graphic
x=384
y=16
width=36
height=36
graphic=miscgraphics,3

[com_17]
layer=com_0
type=graphic
x=420
y=16
width=36
height=36
graphic=miscgraphics,3

[com_18]
layer=com_0
type=graphic
x=428
y=16
width=36
height=36
graphic=miscgraphics,3

[com_19]
layer=com_0
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_20]
layer=com_0
type=graphic
x=60
y=-15
width=36
height=36
graphic=steelborder2,0

[com_21]
layer=com_0
type=graphic
x=96
y=-15
width=36
height=36
graphic=steelborder2,0

[com_22]
layer=com_0
type=graphic
x=132
y=-15
width=36
height=36
graphic=steelborder2,0

[com_23]
layer=com_0
type=graphic
x=168
y=-15
width=36
height=36
graphic=steelborder2,0

[com_24]
layer=com_0
type=graphic
x=204
y=-15
width=36
height=36
graphic=steelborder2,0

[com_25]
layer=com_0
type=graphic
x=240
y=-15
width=36
height=36
graphic=steelborder2,0

[com_26]
layer=com_0
type=graphic
x=276
y=-15
width=36
height=36
graphic=steelborder2,0

[com_27]
layer=com_0
type=graphic
x=312
y=-15
width=36
height=36
graphic=steelborder2,0

[com_28]
layer=com_0
type=graphic
x=348
y=-15
width=36
height=36
graphic=steelborder2,0

[com_29]
layer=com_0
type=graphic
x=384
y=-15
width=36
height=36
graphic=steelborder2,0

[com_30]
layer=com_0
type=graphic
x=420
y=-15
width=36
height=36
graphic=steelborder2,0

[com_31]
layer=com_0
type=graphic
x=25
y=-15
width=36
height=36
graphic=steelborder2,0

[com_32]
layer=com_0
type=graphic
x=463
y=0
width=25
height=30
graphic=steelborder,1

[com_33]
layer=com_0
type=graphic
x=427
y=-15
width=36
height=36
graphic=steelborder2,0

[com_34]
layer=com_0
type=graphic
x=463
y=7
width=25
height=30
graphic=steelborder,3

[com_35]
layer=com_0
type=graphic
x=25
y=16
width=36
height=36
graphic=miscgraphics,3

[com_36]
layer=com_0
type=graphic
x=0
y=7
width=25
height=30
graphic=steelborder,2

[com_37]
type=model
x=239
y=145
width=35
height=35
model=model_3035
zoom=525
xan=395

[com_38]
type=text
x=75
y=30
width=360
height=14
center=yes
font=b12
shadowed=yes
text=The Blurberry Cocktail Guide
colour=0xFFFF00

[com_39]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF

[text_left]
type=text
x=125
y=120
width=125
height=122
font=q8
text=line1\nline2\nline3\nline4\nline5\nline6\nline7\nline8

[cook_obj]
type=model
x=75
y=200
width=32
height=32
zoom=283
xan=124
yan=1916

[page_title]
type=text
x=75
y=80
width=150
height=17
center=yes
font=q8
text=title1
colour=0x800000

[text_right]
type=text
x=285
y=80
width=200
height=182
font=q8
text=line1\nline2\nline3\nline4\nline5\nline6\nline7\nline8\nline9\nline10\nline11\nline12

[leftarrow_layer]
type=layer
x=34
y=259
width=45
height=36

[leftarrow]
layer=leftarrow_layer
type=graphic
x=0
y=0
buttontype=normal
width=45
height=36
graphic=leftarrow,0

[rightarrow_layer]
type=layer
x=432
y=259
width=45
height=36

[rightarrow]
layer=rightarrow_layer
type=graphic
x=0
y=0
buttontype=normal
width=45
height=36
graphic=rightarrow,0

[index]
type=text
x=20
y=28
buttontype=normal
width=28
height=11
font=p11
shadowed=yes
text=Index
colour=0xC00000
overcolour=0xFFFFFF
