[com_0]
type=model
x=244
y=136
width=32
height=32
model=model_3048
zoom=585
xan=503
yan=1

[com_1]
type=model
x=73
y=51
width=32
height=32
model=model_3043
zoom=1061
xan=539
yan=2044

[com_2]
type=model
x=257
y=43
width=32
height=32
model=model_3030
zoom=2073
xan=424
yan=8

[com_3]
type=model
x=393
y=34
width=32
height=32
model=model_3038
zoom=1438
xan=506
yan=2043

[com_4]
type=model
x=429
y=149
width=32
height=32
model=model_3025
zoom=887
xan=470
yan=8

[com_5]
type=model
x=226
y=224
width=32
height=32
model=model_3047
zoom=851
xan=469
yan=11

[com_6]
type=text
x=43
y=118
width=96
height=17
font=q8
text=Ta Quir Priw
colour=0x2B1C0F

[com_7]
type=text
x=374
y=89
width=103
height=17
font=q8
text=Lemanto Andra
colour=0x2B1C0F

[com_8]
type=text
x=185
y=31
width=63
height=17
font=q8
text=Sindarpos
colour=0x2B1C0F

[com_9]
type=text
x=217
y=282
width=53
height=17
font=q8
text=Gandius
colour=0x2B1C0F

[com_10]
type=text
x=356
y=137
width=67
height=17
font=q8
text=Kar-Hewo
colour=0x3B1C0F

[com_11]
type=layer
x=215
y=220
width=57
height=80
hide=yes

[com_12]
layer=com_11
type=model
x=11
y=4
width=32
height=32
model=model_3029
zoom=851
xan=469
yan=11

[com_13]
type=layer
x=39
y=31
width=105
height=109
hide=yes

[com_14]
layer=com_13
type=model
x=34
y=20
width=32
height=32
model=model_3045
zoom=1061
xan=539
yan=2044

[com_15]
type=layer
x=183
y=28
width=142
height=58
hide=yes

[com_16]
layer=com_15
type=model
x=74
y=15
width=32
height=32
model=model_3036
zoom=2073
xan=424
yan=8

[com_17]
type=layer
x=370
y=30
width=112
height=81
hide=yes

[com_18]
layer=com_17
type=model
x=23
y=4
width=32
height=32
model=model_3026
zoom=1438
xan=506
yan=2043

[com_19]
type=layer
x=397
y=144
width=95
height=85
hide=yes

[com_20]
layer=com_19
type=model
x=32
y=5
width=32
height=32
model=model_3027
zoom=887
xan=470
yan=8

[com_21]
type=model
x=214
y=220
buttontype=normal
width=59
height=81
overlayer=com_11
zoom=400

[com_22]
type=model
x=41
y=32
buttontype=normal
width=101
height=106
overlayer=com_13
zoom=400

[com_23]
type=model
x=185
y=29
buttontype=normal
width=139
height=56
overlayer=com_15
zoom=400

[com_24]
type=model
x=372
y=32
buttontype=normal
width=107
height=78
overlayer=com_17
zoom=400

[com_25]
type=model
x=360
y=139
buttontype=normal
width=127
height=61
overlayer=com_19
zoom=400

[com_26]
type=text
x=408
y=3
buttontype=close
width=74
height=14
font=p12
shadowed=yes
text=Close Window
colour=0x697F51
overcolour=0xFFFFFF

[com_27]
type=model
x=265
y=82
width=32
height=32
script1op1=pushvar,glider_takeoff
script1=eq,3
activemodel=model_3063
activeanim=human_blown_end_getup_priority
zoom=689
xan=365
yan=2031

[com_28]
type=model
x=272
y=129
width=32
height=32
script1op1=pushvar,glider_takeoff
script1=eq,4
activemodel=model_3063
activeanim=human_blown_end_getup_priority
zoom=689
xan=425
yan=105

[com_29]
type=model
x=244
y=126
width=32
height=32
script1op1=pushvar,glider_takeoff
script1=eq,5
activemodel=model_3063
activeanim=human_blown_end_getup_priority
zoom=689
xan=375
yan=1126

[com_30]
type=model
x=287
y=78
width=32
height=32
script1op1=pushvar,glider_takeoff
script1=eq,1
activemodel=model_3063
activeanim=seq_786
zoom=689
xan=404
yan=2039

[com_31]
type=model
x=86
y=76
width=32
height=32
script1op1=pushvar,glider_takeoff
script1=eq,2
activemodel=model_3063
activeanim=seq_786
zoom=689
xan=494
yan=982

[com_32]
type=model
x=144
y=127
width=32
height=32
script1op1=pushvar,glider_takeoff
script1=eq,6
activemodel=model_3063
activeanim=human_blown_end_getup_priority
zoom=832
xan=405
yan=1319

[com_33]
type=model
x=170
y=142
width=32
height=32
script1op1=pushvar,glider_takeoff
script1=eq,7
activemodel=model_3063
activeanim=human_blown_end_getup_priority
zoom=832
xan=430
yan=306
