[com_0]
type=model
x=240
y=141
width=32
height=32
model=model_3033
zoom=491
xan=484
yan=3

[com_1]
type=model
x=96
y=97
width=32
height=32
model=model_loc_227_8
zoom=591
xan=155
yan=2037

[com_2]
type=model
x=98
y=154
width=32
height=32
model=model_2386_obj
zoom=385
xan=218
yan=115

[com_3]
type=model
x=93
y=254
width=32
height=32
model=model_2504_obj
zoom=478
xan=148
yan=1752

[com_4]
type=text
x=163
y=92
width=256
height=17
font=q8
text=Use rope to repair the Trawler's nets.
colour=0x4A4028

[com_5]
type=text
x=160
y=152
width=221
height=17
font=q8
text=Use Swamp Paste to repair leaks
colour=0x4A4028

[com_6]
type=text
x=161
y=174
width=113
height=17
font=q8
text=in the Ship's hull.
colour=0x4A4028

[com_7]
type=text
x=161
y=227
width=232
height=17
font=q8
text=If all else fails you can always try
colour=0x4A4028

[com_8]
type=text
x=162
y=249
width=202
height=17
font=q8
text=and bail the water out as well!
colour=0x4A4028

[com_9]
type=text
x=219
y=60
width=85
height=17
font=q8
shadowed=yes
text=How to play:
colour=0xE5BD5D

[com_10]
type=text
x=430
y=7
buttontype=close
width=74
height=14
font=p12
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF
