<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->
<!-- content table-->
<table width="600" cellpadding="0" cellspacing="0" border="0"
background="/img/background2.jpg">
<tr>
<td valign="bottom">
<center><br>
 <!-- title box --> 
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Tales From The Tavern</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock' class=c>Library Of Varrock</a>
</center></td></tr></table>
<!-- end title box --><br>
 <table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<table><tr><td><img src='/img/varrock/elaborate/elaboratew.gif' width=100 height=100 align=top></td><td>
<p align=justify><i>
elcome, curious one, to the Royal Library of Varrock. 
<br>My name is Reldo, and as curator, historian and scholar to the histories of RuneScape, I shall be your guide here.<br></i>
</td></tr></table></center><i>
As my role of Librarian of Varrock, I often come across manuscripts and documents that are, for want of a better word, lies.<br>
Entertaining lies none the less, but still of extremely questionable historical accuracy.<br>
I present here for your amusement rather than your education, a number of tales and ballads I have heard or discovered contained within the library. I put very little faith in their accuracy, or truthfulness, but as entertainment, I hold them in high regard.<br>
I think we have all been to a tavern, and been regaled with an entertaining tale by some braggart, whose words are his currency for the drink he consumes, have we not?<br>
And even though we know his words to be a lie, we listen, enchanted, for secretly we wish the words were true...<p align=justify>
It is in this spirit I present the following pieces of fiction, and I ask those who have heard similarly entertaining tales to send to me, where I will consider them for publication here.<p align=justify>
Please ensure anything you send is either an attached plain text file, or in the body of your message, as .docs or other attachments will not be read, and if you would like the story tellers name to be included, please mark it clearly or it will be produced as an anonymous source.<br>
I would also suggest you use a spell-check program before sending them, for you would not like to appear foolish with basic spelling errors would you?
<p align=right>
-Reldo&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</i>
<center><img src='/img/newsletter/smstones.jpg'></center><p><p align=center>

<a href='/varrock/tales/11' class=c>The Miners' Tale</a> <i>by DoomRanger5</i><p align=center>
<a href='/varrock/tales/10' class=c>Boots, Gloves, And Caskets</a> <i>by Teutonknight</i><p align=center>
<a href='/varrock/tales/9' class=c>Prayer To Guthix</a> <i>by Deminstius</i><p align=center>
<a href='/varrock/tales/8' class=c>The Tale Of The Twelve Apple Pies</a> <i>by Merrorinc</i><p align=center>
<a href='/varrock/tales/7' class=c>Untitled</a> <i>by Demon Draco</i><p align=center>
<a href='/varrock/tales/6' class=c>The Wilderness</a> <i>by Jameilious</i><p align=center>
<a href='/varrock/tales/5' class=c>Arfard the Barbarian</a> <i>by Samitasmas</i><p align=center>
<a href='/varrock/tales/4' class=c>Farmlands</a> <i>by ty69 54mn</i><p align=center>
<a href='/varrock/tales/3' class=c>The Archer, The Mage, and The Knight</a> <i>by Merlin Rune</i><p align=center>
<a href='/varrock/tales/2' class=c>The Battle of Edgeville</a> <i>by Dal Rown</i><p align=center>
<a href='/varrock/tales/1' class=c>Saga of the Antihero</a> <i>by Gen Crunchy</i><p align=center>


<center><img src='/img/newsletter/smstones.jpg'></center><p align=center>
<center><img src='/img/newsletter/reldoemail.gif' width="280"height="20"></center>
<p>
<font color="white" size="1"><i>
Copyright notice: All user submitted articles are the property of their respective authors and
 are shown here under license, as specified in our <a href="/terms" class="c">Terms+Conditions</a>.
</I></font></p>
</center>
</td></tr></table>
<!--end content body-->

<!--end content body--><br>
</center>
</td>
</tr>
</table>
<!-- end content table -->
<!-- border footer-->
<table cellpadding="0" cellspacing="0">
<tr>
<td valign="bottom"><img src=
"/img/edge_g2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
<td valign="bottom">
<div align="center" style=
"font-family:Arial,Helvetica,sans-serif; font-size:11px;">This
webpage and its contents is copyright 2004 Jagex Ltd<br>
 To use our service you must agree to our <a href=
"/terms" class="c">Terms+Conditions</a> + <a href=
"/privacy" class="c">Privacy policy</a></div>

<img src="/img/edge_c.jpg" width="400"
height="42" hspace="0" vspace="0"></td>
<td valign="bottom"><img src=
"/img/edge_h2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
</tr>
</table>

<!-- border footer--></center>
</td>
</tr>
</table>
</body>
</html>

