<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Tales from the Tavern</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock' class=c>Library Of Varrock</a><br><a href='/varrock/tales' class=c>Tales Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<p align=justify><i>
Reldo writes: <br>
Morality tales such as this have traditionally been the province of parents attempting to teach their children a lesson through story.<br>
What is the moral of this story? Well, I leave that for you to determine for yourself...<br>
<p align=left>
</i>
<center><img src='/img/newsletter/smstones.jpg'></center><p>
<u><h3>The Tale Of The Twelve Apple Pies By Merrorinc</u></h3>

<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratet.gif' width=100 height=100 align=top></td><td>
oday was to be a very merry day for Varrock. Although it was midsummer; the sun's rays warmed the people as they sat gossiping and laughing on the fresh green grass; this was the not the main reason for their merrymaking. No, their joy was spread from an annual pie-baking contest which was to be held near the Cook's Guild. This was always a good source of entertainment for the citizens.</td></tr></table></center>
<p align=justify>
They would laugh and jest at the poor men who's pies had not turned out quite so right, and then cheer and let out loud whoops for those who won, and whom were celebrated with many a spilt beer at the Blue Moon Inn.<br>
For young Jeremy, this was perhaps his most look-forwarded-to day of the whole seasons (perhaps excluding Christmas). Jeremy was bright and quick, but he often failed at School, and other children often picked on him for being so small. When he thought about it, the only thing he could do well was cook.<br> 
His mother was a cook, and so was her father, and infact perhaps the skill carries on for far a generation. "It's in your blood, you know," his mother would often say, smiling at another one of Jeremy's creations. "But perhaps you would spend more time with your studies, than at the stove. I have had to see the teacher two times this week! For fighting, of all things."
<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaborateb.gif' width=100 height=100 align=top></td><td>
ut today nothing could pierce Jeremy's happy mood. He had cooked twelve applepies yesterday, each one better than the last, until he had come to a pie which surpassed all his other creations. "I will take this pie to the contest tomorrow morning," he thought. (For he planned to enter the child's section, where pies could be cooked before the contest. Jeremy thought this to be a slight unfair,</td></tr></table></center>
<p align=justify>
as he knew that many of the school children would receive a large amount of help from their elders, but he brushed this thought from his mind and hummed a tune instead.)<br>
He stopped, and said, "But what should I do with these eleven other pies? They are all cooked now, and it would be a shame for them to go to waste." <br>
Jeremy thought hard. "I suppose I shall have to take these pies to the contest too, and maybe share them out as gifts. I care not what happens to them, as long as I still have my perfect applepie to enter tomorrow!" And so he stored all the pies in the cupboard beneath the sink and decided to sleep.
<p align=justify>
Night passed, and Tomorrow Morning came. Jeremy woke early, for he planned to arrive at the contest early to dispatch of the other eleven pies. He opened his bedroom window and saw a reddy yellow sun rising slowly above the Ocean. It felt quite cold outside, as it was still early morning, so Jeremy decided to dress with his favourite cloak and a few more layers than needed for warmth. <br>
Before he left the house he took all his pies out of the cupboard, careful to stake his favourite one top. "I shall look quite silly with twelve pies," said Jeremy to no one to particular. His mother would already be at the Cook's guild by now, as she was one of the people helping to set everything up. "Nevermind, I suppose not too many people will be about this early in the morning. Oh well, off I go I suppose!" He opened the front door, and with twelve pies stacked high in one arm he struggled to lock it again. But soon he was strolling down his garden path and out onto Varrock.
<p align=justify>
Jeremy thought it felt quite nice walking the streets alone that were so normally crowded with jostling merchants and visitors. A fine mist was settling slowly onto the grass, and the trees and grass were covered in a sweet smelling dew. A few birds were beginning to awaken from their light slumbers and sing happy dawn tunes. Jeremy wrapped his red and gold scarf higher up across his face, so not as to feel the chilly air. The pies were beginning to get slightly squashed, sitting ontop one another; but all the time Jeremy made sure his favourite pie was on top, and whenever he looked at it he would grin under his scarf, for he knew he was sure to win.
<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratei.gif' width=100 height=100 align=top></td><td>
t is unfortunate that this is as far as a happy tale goes; for further on in the road Jeremy saw three figures leaning on a picket fence. Their clothes were tatty and worn; each of their long arms ended in a hand that held an empty beer mug; two of them had nose piercings and one also had both his ears and eyebrows pierced with short gold rings. Jeremy recognised them immediately.</td></tr></table></center>
<p align=justify>
Why, if he was near enough, he would have been able to recognise them by smell alone. For they stank of beer, and their clothes stank of beer, and even now they were leaning against the fence of the local Tavern, where they had drunk even more ales throughout the night. "Oh, Saradomin," muttered Jeremy in a worried tone, "If you can hear me, then I beg of you for these three youths not to see me!" But it would appear that Saradomin was busy elsewhere at the time, for when Jeremy opened his eyes he saw the three louts approaching him, big grins on their faces.
<p align=justify>
"Look, it's our jeremy!" said Christopher, or Big Chris as he was better known. And indeed he was big. Jeremy had always thought of him a miniature giant, for Big Chris was also ugly enough to fit into a giant's description. A long wide lump rolled down his face where he nose should be, and beneath that was his wide lopsided mouth that he mainly used to pour ale into and shout insults from. "And what's he got here?" This time Brian spoke, or known by Jeremy as Bruiser. Bruiser had been weight training with his dad now for over a year, and his huge muscles showed it. "Looks like pies to me. Ahahahah! What you doin with so many pies, eh, jem?"
<p align=justify>
"I'm taking them to the pie-baking contest!" Jeremy squeaked, and all three of the bullies laughed. The third teenager, nicknamed Deathkid3000 (for someone had already taken the name Deathkid), laughed "The contest? I don't know of no contests!" They all burst into roaring laughter again. Jeremy shifted the twelve pies uncomfortably in his hands, looking for a way out of the situation. <br>
Big Chris wiped a tear from his huge eye and finally said, "Is there any contests on today, fellas?" He looked around at the other two, shrugging his shoulders, and they both made similar gestures while still giggling. "And, well, I can't see any contest either!" Big Chris started to examine the surroundings closely, as if he might suddenly find a contest going on in the middle of the deserted street, all the while with a background of sniggers from his two cohorts.
<p align=justify>
"You're lying!" shouted Jeremy, wanting to put his hands to his ears. Jeremy hated people who lied; he could not see why people would make up fiction instead of facts. 
<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratei.gif' width=100 height=100 align=top></td><td>
ften when he found himself in a tricky spot where someone was lying to him, he would recite one of his favourite recipes to himself, or shake his head wildly, as if trying to get the lie out of his head. "You're a dirty liar! You know there's a contest going on today! You know it you know it!"
</td></tr></table></center>
<p align=justify>
"Ok, ok," said Big Chris, putting his hands up defensively. "I tell you what then. Me and the boys, we're a bit hungry at the moment, right, cause we've been drinking all night." Bruiser made a glugging noise behind him, as if drinking a pretend glass of beer. <br>
"Now we've noticed those pies you've got there too. What's in them? Apple is it?" Jeremy nodded slowly, his eyes wide. "Now come on, jem, 12 pies is far too much for one person. And I bet it's hard carrying all those pies, too, isn't it?" Jeremy nodded again. "Well, jem, you're smart ain't ya? Ain't ya? We need those pies, for a better cause, you see. So just give 'em 'ere then and we'll be on our way!"
<p align=justify>
Jeremy stumbled back, startled, almost tripping over his cloak. He would have to give up his favourite pie??? And after all the hours he put into making the first eleven pies too! He gripped the pies tighter than before, his eyes now wide open with fear. But I haven't entered them in the contest yet! By now the mist had settled on the grass, and had become a fine dew. Jeremy inhaled the cold air quickly into his lungs, then almost choked, and exhaled again quickly. The grass, he thought. I will run along the grass and escape!
<p align=justify>
"You won't catch me and my pies!" screamed Jeremy, and he took off suddenly and sprinted across the wet grass. Big Chris and his gang watched Jeremy run into the distance, his screams fading, but his legs still flailing wildly. A girl, around the age of the three teenagers, approached the gang but she too was staring off at the figure of Jeremy. "What's wrong with him today?" she asked, but she was only answered with a grunt, and soon they all moved back up to the Tavern.
<p align=justify>
Jeremy ran quickly through the wood, his eyes clenched shut and full of tears. He no longer cared where he ran to; as long as he and his pies were away from the thieving bullies. After awhile he slowed, then finally came to stop, still clutching the now squashed pies in his hands. He was breathing hard, and coughing and crying at the same time. Slowly he forced himself to open his tear-stained eyes, one at time. <br>
"Where on earth am I?" Jeremy managed to get out, in-between choking coughs. His surroundings were queer to him; there were no normal, leaf-filled trees here, only bare, barren trees with long, spindly branches. The ground too, was not green and lush; it was now hard compressed soil beneath his feet. The sky, too, seemed to be darker and more foreboding in this place. "I do not care where I am!" Jeremy shouted up at the sky, "For I am Jeremy and I have still have my twelve apple pies!"
<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratet.gif' width=100 height=100 align=top></td><td>
his was perhaps not the wisest of moves; as shouting at the top of your voice in a strange land often draws strange creatures towards you. And as it did now, for a brown bear mother was hunting for her young near where Jeremy stood, and on seeing this pitiful boy enter her territory she had no choice but to attack him. Any knowledgeable or wise ranger can tell you that bears are easily angered when it comes to their young, and this bear was no exception. </td></tr></table></center>
<p align=justify>
Unfortunately Jeremy was neither knowledgeable nor wise and so had no idea why this great bear was advancing on him so.
<p align=justify>
"No! Stop where you are, bear! I command you to stop!" Jeremy stumbled backwards and tripped over a tree root. The pies he had been looking after so greatly had slipped; and now many of them lay in the ground, ruined. His favourite pie, as it had been on top of the pile, had flown the furthest. It now lay upside-down, ruined, on the hard ground. "What have you done! You stupid, evil bear!" Jeremy cursed and swore, but the bear did not seem to mind. Slowly the first raindrops of a storm splattered to the ground, hitting the soil hard and soaking into some of the pie mixture.
<p align=justify>
Jeremy was now bloodied, wet, and severely injured. The bear had broken one of his arms, and it now hung limp on his side as he lay sobbing on the ground. The idea came to his mind, not suddenly, nor casually, but it probed his thoughts until Jeremy knew what he had to do. Being low on health, and almost near certain death, Jeremy crawled away from the bear, and picked up the first soggy mess from the ground. It now contained not only apples, but dirt too, and rainwater, and perhaps other things Jeremy would rather not have thought about. And so slowly he began to eat it, with the mother bear still mauling him from behind.
<p align=justify>
Pies do heal quite a lot of health, as most citizens of Runescape know, but this bear was rough and greatly angered. Jeremy ate through the first pie, then he was forced to eat his second, and his third, and so on until he at last came to twelfth and final pie. The rain was pouring down relentlessly now; Jeremy was soaked through and could no longer tell which were tears and which were raindrops upon his face. "My final pie," he croaked. "And also my favourite." Jeremy sobbed, then turned his head at the sky. "How I hate this eternal rain! Will you not stop for even a second!" The rain came down harder than ever, and the bear continued to attack, so Jeremy saw only one choice left before him.
<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratet.gif' width=100 height=100 align=top></td><td>
he day turned out to bright and sunny after all. The rain had only lasted for a short while, and not many people had been awake at the time to notice it anyway. The contest went on as usual, as well did the usual merrymaking and banter that went with it, and so everyone went home happy and content at the end to their warm and cosy beds. 
</td></tr></table></center><p align=justify>
Bruiser got a bit worried after a while when Jeremy did not show up, but he soon downed his spirits with a tall glass of ale. Even Jeremy's mother did not notice until sometime later.
<p align=justify>
One person did not enjoy this merrymaking however; mainly because he did not attend the contests. He was a playerkiller, and he knew the wilderness well, and he trod it now with well worn shoes and cloak. After his usual checks of the bare forest around him, he came across the cave of a mother bear and her cubs. He knew well enough to stay clear of her territory, but when he noticed something unusual in the ground nearby he ran quietly over to take a look. What's this? he thought to himself, his forehead frowned in a tall line of creases.
<p align=justify>
For there, on the ground before him, lay the gnawed bones of Jeremy, and after that were twelve empty pie dishes.
<p align=justify>
<br>
</center>
    <br>
    <center><img src='/img/newsletter/smstones.jpg'></center><p>
<i>If you have discovered an interesting manuscript detailing RuneScape history, please</i>
<center><img src='/img/newsletter/reldoemail.gif'></center><br>
<p align=left>
<font color="white" size="1"><i>
Copyright notice: All user submitted articles are the property of their respective authors and
 are shown here under license, as specified in our <a href="/terms" class="c">Terms+Conditions</a>.
</I></font></p>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</center>
</td>
</tr>
</table>
</body>
</html>