<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Tales from the Tavern</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock' class=c>Library Of Varrock</a><br><a href='/varrock/tales' class=c>Tales Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<p align=justify><i>
Reldo writes: <br>
Fisherman are notorious for their 'tall tales'. I recently heard this amusing anecdote which is almost certainly utterly untrue, yet fascinating nonetheless.<br>
<p align=left>
</i>
<center><img src='/img/newsletter/smstones.jpg'></center><p>
<u><h3>Boots, Gloves, And Caskets by Teutonknight</u></h3>
<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratem.gif' width=100 height=100 align=top></td><td>
any ages ago, a group of thieves built a ship called
the 'Raider'. This group of thieves was
known as the Terminy Ring. The Terminy Ring sailed
around Runescape from town to town on the
Raider, terrorizing citizens and breaking into houses
with their trusty lock picks.
</td></tr></table></center>
<p align=justify>
After a few good
years of thieving and terrorizing, the Terminy Ring
had quite a profitable stockpile of loot,
which included caskets full of gold, gemstones, and
jewelry, along with gloves and boots 
(gear which every member of the Terminy Ring was
required to wear). <p align=justify>
One day a group of angry 
citizens who had been robbed by the Terminy Ring
decided they would get revenge. So the citizens put
their savings together and built their own seaworthy
ship, which they called the Destroyer. <br>
The Destroyer
was much faster and had much more firepower than the
Raider. One night the Destroyer took
a test run and a citizen reported seeing a ship from
the crow's nest.  Upon getting closer 
they saw the ship was the Raider. The Destroyer opened
fire on the Raider and the Raider 
exploded! Boots, gloves, and caskets flew everywhere.
<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaborateo.gif' width=100 height=100 align=top></td><td>
ne citizen's journal read: "Tonight we
came in contact with those yellow bellies who stole
our gold. We destroyed their ship and
everyone aboard it. The ship had exploded; boots,
gloves, and caskets fell from the
sky. It was almost like the sky was raining items!
</td></tr></table></center>
<p align=justify>
There was so much loot aboard the Raider
that it took an hour just for all the items to plunge
into the ocean." Even today fishermen 
report finding boots, gloves, and caskets in their
catches. Some even say that on foggy
nights, with a full moon in the sky, you can see a
ghostly silhouette of the Raider sailing on the sea.
<p align=justify>
And if you listen carefully, you can hear the screams
of the victims that were terrorized long ago. 


<p align=justify>
<br>
</center>
    <br>
    <center><img src='/img/newsletter/smstones.jpg'></center><p>
<i>If you have discovered an interesting manuscript detailing RuneScape history, please</i>
<center><img src='/img/newsletter/reldoemail.gif'></center><br>
<p align=left>
<font color="white" size="1"><i>
Copyright notice: All user submitted articles are the property of their respective authors and
 are shown here under license, as specified in our <a href="/terms" class="c">Terms+Conditions</a>.
</I></font></p>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</center>
</td>
</tr>
</table>
</body>
</html>