<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Tales from the Tavern</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock' class=c>Library Of Varrock</a><br><a href='/varrock/tales' class=c>Tales Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<p align=justify><i>
Reldo writes: <br>
This succinct historical account was recently donated to my Library anonymously.<br>
Although I question its historical accuracy, It is an excellent example of late 4th century record keeping.
<br>
<p align=left>
</i>
<center><img src='/img/newsletter/smstones.jpg'></center><p>
<u><h3>The Battle of Edgeville  - by Dal Rown</u></h3>
<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratet.gif' width=100 height=100 align=top></td><td>
<p align=justify>he Battle of Edgeville occurred long ago during the Barbarian Invasion. The king of Misthalin, afraid of an attack, moved his troops to Edgville. At this same time the Barbarians put forth their attack on the town.</td></tr></table></center>
Much fighting occurred, many died, and much was destroyed in the hours of battle that took place. The General of the Barbarians was Vjurek the Strong. The General of the soldiers of Misthalin was Sir Wysten. Sir Wysten won the battle finally pushing back the Barbarians. The Barbarians were greatly weakened by the blow and their invasion ended soon afterward.            
<br>
    <br>
    <center><img src='/img/newsletter/smstones.jpg'></center><p>
<i>If you have discovered an interesting manuscript detailing RuneScape history, please</i><center>
<img src='/img/newsletter/reldoemail.gif'></center><br>
<p align=left>
</i>
<font color="white" size="1"><i>
Copyright notice: All user submitted articles are the property of their respective authors and
 are shown here under license, as specified in our <a href="/terms" class="c">Terms+Conditions</a>.
</I></font></p>
</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</center>
</td>
</tr>
</table>
</body>
</html>