<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Tales from the Tavern</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock' class=c>Library Of Varrock</a><br><a href='/varrock/tales' class=c>Tales Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<p align=justify><i>
Reldo writes: <br>
I have nothing to say of this cautionary fable other than I greatly enjoyed it. <br>
I know not if the events portrayed did in fact occur, or if this is simply a tale to make those who think not of the consequences of their actions take heed lest such a fate befall them...<br>
<p align=left>
</i>
<center><img src='/img/newsletter/smstones.jpg'></center><p>
<u><h3>Farmlands- by ty69 54mn</u></h3>

<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratet.gif' width=100 height=100 align=top></td><td>
he day was a normal day at the Lumbridge-Draynor farmlands. The chickens and cows were doing as they had done every day. The sheep and wheat, too. The outlanders took advantage of their unlimited access to the farms, taking wheat for their pies and eggs for their cakes. </td></tr></table></center>
<p align=justify>
As this normal day faded, Fred the farmer took his turn shutting the gates, putting the sheep to sleep and putting the hens in their coop. Fred called around for his nephew Marcus, who Fred had hired to work on the farm. Fred called for almost two hours and could not find him. Fred came to the conclusion that Marcus had just taken a trip to Varrock. Fred decided Marcus would need to be punished on his return, but Fred needed rest. So he left for home, sat in his chair, started smoking his Dwarf Weed pipe and fell asleep.
<p align=justify>
The next day passed without trouble, but Marcus had still not returned. Fred decided to travel to Varrock and search for his young nephew there. Fred started his journey, and he thought to himself: <i>?I?ll have to teach that boy a lesson when I find him! There already is an unexplained loss of workers on my farm, and I?m getting old and need all the help I can get..? </i>
<p align=justify>
Something caught Fred?s eye which broke his thought. At first he thought it was just a Goblin sans its death blow, but upon moving closer Fred realized where Marcus had gone. Fred dragged the beaten body out of the bushes, and checked to see if Marcus was living, and prepared for his hurried trip to the apothecary in Varrock.
<p align=justify>
Marcus lay in his bed in his Uncles farmhouse. His Uncle Fred sat by him, spoon-feeding him medicine every hour.
<p align=justify>
?You need to tell me what happened to you, Marcus-This must be what happened to my other employees..?
<p align=justify>
Marcus tried to give his Uncle a report of his attacker, but every time he spoke blood pooled in his throat and mouth. Marcus had a lack of recovery.
<p align=justify>
Marcus awoke to the smell of burning Dwarf Weed. His medicine had finally worked and restored him. 
<p align=justify>
?Uncle! Uncle! I have recovered!? Marcus searched his Uncles house quickly for Fred. Something tapped Marcus?s boot. His Uncles Dwarf Weed Pipe. It was caked in still wet blood, and smoke continued to rise from it. It was just then Marcus took notice of what happened to his Uncles farmhouse. It was trashed. Chicken bones littered the floor, milk stained the walls. 
<p align=justify>
Marcus knew already what happened. It was the outlanders. They attacked him, and they must have attacked his Uncle.
<p align=justify>
<i>?If my Uncle wasn?t so generous as to share his land with outlanders and civilians, then incidents like this would not happen!?</i>
<p align=justify><table><tr><td>
<img src='/img/varrock/elaborate/elaboratet.gif' width=100 height=100 align=top></td><td>he fact is, farmers like Fred and Marcus - to the outlanders - seemed like the scum of RuneScape.<i> ?Outlanders kill us, simply for combat training. Outlanders pick our pockets, simply to fill their pockets. They use our land, slaughter our livestock without permission - and don?t take any notice it?s us farmers hard work!?</i></td></tr></table>
Marcus found his Uncle slain in a river. The gods refuse to revive farmers, as there are already so many working in RuneScape. Marcus cried at the river, buried the remains of his Uncle, then took his Uncles pitchfork. Marcus disappeared underneath Lumbridge castle for 3 weeks.
<p align=justify>
3 weeks later, an outlander arrived to the farmlands early in the morning for his training. Today he planned to maybe make stews, then he might pickpocket some farmers later on. As the outlander approached the fence, he started to think something was wrong. He grabbed the gate and tried to rip it open. A large Adamantite chain blocked him from proceeding with his action. This gate was locked. Every gate was locked. And no farmers were in sight.
<p align=justify>
<i>Okay,</i> the outlander pondered, <i>I?ll just range chickens then?</i> Arriving at the chicken pen, a new problem struck the outlander. There was no chickens present in the pen. In rage, he yelled into the sky his anger and confusion.
<p align=justify>
Pretty soon a crowd gathered. It wasn?t normal for the farms to be like this, it didn?t seem right or fair at all. The outlanders had been cut off their farm land. This enraged them.
<p align=justify>
The Great Farm Lockup carried on for weeks. No farm was open, and any farm that did do trading only did it to their closest friends and family. Not just the Lumbridge-Draynor farms either - farms all over RuneScape from Varrock to Ardougne had locked up.
<p align=justify>
Human life on RuneScape started to slow. Humans of RuneScape needed food, and would pay any price for it. People even started to sell their armour in a desperate attempt to gather enough money to buy enough food. Other humans started to eat rats, and some even started living on the left overs from the Hobgoblins lunch. It was a global RuneScape disaster, for humans at least. The king of Varrock decided something needed to be done about this. His people were hungry, and were in need of saving.
<p align=justify>
Marcus opened the door for the King. Marcus even had a breakfast prepared for the King. The King spoke to Marcus, ?Many thanks for the warm welcoming, but I am here to discuss more ? grimmer matters.?
<p align=justify>
Marcus sat back in his stiff wooden chair and blew smoke circles from his Dwarf weed, and signalled the King to continue.
<p align=justify>
?We need to discuss your act of terrorism.?
<p align=justify>
Marcus quickly leaned forwards over the table, closer to the King. ?Dear King,? Marcus spoke, ?Why, what I have done is nothing so large as terrorism. I just started a simple protest, and others followed.?
<p align=justify>
Marcus and the King talked for hours in the small farm house.
<p align=justify>
The King left in the cool evening. His guards formed a protective circle around him, and they set off back for Varrock. No questions were asked.
<p align=justify>
<table><tr><td>
<img src='/img/varrock/elaborate/elaboratet.gif' width=100 height=100 align=top></td><td>housands were gathered in Centre Varrock the next day. The King had an announcement to make. Looking over the crowd, you could see how everyone had been starved and grew weaker. Some of the people could not even walk, and had been carried there on the backs of camels. Yet, even with the starvation, Varrock still ceased to be a quiet place. The people still had the energy to talk to each other, talk about the times of old.</td></tr></table>
<p align=justify>
The king stood up on a balcony high above the crowd in Varrock. ?People!? The crowds voice died down. ?I, the King, have an announcement to make!? He looked upon his people in silence for a few seconds. ?For months, farms all over RuneScape have been locked up. Today, the farms in Misthalin and Asgarnia have been unlocked, and soon the farms in the kingdom of Kandarin will follow!? A cheer arose from the crowd. This meant life had been restored to RuneScape. ?Before you go and start feeding yourselves, you must listen to my speech. My speech is a summary of what Farmer Marcus told me yesterday.?
<p align=justify>
<i>?Although you may think that the farmers and their livestock are the lowliest forms of life on RuneScape, people who you can take whatever you want from them and kill them at your pleasure-you have missed something. Something so important you are too blind to see, and Marcus showed you what you couldn?t see, because without the farmers, bakers, chefs etc. there is no food, and no food means no life.</i>
<p align=justify>
<i>So make your armour, slay your Dragons, think each of yourselves a great person and a great contributor to RuneScape. But whenever passing through farmlands, think of what really makes the RuneScape world go around. Then you may be able to resist thrusting your spear into the head of a farmer.?</i>
<p align=justify>
Marcus lifted the last bundle of hay onto his farm cart and dropped his Uncles pitchfork on top. He sat down for a bit of a snooze. He was then suddenly awakened by a yell from the distance: ?Hey boy! Get up and get back to work! You ain?t finished yet!?
<p align=justify>
Marcus jumped up and looked towards the direction of the voice. It was his Uncle. Marcus ran towards Fred, and Marcus again cried over his Uncle.
<p align=justify>
?But Uncle,? Marcus said through tears of joy, ?..How??
Fred smiled back at his ?lazy? nephew. ?The gods were so impressed with your efforts, that I was granted one more chance in life. That and the fact the you gave me a proper burial.?
<p align=justify>
The farmlands returned to normal. Marcus left RuneScape and travelled back home to build a successful farming industry there. Fred still smoked Dwarf weed, and some farmers still got slain, but now hopefully, the ?lowlife? humans of RuneScape may have a bit of respect in store for them.
<br>
</center>
    <br>
    <center><img src='/img/newsletter/smstones.jpg'></center><p>
<i>If you have discovered an interesting manuscript detailing RuneScape history, please</i>
<center><img src='/img/newsletter/reldoemail.gif'></center><br>
<p align=left>
<font color="white" size="1"><i>
Copyright notice: All user submitted articles are the property of their respective authors and
 are shown here under license, as specified in our <a href="/terms" class="c">Terms+Conditions</a>.
</I></font></p>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</center>
</td>
</tr>
</table>
</body>
</html>