<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Tales from the Tavern</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock' class=c>Library Of Varrock</a><br><a href='/varrock/tales' class=c>Tales Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<p align=justify><i>
Reldo writes: <br>
I think all of us can relate to this tale of a frustrating task that finally pays off...<br>
<p align=left>
</i>
<center><img src='/img/newsletter/smstones.jpg'></center><p>
<u><h3>The Miners' Tale by DoomRanger5</u></h3>
<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratet.gif' width=100 height=100 align=top></td><td>
he miner halted his relentless smashing of a mithril 
rock and took a deep draught of stout, he gazed down at the rocky outcrop, 
was the meager scratch he saw the only fruits of his long days effort?
</td></tr></table></center>
<p align=justify>
'Clink' 'Clink!.... He 
had been mining ever since he could recall, his tough old hands brown and 
resistant as leather, cradled his rune pickaxe in their vice like grip, 
never had he been this long without liberating at least one ore from a rock - even this stubborn mithril outcrop he had come across a few years back, 
perhaps I'm losing my touch? 
<p align=justify>
He thought about this.....no! he thought 
furiously, I will not be beaten by a mere rock! He couldn't stomach the 
thought of giving up mining! It was his life and only interest, seconded only 
by smithing.....
<p align=justify>
He finished off his flask of stout, stood up, lifted his pick 
high in the air and brought it down on the mithril rock, his pick seemed to 
shudder and then the rock shattered into a hundred pieces scattering mithri 
lall over the swampy ground around him.<br> 
He saw a small glint in the corner 
of his eye and walking over to a piece of debris picked up a diamond,  the 
largest he had ever set eyes on......
<p align=justify>
He smiled smugly and pocketed 
it...losing my touch? What was I thinking!? And with that he swung his pick 
over his shoulder and strode off....



<p align=justify>
<br>
</center>
    <br>
    <center><img src='/img/newsletter/smstones.jpg'></center><p>
<i>If you have discovered an interesting manuscript detailing RuneScape history, please</i>
<center><img src='/img/newsletter/reldoemail.gif'></center><br>
<p align=left>
<font color="white" size="1"><i>
Copyright notice: All user submitted articles are the property of their respective authors and
 are shown here under license, as specified in our <a href="/terms" class="c">Terms+Conditions</a>.
</I></font></p>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</center>
</td>
</tr>
</table>
</body>
</html>