<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Tales from the Tavern</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock' class=c>Library Of Varrock</a><br><a href='/varrock/tales' class=c>Tales Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<p align=justify><i>
Reldo writes: <br>
I present this as a comical tale in the finest tradition of Barbarian humour.<br>
Perhaps a little coarse for more refined literary tastes, but a fine example nonetheless.<br>
<p align=left>
</i>
<center><img src='/img/newsletter/smstones.jpg'></center><p>
<u><h3>Arfard the Barbarian - by Samitasmas</u></h3>
<p align=justify>
<table><tr><td></center>
<img src='/img/varrock/elaborate/elaboratei.gif' width=100 height=100 align=top></td><td>
t's a shiny, good day in the Barbarian village,a settlement in the world of 
Runescape. It must be a very good day,because even the coal mining spot 
isn't crowded.</td></tr></table></center>
<p align=justify>
But the peace breaks when a beer glass flies through a window of the 
messhall of Barbarian village.
-No beer for you,until you pay your loan! the messhall keeper yells.
-This place is not good! "loan"... Who cares about loans? Arfard says.Arfard 
is a normal barbarian... he likes beer a lot,and he is not very rich.
-I care about loans! the messhall keeper yells back.
<p align=justify>
So Arfard wandered out of the messhall. He didn't have money to pay his 
loans,and he still wanted some beer,so he decided to go to look for some.
<p align=justify>
He decided to go to Varrock,because a traveller had said to him that the 
Blue moon inn has good beer. When he got to the Blue moon inn,he suddenly 
realized that he didn't have any gold pieces left.
-Dammit... now where do i get money from,Arfard muttered.
-I can do something for your thirst, a man from a corner said. The man had 
long gray hair,black shirt and yellow trousers.
-Well,you want to buy me a beer?Arfard asked.
-I'll buy you as much as you want,if you go away. You smell like a 
hobgoblin,the gray-haired man said.
-Well,i'll smell like a black dragon if you buy me a beer.
<p align=justify>
So the gray-haired man bought Arfard five glasses of beer and sneaked away. 
When he was at the western bank of Varrock,he muttered to himself: Another 
task completed,and he smiled.
<p align=justify>
Arfard drank some of the beer. It tasted awful. He decided to sell the beers 
someone. He sold the beers for a thirsty adventurer,and he got fifty gold 
pieces for the beers. He went back to the Barbarian village,and paid his 
loans. Then he took more beer for loan.
<br>
</center>
    <br>
    <center><img src='/img/newsletter/smstones.jpg'></center><p>
<i>If you have discovered an interesting manuscript detailing RuneScape history, please</i>
<center><img src='/img/newsletter/reldoemail.gif'></center><br>
<p align=left>
<font color="white" size="1"><i>
Copyright notice: All user submitted articles are the property of their respective authors and
 are shown here under license, as specified in our <a href="/terms" class="c">Terms+Conditions</a>.
</I></font></p>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</center>
</td>
</tr>
</table>
</body>
</html>