[com_0]
type=text
x=181
y=8
width=134
height=14
font=p12
shadowed=yes
text=The Region Of Misthalin.
colour=0xFFFF00

[com_1]
type=model
x=8
y=17
width=500
height=300
zoom=490
xan=500

[com_2]
type=text
x=345
y=63
width=76
height=14
font=p12
shadowed=yes
text=You Are Here:
colour=0xFFFF00

[com_3]
type=model
x=371
y=81
width=20
height=20
model=model_3042
zoom=1200
xan=500
