[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[com_88]
type=layer
x=36
y=20
width=440
height=299

[com_89]
type=text
x=28
y=29
width=457
height=14
font=b12
shadowed=yes
text=Welcome to RuneScape - Use the buttons below to design your player
colour=0xFFFF00

[com_90]
type=model
x=190
y=155
clientcode=327
width=136
height=168
model=model_2930_npc
zoom=650
xan=150

[accept]
type=rect
x=223
y=266
buttontype=normal
clientcode=326
width=66
height=31
fill=yes
option=Accept

[com_92]
type=text
x=237
y=274
width=39
height=14
font=p12
shadowed=yes
text=Accept
colour=0x00C000

[com_93]
type=graphic
x=217
y=260
width=25
height=30
graphic=steelborder,0

[com_94]
type=graphic
x=270
y=260
width=25
height=30
graphic=steelborder,1

[com_95]
type=graphic
x=217
y=273
width=25
height=30
graphic=steelborder,2

[com_96]
type=graphic
x=270
y=273
width=25
height=30
graphic=steelborder,3

[com_97]
type=graphic
x=326
y=74
buttontype=normal
clientcode=314
width=45
height=36
graphic=leftarrow,0
option=Recolour hair

[com_98]
type=text
x=90
y=151
width=31
height=14
font=p12
shadowed=yes
text=Torso
colour=0xFFFF00

[com_99]
type=graphic
x=27
y=68
buttontype=normal
clientcode=300
width=45
height=36
graphic=leftarrow,0
option=Change head

[com_100]
type=graphic
x=27
y=103
buttontype=normal
clientcode=302
width=45
height=36
graphic=leftarrow,0
option=Change jaw

[com_101]
type=graphic
x=27
y=138
buttontype=normal
clientcode=304
width=45
height=36
graphic=leftarrow,0
option=Change torso

[com_102]
type=graphic
x=27
y=173
buttontype=normal
clientcode=306
width=45
height=36
graphic=leftarrow,0
option=Change arms

[com_103]
type=graphic
x=27
y=208
buttontype=normal
clientcode=308
width=45
height=36
graphic=leftarrow,0
option=Change hands

[com_104]
type=graphic
x=27
y=243
buttontype=normal
clientcode=310
width=45
height=36
graphic=leftarrow,0
option=Change legs

[com_105]
type=graphic
x=27
y=278
buttontype=normal
clientcode=312
width=45
height=36
graphic=leftarrow,0
option=Change feet

[com_106]
type=graphic
x=140
y=68
buttontype=normal
clientcode=301
width=45
height=36
graphic=rightarrow,0
option=Change head

[com_107]
type=graphic
x=140
y=103
buttontype=normal
clientcode=303
width=45
height=36
graphic=rightarrow,0
option=Change jaw

[com_108]
type=graphic
x=140
y=138
buttontype=normal
clientcode=305
width=45
height=36
graphic=rightarrow,0
option=Change torso

[com_109]
type=graphic
x=140
y=173
buttontype=normal
clientcode=307
width=45
height=36
graphic=rightarrow,0
option=Change arms

[com_110]
type=graphic
x=140
y=208
buttontype=normal
clientcode=309
width=45
height=36
graphic=rightarrow,0
option=Change hands

[com_111]
type=graphic
x=140
y=243
buttontype=normal
clientcode=311
width=45
height=36
graphic=rightarrow,0
option=Change legs

[com_112]
type=graphic
x=140
y=278
buttontype=normal
clientcode=313
width=45
height=36
graphic=rightarrow,0
option=Change feet

[com_113]
type=text
x=90
y=184
width=29
height=14
font=p12
shadowed=yes
text=Arms
colour=0xFFFF00

[com_114]
type=text
x=91
y=254
width=27
height=14
font=p12
shadowed=yes
text=Legs
colour=0xFFFF00

[com_115]
type=text
x=91
y=79
width=28
height=14
font=p12
shadowed=yes
text=Head
colour=0xFFFF00

[com_116]
type=text
x=88
y=219
width=35
height=14
font=p12
shadowed=yes
text=Hands
colour=0xFFFF00

[com_117]
type=text
x=91
y=288
width=25
height=14
font=p12
shadowed=yes
text=Feet
colour=0xFFFF00

[com_118]
type=text
x=94
y=114
width=21
height=14
font=p12
shadowed=yes
text=Jaw
colour=0xFFFF00

[com_119]
type=graphic
x=440
y=74
buttontype=normal
clientcode=315
width=45
height=36
graphic=rightarrow,0
option=Recolour hair

[com_120]
type=graphic
x=326
y=144
buttontype=normal
clientcode=318
width=45
height=36
graphic=leftarrow,0
option=Recolour legs

[com_121]
type=graphic
x=326
y=109
buttontype=normal
clientcode=316
width=45
height=36
graphic=leftarrow,0
option=Recolour torso

[com_122]
type=graphic
x=326
y=179
buttontype=normal
clientcode=320
width=45
height=36
graphic=leftarrow,0
option=Recolour feet

[com_123]
type=graphic
x=326
y=214
buttontype=normal
clientcode=322
width=45
height=36
graphic=leftarrow,0
option=Recolour skin

[com_124]
type=text
x=87
y=55
width=34
height=11
font=p11
shadowed=yes
text=Design
colour=0xFFFFFF

[com_125]
type=graphic
x=440
y=109
buttontype=normal
clientcode=317
width=45
height=36
graphic=rightarrow,0
option=Recolour torso

[com_126]
type=text
x=391
y=55
width=33
height=11
font=p11
shadowed=yes
text=Colour
colour=0xFFFFFF

[com_127]
type=graphic
x=440
y=144
buttontype=normal
clientcode=319
width=45
height=36
graphic=rightarrow,0
option=Recolour legs

[com_128]
type=graphic
x=440
y=179
buttontype=normal
clientcode=321
width=45
height=36
graphic=rightarrow,0
option=Recolour feet

[com_129]
type=graphic
x=440
y=214
buttontype=normal
clientcode=323
width=45
height=36
graphic=rightarrow,0
option=Recolour skin

[com_130]
type=text
x=394
y=86
width=22
height=14
font=p12
shadowed=yes
text=Hair
colour=0xFFFF00

[com_131]
type=text
x=390
y=121
width=31
height=14
font=p12
shadowed=yes
text=Torso
colour=0xFFFF00

[com_132]
type=text
x=392
y=155
width=27
height=14
font=p12
shadowed=yes
text=Legs
colour=0xFFFF00

[com_133]
type=text
x=393
y=225
width=23
height=14
font=p12
shadowed=yes
text=Skin
colour=0xFFFF00

[com_134]
type=text
x=393
y=191
width=25
height=14
font=p12
shadowed=yes
text=Feet
colour=0xFFFF00

[com_135]
type=graphic
x=235
y=245
width=36
height=36
graphic=steelborder2,0

[com_136]
type=graphic
x=236
y=282
width=36
height=36
graphic=miscgraphics,3

[com_137]
type=text
x=390
y=258
width=36
height=11
font=p11
shadowed=yes
text=Gender
colour=0xFFFFFF

[com_138]
type=graphic
x=325
y=271
buttontype=normal
clientcode=324
width=72
height=36
graphic=combatboxes,0
activegraphic=combatboxes,1
option=Male

[com_139]
type=graphic
x=417
y=271
buttontype=normal
clientcode=325
width=72
height=36
graphic=combatboxes,0
activegraphic=combatboxes,1
option=Female

[com_140]
type=text
x=348
y=281
width=26
height=14
font=p12
shadowed=yes
text=Male
colour=0xFFFF00

[com_141]
type=text
x=435
y=281
width=39
height=14
font=p12
shadowed=yes
text=Female
colour=0xFFFF00
