<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->
<!-- content table-->
<table width="600" cellpadding="0" cellspacing="0" border="0"
background="/img/background2.jpg">
<tr>
<td valign="bottom">
<center><br>
 <!-- title box --> 
<table width="250" bgcolor="black" cellpadding="4">
<tr>
<td class="e">
<center><b>Letters #12 - Guthix Manifests</b><br>
 <a href="/title" class="c">Main menu</a> - <a href=
'/varrock/letters' class="c">Archive Index</a></center>
</td>
</tr>
</table>

<!-- end title box --><br>
 <!-- content table --> 
<table width="500" bgcolor="black" cellpadding="4" border="0">
<tr>
<td class="e" width="500">
<center>
<center><b>Guthix Manifests</b></center>

<table>
<tr>
<td>
<p align="justify"><font color="white"><b>GUTHIX IS SUMMONED FOR THE
FIRST TIME THROUGH THE POWERS OF DEMOCRACY
IN ANOTHER EXTRA LONG LETTERS
SECTION AS GUTHIX MAKES UP FOR HIS LONG AND MYSTERIOUS PREVIOUS ABSENCE 
BY ANSWERING SOME QUESTIONS RAISED BY MORTALS THAT NO OTHER GOD COULD
BE TRUSTED TO GIVE STRAIGHT ANSWERS TO...</b></font></p>
</td>
<td>
<p align="center"><img src="/img/newsletter/guthix.jpg" width="320" height="240"></p>
</td></tr></table>
<p align=justify>
I have kept quiet on the matters that hath afflicted my land, for I have vowed to not interfere, and, unlike my lesser brothers, consider such vow to be sacred. 
<br>The council however hath asked the inhabitants of my fair world whom most they wish to hear from for guidance, and the vote hath been clear. I cannot ignore the pleas of mine followers any more.<br>
'Tis Guthix that thou seek to hear, so 'tis Guthix that shall reply.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify>
<i>
My Lord Zamorak,
<br>&nbsp;&nbsp;&nbsp;&nbsp;Your stunning arrival as the new god of the reception of prayers is somewhat distasteful. Both you and your brother Saradomin represent 2 extremes in nature. One totally sage-like, the other, yourself, is a more violent chap. I stand on no side in particular in this familial/godly dispute. So, if i may recommend your good brother Guthix to recieve the formerly mentioned prayers, it might provide players with a more insightful approach to their problems. I know of course that you would not do this willingly, and Guthix perchance does not care for this responsibility, i would ask my lord to at least entreat the Lord Guthix to this rather humble station. 
<p align=justify> 
My blade at the Ready,
<br>Arialu</i>
<p align=justify> 
My ways are not of man, and truly I didst not wish to interfere in the plane of RuneScape to such a degree as wouldst require my direct intervention upon the queries of players, yet it seems my followers are greater than hadst prior been believed. <br>
Thus it is that I will attempt to impart some small wisdoms upon my followers as proof their faith is not without merit nor cause.
<br>It gladdens me to see that thou canst see past the limited opinions put forth by my lesser brothers, for long have they pushed their philosophies upon people.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i> 
Firemaking is not used for anything besides, well, making fire. You should really make it so that you could do more things with it.
</i>
<p align=justify> 
Fire is that which though taken for granted is a mighty power that helps man survive. <br>
Thou shouldnt not underestimate its effects for it allows your food to be consumed, and lessens the effects of the wintry death that canst otherwise affect those brave men of the north.<p><img src='/img/newsletter/smstones.jpg'><br><br>
 <table><tr><td>
<img src=/img/newsletter/invisiblepotion.jpg width=240 height=320></td><td><p align=justify><i>
dear lord zamorak,
 <p align=justify>

Ive been hearing rumors about a invisability potion that you can make with 99 herblaw, and black dragons can drop the herb, the potion last 5 minutes of invisability, not even a white dot on the map screen. You can attack and people would know where your attacking from. If this is true please tell me, and if its a lie, please make this potion :D . 
 <p align=justify>
Wiccaspeller</i>
<p align=justify>
Mine followers truly are skilled at the ways of the powers of the fields, yet such power canst not be freely given for all things must come at a price. There is no such elixir to be found in RuneScape, and it remains to be decided by mine self whether such power would be worthy of construction...</td></tr></table><p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
what program do u use to make runescape?  i'm a gamer and would like to
learn basic programming and would like to make an rpg (it would suck
compared to runescape :) )  but i would like to know.  If u could just
tell me.<br>
ElvenKing256</i>
<p align=justify>
The Mage Gower uses an archaic and secret language known only by the select few which men call 'Java' in his architectures of gaming. 'Tis not the most popular choice of magical dialects to create with, yet its power is clearly undeniable.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Dear Zamorak,
<p align=justify>
Well done! Someone/thing has finally got the old man to stop writing those boring letters and has started writing letters that actually make sense to the evil people! I would like to say 2 things if you will do me the honour of having you listening.
<p align=justify> 
Number 1: How did you get rid of Saradomin? Did you feed him to King Black Dragons, Use a secret herblaw potion to send him to another dimension or did you simply just boot him off his cloud?
<p align=justify> 
Number 2: I have put Saradomin on my friends list when only level 5, (I still don't know what drove me to being so insane) and he was online. I am now much stronger (and a member) and wish to see you, my king. When will you return victorious with your great stories and blood-stained robes?
<p align=justify> 
Thank you my god, please bring chaos to the land.
<p align=justify> 
From: Heavenlyevil (lover of the badlands)
<p align=justify> 
P.S I do not want any rewards, favours or presents because I do not deserve them. I wrote this based on my feelings of the runescape land.</i>
<p align=justify>
My lesser brothers oft do boast of feats against each other, yet the truth is that neither has the power they claim, and Zamoraks theft of the letters was simply a theft. <br>
Saradomin exists still, and holds as much sway with his followers as ever. <br>
It is also a matter of record that neither canst utilise my powers through herblaw, for neither are open to admit that their powers are inferior to mine own - such is the way of those blinded by overriding principle.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Dear dark god thingy,
<p align=justify>
         I must commend you on one thing, strength through chaos is a good motto. Dispite this, I am deciding to appose you just for kicks. I do have a suggestion, of coarse, I realize a ::snicker:: god's time is inportant. when I first signed up for runescape I was amazed that you lack an official forum or message board. I believe this would greatly enhance the runescape experience, though I doubt you care being evil and such.
<p align=center>
                                   you enemy for no apparent reason,<br>
                                            Logan Mcloud </i>
<p align=justify>                                            
The nature of things is a perfect cycle, from one state to another, and a return to prior existence. <br>
Things that once existed yet now are lost, may yet return, and in improved form. I canst not say too much for my pledge to not interfere directly I hold with great honour, yet say this I may:<br>
That which is no more will return again, renewed with more vigour and power than before. <br>
Those who remember the past willst see the truth in my words.   <p><img src='/img/newsletter/smstones.jpg'>                                        
<p align=justify><i>
To the Almighty powerful Saradomin,<br>
My name is Star Blitzer seeking a unique wish upon you my god,Saradomin.<br>
What I am seeking you may have never heard but I wish to be a gnome.<br>
You having the greatest power in runescape and can easily 1-hit Zonghui<br>
please turn me into a gnome..take everything in my bank in order to pay take anything just make me a gnome..I wish to be the first unique, one-of-kind, runescape gnome! Great Saradomin I know for fact your powers exceed this simple task.<br>
Many thanks will go out to you and many runescape players will get a snapshot to remember whence they see a gnome player walk about.<br>
Your loyal wannabe Gnome,<br>
Star Blitzer </i>
<p align=justify>
The Gnomes are indeed a noble race, and it ist clear to me why thou must be envious of their diminutive perfection, but balance must be retained upon the land. I fear I cannot honour your request, for it wouldst be against my nature, as noble as your request is.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
hi,<br>
sincs ur evil and all i would like too know y there isint any musicians in runescape. So u can have a cd player and buy ur music put ur speaker's on and u can lisent to music.  sir dracon</i>
<p align=justify>
I knowst not of this 'cd player' of which thou speakst, he must be a Bard of whom I have not heard tell, but I canst tell thee true that when my Land is recreated, the beautiful music of the gods shall once more fill the lands and rivers, and entertain those who walk amongst my creatures.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Oh almighty Zamorak! I decided it was time for me to move on, and make another character, and while on tutorial island, I saw somebody  wearing bunny ears! And I decided not even a wretched god (with all due respect, master) like you wouldn't dare to put such a rare item on tutorial island! I suspect that this person is one of those feared people called hackers. Just saying that brings a chill down my spine, to know these evil lying and filthy beasts are amung us, and I pray to you and even your wimpy brothers that I am uncorrect and shr somehow got these bunny ears fairly even though she was on tutorial island... </i>
<p align=justify>
The rarity of such gifts is not in their number, but in their limited span of existence without owners. I canst indeed confirm that players who were working through the guides of wisdom of tutorial island were not held to be any different to those beings elsewhere on the planet, and were indeed graced with the bounties of bunny ears. It is the nature of balance that gifts to all, are available to all, regardless of stature.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Greetings my vile lord and good luck dealing with the infidels that shall write you, I ask this why not have a page for the mythology of runescape? the letters although providing some information are terribly lacking is the creation of the black dragons your only evil deed?</i>
<p align=justify>
The Librarian of Varrock is a man I truly respect for he makes not judgements on events, but merely attempts to record them with accuracy for the truth of knowledge to spread. He is also sorely overworked, for the Library is far larger than its size implies.
I do however have knowledge that such information is being compiled by him, and although such knowledge of the histories of this land may prove damaging to the reputations of my lesser brothers, and expose the lies and empty boasting with which they trap their followers, he hath my protection, for I believe it ist vital that all may know the truth and wisdom of Guthix.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
is it just me or is Saradomin favoring the "higher class" (members) insted 
of us "pesants".
<p align=justify>
when was the last time we "pesants" got a update. in the news and updates 
page the lasr, 15 out of  18 are members updates (game updates only) and the 
rest are updates for both "higher and lowwer class"
<p align=justify>
and to top it all of "members" now have QUADRUPIAL BANK SPASE!!!!!!!!!! its 
allmost imposible to crame all our stuff into 30 spaces and we end upe 
haveing to dump valuable stuff (iv found limproot on a banks floor). if 
anyone needed that update it was us
<p align=justify>
at this rate we might as well just drop all religens (you and your brother) 
and sue you for every dime or dollar you have
<p align=justify>
...............................................
<p align=justify>
p.s  you might want to make a new segment in the measage entercalled 
complantes
<p align=justify>
a part from that its a good game</i>
<p align=justify>
It saddens me that thou feel such contempt for your fellow players; for it is truly their benificence that allows your own existence; is it not also obvious to all that those who have access to greater numbers of enemies, lands and items, hath need of storage far more than those who have but limited access?<br> 
I would suggest that thou be content with what thou hath, for to gain more is but a minor task of becoming a member, and thou lose nothing to keep what thou already have.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
I have a query that would greatly aid me if answered. I have read many pleas from Zamorak followers and Saradomin followers. I am confused about which "religion" to choose. I think it would be kinda cool to be a Zamorak follower, but I do not want to betray the goodness of the creator of runescape: Saradomin.<br>
Is there any way that I could worship one god without offending the other? Or worship both at the same time without arousing any problems?<br>
I sincerely hope that you will acknowledge my distressed situation. 
<p align=justify>
Yours confusedly,
Black Angel7</i>
<p align=center>
<img src="/img/newsletter/godworship.jpg" width="480" height="240">
<p align=justify>
To see the world through only one perspective is to deny thyself the truths of a perspective that shares both. <br>
Many believe in my way, although they mayst not know it, and part of this belief is to not acknowledge either perspective as 'better' for they are equal yet different.<br>
Guthix is the creator, and Guthix is the only true god of RuneScape, believe not the lies of my lesser brothers, they have motives of their own that canst not be trusted.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
I would like to know where you stand on the issues of begging, and scamming.<br>
Most beggars that I've seen are obviously people who have played runescape
long enough to know where to beg, and who to beg from. I've even heard some
admit that they just make a new account, and use it for begging. I see this
as evil, and since evil is right up your ally, I would like to know how you
feel about it. Scamming is clearly evil, and I have noticed with every new
members update there are new items that seem to have no other purpose than
to scam non-members with. Is it you who is responsible for leaking these
worthless items in to the free worlds? If so, is this your way of tempting
scammers to become members? Has JaGeX become so gready that they have
enlisted your help in recruiting new members, or do you do this merely to
indulge your contemptible lust for malice? Just how evil are you?
<p align=justify>
~ odium imbues ~</i>
<p align=justify>
Scammers and beggars are known to be the worst creatures of this land, more hated than Dragons and worth less reward when killed.
I do not believe in condeming those who choose their own paths of right and wrong in this land, but they please no god but their own selfish ends, and not even the evil Zamorak will mourn their passing.
Scammers deserve to lose their accounts, which is easily achieved through the report abuse button when thou see them scamming someone, and beggars deserve to be taken to the wilderness and shown the error of their ways. <p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Dear Almighty Saradomin,<br>
I have come to you in hopes of gaining knowlegde. I have heard in some of the 
letters that you had answered about the biohazard quest. Now I am not a member 
but I was wondering nonetheless, if you could be so generous as to give me a 
little background information on this quest.
<p align=justify>
Almanac1, a follower of the mighty Saradomin,</i>
<p align=justify>
An evil man with noble blood hath opened the door to an evil he cannot comprehend in the ancient city of Ardougne. <br>
A result of his actions was a great plague upon the people whose cause couldst not be so easily explained, yet rumours tried to do just that. <br>
I canst not give greater detail about the events of the Quest, for to do so would be to change the actions that must happen naturally, yet the events that occurred doth truly sadden my heart.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
i am yugimoto67 and yes theres rumers around the game that me ( lev 41 ) am evil enough to join the gods and i will defeat u if u dont lev me ( baldeen, fox473, ciku, and my brother nik12345 ) will defeat u if u dont let us join the gods i want full dragon stone duh or rune</i>
<p align=justify>
There be already one god of evil who ceaselessly brags of his powers and battle prowess, despite being weak and fearful of mine own true powers. 
<p align=justify>
We hath no need for any more.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
hey Zamorak,<br>
With your mighty powers of darkness, I think you'd
think you'd at least be able to see the future...
about when is the 3-d update scheduled? And what's
guthix like? There's no backstory on whether he's good
or evil or something else. 
<p align=justify>
&nbsp&nbsp&nbsp&nbsp&nbspfrom a charitable do-gooder,<br>
&nbsp&nbsp&nbsp&nbsp&nbspzidane_909</i>
<p align=justify>           
I am beyond good or evil, I am simply Guthix. <br>
Of future events, I see most clear, yet things that must be, must be. <br>
I couldst change them if I so desired, but I do not, for all things must happen as they run their course. <br>
It is not beyond my power however to leave some small hint of when they may occur, and I can say that there will be a change most noticable upon the lands and people sometime between the equinoxes.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Dear most dispicable Zamorak,
<p align=justify>
&nbsp&nbsp&nbspWhere can I find out about the next updates that are coming to Runescape?  I just wish to know what is going to happen.
<p align=justify>
TiggerD78</i>
<p align=justify>
As things change, news will appear. <br>
As thou mayst have already noticed there are a number of small screenshots of this changed world available now, and the news and updates will give you reliable news of these updates first. Check it regularly and thou willst always know what is happening most precisely; and believe not the liars and braggards who claim to know things that others do not, for they lie for their own ends.
<p align=justify><i><p><img src='/img/newsletter/smstones.jpg'>
<p align=justify>
Dear (not really) Zamorak,
<p align=justify>
Fatigue has been annoying as in life even if you are exausted one second you can rest for a few minutes or get a drink of water and you can last for a while longer.  We need a system where we can rest for a bit and then get back to work.  this should be that if you go out and do hard work you can take a little rest and get up with out going back to a bed but where we caan;t rest back down to 0 fatigue because we can only last for a while when we do this,  we need to be able to rest where we are mining then after a while that won't work anymore and we will have to go to bed and get our deserved rest.  
<p align=justify>
From, supersmash  worshiper of guthix.</i>
<p align=justify>
Fatigue ist a strange and ever changing condition that has puzzled the people of my world for a long time; as thou mayest have already noticed, such a change as thou hath suggested has already occurred, and the oft requested sleeping bag hath finally been made available to all. 
<br>As with all things however, there has been a price. 
<br>This is the nature of balance.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Greetings so called ruler of darkness. <br>
I was startled by the lack of necromancy we hath the capability to perform. Canst we not perform these magiks? Shalt we never know the joy of having our own skeletal minions? Discouraged by these thoughts I turned to thine brother for aid in the subject of supernatuaral energies. Provide me with this power oh false god of darkness, so thou mayest be considered true in thine alignment.
Craving true power,<br>
JowyKnight</i>
<p align=justify>
Necromancy is an abomination to me, for it blurs the line between death and life, both of which are vital states that are required for the balance of this world to be maintained. Only the most evil beings follow such dark arts, and those who do so challenge not just my authority but those of mine lesser brothers too.
I wouldst say that 3 gods doing their utmost to prevent any more necromancers fromst entering my lands means it ist unlikely for any mere mortal to achieve such dark arts, unless by some reason they are needed for balance in the future.<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Hey Zamorak,
<p align=justify>
What has happened to tha Elves? If there are Dwarves and Barbarians, why not 
Elves? Are they in hiding, or can u make them appear? They should be a part 
of Runescape as well. Like me, they are very honorable, and as much as I 
don't worship you, I think Elves need to live.
<p align=justify>
Knifedge3</i>
<p align=justify>
The elves are a noble race, suffering great hardships, and have tried to stay hidden from man for their own reasons. I have seen their plight, and sometimes wish I couldst assist them against their travails, but I am Guthix, and I cannot alter the balance of the world.<br>
Players will some day be able to meet the Elves, yet they are not ready to do just yet. <br>
When they do I hope thou canst help them, for i have seen the future of their race, and it is dark and full of difficulties.<p><img src='/img/newsletter/smstones.jpg'>

<p align=justify>
And so I must leave, for my tasks are myriad and diverse, and mine time is sorely pressed.<br> Until the next time I deign to speak to mine followers...
<p align=center>Balance Is Power-
<p align=justify>    
&nbsp;&nbsp;&nbsp;<font color=green><b>Guthix</b></font>
<p align="justify"><font color="white"><i><font size="1">DISCLAIMER: The views
of Guthix do not reflect the views of Jagex Ltd or it's employees. We tried to
prevent him giving away our secrets, but he is a god. If you would like to contact
 him however...</font></i></p>

<center><font color="white"><font color="white"><font color=
"white"><font color="white"><font color="white"><font color=
"white"><font color="white"><i><img src='/img/newsletter/gutemail.jpg' width="280"height="20"></i></font></font></font></font></font></font></font></center>
</center>
</td>
</tr>
</table>

<!--end content body--><br>
</center>
</td>
</tr>
</table>
<!-- end content table -->
<!-- border footer-->
<table cellpadding="0" cellspacing="0">
<tr>
<td valign="bottom"><img src=
"/img/edge_g2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
<td valign="bottom">
<div align="center" style=
"font-family:Arial,Helvetica,sans-serif; font-size:11px;">This
webpage and its contents is copyright 2004 Jagex Ltd<br>
 To use our service you must agree to our <a href=
"/terms" class="c">Terms+Conditions</a> + <a href=
"/privacy" class="c">Privacy policy</a></div>

<img src="/img/edge_c.jpg" width="400"
height="42" hspace="0" vspace="0"></td>
<td valign="bottom"><img src=
"/img/edge_h2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
</tr>
</table>

<!-- border footer--></center>
</td>
</tr>
</table>
</body>
</html>

