<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Letters #2 - The People Rejoice</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock/letters' class=c>Archive Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<center><b>Saradomin Responds.</center></b><p><table><tr><td>
<img src=/img/newsletter/saradomin.gif width=164 height=150></td><td>
<font color=white>
<p align=justify>
<b>Five Ages after creating the world of Runescape, the great god Saradomin now regularly communicates with the inhabitants of this fast evolving planet. An agreement with his brothers prohibits him from directly intervening into Runescape's affairs, but in his great omniscience he still listens to the prayers of those who seek his knowledge.</b></td></tr></table>
<p align=justify>
Firstly, I must say that I was touched by the level of response to my first letter. Truly I say that Runescape is home to such a myriad of peoples, including some that now transcend the more traditional etiquette of grammar and punctuation. But above all I was struck by the sincerity of your words- it is a great thing indeed to live with such a strong sense of hope. 
<p align=justify>I have received a huge number of messages, so I alas cannot reply to every single one here. But how pleased Saradomin was to hear from men and women with such strong, seeking minds!
<p>
<p align=justify>One fellow writes:
<img src=/img/title/blank.gif width=1 height=1><br>
<center><i><font color=white>
<p align=justify>
Firstly, and, methinks, my best idea, is to make daggers throwable. The advantage? A dagger packs more punch than an arrow (conceivably) and one would not find it necessary to carry a bow. This would also provide an actual use for daggers, whereas before they were the weapon of a noob or someone driven quite insane on the apothecary's latest experiment. Those who fancy themselves the dashing thief would be quite glad to be able to wield daggers, the thief's weapon of lore. The better the dagger (bronze as opposed to rune) the more damage it would do. 
<p align=justify>
Corande, AKA Justin.
</font></i>
<p>
<p align=justify>
<font color=white><table><tr><td>
An interesting idea, a dagger that can be thrown- something that you would only do, I presume, in order to defend yourself. I can confirm that plans are now afoot to give knives the gift of flight, and that this action will be part of the ranged skill series. Unlucky recipients of said knives will then find their health to be substantially lessened. These weapons will not, however, be stackable, so sadists will have to find other ways to satiate their Zamorockian urges.</td><td> 
<p align=centre><img src=/img/newsletter/dwarf.jpg width=155 height=173></font></td></tr></table>
<p>
<p align=justify>
I was, of course, gratified to learn that so many of you are indeed committed to the hard graft and toil that I spoke of last time. Or as one adventurer puts it:<p>
<center><i><font color=white>
Oh great and powerful Saradomin. I beg of thee. Please grant me an Idiot Repelling Amulet so that I can work in peace and not be bugged for hours by children who covet what I have worked so hard to achieve. Why must I repeatedly state that I am not selling some piece of armor or weapon over and over again?
<p align=justify>
Your Humble Servant,
<p align=justify>
Jerichoholic.
</font></i></center>
<p align=justify>
Others were motivated by a desire for justice, fervently demanding that certain secular decisions be overturned at once. Rather than engaging with those who would seek to Support their Custom, it would seem that the sheer passion of these individuals got the better of them... so they pestered me instead. But Runescape does have a process of evolution, and I am sure that it will be reaching them soon.  
<p>
<p align=justify>
But if you need customer support, please use the customer support forms! And so back to business.
<p align=justify>
<center><i><font color=white>
My Lord, long have I worshipped your greatness. I wander the lands preaching your wisdom to the masses, hoping to enlight even one mind. "Bury your bones", I proclaim to the huddled masses. "Saradomin is with you" I announce to any great warriors I see. Day and night I strive to raise my prayer level, hoping, it will will bring me closer to your all encompassing light. It is the purpose that drives me, it is the will that binds me, it is my reason for being on this world (Runescape). And so I ask you, might you create another quest that raises prayer? Much would be the rejoicing if this came to be.
<p align=justify>
Your loyal servant, tom505<p>
</font></i></center>
Now certain members of the council are seeking out new ways to level your prayer skill. Perhaps by way of a quest. Not that I would ever intervene directly into the affairs of RuneScape of course...
<p align=centre><img src=/img/newsletter/temple.jpg width=258 height=123>
<p>
<p align=justify>
Another adventurer complained of tiredness from too much standing.
<p align=justify>
<i><font color=white>
Greetings oh Mighty One... Whilst one understands that questioning the way in which You (in your infinite wisdom) have created Runescape is liable to cause offence and thus painful injury to the interrogator - the ache in one's legs is such that the question can no longer be withheld. In essence - your servant has been whacking the living daylights out of monsters, picking flax 'til her fingers bleed, pounding rocks and baking like there is no tomorrow, for day upon endless day and now finds herself exhausted, with varicose veins and blisters. Oh for the blessed relief of a nice little sit down with one of brother Galahad's cups of tea, or ...miracle of miracles...a sleep! Those tempting looking beds with their *nice blankets* ..those *sturdy looking chairs*. One wonders why You created these taunting items of furniture when Your subjects cannot use them? One is sure there must be a perfectly good reason but not being a mighty god such as yourself (grovel) one cannot think of it.
<p align=justify>
Strength through wisdom? Strength through taking the weight of these ankles more like!
<center>Lise</center>
<p align=justify>
P.S. If one must be turned into an imp for this impertinence please let it not be on Karamja - walking on hot laval rock would play havoc with my bunions...</i>
<p>
<p align=justify>
Now as the god of all things good, there are some matters which simply demand my full and undivided attention. This was not one such matter. But you did arouse my sympathies- even the gods feel weary sometimes you know. 
<p align=justify>
But the question on nearly everyone's lips was when that of when our world would enter a new dimension.  Gazing across to the mage Gower- for we are not one and the same- I see that three-dimensional landscapes are now under construction. There is still much work to be done of course. When you seek to change the world, you take on every blade of grass. Carpentry has for this reason been postponed until after the updates. 
<p align=justify>
This will doubtless prove disappointing to some, but then even the gods can't please everyone. In the words of one adventurer:
<p align=justify>
<i><font color=white>
"I got told by a friend the Runescape graphics are going to turn into really good graphics... if this is true, don't do it, as it would wreck the game."
</font></i>
<p align=justify>
Oh how I laughed. Even the Gower was said to have managed a smile- which is no mean feat I can tell you.
<p>
<p align=justify>
All in all I can see that these are happy times for the people of Runescape. The perpetrators of deceit are being hounded out, with over 60 scam sites being taken down in the last week. The new combat level display has proved popular amongst merchant types, with traders now having to try really hard to get ripped off. Perhaps my presence has tipped the balance of power away from all those who would promote evil. 
<p align=justify>
Or maybe it's just been a good week. Until next time my friends.
<p align=justify>
Strength through wisdom<br>
Saradomin
<br><br><br>
<center><img src=/img/newsletter/email.gif width=289 height=19></center>
<p align=justify>
<i>These might be suggestions for Runescape - although the gods do tend to be quite touchy about the evolutionary process. You might like to send questions relating to the history of the game, or queries about the many characters and races that inhabit Runescape. The best letters will be published in the email newsletter. Please note that despite their omnipotence, the gods of Runescape do not concern themselves with customer support.
For customer support <a href='/support' class=c>click here</a>.
</i>

</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>