<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Letters #3 - Ep Three: A New Bone</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock/letters' class=c>Archive Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<center><b>Saradomin Responds.</center></b><p>
<p align=center><table><tr><td>
<img src=/img/newsletter/saradomin.gif width=164 height=150></td><td>
<font color=white>
<p align=justify>
<b>Five Ages after creating the world of Runescape, the great god Saradomin now regularly communicates with the inhabitants of this fast evolving planet. An agreement with his brothers prohibits him from directly intervening into Runescape's affairs, but in his great omniscience he still listens to the prayers of those who seek his knowledge.</b></td></tr></table>
</font>
<p align=justify>
A warm welcome to one and all,
<p align=justify>
And  so  it  is that  time  again  when I  respond  to  your many
questions regarding this wonderful land of ours. The good god  of
Runescape has been feeling a bit under the weather this week,  so
I'll cut to the chase.
<p>
<i><font color=white>
<p align=justify>
Greetings great Saradomin. I  am a great worshipper  amongst you.
You  have made  this world  beautiful and  as great  as can  be.
However, there are many people that do not follow your  religion.
This is due to the large lack of people who bury bones. The world
of Runescape needs a new bone, that will draw them ever closer to
your spirituality. The solution to this, is dragon bones. As  you
know, dragons are  the most grand  of all foes  in Runescape. Few
warriors are  able to  slay these  beasts of  almighty power. But
those who do should be especially awarded with dragon bones. With
dragon  bones your  number of  worshippers will  increase beyond
believe! And the  evil powers of  your brother Zamorak  shall not
stand a chance against the holy spiritual powers on the plane  of
Runescape. Please Saradomin, the  fate of Runescape can  not fall
into Zamorak's hands.
<p align=justify>
Kormyr
</font></i>
<p align=justify>
Hmm... Zamorak's not that bad you know - actually he's worse! But
he is still my brother, even if he can't be bothered to  keep  in
touch these days. I do agree about the bones though. This  was  a
popular  request, and   I  can tell   you  that they   should  be
available  within  the  next  week!  So  consider  your   prayers
answered, and get on down to your nearest dragon.
<p>
<p align=justify>
<i><font color=white>
Dear Saradomin,
<p align=justify>
After hitting big bars of metal all day with my trusty hammer,  i
suddenly thought: "I wish i could wack someone over the head with
this". Then an idea came to me. Why not create mighty war-hammers
to blight thy enemies with. Higher power than axes and even  less
aim....wow. The different metals could  all be used to make  them
and I think  they would be  a welcome new  weapon to all  us rune
-scapers out there on the battlefields. Your faithfull warrior,
</font></i>
<font color=white>
<center><i>Nosvartu</i></center>
<p align=justify>	
Well it's good to see such enthusiasm for one's work. But I'm afraid 
that your desires are not aligned with the greater scheme of things- 
we're trying to expand people into 3D, whilst you're trying to flatten 
them out! But certainly you have been successful in lodging your words 
into my brain, so maybe in the far distant future...
<p>
<p align=justify><table><tr><td>
And  so  onto  that most  controversial  of  subjects - money.
It appears that begging is still something of a problem in the world
of Runescape, with many a hard-working player still being plagued
by requests  for free  stuff. Fortunately  there are  a few truly
civic minded young persons who  believe in the concept of  paying
people for all their hard-work.</td><td>
<p align=center>
<img src=/img/newsletter/warhammer1.jpg width=265 height=215></td></tr></table>
<p align=justify>
<i><font color=white>
<p align=justify>
The people of Runescape have been aquiring a lot of wealth  while
the good bankers of  Runescape keep our belongings  safely stored
in their vaults and never asked anything in return. 
<p align=justify>
Isn't it time we citizens do something back and pay some interest
on what we keep in our banks?
<p align=justify>
Dalen-Van.Andre
</font></i>
<p align=justify>
I am happy to say that those who tend the banks are in fact  paid
by the state, that most generous of organisations which so  nobly
provides for the welfare of so many institutions. 
<p>
<p align=center><table><tr><td>
<img src="/img/newsletter/skullcoin.jpg" width=219 height=163></td><td>
<font color=white>
<p align=justify>
But  Mr.Dalen-Van, I  nonetheless salute  you in  your desire  to
reward those people who work  so hard for the benefit  of others.
How  horrified  you  would  be to  learn  of  some  more advanced
beggars, who would seem to want the whole world for nothing...
</font></td></tr></table>
<i><font color=white><p align=justify>
"Why can't you make all  runescape for everybody for free,  those
member signs are very annoying please make every thing free." 
<p align=justify>
Voldemort 45
</font></i>
<p align=justify>
One individual even asked  me how it feels  to be "the first  god
that  requires money  to sustain  your world."  This confused  me
somewhat, as  to my  knowledge, Runescape  is one  of the largest
free-worlds of its' kind, with at least one hundred hours of free
quests and things to  do.
<p>
<p align=justify>
I've received a few notes from Runescapers who "feel
left out" of the members game and wish they could access the new 
features. The answer to is of course... ..become a member! To quote 
a certain fellow from the Council of Runescape...
<p align=justify>
<i><font color=white>
We currently need to concentrate on continued development for the
membership  servers  as  membership  subscriptions  pays  for all
support services (for free players as well), the running costs of
all the machines(including free  servers), staff wages (who  help
support free servers)  and the development  costs of new  quests,
skills and future technology.
<p align=justify>
Please remember  that the  game was  free for  over a year before
membership was  even suggested.  The fact  that we're  keeping so
many free  servers online now is a testament to the goodwill
Jagex has towards the many thousands of free RuneScape players.
The $5 monthly membership price is very reasonable considering how much
entertainment you're getting.  A cinema visit would give, at most, 2-3 hours of entertainment - RuneScape offers
so much more than that!
<p align=justify>
Why not consider becoming a member and help support the continued
development of the game?
</font></i>
<p align=justify>
I couldn't have put it better myself. 
<p>
<p align=justify>But you cannot put a price  on compassion, and so I am by no means
deaf to your cries...
<p align=justify>
<i><font color=white>
Greetings,
As one of those  many residents of your realm  living
in  poverty,  I  often  find  myself  wondering:  Will  these new
graphics be available for even the poorest of RuneScape citizens?
And what if the citizen is using a rustic system to run RuneScape
on?  What affect  will these new  and grand updates  have upon us
misfortunates?  Your friend and follower,
<p align=justify>
Sir Justin
</font></i>
<p align=justify>
And I am happy  to announce that the  answer is an emphatic <b>yes!</b>
Non-members will certainly be  going 3-D, and what's  more, there
won't  be any  increased lag  as a  result. So  let's give  three
cheers to the  mage Gower- living  proof that the  best things in
life are indeed free. Which reminds me...
<p>
<p align=justify>
<i><font color=white>
In all  candor, I  ask that  thy might  bringith a  place for the
learned; a library.  This would prove  useful for those  of which
wish to aquire great knowledge in the history of our great  land.
Perhaps if  we were  literate... we  could forge  our own  tomes,
portraying the history for thine self. Sending Blessings, 
<p align=justify>
Maro 
</font></i>
<p align=justify><font color=white>
What a splendid  idea. I know  a building in  Varrock that hasn't
seen a  lot of  action for  a while.  I'll have  a word  with the
council, I'm sure that they would be prepared to convert it- such
is their commitment to public institutions.
<p>
<p align=justify>
Of course  all we  need now  are some  books. Histories, stories,
even tales of elves; all these exist but they have been scattered
somewhat in the chaos of the last  age or so. So if anyone should
stumble upon any of these, please feel free to pass them onto me.
</font>
<p align=center>
<img src="/img/newsletter/knightchalice.jpg" width=154 height=217>
<p>
<p align=justify>
Well, what a generous week it's been. I feel better now.  Perhaps
we should finish on a poem.
<i><font color=white>
<p align=justify>
The Runescape World Made Of Might,<br>
Made Of Hard-Workers, Made To Fight.<br>
To Fight The Black Hearts Of Those Who Rebel,<br>
To Send Good To god, And Evil To Hell.<br>
To Interact With Our Fellow Human Beings,<br>
To Slay The Demons, And Regroup In Team's.<br>
Hard Work Pay's Off, In Coins And In Armour,<br>
Work As A Miner, Smither Or Farmer.<br>
But One Bit Of Advice, From Member To Member,<br>
Keep Your Friend's Close...But Your Enemy's Closer.<br>
<p align=justify>
Elite James
</font></i>
<p align=justify>
Sound advice indeed. Until next time, my literary friends!
<p align=justify>
Strength through wisdom<br>
Saradomin
<br>
<p align=center><center>
<img src=/img/newsletter/email.gif width=289 height=19></center>



</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>