<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Letters #11 - Zamorak Loves Letters</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock/letters' class=c>Archive Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<p>
<center><b>Zamorak speaks out</center></b><p><table><tr><td>
<p align=center>
<img src=/img/newsletter/zamorak.jpg width=164 height=150></td><td>
<font color=white>
<p align=justify>
<b>ZAMORAK TAKES TIME OUT FROM HIS HECTIC LIFESTYLE OF SPREADING CHAOS TO ANSWER A FEW MORTALS QUERIES. <p align=justify>
HOT TOPICS THIS TIME INCLUDE RUNESCAPE AS FAMILY BONDING, THOSE MYSTERIOUS RED CARDS THAT HAVE RECENTLY APPEARED AND THOSE OH-SO ELUSIVE EASTER BUNNY EARS...</b></td></tr></table>
</font>
<p align=justify>
Its been a busy time for me recently, theres just so much evil to be done, and so little time to do it in... 
but all my faithful followers will be glad to know I have a double sized edition of letters for you all. 
<br>I even actually answer some questions sent to me in a rare display of good temper.
<p align=justify> <table><tr><td> <i>
Dear Oh Evil One Zamorak,<br> 
i was looking through runescape.com and i took a look at the map. And i started wondering why there is no map of the one place you rule (the wilderness). I would like to know why there is no map of your evil kingdom. 
<br>Yours resentfully<br>
<p align=center>Spuder371</i>
<p>
<p align=justify>    
<font color=white> 
<p align=justify>
The council once put together a team of highly qualified cartographers, and issued them with large amounts of gold and lobsters as provisions, then sent them into the wilderness to map it.<p align=justify>
Needless to say, my followers there ate very well that night. </td><td>
<img src=/img/newsletter/mappingthewilderness.jpg width=250 height=300 border=0></td></tr></table>
<p align=justify>The council didn't really want to send any more mappers after that for some strange reason.
<p align=justify>  
<i>Dear Zamorak,
<br>I have seen your Wine of Zamorak sitting on the table
where you have followers at. I see others try to take
the wine, but they get attacked. I can bet a lot of
people already know about this, but once you finally
get to wine it does nothing at all. I bought one
pitcher from the store, you cannot drink it, and I
don't know what you can use it on. Is there a purpose
to your Wine of Zamorak? Or did you just setup this
whole thing as a "gauntlet" to kill people who think
they are getting a prize that is actully nothing?
<br>
Please answer to this question Zamorak,<p align=justify>
NASCARFAN03</i>
<p align=justify>    
<font color=white> 
As much as I like the idea of meaningless death, Wine of Zamorak does indeed have a purpose. You just obviously haven't discovered it yet...<p align=justify> 
Also, as much as I approve of general stealing, I really wish people wouldn't keep stealing MY wine. Can't you all just steal Saradomin's stuff instead?
<p align=justify>  
<i>Lord Zamorak,<p align=justify>
Hello Zamorak, I Hope you get this because I have a question for you and I'd like you to think back. Exactly why, who, when, where and how were you banned from runescape. Exactly what did your evilness do to upset your lesser brother SaroDIM  and your greater brother Guthix?<p>
<p align=center>Sincerely Jackaroo1</i>
<p>
<p align=justify>    
<font color=white> 
<p align=justify>
I scammed the other gods out of their full rune and got reported for abuse. 
<p align=justify>
Kidding.
<p align=justify>
I'm not banned from RuneScape... The other gods and myself simply have an agreement not to interfere directly with the matters of mere mortals anymore. Who has the power to ban Zamorak The Mighty? Or the courage? No-one, thats who. Thats not to say the other gods wouldn't love to ban me, because they would. Oh, they really would. But they can't. So I still get to keep all my lovely dragons and demons to do my work for me...
<table><tr><td>
<img src=/img/newsletter/zamorakswine.jpg width=250 height=300 border=0></td><td>
<p align=justify>  
<i>Hello powerfull god Zamorak
Why are your monks attacking wen taking the wine??
Mayby it sounds wierd but i mean the wine are spawning!!!
<p>
Dr.burnt
</i>
<p align=justify>    
<font color=white> 
<p align=justify> 
STOP STEALING MY WINE!<p align=justify>THATS WHY!<p align=justify>GAH!</td></tr></table>
<p align=justify> 
<i>Lord Saradomin, <br>
Alas, could you forward this letter to the librarian for in the Bestiary it
skips dragons. 
<p align=justify> 
>From ArminasG</i>
<p align=justify>    
<font color=white>
<p align=justify> 
Unfortunately that darned Librarian escaped from his little 'accident' and managed to find those scrolls of my beautiful dragons. Whats worse is that hes now made them <a href="/varrock/bestiary/A" class=c>available for everyone to see.</a><br> 
I think I'll have to make sure his next 'accident' isn't so easily walked away from...
<p align=justify>  
<i>I recently ran away from home and came to a cyber cafe to look on my website and decided to check Runescape, when I accessed your news page I realised you decided to release 2 updates right when I couldnt play them! Did you do this because your evil and would like to torture me, because if you did! It worked your holyness im going home...<br>
Ozric 750</i>
<p>
<p align=justify>    
<font color=white> 
<p align=justify>
Hmmm... bringing families back together is really more Saradomins line of work than mine you know... but Im glad I managed to cause some amount of suffering, even in a good deed.
<p align=justify>  
<i>Dear Saradomin,<p align=justify>
Great game. At first, I didn't want my kids playing...but, I decided to
check it out myself before making a final decision about it. I had so much
fun, I told my husband. Now we're all a little 'hooked'. *?* We have three
computers at home that are networked so we can play together. Free
entertainment; they learn how to manage resources; and it's a great
incentive -- "Can I play RuneScape?" "Got your math and chores done?" *grin*
... Thank you!
<p align=justify>
Time to play!
<p align=justify>
Peace,
~Karen, FL</i>
<p>
<p align=justify>    
<font color=white> 
<p align=justify>
Saradomin has been interfering again I see. All these 'happy family' letters are beginning to give me a headache... Oh I wish I had some really bad news emails from someone to cheer me up again....
<p align=justify>  
<i>Many Miserable Greetings, Oh un-so-mighty Zamorak.  I have written to tell you one thing I HATE YOU... I HATE YOU... I HATE YOU... your miserable underground pass has cost me many an hour and i am not even yet half complete.  I hate your underground pass and i hate your son Iban.  I do like your robes and your unholy symbols but with you materials are the only thing that are not annoying.  I know how this pleasures you to see me suffer but I do beleive if i met you i would give you a nice peice of my Dragon battle axe.  Basically what im telling you is that every other quest i have done has not nearly aggravated me as much as this particular quest has and I think it is outrageously difficult.
<p align=justify>
I Hate You,
<p align=justify>
Trey Bell
</i>
<p>
<p align=justify>    
<font color=white> 
<p align=justify>
...and that will do nicely. <p align=justify>
There is nothing more satisfying than a job well done... thank you for your letter, it really brought a smile to my face. 
<br>I'm glad Iban is keeping up the family traditions so well, I'll have to give him some more monsters to play with next time we speak.
<p align=justify>  
<i>I am concerned about the recent easter drop. Are they real bunny ears or fake? are there little bunnys running around with no ears? It aso seems strange to drop bunny ears when there are no actual bunnys in runescape.
thank you for your time,
your faithful subject <br>
FRIZOID
</i>
<p align=justify>    
<font color=white> 
<p align=justify>  <table><tr><td>
Oh they're real. I think you answered your own question there... <br>
The reason there aren't any bunnies left in RuneScape is so that there were enough bunny ears to go around. As it would be cruel to let loose a bunch of mutilated animals upon the world (although I personally would have found that very funny) The council decided to eat what was left.
<p align=justify>  
The last I heard they had enough Rabbit jerky to last them for 40 years.<br> 
80 as part of a balanced nutritional diet.
</td><td>
<p align=center><img src="/img/newsletter/leftoverbunnies.jpg" width=240 height=320 border=0></td></tr></table>
 <p align=justify><i>   I have fallen victim to the same scam several times so I am either an idiot or this is a widespread problem. If I need an item, and say so, sometimes, someone will say they know where to get one, and to follow them. They'll lead me to a place which has high level enemies, and by the time I reilise I've been had, its too late. I always die, and they can presumably take my items. I would use the report abuse button, but it is not really covered by any of the catorgaries, and unless teh tech support people were looking very hard, they might not spot the scam. I think you should include 'Leading to Death' as one of the abuse catagories.
      <p align=justify>If this tiny flaw was sorted out it would make my game much better, thank you,
<p align=center>Rugby4Ever2</i>                                                             
 <p align=justify>I love it when people answer their own questions in the very first sentence of their question.
 <p align=justify>Think about it.
<i><p align=justify>Bringer of pain and suffering,
<p align=justify>I wanted to know where all of those gloves, boots and caskets come from that I pull up so ofton while fishing with my trusty big net. Are they old rellics from past wars, or washed up belongings from drown newbies who leaned over to far on the boat from the trip to Lumberage from Tutorial Island?
<br>
<br>
<p align=justify>- Parkrat</i>
<br>
<p align=justify>
According to the Council, there were not adequate funds to provide a waste disposal service for the inhabitants of RuneScape to dispose of their rubbish, with the result being that thoughtless inhabitants simply throw their rubbish into nearby rivers and streams, or off cliffs, with zero regard for the impact on the environment.<p align=justify>
Excellent. Littering might not be up there with looting and backstabbing, but its still a cause I whole heartedly approve of.
<p align=justify><i>Dear Saradomin,
<p align=justify>i have the fatigue problem while trying to get my mining levels up. how do i 
have less fatigue when i am mining?
<p align=justify>
Sincerely,
<p align=justify>
joe042004</i>
<p align=justify>
Go to bed. Next question!
<p align=justify><i>
Dear Saradomin,<br>
       I want to ask about the new that you can't trade holiday items. although i understand the idea of people selling them at "outrageous" prices, but what would happen if you couldn't get on Runescape that day? You would never be able to get the item! I think that if people want to to sell them at high price the buyer just has to deal with it.The holiday items were one of my favorite ways of getting money. Please respond and try to take this rule away.
 <p align=center>
                                       Dakingruler</i>
           <p align=justify>                            
Just one example of the hundreds who write to me complaining about non tradable and limited bunny ears. 
They all start their email the same way <br>"What if someone wasn't around to get them?"<br> and they all end the same way <br>"I really wanted to make some easy money". 
<p align=justify>Foolish mortals... the council once thought it would be a nice present to players who were playing on holidays to give them a unique item. 
<br>This has now become an expectation that there will always be rare drops on holidays, and that these will be easy ways to make money.
<p align=justify>They're not. They're a present. If you weren't playing, you missed out.
<br>I am extremely pleased that the foolish Gower in an effort to give people gifts and make them happy instead manages to annoy people.
<p align=justify>It reaffirms my belief in the underlying selfishness of you all.
<p align=justify>
I was sent this picture recently of my foolish brother saradomin:
<p align=center><img src="/img/newsletter/foolsaradomin.jpg" width=216 height=213 border=0>
<p align=justify><i>Whaddya think?</I>
<p align=justify>I commend the author on their skill in capturing the ugliness and self satisfied, smug, stupidity of Saradomin so well. 
<br>Excellent work.
<p align=justify>
I just have time to answer a few quick questions before I get back to spreading corruption and death:
<p align=justify>  
Seamus Aran asks: <i>"What football team/s do you support?" </i><br>
Saradomin likes the Lumbridge Eagles, I prefer the Ardougne Chimeras. 
Guthix says hes not really into competitive sports much. Guthix is kind of boring that way.
<p align=justify>  
Leszek 14 asks: <i>"well where are the trolls????" </i> 
<br>I believe most of them left RuneScape to hang out on Internet message boards a while back, although as they are a race I particularly like I will be doing my best to bring some back to RuneScape.
<p align=justify>Evil Doer asked "<i>what sword you have?</i>"
<br>To which I reply: weapons are for the weak. A True Zamorackian would rejoice in nothing less than the slaughter of his enemies with his bare fists.
<p align=justify>Nyar DCE questions me "<i>How many people work at Jagex?"</i>"
<br>About half, on a good day.
<p align=justify>Just pures wrote to say "<i>In runescape there should be some freshing drinks like sprite coca-cola and fanta</i>"
<br>Which amused me no end, as the number of pathetic complaints about the adverts that surround the free players game would undoubtedly increase if runescape started to have brand name products within the game.<br> An excellently evil idea, that I fear the council would never approve of. 
<p align=justify>If however any well known drinks manufacturers would like to contact me personally with large offers of gold, I will happily have Iban open a shop in their name...
<p align=justify>MrMario asked "<i>What happened to Saradomin?</i>"
<br>To which I respond, you should not ask too much or I will have no course left to me but to demonstrate what I did to the silly old fool personally upon you.
<br>It would probably be fatal to a mortal. Its certainly very painful to a god...
<p align=justify>  
Far far too many people ask: <i>"Whats the deal with those Red Cards?" </i><br> 
to which I reply, they are given away free at the start of the Tourist Trap quest. 
<p align=justify>  No, they are not worth thousands of gold... Perhaps it is the word 'free' in their description that puzzled the weaker minded players amongst you?
<p align=justify>  
Until next time loyal followers, 
 <br>Strength through chaos -
<p align=justify>    
&nbsp;&nbsp;&nbsp;<font color=red><b>Zamorak</b></font>

<p align=justify> <i> <font size=1>  

    DISCLAIMER: The views of Zamorak do not reflect the views of
    Jagex Ltd or it's employees. We'd ban him, but he's a god.
    But if you would like to converse with the dastardly one...</font> 
<p><center><img src='/img/newsletter/zamemail.gif' width=280 height=20></center>  











</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>