<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->
<!-- content table-->
<table width="600" cellpadding="0" cellspacing="0" border="0" background="/img/background2.jpg">
<tr>
<td valign="bottom">
<center><br>
 <!-- title box --> 
<table width="250" bgcolor="black" cellpadding="4">
<tr>
<td class="e">
<center><b>Letters #17 - Saradomin Speaks Once More</b><br>
 <a href="/title" class="c">Main menu</a> - <a href=
'/varrock/letters' class="c">Archive Index</a></center>
</td>
</tr>
</table>

<!-- end title box --><br>
 <!-- content table --> 
<table width="500" bgcolor="black" cellpadding="4" border="0">
<tr>
<td class="e" width="500">
<center>
<center><b>Saradomin Speaks Once More</b></center>

<table>
<tr>
<td>
<p align="center"><img src='/img/newsletter/saradomin.gif' width="164" height="150"></p>
</td>
<td>
<p align="justify"><font color="white"><b>SARADOMIN, LORD OF ORDER, KEEPER OF PEACE, AND SCOURGE OF EVIL BRINGS FORTH WISDOM TO HIS FOLLOWERS ONCE MORE.<BR>
POPULAR TOPICS THIS TIME INCLUDE NEW PRAYERS, RIDDLES TO TAX A DEITY, AND THE MYSTERY OF THE LOCATIONS OF BANKS...</b></font></p>
</td></tr></table>
<p align=justify>
Hello once more glorious Saradominists!<br>
It seems an age since last I imparted my great wisdoms to you all... and with all the fuss being made about the upgrade that will shortly befall the world, I simply had to respond to my faithfuls' pleas before it occurred! <br>
So what have been the topics that have been burning in my followers hearts since last I spoke to you all?<br>
Let us see...
<p>
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Wise Saradomin,<br>
I am one of the paladins created in your honor which utilize the prayer 
which you most graciously grant us in order to help others while at the same 
time using weapons. I was wondering if when the miracle which will allow us 
to see eachother in three dimensions occurs, will we be granted more prayers 
to use?
<p align=justify>
Signed, Raistlin7000
<p align=justify></i>
The change that is slowly descending upon this world will affect all aspects of the game... prayer included. <br>
Those of sufficient prayer level will almost certainly be pleasantly surprised when first they see what prayers they may soon utilise.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Saradomin<br>
reading through your most recent newsletter, i have noticed that you are being uncharacteristically sarcastic.. its almost bordering on being spiteful! As i am not you, and do not know the true nature of these comments, nor do i know if you are intentionally being this way, for you may havejust been having a bad day, however; is there a reason for this change of personality? I find it most unbecoming of most men, let alone a god.
 <p align=justify>
(insert stereotypical ending sentence),<br>
krazyck</i>
<p align=justify>
You are indeed astute for a mortal... my previous bad temper was as a result of a childish prank that the fiendish Zamorak had played upon me, shortly before I made my responses to my followers. <br>
I do not wish to dwell upon the details, but the smell of rotting fish still disturbs mine senses.<br>
Regardless, I am as full of love for humanity as I was before, and back to my usual good humoured self. <br>
Just please mention not mackerel in my presence for some time.
<p align=center><img src='/img/newsletter/smstones.jpg'>
<table>
<tr>
<td>
<p align="center"><img src='/img/newsletter/newsletter17_pub.jpg' width="240" height="320"></p>
</td>
<td>
<p>
<p align=justify><i>
To the greatest god of all,
<p align=justify>
Saradomin, when I go to sell something to the General Store, the shopkeepers 
always seem to have money on their hands. How is this possible? Is the 
Shopkeeper actually a multi millionaire in disguise? How do they make all 
that money? Please answer this plea.
<p align=justify>
Your most loyal follower,<br>
Legenocide</i>
<p align=justify>
Most shopkeepers make a very good living from the day to day sale of small and insignificant items such as pots, buckets and hammers, which they buy in bulk and then sell individually for extremely healthy mark ups - yet all shop keepers dream of the famous day when a party hat was sold to them for a mere 2 gold.
<p align=justify>
There were many rounds of drinks on THAT shopkeeper at the merchants' guild that night, let me assure you.</td></tr></table>
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
here is a little fun for the best god goin
<p align=justify>
pretend you are a bus driver there 10 people on the bus<br>
at the first bus stop:<br>
10 people get on named bill<br>
1 person gets off name sal<br>
<p align=justify>
at the 2nd bus stop:<br>
5 people get on named sal<br>
11 get off called bill<br>
<p align=justify>
at the 3rd bus stop:<br>
17 people get on called bill<br>
<p align=justify>
13 get off called sal<br>
<p align=justify>
waht is the bus drivers name?</i>
<p align=justify>
Well, I'm slightly surprised you used your chance to contact me with a childish riddle, but the answer is that the driver would be the same at the end of the journey as he was at the start.
<p align=justify>
In other words, the driver would still be the glorious Saradomin - but I have a question of my own for you;<p align=justify>
What exactly is a 'bus'?
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Lately i have heard of an item called "Superheat Item"...... I heard that it 
makes you able to get iron bars 100% of the time when smelting. Thank you 
saradomin</i>
<p align=justify>
Um... you're welcome? It is actually a magic, not an item, but useful nonetheless.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
dear saradomin,<br>
&nbsp&nbsp&nbsp&nbspwhy isnt there a bank in lumbridge?...lumbrdige is one of the big and 
populated cities (although their all newbies) but even so there should be a 
bank there...alot of newbies die in scorpion mines, darkwizards, highwayman 
and lose close to all their belongings before they could reach a bank...low 
lvl newbies cant get to a bank without being attacked by something and so 
there should be a bank of lumbridge like near the farms or somewhere like 
that...
<p align=justify>
Your almost faithful follower, mage girl 89</i>
<p align=justify>
Cost cutting exercises by the First National Bank of RuneScape meant many branch closures of the smaller, local banks some years back. <br>
It is somewhat unfortunate, but all newcomers from Tutorial Island have access to a bank before reaching the mainland, where they can ensure their meagre posessions are secure, and the large town of Varrock which is but a small journey from Lumbridge has not one but two large branches of the bank, available for all.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Saradomin,
<p align=justify>
I have many question, but I can understand that you don't have much time.  One of the questions are, when the big 3d update come up, well you be able to some items from another when other players have them equiped.  Ex. Will you be able to tell if someone has a 2hander from a long sword or a dagger? Or a Kite sheild from a square sheild?  Another question will is will a ring ever be used?  I see no use in them.  You cannot wear them, or use them for anything important.  Also, I am sure that you know Andrew?  I am not trying to be mean in this way, but sometime's it seems that he has favorism for the higher level people?  It just came up in a discussion with my friend, Psycho39k.  I think everyone should be treated equally.  Sorry for any problems.
<p align=center>
                                                                            Thank you very much,     
<p align=right>
                                                                                           Blood Dragon</i>
<p align=center><img src='/img/newsletter/newsletter17_ring.jpg' width="320" height="240">
<p align=justify>
I have good news for you, for in the new version of the world you can indeed see exactly what weaponry and armour another player is wearing, for each will look different enough to be obvious at a glance. Similarly, You will also be able to wear any rings that you choose to. <br>
I also agree that everyone should be treated equally, and can assure you the Mage Gower does not favour higher leveled players over others.
<p align=justify>
He hates you all, and tries to make all your lives equally miserable... just kidding! Andrew, please punish not my followers in retaliation!
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
oh great saradomin, this is one of the many lost souls that wanders in 
runescape
i am deaply troubled that i cant reach ardougne for i wish to obtain a 
higher thieving lvl
how ever there are only 3 ways to ardougne and each is highly difficult
my magic lvl is far too low for me to teleport whilt i am too weak to cross 
white wolf mountain
i cannot get very far thruogh the wilderness because i am aways pked oh 
please mighty saradomin answer this e-mail with how i might reach ardougne 
and percivere to the land of whitch i dream
i wish to remain annonymous because other runesapians will make fun of my 
low attk and strengh
<p align=justify>
yours truely a very faithful follower
<p align=justify>
(ps, i sent this message twice so i could correct a number of spelling 
mistakes)</i>
<p align=justify>
If you can find some kind soul to escort you past the dangers of White Wolf mountain the first time, you will find a shortcut through the dwarven passages that will save you from being harrassed by the dangers of the mountain afterwards.<br>
He may of course require some small favour in return for access to this passage...
<p align=justify>
Alternatively, you may prefer to take the pleasant scenic route by boat to Karamja, and then transfer to take the equally picturesque boat journey from Brimhaven back to the mainland.
<p align=center><img src='/img/newsletter/newsletter17_ship.jpg' width="320" height="240">
<p align=justify>
Tours operate daily, and I believe are very reasonably priced for such a popular cruise.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Oh Great Lord,
I Have been Recently Wondering If there will be a Tutorial Each Player 
is Required to Go through, even if you Have been playing for a while, 
just to Familiarize yourself with the new Games control, and if this 
isnt available it May be a good Idea to do so, For some people may get 
easily confused, and then give up, becoming frustrated, and quiting the 
game.
<p align=justify>
A Faithful Follower,<br>
Scion Blade</i>
<p align=justify>
You will almost certainly be glad to hear that the ever popular, and exceedingly useful, Tutorial Island will remain in place after the upgrade, for all newcomers to the world of RuneScape to gain some knowledge of the land before being set loose upon the general populace.<br>
For those who are already wise to the ways of the world of RuneScape, they will not find the control system so different as to be unfamiliar to them, and should be able to re-adjust themselves very quickly to the new scheme of things.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Great and powerful Saradomin (i spelt your name correctly) I was wondering if you could fix somthing that has been bugging me. every time i die i keep the fatigue that i had beforehand, and it annoys me to no end to be searching for a bed after i loose my sleepingbag. please try to fix this. your loyal follower<br>
Nom Anor1</i>
<p align=justify>
I could see how this could be an annoyance... if there were not an abundance of beds contained within Lumbridge.<br> 
Regaining fatigue is but a short matter of gaining some quick rest.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
To the god Saradomin,<br>
       Being an unmitigable pedant, I recently noted that you had made a spelling error in response to a letter. You said (well, wrote, actually):
"Yes. Well. <br>
Why don't I just set everyones level to 99 and give everyone full rune while I'm at it? Then theres no need to even play the game anymore."<br>
       Note the missing apostrophes in "everyones" and "theres."<br>
       I apologize for being so annoying, but sometimes I really cannot help myself. Habit, you know.<br>
<p align=justify>
-Llun of Lhun</i>
<p align=justify>
As a pedant you should feel glad that I will correct you in pointing out that lack of apostrophes is an error in punctuation, not of spelling.<br>
The mistake is, of course, not mine, for mighty Saradomin is never in error - rather it is the fault of the cheap dwarven labour employed by the Council who are responsible for typesetting and printing these responses.
<p align=justify>
So there.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear oh great saradomin,
 <p align=justify>
I feel that you should be able to eat raw fish because in real life u eat sushi.
 <p align=justify>
From kidd rune2 (the noob with no money at all)</i>
<p align=justify>
When you eat raw fish, you eat also the environment in which that fish did live. <br>
I think I have already warned players on the poor sanitary state of the rivers and oceans of RuneScape...
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify>
I have some small queries which I will answer briefly, before leaving you once more;<p align=justify>
TKDFighter asks me "<i>Why can't 2H swords have their own shop?</i>" - I am sure you will be glad to know that such a shop does indeed exist...
<br>and suggest you search a little more thoroughly in future...
<p align=justify>
Obie_Trice10 asks "<i>what music u like???</i>" - to which my only answer is that I enjoy nothing more than the Psalms and Hymns of my temples, extolling my virtues and glories for all to hear.
<p align=justify>
It is, literally, music to mine ears.
<p align=justify>
Desecration would like to know "<i>y r u the god of goodness?</i>"<br>
Because the god of spelling, grammar and punctuation was already taken. <br>
I don't think he does his job very well.
<p align=justify>
"<i>Why is the lesser Demon in wizard tower locked up?</i>" asks Night Hawk04; My only reply is that it is because it would be extremely dangerous for the wizards if he was allowed to roam free.
<p align=justify>
And finally, an anonymous request would like to know "<i>Do you have a number that I could call?</i>" - No. I <b>ABSOLUTELY</b> do not.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify>
<p align=justify>My work here for the time being is done... and so I must depart once more.<br>
Until next time we meet, live each day as though it were your last;<br>
with compassion, with mercy, with honour.
<p align=center>Strength through wisdom,   
<p align=justify>&nbsp;&nbsp;&nbsp;Saradomin     
<p align=justify>
<font color="white">
<i>
<font size="1">DISCLAIMER: The views  of Saradomin do not reflect the views of Jagex Ltd or it's employees. We tried to stop him saying anything controversial, but he is a god. If you would like to contact   him however...
</font>
</i>
</p>    
<center>
<i>
<img src='/img/newsletter/email.gif' width="289"height="19">
</i>
</center>  
</center>  
</td>  
</tr>  
</table> 
<!--end content body--><br>
</center>
</td>
</tr>
</table>
<!-- end content table -->
<!-- border footer-->
<table cellpadding="0" cellspacing="0">
<tr>
<td valign="bottom"><img src=
"/img/edge_g2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
<td valign="bottom">
<div align="center" style=
"font-family:Arial,Helvetica,sans-serif; font-size:11px;">This
webpage and its contents is copyright 2004 Jagex Ltd<br>
 To use our service you must agree to our <a href=
"/terms" class="c">Terms+Conditions</a> + <a href=
"/privacy" class="c">Privacy policy</a></div>

<img src="/img/edge_c.jpg" width="400"
height="42" hspace="0" vspace="0"></td>
<td valign="bottom"><img src=
"/img/edge_h2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
</tr>
</table>

<!-- border footer--></center>
</td>
</tr>
</table>
</body>
</html>

