<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Letters #10 - Zamorak does one</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock/letters' class=c>Archive Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<p>
<center><b>Zamorak retaliates!</center></b><p><table><tr><td>
<p align=center>
<img src=/img/newsletter/zamorak.jpg width=164 height=150></td><td>
<font color=white>
<p align=justify>
<b>ZAMORAK MAINTAINS HIS VICELIKE GRIP OVER THE LETTERS SPREADING HIS MESSAGE OF HATE AND DESTRUCTION TO THOSE WHO APPRECIATE SUCH THINGS, AND ANSWERS A FEW QUESTIONS IN HIS OWN UNIQUE STYLE INCLUDING A WILDERNESS SURVIVAL GUIDE, AND VALENTINES DAY BLUES...</b>
</font></b></td></tr></table>
<p align=justify>  <i>
    Hello, hello, lord of all evil doers. As I read the 9th issue of the Letters on 
Runescape.com, I found myself surprised and pleased...my god, Zamorak, had 
returned to communicate with us! As I read over the letters, I found myself 
laughing with DELIGHT!!! This was the one I worshipped and served, and 
rightfully so. I want you to know I am personally training everyday to tear 
apart those followers of the weak and goody-goody "Sardomin" or whatever his 
goofy name is. Keep blessing, errr, cursing your devoted followers. 
<p>
Yours Unruly (NOT truly),
Rhl</i>
<p>
<font color=white> 
<p align=justify> 
    Thanks for your devotion, but there's nothing worse than a crawler. What were
you expecting from me, Full Rune? Drawing inspiration from another wannabe 
"teacher's pet" (yes you Mr.Blibloner) I have deployed three black dragons,
who have all agreed to meet with you for dinner.
 <p align=justify>  <table><tr><td>
<i>O great doer of evil, <p align=justify> 
How is it that your weak younger brother has so many followers, 
who support him by wearing Holy Symobls of Saradomin? Why don't you, in all your 
putrid glory, have a Holy Symbol of Zamorak? If there is one, please tell me about 
it, for I will have much reason to worship you further. If Saradomin deserves a 
holy symbol, why don't you?
<p>
Iamsure</i>
<p align=justify>    
<font color=white> 
This has undoubtedly been one of the most popular requests. Holy symbols of
Zamorak are of course illegal in the Saradominist states of Runescape. But
rumour has it that a few have been smuggled in, and can be found in the 
recently released Observatory Quest.</td><td>
<P Align=center>
<img src=/img/newsletter/zamarocksymbol.jpg width=192 height=288 border="0"></td></tr></table>
<p align=justify>  
<i>Dear Zamorak,<p align=justify>
 If you think you can just take over, you're wrong, soon i will have 
 my friends sending email to you like there is no tomorrow. 
 <br>
 Besides, if you keep this up, there won't be a tomorrow. 
 <p>
 Your enemy that will not stop until you fail,
<br>Geethor</i></center>
<p>
<p align=justify>    
<font color=white> 
<p>
Dear Enemy,<p align=justify>
 Thank you for your words of encouragement, it has spurred me on to be
 far more destructive today than I had planned; I was just going to 
 meet Guthix for a pint.<br>
 But you're wrong about their being no tomorrow. As a wise old man once
 told me, "tomorrow never comes".<p align=justify> 
 Except last week, when it came several times. I had the man killed of course.
 <p align=justify>  
<i>In reply to the guy complaining about being deceived in the wildy, if you dont 
wanna lose your items, heres a few ground rules <br>
<li>1. Trust no one 
<li>2. Trust No One 
<li>3. TRUST NO ONE <br>Then, PKers like me wont have a chance to kill you :-) (big gasp)
<p>A true PKer,<br>Godswarrior</i>
<p align=justify>    
<font color=white> 
<p>
Ah, a PKer with a brain- a rare thing indeed. But I thought the first rule of PKing 
was "Don't talk about PKing", and the second rule was "DON'T TALK ABOUT PKING!"
<br>
That's what one of the black knights told me anyway, when we were having a little
chat about PKing.

<p align=justify>  
<i>Dear Almighty Zamorak,
<p align=justify>  Don't you think there should be some sort of safe spots 
or houses in the wilderness?
<center><P Align=center><table><tr><td>
<img src=/img/newsletter/wilderness.jpg width=200 height=240 border="0"></center></td><td>
<i>Everytime i go into the wilderness, i almost 
get killed by level 50 people when im only on level 28! I really need to 
refuge from these people! Can you erect some sort of house or town or 
something in the wilderness with your great powers so that you can help your 
loyal people of the wilderness? 
<p>Darkwarrior8.</i>
<p>
<p align=justify>    
<font color=white> 
<p align=justify> 
For god's sake- all three of us- that's the whole point about the wilderness-
it's dangerous! And as much as I despise my brother Saradomin, even he recognises 
that the wilderness is a place of chaos, death and destruction.</td></tr></table>
 <p align=justify></i>We're not trying to run 
a theme park here...
<p align=justify>  
<i>Oh wise and powerful Zamorak, answer my prayer. Grant your followers an ability 
that allows them to quicken their speed. Perhaps you could make this ability a 
prayer that uses up points or a skill of agility which uses up fatigue. With 
this, your followers could make a quick charge into battle (or a hasty retreat 
away from it!)<p>
Let evil reign!!! 
<p>EricCleric.</i>
<p>
<p align=justify>    
<font color=white> </center>
<p>
Hmmm, it's funny you should mention that. I happen to know that the Council of 
Runescape is toying with the idea of some sort of speed burst or running ability,
which would probably induce fatigue. So well done on anticipating this change: 
Great minds think alike. Fools seldom differ.
<p align=justify>  
<i>Dear fiend of dastardly doings,<p>
I have been told that in the wilderness at the very end their is full rune that 
is unreachable unless you have telekinetic grab. Seems as you love the wilderness 
I thought that you might prove this or disprove this. From what i hear you are 
ignorant of answering questions but I have a good reason for you to answer this one.
</i>
<p>
<p align=justify>    
<font color=white> 
<p>
Well I'm certainly not ignorant of anything. A tad lazy maybe... but since this
is a newsletter I can hardly "prove" that this is in fact untrue. I can only
"tell you" that it is a blatant lie, presumably designed to lure foolish
adventurers towards the mythical bounty, like a sailor to a siren. 
So full marks to whoever came up with it.
<table><tr><td>
<P Align=left>
<i>I am highly dissapointed in you and your brothers did all of the gods fall 
asleep or lose thier powers. You all forgot Valentines. Just because 
Runescape is based in Europe doesn't mean that you can't have a American 
Holiday. I can't believe that 3 omniescient gods forgot Valentines. 
The worst part is that I didn't know I was wondering for 3 hours before I found 
out from 12am to 3am. Gods just aren't what they used to be. <P Align=justify>
Your unfaithful servant: Zahor<br><P Align=justify>
PS: since you aren't omniscient you probably won't get this message and 
probably won't do anything. So I have no worries.
</i></td><td>
<p align=center>
<img src=/img/newsletter/uglyknight.jpg width=192 height=288 border="0"></center></td></tr></table>
<p align=justify>    
<font color=white> 
I didn't forget Valentines and nor did Saradomin. We both gave and received
Valentines cards, in fact. The one I got was from Saradomin's (now ex) girlfriend-
now that's what I call all-powerful!<br>
So all you've really told me is that no-one wanted to give YOU anything. In which
case I suggest you take a good hard look in the mirror and start asking yourself some
difficult questions.<p>
<p align=justify>  
<i>Hey Zamorak<p>
I want to know if we can be able to do special moves in battle 
that do a little more damage. I'm not talking about magic or prayer I'm 
talking about a slash or stab or something.<br><p>
Loto50
</i>
<p align=justify>    
<font color=white> 
<p>
Yes, when the new game engine update happens it will include weapons with their own special
moves. And they'll be a lot more exciting than your piffling little stabs and
slashes.
<p align=justify>  
<i>Evil one, I warn you.<p>
I recently read that multiple player combat would be available 
in the 3-d version. Most people would think this is a good idea, but i know from experience 
it is not. Before I played runescape, I played another MMORPG which had this same system 
and it was great and all, until the game got popular (about as popular as runescape) and 
the game was filled with dishonest lower lvl. These people would constantly deal just a death
blow on the monster your fighting to get the drop...<br>
Unless you make it so there is an option to turn off multiple player combat 
for the monsters that particular person is fighting, I urge you not to apply this update, 
well, stop Andrew from making the update, you have evil powers right?
</i>
<p align=justify>    
<font color=white> 
<p>
The details of multi-player fighting are still being decided, but there will be an option to 
disable multi-player fighting for those who want to fight alone. I do know that the 
revamped game system will allow us to have a combat system that is very fair and 
accurate in it's designation of hits and scores. I did try to argue with Andrew
against all this fairness, but he wasn't having it.
<p align=justify><i>
 Dear Saradomin,<p>
 I don't really understand why you need money when you have too much 
 power, but I have a question. How do you pay more than $5 bucks a 
 month? I don't know why I ask these questions, probably to donate more 
 money, but please tell me how!
                      <p>                                               
 Your naive, Ed Bighead</i>
<p align=justify>    
   Ah finally someone who appreciates all the hard work that is done
 for him. And yes of course you can donate more money.<br>
 Just make your cheques  payable to Zamorak, and I'll be sure to 
 pass on the money to the right people... <p>Strength through chaos -
<p align=justify>    
&nbsp;&nbsp;&nbsp;<font color=red><b>Zamorak</b></font>

<p align=justify> <i> <font size=1>  

    DISCLAIMER: The views of Zamorak do not reflect the views of
    Jagex Ltd or it's employees. We'd ban him, but he's a god.
    But if you would like to converse with the dastardly one...</font> 
<p><center><img src='/img/newsletter/zamemail.gif' width=280 height=20></center> 

















</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>