<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->
<!-- content table-->
<table width="600" cellpadding="0" cellspacing="0" border="0"
background="/img/background2.jpg">
<tr>
<td valign="bottom">
<center><br>
 <!-- title box --> 
<table width="250" bgcolor="black" cellpadding="4">
<tr>
<td class="e">
<center><b>Letters #18 - Zamorak Rises! </b><br>
 <a href="/title" class="c">Main menu</a> - <a href=
'/varrock/letters' class="c">Archive Index</a></center>
</td>
</tr>
</table>

<!-- end title box --><br>
 <!-- content table --> 
<table width="500" bgcolor="black" cellpadding="4" border="0">
<tr>
<td class="e" width="500">
<center>
<center><b>Zamorak Rises!</b></center>
</center>
<table><tr><td>
<img src=/img/newsletter/zamorak2.jpg width=163 height=148>
</td><td>
<font color=white>
<p align=justify>
<b>
ZAMORAK RETURNS ONCE MORE, AS EMBODIMENT OF CHAOS IN A SWIFTLY CHANGING WORLD.<BR>
TOPICS OF NOTE IN THIS EXTRA LONG EDITION OF LETTERS INCLUDE: THE QUALITY OF SEWAGE IN RS, HOW TO ACHIEVE THE PERFECT EVIL LAUGH AND THE PSYCHOLOGICAL BENEFITS OF A BATTLEAXE IN COMBAT.<br>
<b>
</font>
</td></tr></table> 
<p align=justify>
Greetings warriors, and loyal followers of chaos!  <p align=justify>
Wandering my realm of the Wilderness recently, I noticed a change most severe... the ground, blackened from fire... monsters and creatures wandering, attacking anything that moves... piles of the dead scattered without thought or care... and you know what?<br>
It was great. <br>
Really beautiful. <br>
If I was a deity of softer sensibilities, I might even have shed a tear.<br>
<p align=justify>
Cheered no end by the terrible beauty of the Wilderness, I decided I would spread my good humour amongst my followers and answer a few questions, so let's see what we have in the mailbag this month...
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
Dear My Role modle Zamorak,
<p align=justify>
How do you do evil laughs so well? I've practiced day after day and still haven't devoloped a good one, muhahaha *cough* see!? im horrible!!!Please give me a great tip.
<p align=justify>
Please forgive me for your time,<br>
Undeadmadcow-Your most worthy follower</i>
<p align=justify>

You have to start the laughter from your diaphragm, as low in pitch as possible, then gradually make it louder and louder as you build it up.<br>
It also helps a lot if you have something funny to think about.<br> 
Like Saradomin with those Mackerel the other month.<br>
Muhahahahahaha.
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
Dear Zamorak (and only Zamorak),<br>
 <p align=justify>
While traveling around the world of runescape I noticed something quite odd...THERE ARE NO EVIL QUESTS! Being a lover of all things evil I was wondering, why isnt there ANYONE in the whole of runescape that wants me to go kill a farmers sheep, to steal a knights sword or to summon an evil demon to wreak havoc upon the inocent (or not so inocent as it may be) townsfolk of Vorrock. It would be nice for once to be rewarded for doing evil deeds, even though doing evil is a reward of as itself I wouldnt mind being given a nice new sword with whom I can slay some some farmers.
 <p align=justify>
Yours unfaithly Blade9z4</i>
 <p align=justify>
Well now, that's not quite true... Just off the top of my head I can think of at least two seperate quests where you can assist me in my cause to rid this world of the sickening influence of the braggard Saradomin!
Why, in the Temple of Ikov quest you have the chance to assist my good (or should I say 'bad'?) friend Lucien in his lust for power, and in the Hazeel Cult quest not only can you aid me in resurrecting the dread lord Hazeel to help my plans for this world, but you get to poison a dog loved dearly by a family!
 <p align=justify>
 What more can you ask for? I am also sure that at some point in the future I will require the services of ruthless young adventurers to help me with my plans...
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
Dear Zamorak,
 <p align=justify>
hello,this is zac213 and i want to know what you would look like in 3d?<br>
sent a photo on this next to this message 
 <p align=justify>
P.S. why are kabebs goblin meat?thats just sick!why do people eat goblin meat?                      YUCK!! </i>
 <p align=justify>
 
 Kebabs are not made from Goblin meat... I am not quite sure where you heard that rumour...<br>
 They're made from camels. It's much tastier. <br>
 Goblins tend to have a slightly nausea-inducing odour when fried, and tend to leave chunks between the teeth.<br>
 Trust me, I've had some experience with this.<p>
 As for my new looks... well, you can see my wondrous visage for yourself at the start of this edition of the letters!
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
Dear evil one,    <br>
Just a quick question, why are there sewers but no toilets?<br>
a fan of your work, charz2kn2 </i>
 <p align=justify>
Surely that is infinitely preferable to the alternative - toilets without sewers? <br>
Or would you really wish to roam a land that stank more than Guthixs' dress sense?
<p align=center><img src='/img/newsletter/smstones.jpg'><p><i>
Ohh mighty Zamorak what do u like better killing sandromist Or Eating Breakfast<br>
             <center>            Sinceraly yours Death567</center></i>
              <p align=justify>
You know, personally I like to combine the two.
<p align=center><img src=/img/newsletter/zams_meal.jpg width=320 height=240><p>
With some fava beans and a nice chianti.

<p align=center><img src='/img/newsletter/smstones.jpg'><p><i>zamorak,
  i already read your pathetic brother guthix's opinion on pure fighters,
  but i want to know what you think.<br>
       Blondechik44</i>
         <p align=justify>
If they win their battles I praise their bloodlust.<br>
If they lose their conflicts I mock their inexperience.<br>
Change or die; this is the way of the warrior.

<p align=center><img src='/img/newsletter/smstones.jpg'><p><i>
1) I wonder when the 3d version of runescape is ready? You are a mighty god and you should be able to make it quick!<br>
2) Is the 3d version of runescape going to have any kind of battle hammer? <br>
3) is the new 3d version for members only or for the free game also? <br>
4) If there is gonna be new "special" strikes with weapons then will it be like r2h and scimitar will have different kind of attacks? <br>
5) What does the dragon stone amulet do? (i have to know this!!!) <br>
6) Why don't you get rid of saradomian and guthix? they are only in your way of creating destruction and chaos!!! <br>
  <p align=justify>
Please answer all my questions!!! 
  <p align=justify>
Tom</i>
  <p align=justify>
  
1) Sorry, my specialty is destruction, not creation. As gladly as I would send some poisonous scorpions to lurk beneath the Mage Gowers' bed and harrass his sleep, (it was pretty funny the last time as I remember) I think it would actually slow him down.<br>
Sadly my motivational techniques tend to leave the victims gibbering nervous wrecks - ask Reldo.
  <p align=justify>
2) Oh yes indeed. <br>
The sound of a large metallic hammer hitting someones skull has a reassuring quality you just don't get with staves. If they open their mouth at the same time you get a cool hollowed echoey effect too. "Twonk!"
    <p align=justify>
3) I distiniguish not between the two; you will all get a chance to feed my pets in the Wilderness.<br>
And rest assured, feed they will.
  <p align=justify>
4) A secret this may be, but I fully intend to imbue certain weapons with unique attacks, inflicting even more damage than the unskilled hacking and slashing so favoured by most warriors.<br>
Slaughter is always most entertaining with a little variety in the spectacle, is it not?
  <p align=justify>
5) Well, other than looking pretty snazzy, I hear there's some kind of fountain in the Heroes Guild that allows some kind of teleportation magic to be stored in the amulet.<br>
I can't really say much more than that, because I'm not a Hero and don't know anyone who is.<br> 
Always found them very dull, self righteous Saradominist types to be honest; give me the high spirits of the Bandit camp any day!
  <p align=justify>
6) Hey, I'm working on it, and I'm always looking for a few bad men (and women - <i>especially</i> women; I have a reputation to maintain) to help me achieve my goals.
  <p align=justify>
Whats this? I answered all of your questions? Hmmmmm. Ah, I'm in a good mood. I won't ask for anything in return.<br>
This time.

<p align=center><img src='/img/newsletter/smstones.jpg'><p><i>
My most horrible god ever Zamorak,
   <p align=justify>
I have slayed many with my trusty blue blade but I ponder upon one thing. Why can't we dye our armor and weapons? It would be great to have a blood red blade and blood red armor, but all I can get is bronze stuff that's brown.
   <p align=justify>
Also, I wonder why Runescape does not have status things like poison. It would be great to carry a poison blade so that retreating cowards suffer damage the more they retreat, and they cannot log out until they are cured. Maybe you could invent a poison like this that could only be cured by sleeping in a proper bed or eating a potion, etc. It would make killing all the more pleasurable!
   <p align=justify>
Your anonymous slave.</i>
  <p align=justify>

Well, a sense of style in your violence is always important, unfortunately the dyes currently used in RuneScape are not only extremely toxic when consumed, but also highly corrosive.<br>
Only a fool (or a Goblin) would be thoughtless enough to destroy the strength of their armour for a purely cosmetic change. <br>
That's not to say such a process might not be possible sometime in the future however; the ingenuity of the councils research & development department never ceases to amaze me.
  <p align=justify><table><tr><td>
And poisons? I take it you haven't seen many of my beautiful red spiders on your travels? As frustratingly pathetic as Guthix is, his skill of Herblore does have a couple of cool things you can do with it - like poisoning your weaponry to inflict greater damage upon your enemies...
  </td><td>
  <img src=/img/newsletter/poisonspider.jpg width=312 height=164>
</td></tr></table> 
<p align=center><img src='/img/newsletter/smstones.jpg'><p><i>
1.) Why can't you mine runestones like you can iron ore or
coal?<br>
2.) Is there a high-lvl rune store? And if not, why?<br>
3.) Why don't you have a secret police to help report
scammers?<br>
4.) Why don't you have wars and invasions? For example, how
come the goblins next to Lumbridge don't try to take it
over?<br>
5.) Who is Zaros?<br>
6.) Who tests the new quests and other stuff for you?
  <p align=justify>
    By the way, playing ' the gods' to answer your emails is
a good idea.
  <p align=right>
                                     A player of Runscape</i>
  <p align=justify>
1) Why, I do believe that you can...
<p align=justify>
2) The meddling council try to limit the flow of Runes to those not authorised in their use, as they fear some day the people they govern will over throw them and they will be unable to defend themselves.
<p align=justify>
I hear there is a strong black market in Rune trading in the larger cities however, with many merchants posessing large numbers of Runes to sell and buy, making profit purely for themselves and not paying a penny of tax towards the council.<br>
I approve of this undermining of the authorities whole heartedly.
<p align=justify>
3) Ahhh...... an interesting question. But who are you to say such a thing does not indeed already exist...?<br> 
The puny of mind who attempt to scam their wealth instead of earning it in the glory of battle should be wary, for I know many council members walk the land anonymously, so that they might take vengeance without fear of reprisal or recognition...
<p align=justify>
4) The Goblin people are a notoriously stupid race. Try as I might, I have had no success in organising and mobilising them as a cohesive fighting unit.<br>
Perhaps they would be better off as kebabs after all?
<p align=justify>
5) Speak not his name; it will bring nothing but sorrow. <br>
I would sooner attend a thousand Saradominist lectures than hear that word in my presence, so take care not to anger me with it.
<br>My hatred still burns, darkly and icily within my breast, even after these many centuries. I fear him not at all. NOT AT ALL!
<p align=justify>
6) Guthix has a game... something like a chess board, upon which all destinies and actions can be played out, endlessly.<br>
When new Quests occur upon this land for people to resolve, they have already been played out a million times, for Guthixes secret purposes, before a single action has been taken.<br>
As best I understand it he uses intelligent apes (well, intelligent by ape standards) to see the outcomes of events before they occur in real life. I have no idea what the meaning of this bizarre mockery of life means, or for what purpose Guthix plays with it, but quite often I see new apes delivered to Guthixes abode, yet never do I see any leave...
<p align=center><img src='/img/newsletter/smstones.jpg'><p><i>
Do you think your better then Guthix and Saradomin?-    Nequillim</i>
<p align=justify>
Think? I <b><i>know</i></b> it!
<p align=center><img src='/img/newsletter/smstones.jpg'><p><i>
Zamorak,
<p align=justify>
I come to you because you seem the god who likes people when your weapon is 
lodged between their ribs.<br>
My brother and i have long been thinking an armoury is lacking without a 
spear. We have decided to ask you to grant the world another sharp, pointy 
thing to kill people with. Im sure that you could get some to weapon dealers 
over runescape. I dont really care who you kill to do it, i just crave for a 
spear.
<p align=justify>
i of the dea</i>
<p align=justify>
I agree, spears are an excellent way of getting of getting your point across, and in, an enemy.
<br><br>
<p align=center><img src=/img/newsletter/spear.jpg width=450 height=41><p>
<br>
So good in fact, they have been available since April of 2003...
<p align=center><img src='/img/newsletter/smstones.jpg'><p><i>
o grate and powerfull lord or evil!
 <p align=justify>
i have one question...<br>
offence or defence?
 <p align=justify>
dragon t.m</i>
<p align=justify>
You act as though they are something different! Every warrior worth his weapons knows that a good offense IS a good defence! <br>
Attack first, and be at the advantage!

<p align=center><img src='/img/newsletter/smstones.jpg'><p><i>
dear oh great zamorak,
 <p align=justify>
i know guthix is against pkers, but are you too?<br></i>
~Dipschnit~
<p align=justify>
Not at all! I appreciate the good work they do for me, on a daily basis.<br>
Even if they themselves do not recognise that the work they do is indeed for me, for every death in the Wilderness adds to my power...
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
I quote thee,<br>
And so my time draws near, and once more I must grab
my trusty bloodied axe and bring more foul creatures
to this world to torment the Saradominists and
Guthixians with...
 <p align=justify>
Art thou the one who sayeth a true Zamorakian uses
thou fist?  I quoth thee again;
 <p align=justify>
Evil Doer asked "what sword you have?" 
To which I reply: weapons are for the weak. A True
Zamorakian would rejoice in nothing less than the
slaughter of his enemies with his bare fists. 
 <p align=justify>
What sort of Zamorakian art thou?
 <p align=justify>
On another subject, I hath slain 5127 of your
followers in the name of Saradomin.</i>
 <p align=justify>
 
I'm the kind of Zamorakian who strikes fear into the heart of my enemies by wielding fabulously impressive weaponry, and then intimidates further by laying my weaponry down and smiting them with nothing but my own strength. Just so they know they're not even good enough to bother using weaponry upon.<br>
I'm also the kind of Zamorakian who doesn't like to lose, and if the odds of battle seem to be shifting against my favour I have a large bloodied axe handy to redress the balance. Honour goes so far, but victory in the battle is all that counts.
 <p align=justify>
Might I ask given the slaughter you attribute to yourself, what kind of Saradominist are <b><i>you</i></b>? <br>
I think I shall see you at my fortress as an ally sooner than as an enemy...
<p align=center><img src='/img/newsletter/smstones.jpg'><p><i>
is it true Guthix is morbidy 
obese?</i>
 <p align=justify>
Yeah, he's pretty chunky for a giant floating metal skull.
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<p align=justify>
Now, having been uncharacteristically helpful in these letters, I fear I must make amends, and return to my favorite hobbies of torturing the pathetic Reldo, and annoying the insufferable Saradomin... so now I must leave you, loyal subjects of disorder, to remember my words;<br>
Use your strength to crush those who oppose you, and show your enemies no mercy nor respite.
<br>And I wish you all a happy Zamorakian Valentines day!
<p>Strength through chaos -
<p align=justify>    
&nbsp;&nbsp;&nbsp;<font color=red><b>Zamorak</b></font>

<p align=justify> <i> <font size=1>  

    DISCLAIMER: The views of Zamorak do not reflect the views of
    Jagex Ltd or it's employees. We'd ban him, but he's a god.
    But if you would like to communicate with the dastardly one...</font> 
<p><center><img src='/img/newsletter/zamemail.gif' width=280 height=20></center>    
             

</td></tr></table>
</center>

<!--end content body--><br>
</center>
</td>
</tr>
</table>
<!-- end content table -->
<!-- border footer-->
<table cellpadding="0" cellspacing="0">
<tr>
<td valign="bottom"><img src=
"/img/edge_g2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
<td valign="bottom">
<div align="center" style=
"font-family:Arial,Helvetica,sans-serif; font-size:11px;">This
webpage and its contents is copyright 2004 Jagex Ltd<br>
 To use our service you must agree to our <a href=
"/terms" class="c">Terms+Conditions</a> + <a href=
"/privacy" class="c">Privacy policy</a></div>

<img src="/img/edge_c.jpg" width="400"
height="42" hspace="0" vspace="0"></td>
<td valign="bottom"><img src=
"/img/edge_h2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
</tr>
</table>

<!-- border footer--></center>
</td>
</tr>
</table>
</body>
</html>

