<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->
<!-- content table-->
<table width="600" cellpadding="0" cellspacing="0" border="0" background="/img/background2.jpg">
<tr>
<td valign="bottom">
<center><br>
 <!-- title box --> 
<table width="250" bgcolor="black" cellpadding="4">
<tr>
<td class="e">
<center><b>Letters #13 - Guthix Maintains</b><br>
 <a href="/title" class="c">Main menu</a> - <a href=
'/varrock/letters' class="c">Archive Index</a></center>
</td>
</tr>
</table>

<!-- end title box --><br>
 <!-- content table --> 
<table width="500" bgcolor="black" cellpadding="4" border="0">
<tr>
<td class="e" width="500">
<center>
<center><b>Guthix Maintains</b></center>

<table>
<tr>
<td>
<p align="justify"><font color="white"><b>GUTHIX CONTINUES TO IMPART HIS WISDOM TO HIS LOYAL FOLLOWERS DUE TO POPULAR DEMAND.<P>TOPICS COVERED BY GUTHIX THIS TIME INCLUDE WARHAMMERS, WHAT A GOD THINKS OF 'PURES', AND WHERE TO BUY THE NEW PICKAXES...</b></font></p>
</td>
<td>
<p align="center"><img src="/img/newsletter/guthix.jpg" width="320" height="240"></p>
</td></tr></table>
<p align=justify>
I have much to impart to mine followers, and although I vow to remain detached from mine world, the prayers of my worshippers hath touched mine heart, and for this reason, I must speak once more.<br>I can not be silenced by god nor man, and my truths are evident for all to see
<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify>

<i>
Im sure you've heard of enough of the "dear unholy one" and all the other techneques used to flatter you so I have decided to spare you. I have only one request that is shared by many of my fellow followers, Warhammers. They could be two-handed, have much more power than a two-handed or "great sword", and would have much less aim than a battle axe. Before you procede to ignore or delete this letter, please remeber that with a Warhammer, I would be even more inclined to bash the heck out of people in the wilderness. <br>That is all.
 <p align=justify>
Your chaotic follower- Obsidian</i><table><tr><td>
<p align=justify>
I have good news for you for I know that The Council are preparing prototype Warhammers to add to all warriors arsenals of weaponry. I canst not tell you a specific date that the first units will be ready for public purchase, but I wouldst suggest that those keen to smite their enemies with large metallic blunt hammers will especially look forwards to the upcoming update to my world.</td><td><img src="/img/newsletter/warhammer.jpg" width="320" height="240"> 
</td></tr></table><p><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
My Lord,<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSomeone has boasted about finding a code to "blow up" Runescape.  Could this be true? Or is it just foolish fibs.
<p align=center> 
                                                                             Your servant,<br>
                                                                              Ace Easter</i>
<p align=justify>                                                                              
I wouldst suggest that this person is simply a foolish braggard, for I hath not given such a code to anybody, and wouldst not use it myself unless the balance of my world was so disrupted as to require me to finish my experiment prematurely.                     <p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Zamorak!
<p align=justify>
I would like the names of the members in the stupid council that forbids us 
to do everything, whos in that stupid council anyway? It would be cool with 
some new "Got to kill" names muahahahaha
<p align=justify>
~Eddeland~</i>
<p align=justify>
The Council are those who run the day to day affairs of the world of RuneScape. 
<br>As they art the ones who set the taxes for all of the businesses they prefer to remain anonymous, for there are many merchants who resent having to give them money on every sale made, and many watchmen who resent their low wages for the difficult job they must do. 
<br>Many watchmen also suspect that there be some fraudulent deductions made on their pay, for they pay a large sum as a pension, yet have a very low life expectancy, especially in large cities.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Zamorak,<br>
&nbsp&nbsp&nbspI saw the new opinion poll feature on the Runescape website, and I think it's a great idea.  There's one flaw, though.  Since you continuously update the poll and display the results, many people will be influenced to vote for whatever is the most popular at the time.  It's just like the 2000 Presidential Election in the United States, where people in California were voting differently because television networks announced results from the East Coast.  If you show the results to people before they even vote, the poll will be meaningless.
 <p align=justify>
Bigbigbigbig</i>
<p align=justify>
I see no flaws with the Poll, for it hath brought me from my silence to spread truth and honesty about the world against the lies of Saradomin and Zamorak that prevailed before. Democracy is truly a beautiful thing, for it allows balance of beliefs and opinions.<br>
Guthix is clearly more revered than had hitherto been suspected, a fact that annoyed the Council who wished to keep matters secret, that I will freely tell.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Are you a guy or a girl?</i>
<p align=justify>
I am Guthix. I am neither, and I am both. Thou canst not define a god as thou wouldst define a mortal.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Guthix's brother Zamorak,
   <p align=justify>                        
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zamorak you ugly beast I have a question for you. Why were you banned from intefering in runescape? What hideous deed did you do? and why does people call Guthix a god that doesnt do anything. He is the god of neutrality and neutrality doesnt mean you dont do anything it means you dont involve youself with the wars or deeds of others. It means that you keep yours to yours actually. by the way no offense to the god but I am actually glad you took the letters away from SaroDIM . <br>They were getting boring. </i>
<p align=justify>
Both Saradomin and Zamorak were compelled by my power to cease their direct interference on my world of RuneScape as when last they walked my realm it wast nearly destroyed by their squabbling. <br>
There wast no specific incident that hath caused this, I had simply had my fill of their wars destroying my beautiful planet and prevented them from interfering anymore.<br>
They are however both mightily powerful, and I cannot fully prevent their indirect actions upon the world.<br>
As for those who say I do nothing - who makes the rivers flow? Who makes the trees and plants continue their cycles of death and rebirth? Who keeps the endless circles of Nature and Balance from breaking and bringing destruction to the lands? It is Guthix who keeps the land inhabitable, those who follow me understand these truths.                          
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Zomorak,     <br>   
     &nbsp&nbsp&nbsp&nbsp&nbsp           Why is it when i see a new item, monster, or charecter i
examine them. Ever since i played runesape i would examine everything...
to the Dragon in the dragon slayer quest to the Tree Spirit in the Lost
City quest. I guess its a habit of mine of examining everything i see.
Can you give me any advice to stop my embarrasing habit?</i>
<p align=justify>
I thinkst not that thine 'habit' be embarrassing; truly it is the nature of life to be curious of its surroundings, and seek to discover more of the mysteries of the lands they walk. I commend thee on thy intellect to examine the objects which so many others might simply ignore on their way, for everything has a purpose on the world, no matter how small or seemingly insignificant.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
After consideration, I have concluded that the only practical solution to the 
RS II transition is to transfer existing members' characters over and 
eliminate freeplay.  This is why:
<p align=justify>
1.)  If you wipe, some people may quit - but those that remain will play a 
free version to train the free skills up - not many will pay to train on 
chickens, if you get my drift.  The result would be several months of no revenue.
<p align=justify>
2.)  If you provide any free version, there will be reduced incentive to 
become a member - a common trait now amongst f2ps.
<p align=justify>
3.)  Eliminating freeplay will reduce server support costs and 'force' 
players to become members, thus reducing costs and increasing revenue.</i>
<p align=justify>
I thinkst that thou doth judge the free players too harshly; I am an essence of balance, and the free players help balance my world. I wouldst not wish any specific harm to befall them, and it has been said by the Mage Gower on numerous occasions that their smaller realm will continue to exist alongside the larger and more expansive paid realm even after the world hath been reshaped into its newer form.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Zamorak<br>
For the "pure" with no magic with member it is very hard to get to deep 
members areas without walking very far. Could you do something for us pures 
who are dying from walking too much?
<p align=justify>
   <p align=center>                                                                          
                                         N O K K</i>
<p align=justify>                                         
Pures are an abomination to me, for they shun the thing that they should seek to find: Balance in all things. 
<br>Thou make thy pleas to the wrong god, for all true followers of Guthix hate these so called 'pures' for their ignorance of the power that can be found in balance.<br>
Thou deservest to walk until thy very feet are raw with effort, for ignoring my teachings and trying to become something that thou shouldst not. When my plans are unfurled, 'pures' will be the very first to suffer of all the creatures of this world.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Hmm Zamorak, you always end your letters with 'Strength through Chaos'. <br>
Though chaos is a whole lot more fun, order can actually bring you more 
strength... If you look at those ancient romans they had strength through 
order and were able to achieve victory, though outnumbered, against 
barbarian hordes.
<p align=justify>
Although theres something so evilishly evil about sending mass amounts of 
followers to their deaths, if you really want to take over the world then 
you're going to have to get some order sooner or later.
<p align=justify>
Omnislash42
<p align=justify>
By the way, in response to "A True Zamorackian would rejoice in nothing less 
than the slaughter of his enemies with his bare fists" im pretty sure if you 
want to fight with no armor and weapons i could probably take you... and im 
pretty small.</i>
<p align=justify>
Zamorak and Saradomin are both limited beings by their all encompassing adherence to one philosophy: it prevents them from ever seeing the truths that lie behind the universe, and they will always fail in their actions because of this. As you rightly surmise, if either of them were flexible enough to take a part of the others beliefs and make them their own, then they and their followers could quickly and decisively make an end of their warring for once and for all.
<p align=justify>
This is why I Guthix am mightiest of all gods, for only I fully comprehend the nature and mysteries of the universe, and the power that lies in achieving a finely tuned balance. 
<br>Thou makest an interesting challenge towards Zamorak with thine words, but I fear to disillusion you: an ant with the greatest blade and armour in the world, is still no match for a bear armed with nothing...
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Saradomin,
 <p align=justify>
When the new graphics update is released, will customizing your character become more detailed? Choosing between a green or yellow shirt doesn't really give runescape much of a varied apperiance. Please dont smite me with your great powers for saying that.
 <p align=center>
                                     Your faithful follower,
                                        Morbid_Slayr</i>
<p align=justify>
Let mine words assure you, there will be far greater customisation of players available when my world is renewed. Although I must confess, the colours of yellow and green are both mightily pleasing to mine eyes.                                        
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Greetings o' evil one, I have a question I would like you to answer. Since 
your a god, what do you do for fun? Do you send Sarodomin a bunch of dumb 
annoying Emails, or go down to Port Sarmin and ride your private yacht 
around? WHAT DO YOU DO???</i>
<p align=justify>
I consider the balances of the universe and attempt to refine these balances upon mine world which thou inhabit.<br>
I believe Zamorak takes mischievous pride in high level players suffering deaths to lower levels and in the ignoble defeats of mighty warriors to relatively puny monsters.<br>
Saradomin hath a great pride upon himself, and his time is mostly spent with listening to the songs of his glories from the religious and the offerings of bones made to him by those seeking to gain his favour through prayers.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Hey Zamorak
<p align=justify>
I want to see you have a fight with saradomin, My bet is on you zamorak!
<p align=justify>
A complete Idiot, Acintai</i>
<p align=justify>
Neither would win, for neither couldst exist without the other. This is the way of the world.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear gods of runescape, I just wonder what is your opinion of each other?<br>
And what does you guys want to do with the world?<br>
I want to fight for some god but i don't know wich one of you guys I want to fight for.<br>
So please write back your opinions about this...<br>
<p align=justify>
<p align=justify>
<p align=justify>
Greetings : Honke_ponke</i>
<p align=justify>
I hold a different belief than mine brothers, for I believe fighting should only be for a specific cause, not as a general attempt to gain favour with a god. I specifically do not seek followers, they must come to me of their own free will. <br>
If you had asked mine brothers however, they would both tell you that they are the mightier, and that their way is the only true way, and that thou must smite thine enemies while singing praises to them, the cause being second to the glorification of themselves.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Lord Zamorak,
<p align=justify>
Hail the almighty god of choas and destuction, Zamorak!! I was wondering what is one the runescape coin??</i>
<p align=justify>
There are numerous different currencies throughout mine realms, with each of the major fiefs holding a different currency, yet all are of similar size, weight, and all made of purest gold, so they are accepted everywhere regardless of the patterning which merely shows from whence they came. <br>
The standard coinage is to have either the royal coat of arms or a profile of the ruler of the land on one side of the coin, and a symbolic design on the other. Varrock for example hath a shield motif on one side, and the Varrockian Crest on the other, the shield being testament to a great hero who once did dwell there.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Oh great and powerful Zamorak Lylax the Deathquestor requests that you answer his question:
 <p align=justify>
While casually butchering one of your temples for not giving me directions, I noticed a jug of wine. As everyone was either dead or begging you to get rid of me, and I was feeling quite thirsty, I took it. However, I have found no use for it, and cannot sell it for cash. What on Runescape is it for?
<p align=justify>
<p align=justify>
Death or Glory!<br>
-Wargamer</i>
<p align=justify>
Zamorak will often evade mention of this, for he fears people discovering too much of himself, yet I canst tell you that it is one of the ingredients of a mighty elixir which shouldst be of interest to all students of the apothecral arts. 
<br>I canst not tell you more, for fear of upsetting the balance of the world, yet many of my Druids who know of such things are wise and mayst be able to help you in understanding its true purpose.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear evil one,<br>
Ha! In your face! In the first Runsecape poll, you can
clearly see that people hate you. They like your
brother Guthix better.<br>
-a321654987</i>
<p align=justify>

It truly gladdens me that so many players canst see through the lies told by Saradomin and Zamorak and bring themselves to find the true way, the path of Guthix. 
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
dear sarodomin
 <p align=justify>
i personally think that having to sleep is terrible it takes too long to get our mining and smithing lvls up so we can get the much needed armor.
 <p align=justify>
your faithful servant<br>
 ecks69</i>
 <p align=justify><table><tr><td>
<img src="/img/newsletter/scalesofguthix.jpg" width="320" height="240">
</td><td>
There hath been a mighty change to the way that fatigue affects mine people, and the way that sleeping canst be used to reduce it. <br>As with all things it is a question of balance: you willst probably be gladdened that sleeping is now even easier with the invention of 'sleeping bags' (which seemst to me some form of transportable bed) yet will be dismayed that there is now more fatigue requiring more sleep.
<br>With everything there is a cost; this is the nature of balance.</td></tr></table>
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Both you and your weak, feeble minded btohter Saradomin have symbols that your followers can wear to make their dedication known.  Does Guthix have any symbols of his own? </i>
<p align=justify>
I have no symbols, for I have no 'real' followers. To pick one option over another is to disrupt the balance of all, and that is what I represent. Thou mayest say that my symbol is to not have a symbol...
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Hated zamorak<br>
i thougt the nature was in a evelotiun but why has the
jungle spiders on the old gnome island devolved from lvl 61 to 47?
<p align=justify>
//JVXS a dear follower of saradomin</i>
<p align=justify>
All things must change to preserve the balance; if certain creatures on my land seemst out of place through their strength, then it ist my duty to either remove them, or to diminish their powers to a more lowly level.<br>
It doth not happen often, but is sometimes essential, so that a greater balance can be achieved.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Your godliness,<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspI tried contacting your brother guthix but, my message 
would not reach thrugh it said there was no such address for him.  What 
email address should i send my letters to?
<p align=justify>
Owentheyo</i>
<p align=justify>
Many gods do not understand this thing called 'email' but i have been informed by certain members of the council that they will allow those wishing to seek my favour and knowledge to contact me directly; but as greatest of the Gods I see all messages addressed to both Zamorak and Saradomin, and can intercept them when necessary.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Guthix
<p align=justify>
I once tought evil would be the right way but it was surely not. I like more 
to be a nutral god such as thy. I ask you my lord will your religon ever 
expand cause it seems not to be as powerful as Saradomin and Zamorak. I 
would like that holy symbols of your religon would be made so peoplel may 
identify your greatness.
<p align=justify>
Always in your command Ganther</i>
<p align=justify>
My followers do not wish to expand to form a third 'faction' upon this already troubled world; no, it is the aim of all of my followers to achieve the perfect balance that once existed on this land before the interference of Zamorak and Sardomin caused such strife and war upon the world. Mine followers will pick sides as necessary, but will always follow the true path of balance; performing acts of goodness and mercy when needed, yet being merciless and cruel to their enemies when time dictates.<br>
Mine followers would never declare themselves openly to be my followers through such empty and posturing gestures as 'symbols' for they know in their hearts they have my support if they follow me truly.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Great One.
<p align=justify><p align=justify>
I have recently destroyed one of Zamorak's minions.. a black knight, and have taken his attire, and i wear it.. Today i have full black.. Many people think i am a follower of zamorak, when i wear it.. What should i do? Please tell me, 
 <p align=justify>
-RangerHaldir</i>
<p align=justify>
Clothes maketh not the man; those who assume you to be one thing merely because of the garb which thou wear, make a foolish mistake which will undoubtedly cost them dear someday in accepting something at face value when there are hidden depths which they ignore.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
are you able to put in an armoury section at the library of varrock so that we can see the appearance of weapon after the update?
</i><p align=justify>
I believe Reldo is planning such an enhancement to his ever growing library, yet I canst not give more specific details than this.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Oh Evil Pretender:
 <p align=justify>
You claim to be a "god" of chaos.  Surely you realize that this is impossible.  If you are a "god" of anything, you control it.  As controlling chaos would certainly turn it to order, you cannot possibly be a God of Chaos.  An advocate, maybe?
 <p align=center>
                                                                            Prove it to me,
 <p align=center>
                                                                            Whatsmyname</i>
          <p align=justify>                                                                  
An advocate wouldst be one way of describing the necessary role which mine lesser brother Zamorak fills; another would be a personification. He is a god of Chaos, for he is a god, and yet he is also Chaos itself. 
<br>Thou wouldst not like to meet him on a dark night alone, that is truth.                                                                            
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear god of Evilness,<br>
One day I went to eBay and I saw that RuneScape accounts and items were being sold. Is this illegal?<br>
Your undevoted follower,<br>
Fridays</i>
<p align=justify>
It is sad that some weak-minded individuals cannot tell the difference between my realm of RuneScape and the world from which most players originiate, seeking to combine the two and sell in one that which cannot be bought in the other.<br>
It is against RuneScapes rules, and more than this, it personally offends mine own sense of balance. I beg of any such auctions found by players to be reported to the councils hard working customer support team so that they might be closed and their accounts removed.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
-To whichever deity is answering the letter-<br>
Most call me paranoid, but this is a question which I am desperate to be 
answered.<br>
I have quite a lot of people of my friends list, and a worrying number of 
them have been 'hacked'.  Obviously I dont want this to happen to me, so I 
was wondering if you could tell me what to look out for, and how these 
people 'hack' you.  Can they still do it if you dont give them your 
password? Is it true that Jagex staff ask for your password in-game? How do 
I defend myself! Please help me!<br>
-NiceGuyEddie</i>
<p align=justify>
I willst tell thee now, and forever will it remain true:
<p align=justify><b>
Nobody from Jagex will ever ask you for your password. 
<br>You should ONLY EVER give thine password at runescape.com. 
<br>No other domain that ist not runescape.com</b>
<p align=justify>
If thou see someone claiming to be a staff member and asking for passwords, use the report abuse button to summon forth fiery demons of wrath and vengeance and drag their character to the pit of eternal tedium where such scammers deserve to dwell eternally.
<br>Even the word scammer offends mine senses for I doth hate them sorely
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Darkone,<br>
why not make sheep attackable? They prance around laughing at the cows being killed by low level players.  Even the camels will be soon attackable.  Sheep should be level 5.  This would also help low level players train when the first start out. the cow pens have became very crowded through the years.<br>
Your felow darkone~<br>
Darkflawz</i>
<p align=justify>
The sheep are under mine protection. Attack them at thy peril.<br>
Although my warning is futile, for my magicks prevent mere mortals from harming them anyway.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
I was wondering why Guthux has yet to make his appearance on the messages. I ,as a bard of Guthux, wonder when he shall voice his opinion. I go around telling people great tales of our world and receive material gifts, but I wonder, when will I, if ever, get a true ' I thank thee' from Guthux himself? And just for you Lord Zamorak, I would like to tell you that I somewhat recently lured unsuspecting victims to their death in the wild. "TO FIND EVERYTHING IS NOTHING, BUT TO FIND NOTHING, IS EVERYTHING" <br>        Follower of Guthux- Demon Draco </i>
<p align=justify>
It is not in my nature to reward those who follow me, for those who follow me do so for their desire to see balance, and balance is its own reward for those chosen few. <br>
Material wealth means nothing, unless it is used for a specific purpose too - those who squander their monies on useless trinkets such as 'party hats' simply to display their meaningless wealth know nothing of the true ways of Guthix.
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Great Saradomin, <br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspThere is something I must know.  Over the entire course of my Runescape play so far, I have encountered this twice now.  Apparently, a mysterious player by the name "null" occasionally appears to myself and others.  I have seen him only around Lumbridge Castle and he seems to say a little something and vanish suddenly.  I have heard many rumors about this certain null, one such would be that null is actually this great game's creator, Andrew Gower.  Please, almighty Saradomin, tell me who this null is and clear up all else that is unknown about this character.  
      <p align=center>                                        
                                                          - Your faithful follower,<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp                       Jedi Hunter</i>
<p align=justify>                                                                                          
It doth puzzle me that thou claimst to be a follower of Saradomin, yet have clearly not read the teachings he has imparted previously. I wouldst suggest that thou examine the answers he hath previously replied, for the answer to thine question is there for all to see...                                                                                          
<p><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
O great zamorak <br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspI would like to know were do you find the pick axes I thought there would be a shop were you could buy them but there is not. If there is one been bulit or one i dont know about I would like to Know thank you. As one of your follows I am proud. If you need eney thing doing on runescape i would like to help you sir. I am also buliding a army of zamorak i have over 600 people who are a part of your arm. We would do eney thing to protect you we will sever you. Also i would like to know wat u want are army to were black aromor, steel, addy, and rune 
<p align=justify>
Email me back when u want or if you want thank you for your time 
<p align=justify>
Sent buy SIR SEARLE  
</i>
<p align=justify>
The shop of which thou speakst is located amongst mine true followers the dwarves. 
<br>I hear tell their prices are quite reasonable for such prized items, and stocks hath been replenished due to such high demand.
<p><img src='/img/newsletter/smstones.jpg'>
<p align=justify>
My time here on this plane draws short, for a myriad of tasks do occupy me, and I have spoken long and true to mine followers so far.<br>And so I must leave you, yet rest assured, one day I shall return...
<p align=center>Balance Is Power-
<p align=justify>    
&nbsp;&nbsp;&nbsp;<font color=green><b>Guthix</b></font>
<p align="justify"><font color="white"><i><font size="1">DISCLAIMER: The views
of Guthix do not reflect the views of Jagex Ltd or it's employees. We tried to
prevent him giving away our secrets, but he is a god. If you would like to contact
 him however...</font></i></p>

<center><font color="white"><font color="white"><font color=
"white"><font color="white"><font color="white"><font color=
"white"><font color="white"><i><img src='/img/newsletter/gutemail.jpg' width="280"height="20"></i></font></font></font></font></font></font></font></center>
</center>
</td>
</tr>
</table>

<!--end content body--><br>
</center>
</td>
</tr>
</table>
<!-- end content table -->
<!-- border footer-->
<table cellpadding="0" cellspacing="0">
<tr>
<td valign="bottom"><img src=
"/img/edge_g2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
<td valign="bottom">
<div align="center" style=
"font-family:Arial,Helvetica,sans-serif; font-size:11px;">This
webpage and its contents is copyright 2004 Jagex Ltd<br>
 To use our service you must agree to our <a href=
"/terms" class="c">Terms+Conditions</a> + <a href=
"/privacy" class="c">Privacy policy</a></div>

<img src="/img/edge_c.jpg" width="400"
height="42" hspace="0" vspace="0"></td>
<td valign="bottom"><img src=
"/img/edge_h2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
</tr>
</table>

<!-- border footer--></center>
</td>
</tr>
</table>
</body>
</html>

