<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Letters #5 - Moody monsters</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock/letters' class=c>Archive Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<p>
<center><b>Saradomin Responds.</center></b><p>
<p align=center><table><tr><td>
<img src=/img/newsletter/saradomin.gif width=164 height=150></td><td>
<font color=white>
<p align=justify>
<b>Five Ages after creating the world of Runescape, the great god Saradomin now regularly communicates with the inhabitants of this fast evolving planet. An agreement with his brothers prohibits him from directly intervening into Runescape's affairs, but in his great omniscience he still listens to the prayers of those who seek his knowledge.</i></b></td></tr></table>
<p>
<p align=justify><i>
    Dear Saradomin, 
<p align=justify>
    The  new   aggresiveness  of monsters  is   a  pain!!! I
    simply  try to mine  and they kill  me!!!!  I once had a
    pick and a   hammer and a  mithril bar and   the dwarves
    would not leave  me alone  and they  killed me!!! Now  I
    have nothing.  Could you perhaps make the  dwarves  less
    aggresive?    I think   you should,   but as   a  humble
    human I have no input....'sigh'.
<p align=justify>
    Rockerest3
</font></i>
<p align=justify>   
    Make dwarves less aggressive? Whatever next? That's like
    asking humans to stop complaining all the time.  Anyway,
    dwarves just wouldn't be dwarves if they weren't huffing
    and snorting and shoving axes in your face. However, the
    Gower has just  admitted to accidentally  tampering with
    their   water   supply,  which   may   have  made   them
    particularly frisky of late. The plumbers have now been 
    called.
<p>
<p align=justify> <i>
    Dear Saradomin,<br>
    What has Runescape come to?!  As I take me morning  walk
    through your Kingdom what do I always see? I always  see
    people standing in one  spot may it be  training, mining
    or fishing and  logging in and  out. Obviously they  are
    using a   cheat, macro,  or autominer  which  is clearly
    against the rules of Runescape. It is not fair on all of
    us fair players who gain our XP fairly! I know you  have
    come up with  that monster thing  to stop some  cheaters
    but it  does not  stop the  mining and  fishing ones!  I
    think that The  Team should come  up with a  way to stop
    these cheaters once and for all!
</i>
<center><p>
    <i>From your follower, Xterm2</i>
</center>
<p align=justify><table><tr><td>
    Yes, everyone is tired of the cheaters that you
    speak of. As such we are changing mining and fishing
    shortly so that they no longer consist of hours of
    tedious repetative clicking. They will be made more
    fun, and harder to cheat. The rocks will be much
    easier to mine, but you will need to rest or eat food
    occasionally whilst mining. 
<p align=justify>   
The upshot of this is that honest
    miners should be able to mine ore slightly quicker,
    whilst the cheats will just have to go somewhere else.
<p align=center></td><td>
<img src=/img/newsletter/mineranim2.gif width=187 height=217></td></tr></table>
<p>
<p align=justify><i>
To Saradomin, 
<p align=justify>
    I  have recently  stepped into  a new  area, and  saw  a
    strange man selling fancy dress.  However, I was shocked
    to see that he was selling a red party hat!  Myself, and
    many other runescape players believe that the rare items
    such as hats, crackers, easter eggs, disc of  returning,
    pumpkins etc are great things  to own, and show a  great
    symbol  of   wealth.   However,   it  seems   these  are
    deliberatly being "spoilt" for us.  Can you tell us what
    the future holds for such items, and if their status  of
    wealth shall be destroyed? 
<p align=justify>
    Icedrop 
</font></i>
<p align=justify>
    Yes, there has been a lot of interest in the fancy dress
    shop and its red party  hat. And if the shop-keeper  was
    actually able to get some in stock, I'm sure there would
    even more. It seems  that he has been  advertising these
    hats  as  some  kind of  cheap  marketing  ploy, to  get
    adventurers  salivating  in  anticipation.  It obviously
    worked...
    <p>
<i><font color=white>  
<p align=justify><i>
Dear Saradomin,
<p align=justify>
    Recently i have been seeing hundreds
    of people wearing 'Priest  Robes'. People are trying  to
    sell them for ridiculous prices and when I ask where you
    get  them they  don't  answer.  Where can  I find  these
    robes?  Are  they some  robes  that have  leaked  out of
    members?   Or   are   they   just   a   figment   of  my
    imagination? Good day.
<p>
    Psychopriest
</font></i></i>
<p align=justify>    
    No, you're not imagining  it- they really do  exist. You
    can find them in south Varrock as part of the  Biohazard
    Quest.
<p>
<p align=center><table><tr><td>
<img src=/img/newsletter/archer.jpg width=137 height=350></td><td>
<i>
<p align=justify> <i>
    O Mighty Sage,
<p align=justify>
    Throughout the ages, archery has been the noblest
    of  skills.   The  merging   of  bow  and  arrow   in  a
    coordinated effort to hit a target is a beautiful  sight
    to see.<br>
    My  concern  is  towards the   attitudes of   the  other
    citizens (especially the more youthful and  vulgar ones)
    who   do   not   receive   the   archer   so  willingly.
    Archery  and  magic are  the  two major  skills  where a
    citizen  can  join  into  an  established  conflict, and
    perhaps even come away  as the ultimate victor.   Rather
    than investigate this ability and elevate their  ranging
    skills, the non-archers curse and attempt to banish  the
    archers.  Granted, there are episodes where archers take
    advantage  and  at  times  antagonize  the   non-archers
    (although many of them  deserve it), but it becomes a negative experience.
<p align=justify>
    What can be done to  both elevate the ranging skill  and
    help the non-archers to understand?
<p align=justify>
    Bopperland1</i></i></td></tr></table>
<p>
<p align=justify>    
    As a god of peace, I am a firm believer in the value  of
    constructive dialogue. So please allow me to defer to  a
    more contrary voice on the matter.
<p align=justify>
<i><font color=white>  
    Greetings Saradomin,
<p align=justify>
    My suggestion concerns archers.  It is great that we can
    use bows and arrows as alternatives to getting our hands
    dirty in melee combat, but I really cannot stand it when
    I am fighting  with my trusty  dragon axe and  an archer
    comes along and steals  some of my experience,  shooting
    the monster  I am  fighting.  It  is rude,  and the same
    goes for somebody starting  a fight with a  monster that
    is already getting ranged.  Could you perhaps make it so
    that  a monster   cannot be  attacked  at  all once   it
    has already been attacked?
<p align=justify>
    Mightyankh</i>
</font></i>
<p align=justify>
    Hmm, seems  like we've  got a  bit of  an impasse  here.
    Looks like you're just going to have to learn how to get
    along. A prayer to prevent others from interfering with
    your combat is however planned at some point in the
    distant future.
<p>
<p align=justify>
<i><font color=white> 
    Saradomin,<br><br> 
    I have been a  loyal and grateful worshipper of  you for
    almost a  year  and a half.   I  joined the  members not
    only to receive  greater enjoyment but  also to see  the
    world improve in many different ways. But as  the   game
    gets increasingly  more  popular the servers become more
    and more crowded.  
<p align=justify>
    I  believe   it's  time   the  members   received  a  new
    server.  The free  players have  3 times  more than  the
    paying members.  I  know there are  more players in  the
    free world but is it not time to give the loyal  members
    a server to spread the numbers over? 
<p align=justify>
    Bladzer
</font></i></i>    
<p align=justify>
    Your cry is a worthy one indeed, and low I am  happy  to
    say that worlds  11 and 12  have now opened up.
    11 will operate as a members server, and 12 will be for
    non-members.      
<p>
<p align=justify>
<i><font color=white>  
    Dear Saradomin,<br>
    When I    was just    starting out    on Runescape   the
    black hole was very popular.  When I  went to go  try it
    out  it wasn't there. I  want to ask  you  why the black
    hole was taken out of the land  of Runescape,and will it
    ever  be back?
<p align=justify>
    Adikt
</font></i></i>
<p align=justify>
    Well there are lots of theories about black holes,  with
    some professors claiming that they represent the origins
    of evolution itself. But  when  you're a god  you  don't
    like  to harp  on about  the whole  evolution thing  too
    much. 
<p align=justify>
    In  scientific   terms, black   holes   represented the
    world's  first sin  bin, banishing  miscreants for   all
    eternity.Or at least for  some of it. The   only problem
    was, the  black hole  developed such  a reputation  that
    warriors were going out of their way to be plunged  into
    its  eternal  void.  Those who  had  sworn  blind to  be
    upright individuals now just swore blindly. Anything  to
    get thrown into the black hole. 
<p align=justify>
    Only later  did was   it discovered  that this   was the
    work  of  Zamorock,   cleverly  designed  in   order  to
    glamorise evil deeds. From   then on the  council  just
    banned  people instead,   and with  no more   matter  to
    envelop,  the  black  hole  turned  in  on  itself   and
    imploded.   
<p>
<p align=justify>
<i><font color=white>  
    Dear Saradomin,<br>
    The world of Runescape is indeed evolving fast. There is
    more to be found now than there was a year ago. And with
    it, prices of newly introduced items are immensly  high.
    All  these  coins are  piling  up in  bank  accounts and
    trades are getting really long. Would it not be a joy to
    have value-paper? This would make trades a lot  shorter.
    A proposal: 1 piece of value-paper is worth 10,000  gold
    coins.
<p align=justify>
    Your humble follower, Highveener
</font></i></i>
<p align=center>
<img src=/img/newsletter/moneycert2.jpg width=301 height=141>
<p align=justify><font color=white>
    Yes, this  does seem   like a  good idea.   I understand
    that the powers that  be will be implementing  some kind
    of bank note system in the not too distant future.	Your
    fiscal problems will soon be over!	  
<p>
<p align=justify>
<i><font color=white>  
    If    anyone    should    want   to    pay    to    play
    Runescape, I  believe that  they  should  only have   to
    pay $5  in their own currency. Such as in Australia,  we
    have   to  pay  $10 Australian,   which  is  about   the
    same as   $5 American. Why  should  we have to  pay more
    to  have the same  rights  as everyone in  America?  It's
    the  same as making someone  do something   to get  into
    a  club when no-one else did. Why? Please  make it  fair
    on us soon, I hope you can even this out.
<p align=justify>
    Goodbye and ja bless,
<p align=justify>
    Celoril
</font></i></i>
<p align=justify>
    Perhaps I   spoke to   soon before.   Even the  greatest
    system of money  is only as  wise as the  people who use
    it. But as far as fairness is concerned, I can tell  you
    that $10 Australian is about the same as $5 American.   
<p>
<p align=justify>
<i><font color=white>  
    Saradomin,
<p align=justify>
    A couple of years ago,  I was a newbie under  the screen
    name FF9Gamr and I got  ripped off right when I  started
    (you probably knew since you are the god of  RuneScape).
    I  started a  file named  IRipYouOff because  I  thought
    nobody would ever try to rip me off. I am not  respected
    much and  would like  your thoughts  on how  to interact
    with the RuneScape inhabitants.
<p align=justify>
    IRipYouOff
<p align=justify>
</font></i></i>
    Yes, that is a tricky one. All I know is, I wouldn't  be
    too happy about buying a second-hand camel from you. 
<p align=justify>
    Until next time my faithful friends.
<p align=justify>    
    Strength through wisdom,<br>
    Saradomin


<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>