<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Letters #1 - Saradomin Speaks</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock/letters' class=c>Archive Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center><table><tr><td>
<img src=/img/newsletter/saradomin.gif width=164 height=150></td><td>
<p align=justify>
<b>Five Ages after creating the world of Runescape, the great god Saradomin has finally resumed communication with the inhabitants of this fast evolving planet. An agreement with his brothers prohibits him from directly intervening into Runescape's affairs, but in his great omniscience he still listens to the prayers of those who seek his knowledge.</b></td></tr></table>
<p align=justify>
Greetings my young adventurers, and a warm welcome to all of you. As I look down upon the world that I created, I feel a strong sense of joy that it is now home to so many men and women of curious minds and adventurous spirits. I am also saddened to see that it is prey to so much death and destruction, and I can only assume that my brother Zamorak enjoys a large following on this small  planet. Perhaps in time these mortals will learn of ways to co-exist harmoniously with their fellow humans. But for now I am sure that they will continue to hack each others heads off with large metal implements.
<p>
<p align=justify>
But it is often said that the tongue can be sharper than the blade, and this might explain the latest development from the secular powers that be. Although their wisdom may be less than infinite, there can be no doubt that the council has performed a small miracle in their creation of the snapshot- the  latest way to report abuse. This pleases me greatly, for slander is the point when pride and stupidity converge. When a human disrespects another life, he disrespects his own. <p><table><tr><td>
<center><img src=/img/newsletter/bookcandle.gif width=289 height=146></center></td><td>
<p align=justify>
It all became too much for the mage known as Gower, whose ability to manipulate time means that these foul-mouthed roughians can now be caught red-handed by snapshot- even after they have perpetrated their crime. The alchemy of reversal is then performed, with said mage adding injury to insulter.</td></tr></table>
<p>
<p align=justify><table><tr><td>
Having abused the gift of speech, those brash youths are rewarded by having their tongue removed, a practise still favoured by the Mehkmets of Al Kharid. Those who truly revel in their idiocy may even find that they are excommunicated from Runescape altogether. At this point in time it would seem that 439 such wayward fellows have already been permanently banned from our great land, with another 995 receiving a blackmark against their name.
<p></td><td>
<img src=/img/newsletter/runestone.jpg width=190 height=175></td></tr></table>

<p align=justify>
I of course know that snapshot has proved popular with you young adventurers. Indeed, some have been falling over themselves to report abuse from their fellow humans, often indirectly reporting themselves in the process! Weakened by their own runestones, you might say. So in the ongoing war against malice, let us not ourselves malicious be. After all, any warrior who hopes to conquer great foes  must first be a creature of great courage, and possibly not the sort of person who would be offended  by the word 'noob'...  
<p>
<p align=justify>
And so onto your own hopes and prayers. It seems many of you yearn for the creation of a four-legged riding creature, commonly referred to as a horse. In my all encompassing benevolence I would say that this is not necessarily such a bad idea. But alas I have divined that horses would be less than happy about living on Runescape. Her rocky terrain and dried-out soil would not provide adequate footing for an animal that must support the weight of a human on its back. Maybe one day the evolutionary conditions could change, but don't start getting excited - Runescape wasn't built in a day you know... 
<p align=justify>
Equally popular is the desire for a mine which contains anvils and a furnace. "Why can't you have a mine with anvils and a furnace?" you cry, "then each adventurer could advance their levels really easily." The answer of course is simple. If you had a mine with anvils and a furnace, then each adventurer could advance their levels really easily. Come on now you slothful creatures. First you want an animal to cart you around on its back, and then you want an infinite supply of superior weaponry! 
<p>
<p align=justify>
You must know that a hero's status is not chosen or acquired; it is carved into the sheer rock face of hard graft and toil! 
<p align=justify>
And on that note I must return to my other creations. Just remember that hard work is always its own reward. And you get to cast some pretty good spells as well. 
<p align=justify>
Strength through wisdom
<p align=justify>
Saradomin
<br><br><br>
<center><img src=/img/newsletter/email.gif width=289 height=19></center>
<p align=justify>
<i>These might be suggestions for Runescape - although the gods do tend to be quite touchy about the evolutionary process. You might like to send questions relating to the history of the game, or queries about the many characters and races that inhabit Runescape. The best letters will be published in the email newsletter. Please note that despite their omnipotence, the gods of Runescape do not concern themselves with customer support.
For customer support <a href='/support' class=c>click here</a>.
</i>
</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>