<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Letters #4 - The All-powerful Jellyfish</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock/letters' class=c>Archive Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<p>
<p align=justify>
<center><b>Saradomin Responds.</b></center><br><br>
<p align=center><table><tr><td>
<img src=/img/newsletter/saradomin.gif width=164 height=150></td><td>
<font color=white>
<p align=justify>
<b>Five Ages after creating the world of Runescape, the great god Saradomin now regularly
communicates with the inhabitants of this fast evolving planet. An agreement with his
brothers prohibits him from directly intervening into Runescape's affairs, but in his
great omniscience he still listens to the prayers of those who seek his knowledge.</b></td></tr></table>
<p>
<i><p align=justify>
    Oh omniscient and powerful Saradomin hear my cry. Your
    world called  Runescape is  based on  the magical runes.
    But yet a mage  of level 99 can  still be beaten by  the
    ones we call "pures". My  damage never exceeds 10 for  a
    magical hit and I have  heard of a magic guild  with new
    runes  in  it  that will  soon  be  made.  Higher  level
    "defense zappers"  and such  I think  will not  help the
    mages battles with the pures. 
</p></font></i>
<p align=justify>
<center><i>Please Saradomin hear my call.</i></center>
<p>
<p align=justify><table><tr><td>
    Oh, how  so many  of you  young mages  have begged for a
    magic guild. I was tempted to let you just conjure one up
    yourself,  but then  I thought  better of  it. So  those
    adventurers who toil on a  daily basis will know that  a
    magic guild now exists in the town of Yanille. There you
    can buy a kind of rune that so-called "pures" could only
    dream about.  
</font></p></td><td>
<p align=center>
<img src="/img/newsletter/magicstaff3.jpg" width=174 height=238> </td></tr></table>
<p>
<i><font color=white><p align=justify>
Dear Saradomin,
<br><br>
    I know there are a good amount of people who might  know
    this question but I thought I might as well ask. I would
    like to know what the  world of runescape was like  when
    it was first created.
<br><br>
    Nick Petit
</p></font></i>
<p align=justify>
    Ah, a historian I see. Well I almost don't know where to
    begin. Which is  what I said  at the time,  in fact. But
    of  course  it  all   started  with  Lumbridge, and  the
    good kingdom of  Misthalin.  But there was no  Al Kharid
    or Draynor  village, and   Edgeville was  pretty
    deserted, so people called it Ghost Town. 
<p align=justify>  
    The  world back  then was  a comparatively  good  place.
    People didn't  tend to  wander around  Lumbridge calling
    each  other "noob", because  everybody  was  one.  Black
    knights were the toughest monsters, of which there  were
    three. 
<p>
<p align=justify>
    The top  equipment you  could get  was adamantite  legs,
    mithril  body,adamantite large  helmet, adamantite  long
    sword, and iron kite shield. There were no amulets.
<p align=justify>
    Adventurers could,  however, sink  their teeth  into six
    different  quests:  the Cook's  Assistant,  the Restless
    Ghost, Demon Slayer, Shield  of Arrav, Romeo and  Juliet
    and Sheep Shearer.
<p align=justify>
    The  main  skills   were  combat,  ranged,   mining  and
    smithing.  Cooking consisted  only of  cooking meat  and
    bread making. Of course, families have always been  divided
    over the issue of vegetables, and this was literally the
    case now, with many a warrior dropping dead from scurvy. 
<p align=justify>
    Mourning  partners were  in time  told that  there  were
    plenty more  fish in  the sea,  but this  was of  little
    consolation, as no-one knew  how to fish yet.  There was
    also  no  crafting, and  Lumbridge's  traditional Sunday
    afternoon craft fairs were  a bit  of a  let down  as a
    result.
<p>
<i><font color=white>
<p align=justify>
    Saradomin, 
<p align>    
    I believe the world of Runescape would be much
    better if you added music. You should also have bards to
    play music as an attack, that would be cool. 
<p align=justify>
Rin Dragon.
</font></i>

<p align=justify>
    Music  as  an  attack?  It  really  would  have  to   be
    offensively  bad. But  as for  music in  the game,  that
    certainly will  be coming.  For some  time now,  a great
    man-minstrel by the name of Ian has  been mincing  away,  
    to create  great scores of majestic sounds that will one 
    day delight your ears. 
<p align=center><table><tr><td>
<img src="/img/newsletter/pumpkin3.jpg" width=185 height=164></td><td>
<p>
<i>
    <p align=justify>  
    Mighty Saradomin, 
    <p align=justify>
    As I gaze around your beautiful world these days I notice
    that  more  and more  people  are wearing  the  robes of
    Zamorak,  your  dastardly  brother.  How  am  I  a loyal
    Saradomin  follower  meant  to show  my  loyalty  to you
    without a set of robes? Please can you try to  introduce
    robes of Saradomin for all your followers out there.
    </i>
   <i>
    <center><p>
    Your faithful worshipper, Eales88
    </i></center></td></tr></table>
    <br>
    <p align=justify>
    Behold, such robes exist  for all to see!  Take yourself
    to the monastery  and speak to  the good Abbott  Langley
    who works  there.
     And  if you  are of  sufficient prayer
    level  he  will  endow you  with  this  most stylish  of
    artefacts. Just don't let him talk you into a haircut.<br>
    And for  those of  you who  have asked  about a  "prayer
    guild", know  that you can also  pray at  their special
    altar, and have your holy symbols blessed. 
    <p align=center>
<img src="/img/newsletter/monkpic1.jpg" width=240 height=180> 
 <p align=justify>
    Guild indeed! What are  you- god's  representative on  earth, or  some
    lowly carpenter?
<p>
<i><font color=white>
<p align= justify>
    Is  it  possible  to  let  characters  have  their own
    houses? If so, please provide it with locks. 
<p>    
    Artes999
</font></i>
<p align=justify>  
    Why, what are you planning  to do in there? Nothing untoward
    I hope.  Yes,  houses  will  be  added   to Runescape  
    eventually,  but  don't  start  choosing  the curtains 
    just yet.
<i><font color=white> 
<br><p align=justify>
    I think  iron ores  should be  100% success  or at least
    more than 50% once I only got 4 iron bars out of 17 iron
    ores I went mental and smashed my TV to bits. This  time
    I'm not taking  Jagex responsible, but next time I might
    just change my mind.
<p>    
    Anon
</font></i>
<p align=justify>   
    Frustrated, he seems. I can't wait until he attempts the
    Biohazard Quest.
<p>
<i>
Dear Wise One,
<br><p align=justify>    
    Twice  in  my  travels,  I  have  encountered  a strange
    warrior who seemed very knowledgeable in this world. The
    warrior's  name  was  "Paul"   and  seemed  to  be   very
    important. The first meeting of  him and I was in  south
    west chapel  near Port  Sarim. I  saw a  man dressed  in
    robes supposedly performing the vows of marriage for two
    people. The second time I witnessed this person was near
    the Desert  at Easter.  At this  time I  said a friendly
    greeting  to  him  and  he  responded  with  a   similar
    greeting, and then disappeared, leaving many Easter Eggs
    that my travelling partner immediately picked up. Who is
    this mysterious person and why are they so elusive?
<p align=justify>    
    Petros
</i>
<p align=justify>   
    Yes,  the Paul  that you  speak of  is a  strange one
    indeed, who  has been  known to  float around  Runescape
    like some sort of all-powerful jellyfish, squeezing  out
    offerings at certain special times of year. Some of  you
    have even wondered if there might be another  deployment
    of  goodies  in  the near  future.  I  couldn't possibly
    comment on this of course...
<p>
<p align=justify>
    Until next time my friends.
<br><p>   
<p align=justify>
    Strength through wisdom,
<br><p>    
<p align=justify>    
    Saradomin 
<p>
<p align=center>
<img src=/img/newsletter/email.gif width=289 height=19>
<p>
<i>
These might be suggestions for Runescape - although the gods do tend to be
quite touchy about the evolutionary process. You might like to send questions
relating to the history of the game, or queries about the many characters and
races that inhabit Runescape. The best letters will be published in the email
newsletter.
<p>
Please note that despite their omnipotence, the gods of Runescape
do not concern themselves with customer support.
For customer support <a href="/support">click here</a>.
</i>



</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>