<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Letters #6 - All Hallow's Eve</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock/letters' class=c>Archive Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<p>
<center><b>Saradomin Responds.</center></b><p>
<p align=center><table><tr><td>
<img src=/img/newsletter/saradomin.gif width=164 height=150></td><td>
<font color=white>
<p align=justify>
<b>Five Ages after creating the world of Runescape, the great god Saradomin now regularly communicates with the inhabitants of this fast evolving planet. An agreement with his brothers prohibits him from directly intervening into Runescape's affairs, but in his great omniscience he still listens to the prayers of those who seek his knowledge.</i></b></td></tr></table>
<p>
<p align=justify><i>
 Dear Saradomin,
 <p align=justify>   	    
    I  just  wanted  to say  thanks  for all the Halloween  fun.
    I only  managed to  find 1 mask myself  but thats ok. I  
    had a blast!!!  It was such  a rush finding
    the  mask  that  it   made  my  day  :-)   
 <p align=justify>   	    
    Thanks  again
 <p align=justify>   	   
    Scarletstarlet
 </i>
<font color=white>   
  <p align=justify> <table><tr><td>  	     
    It gladdens my heart to see that it hath brought you so 
    much pleasure. And to think that some people have said 
    that these masks should have been deposited straight into
    their bank accounts. Now where's the fun in that I ask you?</td><td>
 <p align=center>   	     
 <img src="/img/newsletter/halloweenmask2.jpg" width=200 height=150></td></tr></table>
<p>
<i><font color=white>
<p align=justify>
    Righteous Saradomin,
 <p align=justify>
    Many are  the times that
    Your praises  have flown  from my  mortal lips.   In You
    there  is only  but good.   Please answer  my cry,  dear
    Saradomin!  Your blessings to  Your world are vast,  and
    they continue  to grow  with the  addition of  Halloween
    Masks to the world.  They have added a new spice to  the
    world previously unexperienced!  
<p align=justify>   	     
    But please  tell me,  oh Holy  One, those  of us who
    live  in  North  America  are  put  at   a  disadvantage
    because  the  Masks  seemed   to  be  introduced  during
    the  prime  of  the  day  for  European players.    Must
    this  happen  every  time?   Are  North Americans doomed
    to purchasing  one of  these treasured relics instead of
    living the joy that comes with finding one?
<p align=justify>   	     
    Your loyal follower, Great Dane
</font></i></i>
<p align=justify>
<font color=white>   	     
    Ah yes, Europe and North America. Some say that these are
    different worlds, and its true that I do sometimes have
    trouble locating them on the Runescape map. But Saradomin's
    mercy crosses all boundaries, and verily these masks were
    dropped across a span of fifteen of your hours - such was the 
    dedication of our distributor.
<p>
<p align=justify>   	     
<i><font color=white>        
    Dear Saradomin,
<p align=justify>   	     
    I have wondered  many-a-year if the  rules apply to  the
    place   you   obvisouly   lost   control   over...   The
    Wilderness...  I  mean whenever I attack someone they 
    say very vulgar things and some times your good friends 
    will turn on you even after they swear
    on their mothers graves...   I  think it is  plain that
    Zamorak  rules the wilderness  100%,  look   at  the  
    two   evil  churches, obviously dedicated to your brother. 
    I suppose if  that is his  territory then  you can  not 
    help  what goes  on there... 
 <p align=justify>   	     
    Canvasch
	     
 </font></i></i> 
 <p align=justify><font color=white>      
    Swearing on their mothers' graves and then attacking you?
    I wonder how meticulous you are about your choice of 
    friends. But you're right in saying that the wilderness
    is essentially a Zamorakian affair. It seems that even
    the most good-natured of players gets the urge to decapitate
    his fellow man occasionally. And so the wilderness enables
    them to do this. Of course swearing is still not allowed
    in the wilderness, and if someone is verbally offensive to
    you, please use the 'report abuse' button.
<p>
<p align=justify>   	     
<i><font color=white>          
    Oh great Saradomin,
<p align=justify>   	     
    If you're not a great  cook, and you want food  where do
    you go?  The kebab  shop of  course! What's  this, I can
    only buy one at a time! Why should this happen?  Wasting
    our life buying  kebabs one at  a time! Why  not make it
    like any  other store?  Just have  an inventory.  Please
    great lord!  I have  spent long hours burying  bones for
    you! Don't  waste any  more of  our time!   We could  be
    using it to pray to you!
</font></i></i>  
<center><i>Serving you,<br><br> 
    123313</i></center>
<p>
<p align=center><table><tr><td>
<img src="/img/newsletter/kebab3.jpg" width=225 height=150></td><td><p>
<p align=justify>   	     
    More than one kebab at a time? That would be just decadent.
    Runescape is supposed to be a land of finely-tuned warrior
    poets, not grease encrusted slobs!<p>
    Besides, the kebab seller 
    has to prepare them individually, so that you can always be
    sure of its freshness. Especially since goblin meat doesn't 
    tend to keep too long.</td></tr></table>
<p>
<i><font color=white> 
<p align=left>            
    Saradomin,
<p align=justify>   	     
    In the wonderful world that you have created, people eat
    so much, I would think that they would have exploded  or
    at least become extremely  swelled. They have no  way to
    'lose' the bulk that they have taken on (besides  having
    part of them hacked off  by a monster). I think  that if
    your world was to be  better, you should have some  kind
    of digestive system in the people who inhabit RuneScape,
    and outhouses or something so that the digestive systems
    can fulfill their purposes.
<p align=justify>
    That is all I have to complain about today. If you  will
    not provide us with outhouses, maybe Zamorak will  prove
    to be a mightier being, and give us a place to 'go'.
<p align=justify>
    Yhtomit Lrak
	     
</font></i></i>
 <p align=justify>   <font color=white>             
    Ah yes, Zamorak, god of bowel movements. I'm sure he would
    be flattered. But I'm glad you share my concerns about
    obesity. This is why there is so much walking in Runescape -
    to keep players in the peak of fitness. So I don't think
    that out-houses are such a pressing concern, although I have
    noticed that the lake by Taverley has started to look a bit
    muddy recently.  
<p>
<i><font color=white>      <p align=justify> 
    Saradomin,
<p align=justify>   
    I  understand  the far  reaching  complications of  this
    request.  I  would be  willing to  pay a  great sum,  or
    complete an  arduous task  for a  one time   privilege.
    The ability to change ones' name, without starting  over.
    There are many  such as myself,  who in their  beginning
    naivety chose a whimsical or inappropriate name.  Having
    risen  to  a respectable  level  in all  skills,  I find
    myself  longing for  an equally  respectable name.   But
    alas, perhaps  I deserve  to pay  for the  follies of my
    youth. 
<p align=justify> 
    U R A Lamer 
</font></i></i>
<p align=justify><font color=white> 
    You should not feel ashamed Mr. Lamer. Well, maybe just a 
    little bit. But your name is your identity and your 
    birthright, so wear it with pride. The important thing
    is what your name represents. Are you an untrustworthy scammer,
    or a vigorour pursuer of truth? The former will be shunned
    by his peers, whilst the latter is embraced. And so the 
    permanence of names is of great significance. Whatever your
    name is, you must make a name for yourself!
<p>
<i><font color=white>              
  <p align=justify>  
    To the god of all things,
<p align=justify>   	 
    Ok I really need to know about the kind of a computer we
    need  for  the  new graphics.   I  play  Runescape on  a
    really slow computer,  but Runescape  runs really  well,
    I have  about  250 mega  hertz.   Now  when these  new
    graphics come out, will  my computer support it?  I know
    I'm  not the  only one  asking if  we need   a brand  new
    computer to  play the new Runescape. 
<p align=justify>  
    Long live the gods.
<p align=justify>  
Trippenflipp 
</font></i></i>
<p align=justify><font color=white>  
    Fear not, my good friend, your facilities will indeed be
    sufficient for the upgraded version.
<p>
<i>
    Greetings Saradomin,
<p align=justify>   	     
    As all  of us  on Runescape  know, you  and your brother
    Zamorak quarrel quite a bit. If there was no evil,  then
    there would  be no  reason to  be good  and thus you get
    evil. If everything were  evil, it would corrupt  itself
    thus  leaving  a space  open  for good.  This  makes the
    quarreling pretty pointless. So I suggest that there  be
    a god of neutrality to maintain the balance and not  let
    either  side  become  too  powerful.  
<p align=justify>
    The  likelihood of neutrality is one of a studious 
    manner pretty much.  You have no ambitions, you do not 
    side with others, you  are a loner. Only  when things 
    get  out of hand  do you take
    sides with the minority temporarily. The  representative
    color would be red (white good, red neutral, black  bad,
    makes  sense).  This  would prevent,  if  not  stop, the
    quarreling between you two. Mind you, I've been  getting
    terrible migraines lately because of you two.
<p align=justify>   	     
    THL
</i></i>
<p align=justify> 
    Behold, such a god exists - my brother Guthix. He doesn't 
    really do much; that's neutrality for you I suppose. 
    But the druids seem to like him. 
<p>
<p align=justify>   	     
<i>
    Almighty Saradomin,<br> 	     
    I just wanted to thank You for your mercy and the rune 2
    handed you told my friend to give me!
<p align=justify>   	       
    Arvid Hellstrom      
</i></i> 
 <p align=justify>
 <font color=white>  
    Hmm... I don't remember telling your friend that actually.
    But I wouldn't want to suggest that your friend has been 
    hearing voices. So let's just call it an act of faith.
 <p align=justify>   	  
<i>
    Oh Saradomin,<br>
    What is  up with  all the  new magic  stuff????  This is
    giving an unfair  advantage over the  pures.  They cannot
    pillage  the  wild and  kill  off the  weak  and 
    defenceless (well it's not as easy lets say). 
<p align=justify>   	     
    Dasupapowa 
</i></i>  
<p align=justify>   	     
<font color=white>    
    And that was the idea. But I think that its more of a case
    of redressing the balance, not giving an unfair advantage.
    Indeed, some mages are saying that we haven't gone far 
    enough. Perhaps omnipotence does not extend to pleasing 
    everyone.
<p>
<i><font color=white>  
<p align=justify>   	
    Hello my mighty god, 
<p align=justify>   
    I was wondering if you could  reply to my question, 
    I need answers... 
<p align=justify>   
    There is a strange man I see wondering over  your  world
    from  time to time  he  is called null he seems   normal
    until  you  look  closely  his  combat level  is  1!  I
    thought  that the  people of your world  start off  at a
    combat level  of 3, so how is  this possible. When  I
    added   him  to my  contacts  list  even  though  he was
    logged on he appeared  offline! And finally why  does he
    disappear and reappear? Thank you my  great god Saradomin. 
</font></i></i>    	     
<p><center><i>By Dark JAB</i></center>
<p align=justify>
    Null is a mystical guardian who protects you when you 
    first enter new areas. He is a passive and benevolent 
    force, and as such his combat level never rises above
    1. He appears and disappears in order to attend to 
    the needs of all those who may require his protection.
<p align=center>
<img src="/img/newsletter/nullanim2.gif" width=200 height=150>  
<p>
Until next time my friends, 
<p align=justify>
Strength through wisdom
<p align=justify>
Saradomin
<p>
<center><img src=/img/newsletter/email.gif width=289 height=19></center>
<p align=justify>
<i>These might be suggestions for Runescape - although the gods do tend to be quite touchy about the evolutionary process. You might like to send questions relating to the history of the game, or queries about the many characters and races that inhabit Runescape. The best letters will be published in the email newsletter. Please note that despite their omnipotence, the gods of Runescape do not concern themselves with customer support.
For customer support <a href='/support' class=c>click here</a>.
</i>
</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>