<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->
<!-- content table-->
<table width="600" cellpadding="0" cellspacing="0" border="0"
background="/img/background2.jpg">
<tr>
<td valign="bottom">
<center><br>
 <!-- title box --> 
<table width="250" bgcolor="black" cellpadding="4">
<tr>
<td class="e">
<center><b>Letters #15 - Zamorak speaks his mind once more</b><br>
 <a href="/title" class="c">Main menu</a> - <a href=
'/varrock/letters' class="c">Archive Index</a></center>
</td>
</tr>
</table>

<!-- end title box --><br>
 <!-- content table --> 
<table width="500" bgcolor="black" cellpadding="4" border="0">
<tr>
<td class="e" width="500">
<center>
<center><b>Zamorak speaks his mind once more</b></center>
</center>
<table><tr><td>
<img src=/img/newsletter/zamorak.jpg width=164 height=150>
</td><td>
<font color=white>
<p align=justify>
<b>ZAMORAK, LORD OF EVIL, AND MASTER OF SARCASM, RETURNS TO ANSWER SOME LETTERS SENT TO HIM. <BR>OR NOT ANSWER AS THE CASE MAY IN FACT BE. <BR>ISSUES OF INTEREST THIS MONTH INCLUDE: ZAMORAKS POPULARITY WITH THE LADIES, HIS OPINION ON PIE, AND A HITHERTO UNKNOWN PURPLE MONSTER SOMEWHERE IN THE WILDERNESS...</b>
</font>
</td></tr></table> 
<p align=justify>
Hello once again loyal Zamorakians!<br>
I know how dull these letters pages have been getting recently, what with Guthix's bizarre rantings and whinings, and Saradomins self-righteous complaining, but once more I return, to spread a little cheer, and a lot of fear, to those who seek my advice, and some who don't!
<p align=justify>
As tales of a powerful force reshaping the land grow stronger with each passing week, more and more of you RuneScape inhabitants begin to turn to the only god you can rely on to stand up to a challenge with a sword, not words... So let's see what issues have been burdening the minds of the general populace this month...
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>dear really evil dude,<BR>
i was just wondering why burying bones increases your prayer level.
<P align=center>
yours unsinserely,<BR>
cool dude100</i>
<p align=justify>
Saradomin deals with prayers, so when you give dead creatures / people an honourable burial in his name it makes him pay closer attention to you, and help you out in little ways that Guthix won't notice.<p align=justify>
Personally, I think when you kill something you should just take its bones and trade them for something decent. Like a sword, which will help you get MORE bones. <p align=justify>
Or just, you know, drop them in mud and pour bad wine over them or something. Just to annoy Saradomin.<p align=justify>
Saradomin is very amusing when annoyed. It heartens me no end.<P>
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
1) Do u like to kill newbies as a sport?<BR>
2) Is it fun making big headed ppl die in the wildy<BR>
3) Do u like pie?<BR>
4)Who is your favoutrite brother?<BR>
5) Do u get payed for being evil and creul?<BR>
<P>
PLease answer these 5 questions.
<P>
        Always loving the pain and suffering u bring to other ppl
<P>
                            Sir.Inge</i>
<p align=justify>
1) Yep!<BR>
2) Yep!<BR>
3) Yep - but not as much as Thurgo does! That dwarf really loves pies!<BR>
4) Sometimes I can kind of tolerate Guthix when he's in a bad mood and killing stuff. <BR>
He's less annoying than that old fool Saradomin that's for sure. I still wouldn't say he's exactly my 'favorite' though.<BR>
5) Nope! And even if I DID, I'd do it for free anyway. It's my idea of fun!<BR>
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
WHO IN THE NINE HELLS MAKES THE PICTURES FOR YOUR LETTERS!?!? The graphical aids to your letters apply to exceedingly random subjects. I mean, surely creating these pictures manually would prove to be a task too dull even for Guthix the Lame. Pardon my tone, but I MUST know!<BR>
                                                                                  -Void Sabre</i><p align=center>
<img src=/img/newsletter/artist_table.jpg width=448 height=336>
<p align=justify>
I have a talented yet alcoholic lesser demon who does most of it for me. <BR>
He'll draw me anything I tell him for a bottle of Draynor Malt - you'll find most artists are the same.<P>
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
I'm wondering, do u support scammers? not that i am one of course, im the exact opposite.  i lead the runescape wide group known as the hunters.  we are dedicated to catching and reporting scammers.  when on active duty, i can report up t0 20 scammers in a few days.  i know ur evil, but if u do, how can u support scammers? they are the lowest of the low, they're scum.  just a warning.  if any scammers are reading this feel my words: 'anticipation of being reported, is worse than being reported itself'........<BR>
                                                      the lead hunter,<BR>                                 
                                                       Proassasin <P></i>
                                                       
Pffffft... 'Scammers'.....
<BR>
I don't like 'scammers' because they're whiney little liars who are too sissy to go out and kill stuff to get rich like a *TRUE* Zamorakian would do.<BR>
Lure them out to a nice little spot in the wilderness and show them the business end of your favorite weaponry (A lot of fun) or (as useless as the Council are) the report abuse button is a good option too. 
<p>People like that give evil a bad name, you know!
<P>
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
 Dear Zamorak:<BR>
            I am a story teller, a word tailor, a speaker of tales. I tell some stories of hope and glory, but mostly death and destruction are the players in my works. Is there anyway that I could give my works to the librarian, so I might strike fear into all that decide to pick up one of my short stories. Making them once afraid of the dark, as they were when they were children.
 <P>
Respectively Yours,
              <p align=center>                                                                                                                                                           Ghost_Haunt</i>
              <p align=justify>                                           
Writing stuff sounds a bit too sissy to me... are you sure you're not a Saradominist trying to trick me?<BR>
Then again, putting the fear of Zamorak into little children does sound quite tempting...<p> I guess I can lay off torturing Reldo with little 'accidents' for a bit if you have any PARTICULARLY spooky stuff to honour me with. I believe you can however<P><center>
<img src=/img/newsletter/reldoemail.gif></center><br>
But I'm not sure when he will next update his library. He tends to have a lot of 'unfortunate accidents' happen to him, particularly when I'm rather bored...
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify>
<i>
Dear Zamorak,<BR>
 I've heard rumurs of a demon in the wilderness that if you walk pass him he dosent attak you then gives 100k is this true. Please answer me o great zamorak.
 <P>
Yours untruly galdar780</i>
<P>
...oh yeah. That sounds real likely doesn't it? <BR>
It's the magical mauve money-dropping monster! <BR>
You can find him right in the middle of the wilderness, but you can only find it if you're carrying lots of stuff worth pking for... uh, I mean lots of stuff to 'attract it'. <BR>
Yeah... attract it... that's right. Would I lie to you?
<P>
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
Dear Zamorak
 <P>
I Would like the thank you for creating the sleeping bags and new pick axes. It makes mining and smithing for higher lvl people not as hard. I do have a few questions tough.<BR>
Do you think we could ever make silver armor of gold armor?<BR>
Do you think you will ever allow us to buy houses?<BR>
Do you think you will ever allow us to own our own farm?<BR>
Do you think you will create horses for our worlds?<BR>
Thanks for your time<BR>
remember Chaos is good<BR>
Krispy007<BR></i>
<P>
1) maybe<BR>
2) maybe<BR>
3) maybe<BR>
4) maybe<P>

Hope that cleared that up for you.<P>
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
DEAR ZAMORAK,<BR>
                        MY NAME IS DEADLYPOE I HAVE BEEN IN THE RUNESCAPE WORLD FOR 1 1/2 YEARS AND I WAS WONDERING IF YOU COULD SPARE SOME MONEY THANKS 
 <P>
DEADLYPOE   
 <P>
PS ASGARNIA IS BETTER THAN MISTHALIAN</i>
<P>
...Yeah, you and that other guy should both go looking for the money dropping monster in the wilderness together. <BR>
Don't forget: bring lots of stuff with you!<P>
Oh, and for future reference? The 'Caps Lock' key is on the left hand side of the keyboard.<p>
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
hello, I think that in the wild you should not be allowed to run from other players when they are beating you.I say this because one time, in the wild I attacked a player with full rune and I was beating him really badly. Then he ran away like a coward, and since players run at exactly the same speed, I could not catch him and I missed out on some good stuff. I was really upset and he teased me from outside the wild, and as a god of evil I think you should change this.Dr.Dre rapp</i>
<P>
Yeah, sissy cowards who run away from a fight REALLY annoy me... (you just KNOW they're Saradominists, even if they say they're not...) so if I have my way I'm going to try and sneak in a little surprise for people who try and run from a fight while loaded up with loot into Guthixs' little world update. 
<p>If he doesn't notice me trying to sneak it in anyway...<P align=center>
<img src=/img/newsletter/dark_knight_running.jpg width=470 height=300><p>
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
hi zamorak i need rune 2-handed.i bless you god zamorak.i am oll10 from runescape.pleas zamorak i need your help.
<P>
<P>
                    oll10</i>
               <P>     
Whats up with this? Why do people think I care about them enough to give them stuff?<BR>
Go with those other guys looking for that monster. Take plenty of stuff. <BR>
I GUARANTEE even if you don't find the monster someone will give you a Rune 2 hander. Blade first. You'll get a free teleport to Lumbridge too.     <P>       
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
Dear Zamorak,
I think you should have a new option on runescape for sheep appearing not has attack sheep but.....hug sheep i mean who wouldnt want to hug a sheep! I bet even you with as much evil as you have would love to hug a sheep.  They are so cute and fluffy.  Hugging a sheep should make your prayer level go up.  Please make hug a sheep available. </i>
<P>
I feel physically ill. <BR>
I really hate sheep. <BR>
I don't know whether its their stupid fluffy white bodies, their ugly stupid faces, the annoying idiotic noises they make as you walk near them, or Guthix's unhealthy love for them.<BR>
I REALLY HATE sheep.<P>

<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
O mighty Zamorak,
I have heard much talk of thieves that continue to steal your wine.  As one 
of your most loyal followers i vowed to use my powers and my full rune to 
kill these people who have commited this inexcusable crime, but try as i may 
i cannot find the location of the wine and the thieves as it is not charted 
on the runescape map.  Could you please tell me the location and if it is 
possible to get to it in the free version of Runescape.  Thank you O Mighty 
One.
<P>
Daleks.</i>
<P>
Yeah, what do you take me for? Do you think I was born last century? I'm not telling you where to steal my wine from. <BR>
I'M SICK OF PEOPLE STEALING MY WINE!<P>

<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
Dear Zamorak,
<P>
You've got a kid named Iban. Who's your wife?
<P>
-Katjandra</i>
<P>
I'm not married. <BR>
If you're asking who his mother is, I can't remember. <BR>
The ladies love Zamorak, and its kind of hard to keep track of them all sometimes.<P>

<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
Oh, Zamorak! I just love how you wreak havoc among people, it's just 
so...evil. But although I'd like to ramble on about dastardly deeds, I bring 
you to the big question...<BR>
Zamorak, will you marry me?!!
<P>
Your future lover,<BR>
Atomic Grrl</i>
<P>
see what I mean?
<P>
<p align=center><img src='/img/newsletter/smstones.jpg'>
<i><p align=center>
<img src=/img/newsletter/gravescenepic2.jpg width=490 height=350><p>
hello zamorak, my screen name in runescape is tahnok113 and i just want you to know that zaros has emerged from deep under the earth to destroy you...
 <P>
 <P>
..Ok that's it -- a warning...</i>
<P>
Za-zaros?
<P>
...Ok, thats not funny. Don't. Just don't. I'm not scared of anyone ok? Zaros is gone. <BR>
So don't lie to me ok? He's gone, and I'm not scared of him even if he isn't. <p>HE'S DEAD.<P>
Not scared. Not even worried. At all. DEFINITELY not. Seriously. Anyone who says I got lucky last time is just a dirty liar.<BR>
Hah, you're just playing a trick on old Zamorak right? Right? Because I'm not scared at all. <BR>
So don't try and scare me like that, because it WON'T work.<BR> 
I'm totally not scared.<P>
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
Dear The really evil god thingy
 <P>
Hey zamorak, one question, Boxers or Briefs???
<P>
<P>
From Babrook44067</i>
<P>
one answer: commando.
<P>
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
Hello oh nutbrain zamorak, its pleasure to kill ur noobie monks and steal ur 
wine... accualy i have 30 jugs of ur wine what CANT BE USED FOR ANYTHING!
and... i know a clan what TOTALLY hates u.... wanna know who is the boss of 
that clan..? ME!!! SANDROMIN RULEZ! SANDROMIN RULEZ! SANDROMIN RULEZ!
ZAMORAK SUCKS! ZAMORAK SUCKS! ZAMORAK SUCKS! oh one thing, if ya own all those 
zombies, skeletons, giants and hobgoblin in those dungeons, i love killin em 
and if ya dont im still love killing em! there are only 2 things i love more 
than them... ITS KILLING UR PERFETIC MONKS AND STEALING UR WINE (what u dont 
like i think, AND THATS GOOD!) once again, SANDROMIN RULEZZZZZ!!!! and u, you 
SUCK! ps. I deffenetly HATE u.                  slayer</i>
<P>
I'm sure 'Sandromin' (whoever they are) will be thrilled to hear they have a new groupie.
<P>
Seriously, whats up with all of you obsessing about my wine?
<P>
<p align=center><img src='/img/newsletter/smstones.jpg'><p>
<i>
dear oh great zamorak
im tryin to buy a bloomin santa hat but people are selling them for 100k what the hell!!! they are worth 25k according to this runescape tips website. are they 100k or are thy 25k answer my question please???
 <P>
deathbob</i>
<P>
They're worth whatever people are foolish enough to pay for them. <BR>
Silly coloured cloth hat vs large nearly unstoppable killing blade with which to smite your enemies - I mean, come on, which do you *REALLY* want to carry around with you?<p>
What are you gonna do when you're in a fight? <BR>
Shout 'Ho-Ho-Ho' and hope they run away?<BR>
Blind them with the horrible colour of the thing on your head?<P>
<p align=center><img src='/img/newsletter/smstones.jpg'><p>

<p align=justify>
And so my time draws near, and once more I must grab my trusty bloodied axe and bring more foul creatures to this world to torment the Saradominists and Guthixians with... and of course I always need time to do a little experimenting to see if yet more creatures hitherto unseen can be safely brought to RuneScape... so until next we speak loyal subjects
<p>Strength through chaos -
<p align=justify>    
&nbsp;&nbsp;&nbsp;<font color=red><b>Zamorak</b></font>

<p align=justify> <i> <font size=1>  

    DISCLAIMER: The views of Zamorak do not reflect the views of
    Jagex Ltd or it's employees. We'd ban him, but he's a god.
    But if you would like to communicate with the dastardly one...</font> 
<p><center><img src='/img/newsletter/zamemail.gif' width=280 height=20></center>    
             

</td></tr></table>
</center>

<!--end content body--><br>
</center>
</td>
</tr>
</table>
<!-- end content table -->
<!-- border footer-->
<table cellpadding="0" cellspacing="0">
<tr>
<td valign="bottom"><img src=
"/img/edge_g2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
<td valign="bottom">
<div align="center" style=
"font-family:Arial,Helvetica,sans-serif; font-size:11px;">This
webpage and its contents is copyright 2004 Jagex Ltd<br>
 To use our service you must agree to our <a href=
"/terms" class="c">Terms+Conditions</a> + <a href=
"/privacy" class="c">Privacy policy</a></div>

<img src="/img/edge_c.jpg" width="400"
height="42" hspace="0" vspace="0"></td>
<td valign="bottom"><img src=
"/img/edge_h2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
</tr>
</table>

<!-- border footer--></center>
</td>
</tr>
</table>
</body>
</html>

