<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->
<!-- content table-->
<table width="600" cellpadding="0" cellspacing="0" border="0"
background="/img/background2.jpg">
<tr>
<td valign="bottom">
<center><br>
 <!-- title box --> 
<table width="250" bgcolor="black" cellpadding="4">
<tr>
<td class="e">
<center><b>Letters #16 - Guthix Dispels Rumours</b><br>
 <a href="/title" class="c">Main menu</a> - <a href=
'/varrock/letters' class="c">Archive Index</a></center>
</td>
</tr>
</table>

<!-- end title box --><br>
 <!-- content table --> 
<table width="500" bgcolor="black" cellpadding="4" border="0">
<tr>
<td class="e" width="500">
<center>
<center><b>Guthix Dispels Rumours</b></center>

<table>
<tr>
<td>
<p align="justify"><font color="white"><b>GUTHIX, PERHAPS THE MOST ENIGMATIC AND MISUNDERSTOOD DEITY OF RUNESCAPE, RETURNS ONCE AGAIN TO DISPEL SOME OF THE MORE COMMON MISCONCEPTIONS AND RUMOURS, ANSWER A FEW QUERIES, AND PERHAPS EVEN REVEAL SOME SECRETS OF THE HISTORY OF RUNESCAPE...</b></font></p>
</td>
<td>
<p align="center"><img src='/img/newsletter/guthix.jpg' width="320" height="240"></p>
</td></tr></table>
<p align=justify>
I hath been roused from mine slumber once more by the clamouring for knowledge of the subjects of mine world, and as such feel duty bound to respond to some of these queries.<p>
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
oh sideless one,<br>
many roumers have been floting about your land tell of what 
might come next in the evilotion of Runescape.  I was hoping that 
you would seperat the lies from the truth
<p align=justify>
roumer 1: the new engin will alow the use of camels to get around
<p align=justify>
roumer 2: the new engin will have a house for every player where 
things can be stored
<p align=justify>
roumer 3: the free servers will only get the 3-d part of the update, 
none of the otherstuff<br>
and roumer 4: the new combat system will allow you to control 
weapons and sheilds</i>
<p align=justify>
Rumours are the refuge of the braggard, and the scoundrel. Put not thy faith in rumour, for often they shall deceive intentionally, and the rare occasion that they doth find the grain of truth ist not worthy of counting.
I can tell thee true however, the first three rumours that thou mention are falsehoods, and the fourth, if I understand thy meaning correctly, ist already in effect upon this plane...
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
To Whichever god Happens to be Answering Prayers:<p align=justify>

Why does Guthix exist?  It has been this one's experience that any and every god which doesn't have followers will cease to be, yet the gods of Runescape seem to exist independently of human belief.  Is there something about Runescape itself that allows this, or is it the gods themselves?<br>
<center>Vkand</center></i>
<p align=justify>
Thy assumption is mostly correct noble philosopher; most gods mayst not stay long on a plane where their existence ist not demanded by followers. <br>
Just speaking the name of a god canst give them power enough to enter this plane, and with followers then they mayst remain. <p align=justify>
I am not most gods however; mine power is drawn from the land, from the seas, from the plants and trees, from the very essences of life that dwell here. This is why I neither seek nor demand loyalty from mine followers, for my power is not that of belief, but of life. <br>
The only thing that couldst disrupt mine energies wouldst be the extinction of all life upon this realm, in which case I wouldst be forced from this realm to find another. 
I would never allow such an abomination against balance to occur here.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Guthix,
<p align=justify>
I am one of the few players of Runescape who are actually not looking 
forward to the update.  I use the incredibly powerful operating system 
we mortals call OS X (10.2.6 to be exact).  I am worried that the 
update might only be available to the misguided majority of users using 
the bloated operating system know as "Windows".  Can you tell me if I 
be barred form playing Runescape because I choose to be productive on 
my computer?
<p align=justify>
Trah88</i>
<p align=justify>
I hath good news for thee, for the strength of the language known as Java is that it doth operate upon its own structure, so that it is universally understood by all, no matter what their native language may be. <br>
Thus it is that a man known as Windows may speak happily with a man known as Macintosh, by speaking in Java, despite each being born knowing a different language. It is a universal language for all; this is one of it's major strengths.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Can you please add a new link to your homepage it would be named fan art.<br>
I think a lot of people have made pictures of runescape and they would like to let others see what they have done.<br><p>
<center><img src='/img/newsletter/lesser1.jpg' width=320 height=240></center>
<p align=justify>
Your fan ints99</i>
<p align=justify>
All gods are followers of the aesthetic virtues, and as such we will be honoured to receive artwork of talent. 
Thou mayst send thy work to the usual address... <br>
The chances of its publication in our letters responses is purely dependent upon our appreciation of its' quality of course...
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Oh mighty gods of Runescape,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Are there ever going to be any 
races other than humans on Runescape? It would be nice to see some variety 
in the world like elves, dwarfs, or even goblins. Also is the name of the 
entire land Runescape or what?
<center>                                               Ever Neutral<br>
                                                 link2910</center></i>
<p align=justify>
This realms name is in truth Gielinor, yet is called RuneScape in the common tongue by it's inhabitants. Each kingdom hath its' own name such as Misthalin, Asgarnia, and so forth. <br>
I also feel obliged to point out that the races thou hast mentioned are all currently in residence upon this realm, along with many more lesser known species such as the Skavid...
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Oh imortal lord of neutralness,
 <p align=justify>
Why is it that you can only choose your carecter at the bigining of the game? Could you, oh mighty lord, put a place in the world to change a persons hair, clothe, skin and gender? Please?
 <p align=justify>
Your humble devotee<p align=justify>
                          <center>                       Atlan</center></i>
<p align=justify>
There is a mage who hath dedicated his life to the study of the morphogenic field which makes up thy physical form, and on magicks to allow him to alter it, for a small fee. <br>
<center><img src='/img/newsletter/makeovermage.jpg' width=320 height=240></center><p align=justify>
I believe he is more commonly referred to as the 'makeover mage', and a visit to him, along with the required fee, shall reap the dividends which thou seek.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Is this a trick Guthix and Zammorac are either 2 dif people or it came in mind that indead they are the same person. I have 2 reason proving that they are both the same person.
 <p align=justify>
1-They both type very similar kinda odd <br>
2-They both dont use spell check so it could realy be one person miss spelling,how old are you? any 4th grader could spell wouldnt like wouldnt not like you guthix u spelt it as wouldst.
 <p align=justify>
My advise to you is to learn to spell or i will worship something else, someone with  a highschool education would be nice to worship, so come on learn to spell
 <p align=justify>
~TRIPP N FLIPP</i>
<p align=justify>
My <b>advice</b> to thee wouldst be to be certain of thine own spelling before scurrilously and slanderously attacking the errors of another.<br>
Especially given that such errors do not in fact exist. <br>
<b>Indeed</b>, pedanticism is only effective when thou art correct.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Hi great guthix,<br>
I was wondering if there are any more gods other then you,Saradomin,and Zamorak.and if there are who are they and what are they all about. Oh, and will we ever be able to read about the history of runescape in the library.<br>
your follower,<br>
darkking414</i>
 <p align=justify>
There are at least twenty deities who didst force themselves upon this realm whilst I slumbered, Saradomin and Zamorak are the two who hath most prominence amongst the general populace.
 <p align=justify>
 As to thy query regarding the histories of the library, I hath knowledge that such an addition is indeed planned, but treacherous Zamorak takes strange delight in the torture of the man responsible, Reldo.<br>
This puzzles me greatly, for he hath never struck me as anything more than a mild mannered creature devoted solely to the studies of scholarship.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Tell me... you claim to be the god the represents balance, like in neutrality. And you name is Guthix. But from the moment you have a name, you aren't neutral anymore. In the last letter you told zidane_909 : "I am beyond good or evil, I am simply Guthix." That's means you chose or like the name yourself. So you aren't neutral, because you favor something.
  <p align=justify>
Maybe I am wrong because I am not a god and therefore not smart enough to understand,<br>
Forgive me for that<br>
Follower of the allmighty Saradomin, Hypnosis</i>
 <p align=justify>
A name means nothing other than the meaning that ist placed upon it. <br>
Mine name means nothing in of itself; it is simply the closest thing to my true name that ist possible in the language of man. <br>
To pronounce mine true name correctly I wouldst have to remove thy vocal cords.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
oh mighty ones in the sky,<br>
i have been wondering several things. <br>
how many letters do each of you get every day?<br>
and would you ever consider all three of you posting a
letter together?<br>
and finely if i may ask... how do you feel about
clowns?
 <p align=justify>
a follower of the gods<br>
Lord Duckman</i>
 <p align=justify>
Each god receives questions in the magnitude of hundreds daily, and usually more directly following the publication of their responses. <br>
Although many are received and all are read, only a few are selected for response - thou will probably be glad to know, for thou art known to us as a quizzical thinker Lord Duckman, and although thy many questions are not necessarily answered, they all reach their destination. <p align=justify>
As to thy query regarding the co-operation of Saradomin and Zamorak with myself upon a letters response, I fear that making the two arch-enemies co-operate upon anything, even something as minor as responding to their followers, is a task beyond even my powers... <br>...and I personally find clowns to be unfunny bufoons who willst degrade their lives for an attempt at a cheap laugh; but I am not known for my sense of humour.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Guthix, <br>
            When you revamp runescape, will all the places be different, like will the world map be the same? It would take a lot of time to get used to a completely new runescape. many people would quit. The result of making to many massive changes would be a long time without revenue. 
  <p align=justify>
                                    Your follower, <br>
<center>                                   Coolpitcher </center></i>
  <p align=justify>                             
The world shall remain the same, yet will also be changed. Continents, seas, rivers, mountains and cities shall remain similar to their existing selves, yet shall be different enough to briefly disorient those who rely on existing landmarks for direction.<br>
I hath already claimed the restoration of this world will be total, from each blade of grass, to the highest mountain - and my claim was not made with exaggeration.  
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
  Guthix,
  <p align=justify>
Truly you are a mighty god, but I am quite confused. In his first letters, Sardomin said that HE created Runescape. In your first letter (thankfully I got to hear from the third god) though, you said YOU created Runescape. Who is puffing themselves up, and who is lying, I wonder? I used to be a follower of Sardomin, but now I doubt my ways. Am I to be a follower of you, of Zamorak, or stay the way I am? Or to be an atheist? Or is that the way of Guthix (to be atheist)? And how would I know if YOU were the one puffing himself up?... :\ Meep. My head hurts now.
  <p align=justify>
-Blast-chan</i>
  <p align=justify>
I claim not the creation of Gielinor; I claim it's rightful ownership, for none other dwelled here when first I arrived.<br>
I knowst not why Saradomin would claim otherwise, other than in a bid for glory, for all other gods came to this plane whilst I slumbered.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Greeting o' wise and powerful Guthix,
   <p align=justify>
    I wouldst like to ask thee some questions concerning the dwarves, and their mine.  'Twas my understanding that dwarven smiths were the greatest in all runescape, and that their skill in metalworking was rivaled only by their fondness of being alone.  These facts dist lead me to wonder, where is their furnace?  Surely they do not journey all the way to Falador merely to smelt the ore that they so diligently mine, and trek back again to hammer it?  If that is indeed the case then they canst turn themselves invisible for I have never seen one in the city.  I understand that it would be too easy to train smithing if all citizens of runescape had access to dwarven furnaces, but could they not be persuaded to grant us use if we completed a quest for them?
   <p align=justify>
                                             <center>           A bewildered smith,<br>
                                                           Dracomancer </center></i><p>
<center><img src='/img/newsletter/dwarfsuperheatitem.jpg' width=320 height=240></center>
  <p align=justify>
Dwarves learn the magick known as 'superheat item' at a young age, for it removes the uncertainty involved with smelting ores in the more conventional manner, and doth improve their productivity.  <p align=justify>
As such they hath no need for furnaces.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Guthix,<br>
My account was banned for advertising, but i didnt advertise anything, my little brother did with my account and now im banned :( I told customer support about this but they didnt hear. What should i do? My bro did a little prank and now im in tears... Please help me, oh mighty one!
  <p align=justify>
Cyrax14</i>
  <p align=justify>
I wouldst advise thee to take heed of the councils' warnings regarding character sharing. <br>
They are placed prominently for a reason, and to ignore them is to gamble with thy RuneScape life.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
dear holy and unholy one,
  <p align=justify>
two quick questions. <br>
1) in the intrest of balance, do you do everything, or nothing?<br>
2) is your name pronounced guh-thicks or goo-thicks? it's gotten 
really annoying... or should i just accept both in the intrest of 
balance?
  <p align=justify>
thank you,<br>
mase windu</i>
  <p align=justify>
I do anything and everything necessary to maintain balance - it is a far more time consuming occupation than might first be considered.   <p align=justify>
As to thy second question, my true name is not pronouncable by human form, yet it's closest approximation in the language of man is 'guh-thicks'.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Guthix, it's clear that the Druids follow you and your philosophy of balance 
(if it can be called a philosophy rather than a lack of one...confusing).  <br>
But what about Chaos Druids?  The beastiary informs me that they follow the 
dual philosophies of you and Zamorak, but I'm a bit unclear on how that 
would be possible.  Neutral, but not neutral?  Evil, but not evil?  What's 
your thoughts?
  <p align=justify>
Haldir2012</i>
  <p align=justify>
The chaos druids acknowledge mine position as the eldest and most powerful deity, and still strive for my ultimate aim of balance upon this land; but unlike the more passive actions taken by their non-chaotic brethren, they take an active role in culling this land of the more prolific species which inhabit it.  <p align=justify>
Man is the most prolific race that dwelleth upon this realm, and it is mankind that they take most pleasure in dispatching. <br>
This is also an aim of Zamoraks, and so they doth serve two masters through striving for this one goal.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Guthix,
  <p align=justify>
    How can you stand to not choose between good or evil? Doesn't it get 
boring being neutral all the time? Do Zamorak and Saradomin ever get mad at you 
for not supporting either of them? (Not that Saradomin would get mad at anyone) 
I just don't see how you can take it.
  <p align=justify>
Just wondering,
  <p align=justify>
Mr. Beef Wellington
  <p align=justify>
P.S. Do you have to talk so wierd?? I can barely understand you!</i>
  <p align=justify>
I am balance, not neutrality - neutrality doth suggest inaction, when the oposite is the truth. I willst take ANY action necessary to ensure balance upon mine plane, and as such, mine actions canst be deemed to be good or evil depending on howst they affect thee. In truth, they are neither - they art merely <b>necessary</b>.  <p align=justify>
As to the 'weirdness' of mine language: the language of man is not native to myself, and hast changed greatly since last I had use for it. <br>
I canst not express myself clearer than this, for thine language is both alien and strange to me.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Almighty gods...
I have roamed the lands of runescape for serveral years now and have fought valiantly against all monsters i happened to encounter. I've hit from '0' to '29' but i've never 'missed' a single hit... i instead hit a 0... how is it that i am so accurate in my hitting that i never miss the monsters? i must agree that this makes me see this world as undeveloped. It vexes me to see that i never miss... though i quite like not missing... it is quite unrealistic....<br>
i hope that this may be an update for the new engine....
   <p align=center>
Follower of all gods....
<p align=right> -   -=Sir Flutezzz=-</i>
 <p align=justify>
I beg to differ with thy experience in combat. <br>
Often do I see skilled warriors attack each other, yet hit at a bad angle and provide merely a glancing blow that causes no damage, or have their attack slighted due to armour: rarely do I see a warrior with any weapons training utterly miss an opponent at close range...
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
Dear Allmighty Guthix,
  <p align=justify>
I have been wondering why do the Strange Walking Clothes located in the lost city, Drop Bones when killed. Isnt it a bit Strange that a magical lifeform with no bones can drop such items. I am sure with your great knowledge, that you will be able to answer my question and that there will be a perfectly good explaination.
  <p align=justify>
From No1Stoney, (A Very Confused Player)</i>
 <p align=justify>
The beings that thou speak of are not wholly tied to this realm; they flitter between the dimensions like butterflies across a meadow. 
When thou slay them, thou force their remains into one dimension alone; this one.  <p align=justify>
As long as they are alive they canst remain incorporeal, but once their fate hast been decided and they hath died they canst no longer travel between realms as they could when they were alive. 
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify><i>
hi guthy
       i was just wonderin y u got wires sticken outa ur skull.
o yah and y does gypsy want u 2 help me kill delrith?i can do it 
by myself cuz i can kill a deadly red spider and its stronger than 
delrith so dont help me:)
 <p align=justify>
hope u can control zomarak bye</i>
 <p align=justify>
They art tendrils, not 'wires' - and I require them. <br>
As to your boasts of your battle prowess being great enough to defeat the terrible Delrith without mine assistance, I say to you: drop thy Silverlight, for it is a sword endowed with power by myself. <p align=justify>
Then perhaps thou willst see the assistance which hath been offered to thee.
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify>
I hath just enough time to answer a few quick questions, for maintaining the balance of this world is a time-consuming job.<p align=justify>
tyy32 asks <i>"Why are the magic runes used only once per rune?"</i> - Each rune is a man made stone which hath been endowed with a magical charge, yet just enough charge for one use only. <p align=justify>
~Bryan00~ says that "<i>the gowers have too much imagination</i>" to which I respond: 'Tis better to have a surplus than a deficit is it not? <p align=justify>
The Fuzz200 enquires "<i>When the new grapics come out can you equip fishing items?(i.e. fishing rods)</i>" - I can assure thee that such is indeed the case. <p align=justify>
an anonymous request "<i>Hey guthix where would i download runescape?</i>";<br>
If thou meanst the client, I am assured that what thou art looking for is located <a href='/windowsclient' class=c>HERE.</a> <p align=justify>
Tc Olam would like a clarification as to whether or not "<i>this rumour that masks increase your levels by 10 depending on colour is true?</i>" - my response is that this is a baseless rumour. <br>
One of far too many, unfortunately. <p align=justify>
"B.I." would like to know "<i>Will monsters have the ability to cast spells or shoot at us?</i>"<br>
Most assuredly... it is a necessary balance to counter that they may now be swarmed by a mob...
<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify>
And so my time draws to a close. Until such time as I impart my wisdom once again, 
<p align=center>Balance Is Power-
<p align=justify>    
&nbsp;&nbsp;&nbsp;<font color=green><b>Guthix</b></font>
<p align="justify"><font color="white"><i><font size="1">DISCLAIMER: The views
of Guthix do not reflect the views of Jagex Ltd or it's employees. We tried to
prevent him giving away our secrets, but he is a god. If you would like to contact
 him however...</font></i></p>

<center><img src='/img/newsletter/gutemail.jpg' width="280"height="20"></center>
</center>
</td>
</tr>
</table>

<!--end content body--><br>
</center>
</td>
</tr>
</table>
<!-- end content table -->
<!-- border footer-->
<table cellpadding="0" cellspacing="0">
<tr>
<td valign="bottom"><img src=
"/img/edge_g2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
<td valign="bottom">
<div align="center" style=
"font-family:Arial,Helvetica,sans-serif; font-size:11px;">This
webpage and its contents is copyright 2004 Jagex Ltd<br>
 To use our service you must agree to our <a href=
"/terms" class="c">Terms+Conditions</a> + <a href=
"/privacy" class="c">Privacy policy</a></div>

<img src="/img/edge_c.jpg" width="400"
height="42" hspace="0" vspace="0"></td>
<td valign="bottom"><img src=
"/img/edge_h2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
</tr>
</table>

<!-- border footer--></center>
</td>
</tr>
</table>
</body>
</html>

