<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Letters #7 - Unisex?</b><br>
<a href="/title" class=c>Main menu</a> - <a href='/varrock/letters' class=c>Archive Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>
<center>
<p>
<center><b>Saradomin Responds.</center></b><p><table><tr><td>
<img src=/img/newsletter/saradomin.gif width=164 height=150></td><td>
<font color=white>
<p align=justify>
<b>Five Ages after creating the world of Runescape, the great god Saradomin now regularly communicates with the inhabitants of this fast evolving planet. An agreement with his brothers prohibits him from directly intervening into Runescape's affairs, but in his great omniscience he still listens to the prayers of those who seek his knowledge.</b></td></tr></table>
</font></b>
<p>
<p align=justify><i>   
    Oh Ancient and Wise one,<br>
    Firstly  let  me  congratulate  you  on  the  incredible
    new structure  of mining.  No longer  do I  stand bored,
    hopelessly  swinging  my pick  axe  and making  my  arm and
    'finger' ache. The ore is  there and it's all mine  mine
    mine. In  42 levels  of mining  I  never  saw a gem, now
    within  2 levels I  have found  3. Sapphires sparkle but
    diamonds are radiant.
<p align=justify>  
    The fact that  you must rest makes the realism  so much
    greater  now.  After all, unearthing  gems can  be
    tiresome work. I offer a final prayer  of hope that this 
    system  stays forever.
</i></i>
<p align=justify> 
    <i>Yours admiringly, Aceaid</i>
<p>&nbsp;
<p align=justify>
    Verily,  it  pleases  me that  you  are  so pleased.
    Although  I can't  promise that  there will  be no  more
    developments. As my  brother Guthix says,  nothing lasts
    forever. Except maybe diamonds.
 <p align=center>   
<img src="/img/newsletter/miningpic.jpg" width=300 height=200>
<p>
<i><font color=white><p align=justify>   
    Dear Saradomin, 
<p align=justify>  
    If there are no  beds in the  wilderness,why  do you
    continue to have the coal rocks? It's a  waste of  space
    and its  laggy. I  once passed  through there  trying to
    save myself  from  getting  PK'ed but   the lag made  me
    stop  and the opponent  seems to have  continued  moving
    toward me and then  killing me. I lost full  rune but  I
    saved my r2h. Can you  somehow tell Zamorak to make  the
    rocks dissapear? 
<p align=justify>  
    mewp136
</font></i></i>
<p align=center>  <table><tr><td>
    <img src="/img/newsletter/bed-wildernesspic.jpg" width=250 height=180> </td><td> 
<font color=white><p align=justify>
    Rest assured, there are now beds in the  wilderness.
    They can be found in  the dark warriors' castle, in  the
    sapphire house and in  the ruined town with  the furnace
    in it. Even PKers need to unwind sometimes.</td></tr></table>
<p>
<i><font color=white> 
<p align=justify>  
    Dear Saradomin,
<p align=justify>  
    I would like  to know why  you took the  mithril ore
    rocks out of the mining guild and dwarven mine. Now the
    only place I  can get mithril  ore is in  the wild where
    people insist on killing me.
<p align=justify>  
    Your loyal follower, 
<p align=justify>  
    Chewy69.
</font></i></i>
<p align=justify>  
    A  good  question.  The  mithril  rocks  respawn was
    increased,which meant that they needed to be a long  way
    from a bed to stop them becoming too powerful.
    <p align=justify>  
    However, under the new hard rock / soft rock system  you
    can  expect  to  see  a  couple of  soft   mithril rocks
    making a return to the miners guild soon.
<p>
<p align=justify>  
<i><font color=white> 
    To the almighty god Saradomin,
<p align=justify>  
    On behalf of all the   women of Runescape I  humbly  ask
    that many  of the  clothing and armor that is only  made
    for the men, such as  chainmail, robes, and aprons,  can
    be converted to fit the female gender. 
<p align=justify>  
    With woman's  robes we  won't be  at shame  when  we
    worship you  and  are  mistaken  as  a  man,   we  won't
    hide when presented  with chainmail,  and we  won't  shy
    away  from wearing aprons  when we cook! Thank-you  high
    and merciful Saradomin. If you grant this wish the women
    of runescape will never forget.
<p align=justify>  
    Your loyal servant, Starzball
</font></i></i>
<p align=center> 
 <table><tr><td>
<font color=white> <p align=justify>
    Yes it's true that those  unisex outfits do very little
    for the female  form. But  a new  line in  fashion is  
    being crafted even  as we  speak, and  after the  update 
    these items will be available to all! Just don't feel  
    obliged to do all the cooking. </font></td><td>
    <img src="/img/newsletter/chainmail-girl.jpg" width=250 height=180> </td></tr></table>
<p>
<i><font color=white> 
<p align=justify>  
    To the great Saradomin
<p align=justify>  
    In response  to the  explanation of  null in  the recent
    newsletter.....
<p align=justify>  
    I  always  thought  null  was  a  character  in  viewing
    distance  but  not   yet  loaded  onto   your  computers
    memory.....call me a heretic....but...that would seem to
    make sense.
<p align=justify>  
    Josh F
</font></i></i>
<p align=justify><font color=white>  
    How wrong you were! But don't worry, lots of  people
    are ignorant without being heretics. Although strangely
    enough the mage Gower doesn't seem to believe me either.
    In fact he agrees with you, and  says "When you first meet
    someone in the game they will be called 'null' until the
    server sends the name and appearance of that player to your
    machine. Don't worry, it doesn't actually affect the gameplay."
<p align=justify>  
    Until next time,
<p align=justify>  
    Strength through wisdom,<br>
    Saradomin
<br><br>
<center><img src=/img/newsletter/email.gif width=289 height=19></center>
</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>