<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->
<!-- content table-->
<table width="600" cellpadding="0" cellspacing="0" border="0" background="/img/background2.jpg">
<tr>
<td valign="bottom">
<center><br>
 <!-- title box --> 
<table width="250" bgcolor="black" cellpadding="4">
<tr>
<td class="e">
<center><b>Letters #14 - The Return of Saradomin</b><br>
 <a href="/title" class="c">Main menu</a> - <a href=
'/varrock/letters' class="c">Archive Index</a></center>
</td>
</tr>
</table>

<!-- end title box --><br>
 <!-- content table --> 
<table width="500" bgcolor="black" cellpadding="4" border="0">
<tr>
<td class="e" width="500">
<center>
<center><b>The Return of Saradomin</b></center>

<table><tr>
<td><p align="center"><img src="/img/newsletter/saradomin.gif" width="164" height="150"></p></td>
<td>
<p align="justify"><font color="white"><b>SARADOMIN RETURNS TO PRAISE THE PURE OF HEART, AND TO HONOUR HIS FOLLOWERS WITH SOME REPLIES TO THE PRAYERS THEY HAVE SENT UNTO HIM.<br>ANY CONNECTION BETWEEN SARADOMINS PREVIOUS WRONG ANSWERS AND HIS RECENT PROLONGED ABSENCE IS ENTIRELY COINCIDENTAL.</b></font></p>
</td></tr></table>
<p align=justify>
Greetings loyal followers! Many of you may have wondered why I allowed the despicable Zamorak access to your prayers to me, and to this all I can say is: 
<br>sorry about that. 
<br>The fiend stole the bag which I keep my messages in, and replaced it with a bag full of little pieces of paper saying "Get your axes from Bob's axes". <br>
What the meaning of this is, I do not know, but apparently while I was busy wondering why nobody writes to me anymore, Zamorak has been having fun abusing my loyal believers.<br>
I don't even want to start on what Guthix has been saying... partly because I don't understand most of it. Nature gods really aren't that good at conversational skills. <p align=justify>
I would also like to clear up beyond a shadow of a doubt, that I have not been "hiding because I was wrong about sleeping bags" as Zamorak has been telling people.<br>
I wasn't wrong. I'm never wrong. I was just not totally right.
<br>Anyway, now I am back in receipt of my faithfuls' pleas, let's answer some queries!
<p><img src='/img/newsletter/smstones.jpg'>
<p align=left><i>
Dear great Saradomin, 
<p align=justify>
    Why dost thou serve only acholic beverages in your
world? Is the water and juices that unatainable, is
the water unpure? If it is, why not offer a
purification system, magic can produce fire with will
remove impurities from the water as it evaporates.  A
drink should not have make you disposed and drunk to
heal you. I thirst and thirst for water but can not
drink any. Why..?
<p align=left>
A thirsty soul, 
<p align=left>
Geniousman</i>
<p>
<img src="/img/newsletter/bannedwater.jpg" width="502" height="327">
<p>
<p align=justify>
The truth is that the council once tried to put a sales tax on all those who purchase water from taverns, but it was very unpopular with those who felt that things that can be found just lying around (water, meat, bones, etc) should not have to be paid for.<p align=left>
The council resolved this by simply outlawing the sale of water throughout the lands.<br>
On a different note, I would suggest to anyone visiting RuneScape for a holiday this year NOT try drinking the water - as many a fisherman will attest, you find all sorts in it... and a nice cold ale is far less hazardous to your health.
<p><img src='/img/newsletter/smstones.jpg'>
<p align=left><i>
dear saradomin,
<p>
Is there cheats or auto miner's on runescape i have seen many charathers 
trying to scam newbies like this: ''pay me 50k and i tell you how you 
can use autominer'' so can you tell is there real auto miners or cheats 
in this game and why free version has only one bank list??? and can you 
put 3 bank lists in free version???
</i>
<p>
<p align=justify>
Apart from the obvious fact that 'cheating' in ANYTHING be it merely a game, or your life, is wrong and will ultimately bring you nothing satisfactory, there ARE no cheats in RuneScape. 
<br>Oh, people may tell you different... but those people are trying to 'cheat' by stealing your account. Which I don't think is what you want.<br>
Your life will be far more complete if you work hard for your rewards, because the satisfaction gained is far greater when you have achieved something by your own dedicated effort... and I would suggest you use the 'report abuse' button to catch any of these liars before they harm a player not as slow to trust as yourself.
<p><img src='/img/newsletter/smstones.jpg'>
<p align=left><i>
O knowledgable and great Guthix , I humbly ask on behalf of all wood cutters
please can we have a similar system to the miners , we had different
varieties of hatchets a long time before them but it seems that we have been
overlooked in this matter. Whilst we thank you for saving our mice and
fingers from strain while mining ,please please please can do the same for
wood cutting.
<p>
Your humble servant,
<p>
Lidawano.<br>
(Power in balance)<br>
P.S I have attached a photo of my character made from hama beads by my
daughter.
<p align="center"><img src="/img/newsletter/Lidawano.jpg" width="300" height="397"></p></i>
<p>
<p align=justify>
I apologise to you noble woodcutter for the interception of your message intended for Guthix, but I was deeply impressed with the realistic sculpture which image you have included; it is in my mind a work of art, and you should tell your daughter that Saradomin is a great appreciater of fine art. Verily, the sculpture almost appears alive, so true a likeness is it to the people of RuneScape.<br>
On the subject of woodcutting, I do not believe that such a system is needed at the present time, but I have no fear that if Guthix decides such a thing will be necessary to prevent the incompetent hacking at trees without a point, then he will probably introduce it. <br>
Probably with some longwinded explanation about 'balance' too.
<p><img src='/img/newsletter/smstones.jpg'>
<p align=left><i>
O great one Saradomin,<br>
I must first say that I thouroughly enjoy wandering daily around your 
beautiful world (Please Note: I am not a brown noser) meeting people and 
improving my skills. However, there is one small thing that bothers me. I am 
a relatively new 'citizen' to your world and I am of a mere level 14, and 
when I am performing quests, I often get attacked by higher level beasts, 
for example giant rats or scorpions. This often results in my death, and I 
hav to start the quest all over again. So I thought that it would be a good 
idea that two citizens may attack a hostile creature at once. At the moment, 
one player may attack while another casts spells, but when their rune supply 
is low, they are more or less useless.
<p align=left>
I hope you consider putting my idea into action.
<p align=left>
Thankyou for your time O mighty master,<br>
Will A.K.A IH8XBOX</i>
<p>
<p align=justify>
Although I believe combat is wrong in all forms, and that the simplest solution would be to not get into combat at all, I also know full well that the cursed Zamorak enjoys tormenting honest workers on their travels with all manner of creatures.<br>
I am glad to say that when the 3D update occurs you will be able to be assisted by your friends in hand to hand combat, and not just assisted by rangers and mages.<br>
Hopefully this will allow my Holy Warriors to restore peace to my lands at all costs, and finally drive the evil zamorak away for good.
<p><img src='/img/newsletter/smstones.jpg'>
<p align=left><i>
Foolish Saradomin,
<p align=justify>
I have killed many of you minions and where black amour a lot. I would 
never even touch your holy symbol. I wear Zamorocks symbol. Tell me why 
Zamorocks symbol is harder to get then going to a "general store" and 
buying your symbol for 34 gp! Foolish Saradomin do reply! 
<p align=left>
Zamorock 4 ever, 
<p align=left>
A loyal Zammorock Follower</i>
<p>
<p align=justify>
It saddens me to see life go to waste following the lies of Zamorak, yet it amuses me to see that even his most dedicated followers don't know how to spell his name correctly.<br>
The reason my Holy Symbol is available everywhere, is because it's better. 
<br>I am the greatest, so more people want to show their alleigance to me, so more shops sell it because it is more popular and they will make more money from it.<br>
Yet more proof that I am the greatest god, because I have the most followers. 
<br>It's not too late to change alleigance and glorify me with my stylish Holy Symbol you know, and you're already on the right step by getting my name right!
<p><img src='/img/newsletter/smstones.jpg'>
<p align=left><i>
dear almighty god saradomin, you have blessed us with an excellent way of 
holding our unstackable objects, by means of the certificate... although 
there is one item that i beleive deserves a certificate of its own. the 
bone! i have been scammed once before by someone asking to trade a runite 
two hander (i would only have used it as self defence my lord!) for a 
certain amount of big bones. i could not trade all of the bones at one time, 
so he said half way through he would trade the sword. obviously he kept the 
bones, and weapon for himself. this is why i request bone certificates..so 
others arent scammed the way i was.. certs for dragon bones, bat bones, and 
all of the other many types of bones with wich to praise you with! i also 
hope in the future for more techniques that prayer allows you to do. thank 
you for your time almighty saradomin! until we talk again.. your loyal 
follower -zak1</i>
<p>
<p align=justify>
One of the most ghastly and morbid suggestions I have ever heard... to take the remains of the deceased and instead of giving them peace in their death and glorifying me through their burial, instead defiling them, and using them as some form of currency.<br>
Apart from the health risks associated with storing large quantities of unclean dead objects, I find this idea morally repugnant, and the idea that you would ask for this in order to praise me shocks me to the core.<br>
I suggest you find new ways to revel in my glory, for I will have no part of this macabre scheme.
<p><img src='/img/newsletter/smstones.jpg'>
<p align=left><i>
dear almighty one, i was one day walking around the monks institute when i 
came across many valuble items left lying around.<br>
these items inculded: gold amulet, many coins, bones, amour, swords, and even 
a rune pickaxe!<br>
shall thy gods speech how these collectables were left there?
<p align=left>
your mighty follower, Hmsvictory.
</i>
<p>
<img src="/img/newsletter/treasurepic.jpg" width="448" height="336">
<p>
<p align=justify>
I personally know not, but surmise it was some rich yet morally corrupt adventurer seeking to atone for his sins against me by leaving an anonymous donation with my monks.<br>
Or possibly some unlucky zamorakian fell foul of my followers divine strength by getting too cocky, and ended up the victim to a 'harmless' monks anger.
<p><img src='/img/newsletter/smstones.jpg'>
<p align=left><i>
Greetings oh mighty Guthrix,<br>
I am sending this to you because I can't remember the name of the evil god 
and have no idea how to spell sardomin (and because you are my favourite god 
being the god of balance).<br>
In the next letter to the mere dots of this, us humans, could you tell us a 
bit about gaining, canceling and regain membership in regards to what 
happens to your items and stats.<br>
This what I would like to know:<br>
1. I am currently using the free version and I want to go members. Can I 
upgrade my current account to members? If I can upgrade it do I keep all my 
items, stats ect?<br>
2. Once I become a member for a while and decide to go back to the free 
version can I downgrade my account back to the free version? If I can 
downgrade my account will I keep all my items, stats, ect?
<p align=left>
Thanks to whichever god answers this letter.<br>
Yaho_13
</i>
<p>
<p align=justify>
I will take this question from Guthix, for he knows very little of the ways of men. And when it comes to money, almost nothing (he just can't understand the concept of ownership, I'm afraid), and it is my duty to help where I can.<br>
1. When you become a member you may specify which character you would like the membership to apply to: if you wish to bring your current character to enjoy the new lands and adventures which membership offers, you can. <br>
This is the choice that many people take, and you bring with him all items and wealth so far accumulated.<br>
Also of course, although this option is not as favoured, you can create a new character and begin your explorations of the world anew in the members area.
<p align=left>
2. If you feel that you have seen all that membership has to offer you (although I suspect this will not be a problem for a while, given that the members lands are continuously being explored and mapped, with new adventures and areas to explore being discovered) you can indeed return your character to the smaller free lands with skills and stats intact.<br>
However, if you have items stored in your larger 'members bank' you will not be able to deposit any items until your bank is as small as the 'free bank'.<br>
This is unfortunate, but it is the councils policies regarding interest rates and inflation that compel the First National RuneScape Bank to implement this policy.
<p align=left>
You will also of course be unable to use any of the 'members only' abilities that you may have acquired, such as agility or herblaw, in the 'free lands'.
<p><img src='/img/newsletter/smstones.jpg'>
<p align=left><i>
Hello extreme evil one,
I, a great artist of Runescape, have found it extremely unfair that Saradomin, your sworn enemy, has gotten his picture taken. I take it to heart that you of all gods deserve a picture taken! Here it is, oh evil one:
<p align="center"><img src="/img/newsletter/fanzamorak.jpg" width="154" height="121"></p><p align=left>
<i>Until next time,
Offdaheezie2
</i></i>
<p>
<p align=justify>
It seems when I reclaimed this bag of letters from Zamorak, he inadvertently left a message intended for his eyes inside it.<br>
You have captured his looks very well; and to think he tried to laugh at MY appearance!<br>
How can anyone possibly follow THAT?
<p><img src='/img/newsletter/smstones.jpg'>
<p align=left><i>
Dear oh mighty 1,
<p align=left>
I was wondering if u could make a few more adjustment for the game which is to give more updates for the non-members and to everyday give at least 100 coins to everyone in the game, I would also ask if u can raise my att and def 10 lvl higher. I am forever urs.
<p align=left>
from ur mgihty servent<br>
Acollodude
</i>
<p>
<p align=justify>
Yes. Well. 
<br>Why don't I just set everyones level to 99 and give everyone full rune while I'm at it? Then theres no need to even play the game anymore.<br>
It takes a rare suggestion to make Holy Saradomin resort to sarcasm, you should feel honoured.
<p><img src='/img/newsletter/smstones.jpg'>
<p align=left><i>
Saradomin,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I have long sience been a follower of you on runescape. I would like to mention that my RS file is consistently being hacked and i dont know how or by who. Anger overwhelms me when i realize this. I have lost many rare items (including 3 party hats and 12 million k in cash etc.) i always know my recovery and pw and now have always been changing them. I have thought of quitting many times but i decided to e-mail about this problem. Is there any way possible that you can help me , as i dont know what to do and i would really appreciate some help.<br>
Thank you 
<p align=left>
Lorec21
</i>
<p>
<p align=justify>
My best advice would be to read <a href='/guides/securetips' class="c">THIS GUIDE ON PREVENTING HACKING</a> and follow its instructions well. I would also recommend not using words written as in dictionaries as your password, but instead replacing a few letters with numbers.<br>
Combining both of these pieces of advice should ensure your character lives securely.
<p align=center>
<img src='/img/newsletter/smstones.jpg'><p align=left>
I have spoken at some length now, so I should be getting back to my daily duties, but I have just enough time to answer a few quick queries I have received:
<p align=left>
Princemarcus asks:<i>"I wonder if we would be able to contact this lesser known god, zaros"</i><br>
To which I say: Speak not of Zaros. Mention not his name, nor discuss him. Some things are better left unknown.
<p align=left>
<i>"i think monk bones should give more prayer xp that normal bones."</i> - Apocalypse1<br>
I think killing my followers would make me favour you less, not more.
<p align=left>
<i>"Hi, I think there sould at least be 1 new quest for runscape."</i><br>
So do I. Oh look, one just got released. How lucky.
<p align=left>
<i>"Hi I was wondering when the next Halloween will be in rune scape and is there any more times that u give out free items.?"</i>
<br>Halloween is usually at the end of October, and along with Easter and Christmas sometimes gives players presents from the Council.<br>
You shouldn't necessarily <i>expect</i> to receive any gifts however. the council are frequently absent minded.
<p align=left>
Redk99 says: <i>"I need a map of some kind that shows me where I am in the world."</i><br>
Perhaps <a href='/worldmap' class="c">THIS PAGE</a> will be of interest to you?
<p align=left>
iamblh3 complains <i>"I hate the new fatigue.I`m cursed by it from just walking and picking things up."</i><br>
I think you should see an apothecary as soon as possible for you apparently have a medical condition that no-one else has.<br>
And stay away from me, I'm a busy deity and can't afford to be slowed down with mystery illnesses.
<p align=left>
<i>"I have been trying to find a place where I can get your holy symbol blessed"</i> - GoatGod05<br>
I suggest you go and speak to Brother Jered at the monastery, he is always keen on assisting those wishing to spread my glories across the land by wearing my symbol.
<p align=left>
lightsilver asks <i>"Is it true that runescape is updating to 3D?"</i><br>
Yes, yes it is. I suggest you check the News & Updates section of the site a little more regularly...
<p align=left>
<i>"we where hoping that you would make an update that allows crafters to make gold coins from gold bars"</i> - bite9611111<br>
Forgery is a serious crime, and only those coins minted by the respective Fief are legal tender. If forgery were not a serious crime here on RuneScape the economy would surely have been destroyed by a certain spell known as high level alchemy by now...
<p align=center>
<img src='/img/newsletter/smstones.jpg'>
<p align=justify>
And so I must leave you once more my friends. Live true, live honest, live well.
<p align=center>Strength through wisdom, 
<p align=justify>&nbsp;&nbsp;&nbsp;Saradomin   
<p align="justify"><font color="white"><i><font size="1">DISCLAIMER: The views
of Saradomin do not reflect the views of Jagex Ltd or it's employees. We tried to stop him saying anything controversial, but he is a god. If you would like to contact
 him however...</font></i></p>

<center><font color="white"><font color="white"><font color=
"white"><font color="white"><font color="white"><font color=
"white"><font color="white"><i><img src='/img/newsletter/email.gif' width="289"height="19"></i></font></font></font></font></font></font></font></center>
</center>
</td>
</tr>
</table>

<!--end content body--><br>
</center>
</td>
</tr>
</table>
<!-- end content table -->
<!-- border footer-->
<table cellpadding="0" cellspacing="0">
<tr>
<td valign="bottom"><img src=
"/img/edge_g2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
<td valign="bottom">
<div align="center" style=
"font-family:Arial,Helvetica,sans-serif; font-size:11px;">This
webpage and its contents is copyright 2004 Jagex Ltd<br>
 To use our service you must agree to our <a href=
"/terms" class="c">Terms+Conditions</a> + <a href=
"/privacy" class="c">Privacy policy</a></div>

<img src="/img/edge_c.jpg" width="400"
height="42" hspace="0" vspace="0"></td>
<td valign="bottom"><img src=
"/img/edge_h2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
</tr>
</table>

<!-- border footer--></center>
</td>
</tr>
</table>
</body>
</html>

