<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
<!--
--></head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->
<!-- content table-->
<table width="600" cellpadding="0" cellspacing="0" border="0"
background="/img/background2.jpg">
<tr>
<td valign="bottom">
<center><br>
 <!-- title box --> 
<table width="250" bgcolor="black" cellpadding="4">
<tr>
<td class="e">
<center><b>Letters #19 - Guthix Embraces Change</b><br>
 <a href="/title" class="c">Main menu</a> - <a href=
'/varrock/letters' class="c">Archive Index</a></center>
</td>
</tr>
</table>

<!-- end title box --><br>
 <!-- content table --> 
<table width="500" bgcolor="black" cellpadding="4" border="0">
<tr>
<td class="e" width="500">
<center>
<center><b>Guthix Embraces Change</b></center>

<table><tr><td>
<p align="justify"><font color="white"><b>RUNESCAPES' EVER ELUSIVE NATURE DEITY HAS MANIFESTED HIMSELF ONCE MORE, TO TAKE ON THE QUESTIONS DEMANDED BY HIS FOLLOWERS: WOULD HE MAKE AN EVIL SILVERLIGHT? WHY IS IT COLD UP NORTH? WHAT IS THE POINT OF WORSHIPPING GUTHIX ANYWAY? ALL THESE AND MORE ARE ANSWERED IN LETTERS 19!
</b></font></p>
</td>
<td>
<p align="center"><img src='/img/newsletter/guthix.jpg'></p>
</td></tr></table>
<p align=justify>
Salutations, mine followers! As perhaps thou hath already noticed, mine experiment upon this land continues apace and the land itself shines with renewed vigor. So, in the pause I take to let things settle, I hath returned to physical form in order to answer some of thy queries.<p>

<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify>
<p align=justify><i>
Dear Guthix,
  You say you are the god of neutrality and balance, but in my long search 
through runescape I have found only three of the basic elements of nature. Fire, 
Earth, and Water,
but I have never found the greatness and majesty of Wind, why?
<p align=justify></i>

I am indeed puzzled by the claim, for long hath I considered Wind Strike to be the foundation upon which all mages build the castle of their knowledge; although thou seem to have made a slight error in thy claim, for the element is not the wind, but the air itself; a far more potent power indeed.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Guthix,

Because I enjoy reading history, and there has yet to be any recent historic 
finds or updates to the library, what can you tell me about Zaros or other 
gods? I know you are reluctant to speak of them, but if Zamorak is evil, 
does Zaros make him look like a god who was compassionate and caring? I have 
a lust for history and knowledge of previous gods. And how are you brothers 
with Saradomin and Zamorak if you were on this "plane" before them? Or are 
all divinities brothers an sisters?
<p align=justify>
Strength through knowledge,<BR>
Tryckster
<p align=justify></i>
Thy first question I cannot answer, for I know not of the being thou speak of. Certain events that occurred during my slumber are unknown to me, for my mind was occupied elsewhere in my slumber, and I had but tangential influence and knowledge of the events of this land. The name seems almost familiar, and I hath a feeling that there are reasons why I should know it, but alas, truthfully I do not.
<p align=justify>
As to thy secondary question, the term of brother towards my fellow deities is an honorific rather than a familial one, for our past ancestrys are mightily different, yet I call all deities on this world brother or sister, for this is the closest term that humans have to describe our relationship.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
hail gothix,
 <p align=justify>
first i want to say that im not a follower of any of the gods reason is i dunno who to trust most :P and sayin that i have 2 questions which i would like a decent answer for, and any of the gods may answer this:
 <p align=justify>
1. in the last letter[letter 16] u said that dwarves learn the superheat item* spell at early age, but it is widely known that dwarves dislike and dont even use magic at all...??!!??
 <p align=justify>
2. it may not be neccessary cus we can buy runes at some magic shops and many monsters drop them, but would it sound weird for at least high Wizards to make their own runes or is it more weird that they actually cant...??!!??
 <p align=justify>
thx in advance,
 <p align=justify>
Kattana
<p align=justify></i>
In answer to thy queries;<BR>
1) That which is widely known is not necessarily true, just as truth is not always widely known. The dwarves are a highly noble and intelligent race. They know of the benefits that magic doth bring to the metallurgical arts, and use such spells accordingly.
<p align=justify>
2) Thou mayest have noticed that there hath been a minor explosion in the quantity of runes available throughout the world recently. I hath been informed that a lost skill hath been resurrected, but I know not the reason why this secret hath now been shared, nor the purpose for which those behind this discovery plot towards.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Dear god of many words,
 <p align=justify>
    I have heard many rumors of the new world of runescape (Rs2) that is being created, many of which I admire and ones I only wish weren't true. Thus the rumor goes "one can make rings which hold certain "hidden" powers as all other amulets do." I would be great if you would clear this up for all of us unwise beings. its hard writing like that, seriously :|
 <p align=justify>
xxxDookyxxx
<p align=center><img src='/img/newsletter/Magic_Ring_01.jpg'></center>
<p align=justify></i>
I see many things, and from different moments of time. I think thou will be glad to hear that such items will indeed be obtainable upon this land, although as to a timeframe, I am afraid I canst not be more specific.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
To guthix
<p align=justify>
if you gave the silverlight its power, then shouldn't
it affect all creatures good or evil.. or is there a
sword that weakens "good" creatures.
<p align=justify></i>  


<table><tr><td>
Rest assured loyal follower that if a creature of the magnitude of power of Delrith yet of opposite alleigance should try and force himself upon this world, I will personally take steps to imbue such power as I may to prevent it. <br>
Whether this be by indirect intervention, such as the empowerment of a weapon beyond other weaponry, or by a direct appearance on my part I cannot say. 
</td><td>
<img src='/img/newsletter/Silverlight.jpg'></td></tr></table>

Thou canst not measure the appropriate response to a situation until that situation hath occurred; this is the nature of balance.


<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Almighty Guthix,
       I am a great believer in thy philosophy of balance, but yet there is something i canst not understand:<BR>
       You say you have been "slumbering" while Saradomin and Zamorak, and all the other Gods, came into Runescape and changed it. If you are so keen on balance, why did you stay asleep for so long, and let them disrupt the balance so much in our Runescapian World? Were you tired from balancing things? Or had you just survived a battle to the death with another God, trying to claim ownership of Runescape?
<p align=center>
       Yours, in reverence
<p align=center>
       James1 
<p align=justify></i>

I know for many mortals sleep doth exist only as periods of inactivity, but this is not true of myself. <br>
Mayhap the word slumber was an inexactitude of mine; as thou may know of me, I find the language of mortals problematic, just as understanding the message of the wind, or the songs of sand wouldst be difficult for you. My slumber was the slumber of the caterpillar as it becomes the butterfly, or the slumber of acorns as they dream of oaks. <p>
It consumed my attention wholly, for I was gathering and focussing mine power in preparation. Mine rest was not a case of lack of consciousness, rather it was a focus of concentration so great as to exclude all other activity by myself.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Dear Guthix
<p align=justify>
I Have a Question For You:
<p align=justify>
 In One Of Your Previous Replies You Spoke Of A Makeover Mage, I Was Just Wondering Where Is He, And Do You Have To Be A Member For Him To Use His Magic On You
<p align=justify>
From Your Follower, Monknight
<p align=justify></i>

I am sure thou will be gladdened by mine reply that the sorceror known as the 'make-over mage' hath his abode in the area known as the 'free lands'.<br> 
Thou may find his dwelling somewhat West of Falador, near to the guild of craftsmen. <br>
Those wishing to change their clothing would be advised to visit the clothes shop in Varrock and asking about make-overs, just as those wishing to change their hair should make haste towards the hairdresser at Falador.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Dear Guthix,
 <p align=justify>
     Earlier I was at the Ice Plateau, collecting cosmic runes.  I started thinking to myself, as I heartily slaughtered Ice Giants, why do they have Bananas?  And then it hit me...  Why is there even an Ice Plateau?  Nowhere else in the wilderness is icy... did the great explorers forget to salt it?  Does Zamorak's fire not reach this place?  I'd like to know why it exists.
<p align=justify></i> 

No fire, even the persistent remains of the wilderness war, may warm the cold ice wastelands of the north. This spot thou speak of in the Wilderness is the furthest north many inhabitants have ever ventured... but it is not the only land this far north to visit, as I feel sure thou will shortly discover...

    
<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
ok any god can u plz answer wat the heck are those 4 fires in the dwarven mines for there r rumers that members can use them as furnaces but i cant even thought im a memeber well why r they there
<p align=justify></i>
The fires which thou speak of are partly for the daily consumption of food by the hungry miners, partly as a beacon home for the dwarves who dig the fresh tunnels that are not yet lit and connected to the main are, and partly to keep their home safe from the scorpions that infest those tunnels, who are known to dislike flames.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Dear whomever god is out there....<br>
I hath been searching for many years now for a picture of either Saradomin, Zamorak or Guthix...... so far i hath found none! Is there any pictures of thy selfs around this world?<br>
Or will there be another battle between saradomin or zamorak... One we can witness....Will we ever witness your presence?
 <p align=justify>
From The "God in Training"<br>
Newbhelper 
<p align=justify></i>

As much as the praise of my likeness embarrasses mine senses, I know full well that there are various representations of mine form across these lands, from long ago when I travelled this world more openly, and interacted with its' inhabitants more. <br>
As for my visage, thou may see it represented at the start of this letters page - so too may thou find representations of my brothers scattered around the world as well as in their letters to their followers.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Oh balanced Guthix:
 <p align=justify>
as i was talking along the white mountain i saw a gnome baller at the base of the mountain. he seem to be stuck or something and whem i tried to talk to him it said he doesn't have the ball,
ans the i tied to attack him and it said i can't thats cheating. I know it's cheating but his ot playing the gnome ball game, what's up with that? And one more thing, how do you feel about the quest sheep herder? i mean you love sheeps and we killed the plagued sheeps even though they didn't have the plague.
 <p align=justify>
A believer in balance<br>
Supnov3
<p align=justify></i>

I know the Gnomeballer of which thou speak; he is an honest lad, virtuous and true, yet if his intellect were a flame he would hath not the heat to cook some shrimp. Frequently when his coach tells him to 'go wide' (as the phrase has it) his enthusiasm for the game carries him beyond the limits of what most players would consider a sensible position.<p>
As for the quest requiring the murder of innocent sheep, I approve all acts made in the name of balance.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Where's Reldo?
 <p align=justify>
Yeah we know he's the librarian of Varrock but I can't seem to locate this library let alone get a chance to talk to this influential and knowledgable person. Is he invisible? Or just a figment of the people's imagination...the library doesn't even exist! Maybe he would have a quest for the people who read his work...if only we could meet him in person.
<p align=justify></i>

Reldo can be found within the confines of Varrock Castle, unsurprisingly within the library, and he indeed hath a quest for those willing to speak to this man of gentle learning. He also provides information necessary for a secondary quest which thou may come across later in thy travels. 

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Oh holy one of balance - <br>
In an earlier letter response, you stated that the true name of of the land was "Geilenor." If this is true, why do all the signs on the banks state "The Bank of Runescape"? Even if Runescape is a more common name to its inhabitants, you dont call Fallador "the town down the road," so why call Geilenor "Runescape?"
 <p align=justify>
One confused follower - <br>
Wizardgir
<p align=justify></i>
<table><tr><td><img src='/img/newsletter/Earth_and_Sun_01.jpg'></td><td>
Gielenor is the 'true' name of this land, yet it doth not roll from the tongue so easily, and hath been superceded in popularity by the more common 'RuneScape'. <br>
It is similar to the way that there is a planet I know of whose real name is 'Terra', orbiting a star named 'Sol', yet to it's inhabitants it be more commonly referred to as 'Earth' and orbits the unoriginally named 'Sun'.
</td></tr></table>
<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
To the Unsidely One
<p align=justify>
I hath scoured the free lands of Rnescape and still have failed to locate the 2-hander store of which sarardomin hath mentioned. I am pondering it's location and i am currently in the beliefs it is placed in the members land. Could i have thee acknowledge this if it is indeed true? And if it is, I believe that it is unfair.
<p align=justify>
Baddle Axe (Weakling of the World)
<p align=justify></i>

Thy belief may be questioned, but the shop of two-handed specialty doth indeed lie on the more expensive land of the great divide. If blame must be attached, it must be attached to the owner of this shop, for he claims he placed his business there as more people on that side of the barrier have money to freely spend on fripperys such as blades, while those on the other side are more likely to toil for their needs in the mines or smitherys.<br>
I know not if his claims be true, I know only that I repeat what hath been stated by him.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
oh mighty ones in the sky
<p align=justify>
how we look up at the stars wondering where you are, a
poet once said that "the heart is the unit by which we
are all measured" the average runescapians heart beats
around 100,000 times a day, how many times does your
heart beat?
<p align=justify>
seeking guidence through experience
<p align=justify>
~Lord Duckman~
<p align=justify></i>

One full year of this planet is the equivalent of one heart beat for myself, although the parallel is flawed for I hath no heart and do not breathe.<br>
Mine is the scale of planets, dancing and circling the cosmos, of continents rising and falling, and of mountains growing. As thou may imagine, I find it hard to accurately measure time upon a smaller scale than this.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
I have a few qustions for thee
<p align=justify>
1. is that picture at the top of your letters really what you look like?
<p align=justify>
2. i am having a bit of trouble choosing which god to follow as far as you go i prefer balence to anything else and you are the greater of the 3, and for zamorak i don't really like him although his answers to letters are the most amusing, and as saradomin goes it seems he is the only god that's ever done anything for us here in the current world (i don't mean to diminish your keeping nature balenced but providing us with a skill or hlepful item of your own wouldst certainly be nice)
<p align=justify>
3. do you like monkeys? 
<p align=justify>
STEELE686

<p align=center><img src='/img/newsletter/altar_01.jpg'></center>

<p align=justify></i>
The picture at the start of this letters page is an approximation of the form I currently choose to take. I have no set form, and appear differently to different beings, for my true form is not precisely of this world, and the thoughts and beliefs of the viewer can influence not only their perception but my very physicality itself.<br>
If thou hath a strong belief of what I <i>should</i> look like, then thou mayst find that if thou ever encounter me in the solid, that I indeed <i>do</i>...
<p align=justify>
As for the beings known as monkeys, I hath no particular inclination either way - in many ways they remind me of humans in that respect.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Most honorable Lord of Balance
<p align=justify>
So far in my Runescape life I have been agnostic.  I have 
recently begun reading the responses you so graciously write 
to your followers, and I have chosen to become one of them.  
With that said I have but one question.  What do you require 
of those who call you their Lord?
<p align=justify>
Angry Sea Bass
<p align=justify></i>

Belief in the power of balance, and a striving towards that goal in all that thou accomplish are the only beliefs I demand of mine followers. All else is pomp and folly created by those whose interests lie in themselves, not in the glory of balance.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Dear whichever-deity-happens-to-be-stuck-with-mail-duty-at-this-time:
<p align=justify>
 

I recently took a look in the Library of Varrock to read up on the history of Runescape. I noticed that Reldo had difficulty finding information about the first four ages of the land. So, I thought I?d ask the gods of Runescape. After all, gods are the alpha and the omega, the beginning and the end, right? So maybe somewhere in the memory banks of you higher powers is some solid information concerning the first four ages of Runescape? 
<p align=justify>
 

*Insert thankful-type letter signature thingy here*,
<p align=justify>
Rune Cloud 7
<p align=justify></i>

Much of the time thou speak of is a void to mine recollection, for I was elsewhere occupied. I know that both Zamorak and Saradomin were active upon this world (more active than they hath been since then, certainly) yet their endless quarrelling and secrecy may mean that thou must search hard for information about these ages.
<p align=center><img src='/img/newsletter/jagexbook_01.jpg'></center> 
<br>
Or perhaps thou may choose to wait, for Reldo is as diligent as historian as he is a caretaker of information, and I know that he actively seeks for information regarding these ages.



<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
Oh great and mighty Guthix,
<p align=justify>
I have a few questions I would like to inquire from your almighty knowledge. 
<p align=justify>
1) I have no idea which god to side with. Zamorak? Saradomin? You? Or stick with being an atheist? 
<p align=justify>
2) You claim the Saradomin does things out of his own selfishness. How can that be true if he is the one who only seeks peace and not chaos?
<p align=justify>
3) How did you gods appear in the first place? Were you created by some sort of 'being' first?
<p align=justify>
4) You are a floating skull with tendrils sticking out right? What are those for? Don't you feel weird being the only god without a physical form?
<p align=justify>
5) Final question. You, Saradomin and zamorak are brothers, right? Who is your father then and why do all of you look so different?
<p align=justify>
I hope you can impart some of your great wisdom to me.
<p align=justify>
Your most confused follower,
<p align=justify>
Atroplex
<p align=justify></i>

I will attempt to answer thy queries as best I can;<br>
1) Thou should make thy choice according to thine own nature; in truth thou do not make the choice at all, for thine own morality hath already made it long ago. This is the way balance is preserved, and I will not try and influence thy choice one way or the other.
<p align=justify>
2) Saradomin may truly believe that his motives are pure, and that he doth seek only order upon this land, but order cannot exist without the counterpoint of chaos to define that order. <br>
I view Saradomin differently than he himself perceives things, and all I can see of his desires is the need for control; this is not a pure intention, and to mine eyes makes him little different from his brother Zamorak.
<p align=justify>
3) I exist because I must exist; if I did not, then I would be created again, for the universe requires balance in all things.<br> 
Many of the deities of this land also exist because their function is required to fulfill the roles they do.
<p align=justify>
4) I am one with nature, and as such mine appearance doth change with the thoughts of the viewer; just as if you asked a bird and a fish what this planet looks like, thou wouldst recieve very different answers, both true in their way, yet missing the insight of the other. So too is my presence upon this realm.<br>
Physical presence is an aspect of my being, yet it is only needed where physical presence is necessary; to say I hath not this presence is to underestimate mine influence.

<p align=center><img src='/img/newsletter/smstones.jpg'>
<p align=justify><i>
To Guthix,<br>
I am still searching for the right god for me and I was wondering... Do we get anything special for worshiping you guys? Like a stregnth bonus or maybe we can get things for cheaper at stores or something like that.<br>
>From the divine searcher,<br>
warlizard25
<p align=justify></i>

I canst speak not for other deities of this land, but from me thou recieve only the self satisfaction that thy cause is true, and that balance will be served by thine decision.


<p align=center><img src='/img/newsletter/smstones.jpg'><p align=justify>

Long hath I tarried here answering thy queries, and time works against me once more, for I hath many things to do in preserving the precarious equilibrium of this world. <br>
So I must leave thee once more, to ponder upon my sayings, and perhaps to glean truths from them. Until next we meet;

<p align=center>Balance Is Power!
<p align=justify>    
&nbsp;&nbsp;&nbsp;<font color=green><b>Guthix</b></font>
<p align="justify"><font color="white"><i><font size="1">DISCLAIMER: The views
of Guthix do not reflect the views of Jagex Ltd or it's employees. We tried to
prevent him giving away our secrets, but he is a god. If you would like to contact
 him however...</font></i></p>

<center><img src='/img/newsletter/gutemail.jpg' width="280"height="20"></center>
</center>
</td>
</tr>
</table>

<!--end content body--><br>
</center>
</td>
</tr>
</table>
<!-- end content table -->
<!-- border footer-->
<table cellpadding="0" cellspacing="0">
<tr>
<td valign="bottom"><img src=
"/img/edge_g2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
<td valign="bottom">
<div align="center" style=
"font-family:Arial,Helvetica,sans-serif; font-size:11px;">This
webpage and its contents is copyright 2004 Jagex Ltd<br>
 To use our service you must agree to our <a href=
"/terms" class="c">Terms+Conditions</a> + <a href=
"/privacy" class="c">Privacy policy</a></div>

<img src="/img/edge_c.jpg" width="400"
height="42" hspace="0" vspace="0"></td>
<td valign="bottom"><img src=
"/img/edge_h2.jpg" width="100" height="82"
hspace="0" vspace="0"></td>
</tr>
</table>

<!-- border footer--></center>
</td>
</tr>
</table>
</body>
</html>

