<html><head><META HTTP-EQUIV="Expires" CONTENT="0"><META HTTP-EQUIV="Pragma" CONTENT="no-cache"><META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"><meta name="MSSmartTagsPreventParsing" content="TRUE"><title>RuneScape - the massive online adventure game by Jagex Ltd</title><STYLE>BODY, TD, P{ font-family:Arial,Helvetica,sans-serif; font-size:13px;}.b {border-style: outset; border-width:3pt; border-color:#373737}.b2 {border-style: outset; border-width:3pt; border-color:#570700}.e {border:2px solid #382418}.c {text-decoration:none}A.c:hover {text-decoration:underline}.white {text-decoration:none; color:#FFFFFF;} .red {text-decoration:none; color:#E10505;} .lblue {text-decoration:none; color:#9DB8C3;} .dblue {text-decoration:none; color:#0D6083;} .yellow {text-decoration:none; color:#FFE139;} .green {text-decoration:none; color:#04A800;} .purple {text-decoration:none; color:#C503FD;} .pink {text-decoration:none; color:#FAA8AA;} A.c:hover {text-decoration:underline} A.white:hover {text-decoration:underline} A.red:hover {text-decoration:underline} A.lblue:hover {text-decoration:underline} A.dblue:hover {text-decoration:underline} A.yellow:hover {text-decoration:underline} A.green:hover {text-decoration:underline} A.purple:hover {text-decoration:underline} A.pink:hover {text-decoration:underline} </STYLE>  </head><body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 style="margin:0"><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center><table cellpadding=0 cellspacing=0><tr><td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td></tr></table><table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom><center><table><tr><td><table bgcolor=black cellpadding=1><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><a href='/news/177'><img src=/img/prevpage.gif border=0 width=74 height=35></a></center></td></tr></table></td><td width=40>&nbsp</td><td valign=bottom><table width=250 bgcolor=black cellpadding=4><tr><td class=e><center><b>Latest Game Updates News</b><br><a href="/title" class=c>Main Menu</a></center></td></tr></table></td><td width=40></td><td><table bgcolor=black cellpadding=1><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><a href='/news/173'><img src=/img/nextpage.gif border=0 width=74 height=35></a></center></td></tr></table></td></tr></table><img src='/img/title/blank.gif' width=1 height=3><br><center><a href='/news?cat=0' class=white>All Categories</a> - <a href='/news?cat=1' class=red>Game Updates</a> - <a href='/news?cat=2' class=lblue>Website</a> - <a href='/news?cat=3' class=yellow>Customer Support</a><br><a href='/news?cat=4' class=dblue>Technical</a> - <a href='/news?cat=6' class=purple>Behind the Scenes</a><br><img src='/img/title/blank.gif' width=1 height=3><br><table width=500 bgcolor=black cellpadding=4><tr><td class=e><center><b>10th February 2004 - More RS2 Quests + Fixes</b></center><br>Today we have made many more changes and additions to Runescape 2.
<p>
We have added the following quests<br>
Treevillage<br>
Scorpion Catcher<br>
Digsite<br>
Sheep Herder<br>
<p>
We have added the rest of the wilderness including the mage arena and the wilderness agility course.
<p>
You can now craft cosmic runes, nature runes and chaos runes. If you can find the rare talismans to do so.
<p>
We added some fun new features to the Seers Village party hall.
<p>
We have sped up the following aspects of game play<br>
Eating food<br>
Drinking potions<br>
Death animations<br>
<p>
We shrunk the chat font so you can see more text at once.
<p>
Made &#039;attack&#039; a left-click option for weaker npcs and a right-click option for stronger npcs
<p>
Made the chat messages above the players heads automatically try to avoid overlapping each other
<p>
Added bank notes (see today&#039;s other news post)
<p>
We have fixed the following bugs:
<p>
Fixed: If you dropped your fishing equipment your fishing animation would continue anyway<br>
Fixed: When putting dwarf weed into a vial you were told you were adding Tarromin<br>
Fixed: You could walk on the water near the observatory<br>
Fixed: You couldn&#039;t open the chests in Ardougne castle<br>
Fixed: The circle of stone in monks friend didn&#039;t show up in low detail mode<br>
Fixed: The crafting xp quest reward for murder mystery was too high<br>
Fixed: There were some none stackable coins in Varrock bank vault<br>
Fixed: Once players had completed the grand tree quest they couldn&#039;t access the area under the tree<br>
Fixed: You could get a negative weight bonus from boots of lightness without wearing them<br>
Fixed: Various quest items were tradeable when they weren&#039;t meant to be<br>
Fixed: Finishing the watch tower quest didn&#039;t work properly<br>
Fixed: You could only fish when you were right next to the fishing spot<br>
Fixed: The roof of the north Ardougne bank didn&#039;t line up correctly<br>
FIxed: The unholy symbol of Zamorak didn&#039;t have any stats bonuses<br>
Fixed: The Ardougne teleport used up 3 water runes instead of 2<br>
Fixed: You could walk in mid air by going up a ladder from the wrong side in Ardougne windmill<br>
Fixed: The doors under the waterfall were called waterfall_ledge_door_right and waterfall_ledge_door_left<br>
Fixed: The climbing shortcut out of Yanille didn&#039;t work properly<br>
Fixed: Cannons and cannonballs were untradable<br>
Fixed: The agility areas were not giving enough xp<br>
Fixed: The make over mage caused you to lose your beard when changing your skin colour<br>
Fixed: There was a copy of brother Cedric wandering the Khazard battlefield<br>
Fixed: It was possible to attack fishing spots with magic<br>
Fixed: Your character would only attempt to get rune essence once, but would continue the mining animation anyway<br>
Fixed: If you put a cat on a table it would appear as just a head<br>
Fixed: Teleporting to the rune essence from the magic guild took you back to the wizards tower<br>
Fixed: You could not get out the southwest entrance of Ardougne Zoo<br>
Fixed: Fishing/mining animation clipping problems<br>
Fixed: Routefinding around end of bridges<br>
Fixed: Bug with bank screen contents overflowing over the edge of the interface<br>
Fixed: Bug with players sometimes going invisible after a reconnect<br>
Fixed: Several bugs which stopped some scenary animations working properly<br>
Fixed: Tower guards dropped big bones<br>
Fixed: Monks friend quest did not go green when completed<br>
Fixed: You could get 200 worms at once when pickpocketing gnomes<br>
Fixed: With many agility pipes, you were told were already being used whenever you tried to go through them.<br>
Fixed: Your character would only attempt to get shark or lobster once, but would continue the fishing animation anyway<br></td></tr></table><p></td></tr></table><table cellpadding=0 cellspacing=0><tr><td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td><td valign=bottom><div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">  This webpage and its contents is copyright 2004 Jagex Ltd<br>  To use our service you must agree to our  <a href="/terms" class=c>Terms+Conditions</a>  +   <a href="/privacy" class=c>Privacy policy</a>  </div>  <img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td></tr></table></center></td></tr></table></body></html>