<html><head><META HTTP-EQUIV="Expires" CONTENT="0"><META HTTP-EQUIV="Pragma" CONTENT="no-cache"><META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"><meta name="MSSmartTagsPreventParsing" content="TRUE"><title>RuneScape - the massive online adventure game by Jagex Ltd</title><STYLE>BODY, TD, P{ font-family:Arial,Helvetica,sans-serif; font-size:13px;}.b {border-style: outset; border-width:3pt; border-color:#373737}.b2 {border-style: outset; border-width:3pt; border-color:#570700}.e {border:2px solid #382418}.c {text-decoration:none}A.c:hover {text-decoration:underline}.white {text-decoration:none; color:#FFFFFF;} .red {text-decoration:none; color:#E10505;} .lblue {text-decoration:none; color:#9DB8C3;} .dblue {text-decoration:none; color:#0D6083;} .yellow {text-decoration:none; color:#FFE139;} .green {text-decoration:none; color:#04A800;} .purple {text-decoration:none; color:#C503FD;} .pink {text-decoration:none; color:#FAA8AA;} A.c:hover {text-decoration:underline} A.white:hover {text-decoration:underline} A.red:hover {text-decoration:underline} A.lblue:hover {text-decoration:underline} A.dblue:hover {text-decoration:underline} A.yellow:hover {text-decoration:underline} A.green:hover {text-decoration:underline} A.purple:hover {text-decoration:underline} A.pink:hover {text-decoration:underline} </STYLE>  </head><body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 style="margin:0"><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center><table cellpadding=0 cellspacing=0><tr><td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td></tr></table><table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom><center><table><tr><td><table bgcolor=black cellpadding=1><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><a href='/news/203'><img src=/img/prevpage.gif border=0 width=74 height=35></a></center></td></tr></table></td><td width=40>&nbsp</td><td valign=bottom><table width=250 bgcolor=black cellpadding=4><tr><td class=e><center><b>Latest Game Updates News</b><br><a href="/title" class=c>Main Menu</a></center></td></tr></table></td><td width=40></td><td><table bgcolor=black cellpadding=1><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><a href='/news/197'><img src=/img/nextpage.gif border=0 width=74 height=35></a></center></td></tr></table></td></tr></table><img src='/img/title/blank.gif' width=1 height=3><br><center><a href='/news?cat=0' class=white>All Categories</a> - <a href='/news?cat=1' class=red>Game Updates</a> - <a href='/news?cat=2' class=lblue>Website</a> - <a href='/news?cat=3' class=yellow>Customer Support</a><br><a href='/news?cat=4' class=dblue>Technical</a> - <a href='/news?cat=6' class=purple>Behind the Scenes</a><br><img src='/img/title/blank.gif' width=1 height=3><br><table width=500 bgcolor=black cellpadding=4><tr><td class=e><center><b>25th March 2004 - RS2 - Duelling and Extras</b></center><br><b>Duelling </b>
<p>
We have added duelling for members to Runescape 2!
<p> 
Duelling takes place in the new Duel Arena northeast of Al Kharid. There
are six duel arenas which are surrounded by walkways, from which you can
challenge other players and watch the duels.  
<p>
When you challenge someone to a duel, you will be given a duelling options screen so you can determine between yourselves the stake for the duel and the type of duel that you wish to have.
<p> 
 There are lots of new options for you to try out, most should be self-evident. 
<li>No Forfeit means that you can&#039;t chicken out and have to fight to the death; you can normally  forfeit (and automatically lose) a duel by leaving through a trap door in an arena.
<li>No Movement turns off any movement; by default you can move anywhere within your arena while duelling.
<li>Obstacles gives you a choice between the types of arena you would like - either a plain arena or an arena with  obstacles in it that may help Rangers and Mages. </li>
The other options are: No Weapons, No Armour, No Ranged,
No Melee, No Magic, No Potions, No Food, No Prayer.
<p>
Once you have chosen your options you will be taken to an appropriate arena. Your opponent will be indicated by a yellow arrow over their head.
<p>
When you are watching a match you can lean on a wall by clicking on it. Your camera will move to a nice angle so you can watch the action. As soon as you walk somewhere it will turn off again.<br> 
Fadli, who is at the entrance to the Duel Arena, can look after your stuff whilst you are duelling.  After a duel has finished both the winner and the loser will respawn at the hospital at the side of the arenas where the nice nurses will make sure you are at full health for your next duel.
<p>
<i><b>Please be aware: We have opened a specific section of our forum purely for issues relating to the duelling arena, please do not contact Customer Support regarding it as they will be unable to help.</i></b>
<p>
<b>Changes to pickpocketing</b>
<p>
Following feedback from beta testers we have now made some adjustments to pickpocketing.<br>
Now when you are caught thieving the npc gives a small set amount of damage and then stops fighting you. You are left stunned for a few seconds during which time you can&#039;t move or do more pickpocketing.<br> After that you can continue to pickpocket the npc as before.
 <p>
We have also fixed the following bugs:
 <p>
<li>Fixed: If you entered the rune essence from a p2p area then tried to leave on f2p server you got stuck.
<li>Fixed: You could smith studs on free servers.
<li>Fixed: Crafting xp for some dragonhide items which required muliple pieces of leather was too low.
<li>Fixed: You could lose ownership of your kitten by logging out while fishing.
<li>Fixed: One of the characters in the observatory quest would give you a half full jug of wine.
<li>Fixed: The shilo village bridge didn&#039;t show up on low detail mode.
</td></tr></table><p></td></tr></table><table cellpadding=0 cellspacing=0><tr><td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td><td valign=bottom><div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">  This webpage and its contents is copyright 2004 Jagex Ltd<br>  To use our service you must agree to our  <a href="/terms" class=c>Terms+Conditions</a>  +   <a href="/privacy" class=c>Privacy policy</a>  </div>  <img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td></tr></table></center></td></tr></table></body></html>