<html><head><META HTTP-EQUIV="Expires" CONTENT="0"><META HTTP-EQUIV="Pragma" CONTENT="no-cache"><META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"><meta name="MSSmartTagsPreventParsing" content="TRUE"><title>RuneScape - the massive online adventure game by Jagex Ltd</title><STYLE>BODY, TD, P{ font-family:Arial,Helvetica,sans-serif; font-size:13px;}.b {border-style: outset; border-width:3pt; border-color:#373737}.b2 {border-style: outset; border-width:3pt; border-color:#570700}.e {border:2px solid #382418}.c {text-decoration:none}A.c:hover {text-decoration:underline}.white {text-decoration:none; color:#FFFFFF;} .red {text-decoration:none; color:#E10505;} .lblue {text-decoration:none; color:#9DB8C3;} .dblue {text-decoration:none; color:#0D6083;} .yellow {text-decoration:none; color:#FFE139;} .green {text-decoration:none; color:#04A800;} .purple {text-decoration:none; color:#C503FD;} .pink {text-decoration:none; color:#FAA8AA;} A.c:hover {text-decoration:underline} A.white:hover {text-decoration:underline} A.red:hover {text-decoration:underline} A.lblue:hover {text-decoration:underline} A.dblue:hover {text-decoration:underline} A.yellow:hover {text-decoration:underline} A.green:hover {text-decoration:underline} A.purple:hover {text-decoration:underline} A.pink:hover {text-decoration:underline} </STYLE>  </head><body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 style="margin:0"><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center><table cellpadding=0 cellspacing=0><tr><td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td></tr></table><table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom><center><table><tr><td><table bgcolor=black cellpadding=1><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><a href='/news/108'><img src=/img/prevpage.gif border=0 width=74 height=35></a></center></td></tr></table></td><td width=40>&nbsp</td><td valign=bottom><table width=250 bgcolor=black cellpadding=4><tr><td class=e><center><b>Latest Behind the Scenes News</b><br><a href="/title" class=c>Main Menu</a></center></td></tr></table></td><td width=40></td><td><table bgcolor=black cellpadding=1><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><a href='/news/93'><img src=/img/nextpage.gif border=0 width=74 height=35></a></center></td></tr></table></td></tr></table><img src='/img/title/blank.gif' width=1 height=3><br><center><a href='/news?cat=0' class=white>All Categories</a> - <a href='/news?cat=1' class=red>Game Updates</a> - <a href='/news?cat=2' class=lblue>Website</a> - <a href='/news?cat=3' class=yellow>Customer Support</a><br><a href='/news?cat=4' class=dblue>Technical</a> - <a href='/news?cat=5' class=green>Community</a> - <a href='/news?cat=6' class=purple>Behind the Scenes</a><br><img src='/img/title/blank.gif' width=1 height=3><br><table width=500 bgcolor=black cellpadding=4><tr><td class=e><center><b>16th June 2003 - New RS Engine Progress</b></center><br><body bgcolor=black text=white><font color=white>
I know lots of you are wondering how the RuneScape engine update is progressing
so I&#039;ve taken a few minutes to update my progress chart with the latest figures.
<p>
This is my personal progress chart, and so only show aspects of the update that I am working on.
We&#039;ll probably get some of the other staff who are converting the maps and quests, to post
their own progress reports too.
<p>
Andrew

<p>
<hr>
<p>

<b>Andrew&#039;s progress chart for RuneScape-Engine-Update</b>
<p>
<font color=white>White numbers indicate progress as of 27th Apr</font><br>
<font color=yellow>Yellow numbers indicate updated progress as of 16th Jun</font><br>
<p>

Please note you can&#039;t easily work out a release date from these numbers since the tasks
are not all the same size or difficulty. For example the script interpreter
is probably as complex as all the secondary tasks put together since it controls
every single aspect of the game.
<p>
Not only are the tasks different sizes, but also as more tasks are completed it is possible to reuse earlier code more. For example
the close-range combat took a long time to do, but the other combat types will be able
to reuse much of the same code so should be far faster to complete.
This is why it is difficult for us to give an exact release date
<p>

<p>
<font color=cyan><b>Primary tasks</b></font>
<p>

<b>Core modules</b><br>
New 3d-engine - 95%<br>
content delivery system - 90% - <font color=yellow>95%</font><br>
internal map-build system - 90%<br>
player management system - 100%<br>
location management system - 100%<br>
npc management system - 100%<br>
object management system - 90% - <font color=yellow>95%</font><br>
inventory management system - 90% - <font color=yellow>100%</font><br>
login/save-game server - 10% - <font color=yellow>70%</font><br>
<p>
<b>Tools:</b><br>
New animation tool - 100%<br>
New map editor - 100%<br>
New compression tools - 100%<br>
<p>
<b>Script system:</b><br>
Specify new script system - 100%<br>
Write new script compiler - 100% <br>
Write new script interpreter - 50% - <font color=yellow>90%</font><br>
<p>
<b>Interface system:</b><br>
Specify new interface system - 100%<br>
Write new interface designer - 90% - <font color=yellow>100%</font><br>
Write new interface interpreter - 60% - <font color=yellow>90%</font><br>
<p>
<b>Multi-way combat system:</b><br>
specify new combat system - 80% - <font color=yellow>100%</font><br>
close-range combat - 0% - <font color=yellow>90%</font><br>
long-range combat - 0% - <font color=yellow>10%</font><br>
duelling - 0%<br>
prayer/magic - 0%<br>
<p>
<b>NPC AI</b><br>
npc behaviour modes - 10% - <font color=yellow>50%</font><br>
npc scripting - 0% - <font color=yellow>90%</font><br>

<p>
<font color=cyan><b>Secondary tasks</b></font>
<p>

<b>Chat:</b><br>
npc chat - 90% - <font color=yellow>100%</font><br>
public chat - 10% - <font color=yellow>50%</font><br>
friends-list - 0%<br>
<p>
<b>Non-scriptable interfaces:</b><br>
mini-map - 100%<br>
player design screen - 0%<br>
title screen - 0% - <font color=yellow>50%</font><br>
<p>
<b>Complex interfaces:</b><br>
inventory/wear system - 100%<br>
shop system - 0%<br>
trading system - 0%<br>
bank system - 0%<br>
<p>
<b>Misc:</b><br>
player route-finding - 90%<br>
camera behaviour - 50% - <font color=yellow>90%</font><br>
music/sound integration - 0% - <font color=yellow>50%</font><br>
data collect module - 0%<br>
 </td></tr></table><p></td></tr></table><table cellpadding=0 cellspacing=0><tr><td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td><td valign=bottom><div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">  This webpage and its contents is copyright 2004 Jagex Ltd<br>  To use our service you must agree to our  <a href="/terms" class=c>Terms+Conditions</a>  +   <a href="/privacy" class=c>Privacy policy</a>  </div>  <img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td></tr></table></center></td></tr></table></body></html>