<html><head><META HTTP-EQUIV="Expires" CONTENT="0"><META HTTP-EQUIV="Pragma" CONTENT="no-cache"><META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"><meta name="MSSmartTagsPreventParsing" content="TRUE"><title>RuneScape - the massive online adventure game by Jagex Ltd</title><STYLE>BODY, TD, P{ font-family:Arial,Helvetica,sans-serif; font-size:13px;}.b {border-style: outset; border-width:3pt; border-color:#373737}.b2 {border-style: outset; border-width:3pt; border-color:#570700}.e {border:2px solid #382418}.c {text-decoration:none}A.c:hover {text-decoration:underline}.white {text-decoration:none; color:#FFFFFF;} .red {text-decoration:none; color:#E10505;} .lblue {text-decoration:none; color:#9DB8C3;} .dblue {text-decoration:none; color:#0D6083;} .yellow {text-decoration:none; color:#FFE139;} .green {text-decoration:none; color:#04A800;} .purple {text-decoration:none; color:#C503FD;} .pink {text-decoration:none; color:#FAA8AA;} A.c:hover {text-decoration:underline} A.white:hover {text-decoration:underline} A.red:hover {text-decoration:underline} A.lblue:hover {text-decoration:underline} A.dblue:hover {text-decoration:underline} A.yellow:hover {text-decoration:underline} A.green:hover {text-decoration:underline} A.purple:hover {text-decoration:underline} A.pink:hover {text-decoration:underline} </STYLE>  </head><body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 style="margin:0"><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center><table cellpadding=0 cellspacing=0><tr><td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td></tr></table><table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom><center><table><tr><td><table bgcolor=black cellpadding=1><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><a href='/news/231'><img src=/img/prevpage.gif border=0 width=74 height=35></a></center></td></tr></table></td><td width=40>&nbsp</td><td valign=bottom><table width=250 bgcolor=black cellpadding=4><tr><td class=e><center><b>Latest Game Updates News</b><br><a href="/title" class=c>Main Menu</a></center></td></tr></table></td><td width=40></td><td><table bgcolor=black cellpadding=1><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><a href='/news/220'><img src=/img/nextpage.gif border=0 width=74 height=35></a></center></td></tr></table></td></tr></table><img src='/img/title/blank.gif' width=1 height=3><br><center><a href='/news?cat=0' class=white>All Categories</a> - <a href='/news?cat=1' class=red>Game Updates</a> - <a href='/news?cat=2' class=lblue>Website</a> - <a href='/news?cat=3' class=yellow>Customer Support</a><br><a href='/news?cat=4' class=dblue>Technical</a> - <a href='/news?cat=6' class=purple>Behind the Scenes</a><br><img src='/img/title/blank.gif' width=1 height=3><br><table width=500 bgcolor=black cellpadding=4><tr><td class=e><center><b>20th April 2004 - Enchanting Rings</b></center><br>Members may now enchant your rings.
<p>
Just use the enchanting spells which you used on your amulets to give your rings the following exciting new abilitys.
<p>
<b>lvl 7 - Enchanted Sapphire Ring - Ring of Recoil</B><br>
 <li>Deals 10% of the damage inflicted on the wearer back at their attacker.
 (After 40 damage has been dealt in this way the Ring is destroyed.)<p>
 
<b>lvl 27 - Enchanted Emerald Ring - Ring of Dueling</b><br>
<li>When activated it teleports the wearer to the Duel Arena.
 (8 uses and then the Ring is destroyed, has the same restrictions as the teleport spells ie doesn&#039;t work past level 20 wilderness etc)<p>
 
<b>lvl 49 - Enchanted Ruby Ring - Ring of Forging</B><br>
<li>Increases the chance of succesfully smelting Iron Ore.
 (100% success rate, 140 uses.)<p>
 
<b>lvl 57 - Enchanted Diamond Ring - Ring of Life</b><br> 
<li>When the wearer takes damage which causes their hits to falls below 10%, but which doesn&#039;t actually kill them, they are automatically teleported to Lumbridge and the ring is destroyed.
 (Has the same restrictions as the amulet of glory teleports ie doesn&#039;t work past level 30 wilderness, doesn&#039;t work in the duelling arena etc)<p>
 
<b>lvl 68 - Enchanted Dragonstone Ring - Ring of Wealth</b><br>
<li>The wearer has a greater chance of getting a rare item drop when they kill a monster.
<p><b>
Other changes</b><p>
 
Many players commented that stringing bows gave less than half the xp that it did in Runescape classic. We have now changed this so stringing bows now gives the same xp that it used to.
<p>
We have also put in the warning to players when entering the widerness</td></tr></table><p></td></tr></table><table cellpadding=0 cellspacing=0><tr><td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td><td valign=bottom><div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">  This webpage and its contents is copyright 2004 Jagex Ltd<br>  To use our service you must agree to our  <a href="/terms" class=c>Terms+Conditions</a>  +   <a href="/privacy" class=c>Privacy policy</a>  </div>  <img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td></tr></table></center></td></tr></table></body></html>