<html><head><META HTTP-EQUIV="Expires" CONTENT="0"><META HTTP-EQUIV="Pragma" CONTENT="no-cache"><META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"><meta name="MSSmartTagsPreventParsing" content="TRUE"><title>RuneScape - the massive online adventure game by Jagex Ltd</title><STYLE>BODY, TD, P{ font-family:Arial,Helvetica,sans-serif; font-size:13px;}.b {border-style: outset; border-width:3pt; border-color:#373737}.e {border:2px solid #382418}.c {text-decoration:none}A.c:hover {text-decoration:underline}.white {text-decoration:none; color:#FFFFFF;} .red {text-decoration:none; color:#E10505;} .lblue {text-decoration:none; color:#9DB8C3;} .dblue {text-decoration:none; color:#0D6083;} .yellow {text-decoration:none; color:#FFE139;} .green {text-decoration:none; color:#04A800;} .purple {text-decoration:none; color:#C503FD;} .pink {text-decoration:none; color:#FAA8AA;} A.c:hover {text-decoration:underline} A.white:hover {text-decoration:underline} A.red:hover {text-decoration:underline} A.lblue:hover {text-decoration:underline} A.dblue:hover {text-decoration:underline} A.yellow:hover {text-decoration:underline} A.green:hover {text-decoration:underline} A.purple:hover {text-decoration:underline} A.pink:hover {text-decoration:underline} </STYLE>  </head><body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center><table cellpadding=0 cellspacing=0><tr><td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td></tr></table><table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom><center><table><tr><td><table bgcolor=black cellpadding=1><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><a href='/news/197'><img src=/img/prevpage.gif border=0 width=74 height=35></a></center></td></tr></table></td><td width=40>&nbsp</td><td valign=bottom><table width=250 bgcolor=black cellpadding=4><tr><td class=e><center><b>Latest Game Updates News</b><br><a href="/title" class=c>Main menu</a></center></td></tr></table></td><td width=40></td><td><table bgcolor=black cellpadding=1><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><a href='/news/192'><img src=/img/nextpage.gif border=0 width=74 height=35></a></center></td></tr></table></td></tr></table><img src='/img/title/blank.gif' width=1 height=3><br><center><a href='/news?cat=0' class=white>All Categories</a> - <a href='/news?cat=1' class=red>Game Updates</a> - <a href='/news?cat=2' class=lblue>Website</a> - <a href='/news?cat=3' class=yellow>Customer Support</a><br><a href='/news?cat=4' class=dblue>Technical</a> - <a href='/news?cat=5' class=green>Community</a> - <a href='/news?cat=6' class=purple>Behind the Scenes</a><br><img src='/img/title/blank.gif' width=1 height=3><br><table width=500 bgcolor=black cellpadding=4><tr><td class=e><center><b>22nd March 2004 - RS2 Tweaks and Fixes</b></center><br><b>Todays Changes and Fixes</b>:
<p>
Anti Fire breath Potion (level 69 Herblore to make)<br>
Find the new herb Lantadyme (level 67 to identify). Put it in a vial of water and add a blue dragon scale and you will make our new anti fire breath potion. This potion prevents some of the damage from Dragonbreath.<br>
If you use the new potion, the anti dragon breath shield and the protection from melee then you won&#039;t take damage from dragons except for the King black dragon.
 <p>
We&#039;ve also made some improvements to the chat filter.
 <p>
On the low detail version we&#039;ve made the mini map work much better so it moves a lot more smoothly now.
 <p>

The banks now work the same for free users who used to have members as they did in rs1 - ie if your bank is too full you can still bank things if you already have other copies them in your bank.
<p>

<b>Combat adjustments</b>
 <p>
As you know, a lot of the aim of the RS2 combat system is to try and get a &#034;pking triangle&#034;, Where mages tend to beat fighters, fighters tend to beat rangers, and rangers tend to beat mages.<br>
Therefore all 3 classes are viable and no one can say one class is superior and the combat system is unbalanced.
<p>
However, beta testing has been leading to the reaction by many that &#034;Mages are overpowered&#034; Which certainly wasn&#039;t our intention.
<p>
The following changes have therefore been added to try and address the imbalances in the combat system which have been turned up by our users during beta testing;
<p>
A)<b> Bigger magic penalties on armour.</b><br> 
It seemed too easy to succesfully cast magic while using rune armour, meaning a lot of the weaknesses the mages were supposed to have were negated.<br> 
We envisaged the mages mostly player killing in robes. They still tended to beat warriors because they could cast bind/entangle/snare on the warrior and then step back and cast spells. They would take quite a bit of damage when their entangles wore off and the warriors ran in, but they still had the edge.<br>
Against rangers, entangle is obviously ineffective as the rangers can attack from a distance too, and because of the mages only wearing robes, rangers would hit a lot and therefore have the edge against mages.<br>
This all breaks down somewhat if mages are effective in rune armour and mages end up beating everyone, hence we are increasing the minuses to magic stats on armour, so they tend to pk in robes.
<p>
In a future update we would like to add some sort of mages armour to the game, which wouldn&#039;t be as good as plate and would only be effective against warriors and not rangers, but would still be useful for giving mages some additional protection.
<p>
B) <b>More ranging equipment for free servers </b><br>
The &#039;player killing triangle&#039; just didn&#039;t work on free servers because there was no ranging equipment. We have therefore increased the amount of ranging equipment on free servers. We are giving them arrows up to steel, bows up to the oak long bow and armour up to green dragonhide. (dragonhide is extremely useful for rangers against mages because of its magic defense)<br>
This equipment will be available to free users in shops and from monster drops. (fletching will stay a members only skill).<br>
The dragonhide body can be bought from Oziach.
 <p>
C) <b>More ranging equipment for member servers</b><br>
Obviously as we are giving some of this ranging equipment to free users its only fair to give some more ranging equipment to members. <br>
The current dragonhide armour has become green dragonhide and we have created blue dragonhide, red dragonhide and black dragonhide for members. <p>Members can also find and kill green dragons for their hides in the wilderness.
<p>
D) <b>More projectiles as monster drops</b><br>
For rangers to be balanced in the &#039;triangle&#039; they need to be using fairly good quality projectiles and I think a lot of people were not doing this as it was too expensive for them.<br>
Expect monsters to now be dropping better javelins, arrows, throwing darts and knives.
 <p>
E) <b>The defence stat now helps against magic</b><br>
One reason that mages were seen to be &#034;Overpowered&#034; by certain fighters was because your defence skill against magic was your own magic skill. If you were an absolute pure then mages would barely ever miss you because you effectively had a defence of 1.<br> 
While we would <i>like</i> to encourage people to level up their magic (and theres no reason for people not to in RS2) this was going a bit too far.<p>
Magic defence now uses some of your defence stat <b>and</b> some of your magic stat, so even the most absolute of pures will have some defence against magic. It&#039;s probably still advisable to level up your magic for defence purposes though.
 <p>
Additionally, we have also fixed the following bugs:<p>

<li>Fixed: The magic guild doors could become normal doors that anyone could get through.
<li>Fixed: Sometimes npcs would not be facing you when they were fighting you.
<li>Fixed: The screen would jump when characters walked onto bridges.
<li>Fixed: You could restart the restless ghost quest.
<li>Fixed: The Al Kharid palace balcony was invisible in low detail mode.
<li>Fixed: It was possible to restart the Shield of Arrav quest.
<li>Fixed: Selling cats to civilians also sold all other cats and kittens in your inventory.
<li>Fixed: Free users couldn&#039;t smith gold.
<li>Fixed: Free users couldn&#039;t make holy symbols.
<li>Fixed: You could walk on the lava under Crandor.
<li>Fixed: Some quests gave slightly different quest points compared to Runescape 1.
<li>Fixed: Bolt tips when examined said &#034;I can make an arrow with these.&#034;
<li>Fixed: You could catch Bass at too low a fishing level.
<li>Fixed: Various objects had incorrect costs.
<li>Fixed: You could hit very quickly when wielding a gnomeball.
<li>Fixed: Some people were killing the dragon and not completing the dragon slayer quest. 
<li>Fixed: Shadow warriors equipment drops were wrong.
</td></tr></table><p></td></tr></table><table cellpadding=0 cellspacing=0><tr><td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td><td valign=bottom><div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">  This webpage and its contents is copyright 2004 Jagex Ltd<br>  To use our service you must agree to our  <a href="/terms" class=c>Terms+Conditions</a>  +   <a href="/privacy" class=c>Privacy policy</a>  </div>  <img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td></tr></table></td></tr></table></body></html>