<html><head><META HTTP-EQUIV="Expires" CONTENT="0"><META HTTP-EQUIV="Pragma" CONTENT="no-cache"><META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"><meta name="MSSmartTagsPreventParsing" content="TRUE"><title>RuneScape - the massive online adventure game by Jagex Ltd</title><STYLE>BODY, TD, P{ font-family:Arial,Helvetica,sans-serif; font-size:13px;}.b {border-style: outset; border-width:3pt; border-color:#373737}.b2 {border-style: outset; border-width:3pt; border-color:#570700}.e {border:2px solid #382418}.c {text-decoration:none}A.c:hover {text-decoration:underline}.white {text-decoration:none; color:#FFFFFF;} .red {text-decoration:none; color:#E10505;} .lblue {text-decoration:none; color:#9DB8C3;} .dblue {text-decoration:none; color:#0D6083;} .yellow {text-decoration:none; color:#FFE139;} .green {text-decoration:none; color:#04A800;} .purple {text-decoration:none; color:#C503FD;} .pink {text-decoration:none; color:#FAA8AA;} A.c:hover {text-decoration:underline} A.white:hover {text-decoration:underline} A.red:hover {text-decoration:underline} A.lblue:hover {text-decoration:underline} A.dblue:hover {text-decoration:underline} A.yellow:hover {text-decoration:underline} A.green:hover {text-decoration:underline} A.purple:hover {text-decoration:underline} A.pink:hover {text-decoration:underline} </STYLE>  </head><body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 style="margin:0"><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center><table cellpadding=0 cellspacing=0><tr><td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td></tr></table><table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom><center><table><tr><td><table bgcolor=black cellpadding=1><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><a href='/news/165'><img src=/img/prevpage.gif border=0 width=74 height=35></a></center></td></tr></table></td><td width=40>&nbsp</td><td valign=bottom><table width=250 bgcolor=black cellpadding=4><tr><td class=e><center><b>Latest Game Updates News</b><br><a href="/title" class=c>Main Menu</a></center></td></tr></table></td><td width=40></td><td><table bgcolor=black cellpadding=1><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center><a href='/news/158'><img src=/img/nextpage.gif border=0 width=74 height=35></a></center></td></tr></table></td></tr></table><img src='/img/title/blank.gif' width=1 height=3><br><center><a href='/news?cat=0' class=white>All Categories</a> - <a href='/news?cat=1' class=red>Game Updates</a> - <a href='/news?cat=2' class=lblue>Website</a> - <a href='/news?cat=3' class=yellow>Customer Support</a><br><a href='/news?cat=4' class=dblue>Technical</a> - <a href='/news?cat=6' class=purple>Behind the Scenes</a><br><img src='/img/title/blank.gif' width=1 height=3><br><table width=500 bgcolor=black cellpadding=4><tr><td class=e><center><b>7th January 2004 - RS2 new features & bug fixes</b></center><br>Today we have introduced a number of new features to Runescape 2.
<p>
<b>Hair and clothing makeovers</b>
<p>
You can now change the base appearance of your character. Speak to Thessalia in the Varrock clothes shop, or the hairdresser in Falador, pay some money and choose your new style. Expect more characters who can provide more makeover options in future updates.
<p>
<b>Running</b>
<p> 
Your character can now run which makes you move twice as fast. To run choose the option in the new &#039;player options&#039; menu. Alternatively just hold down &#039;control&#039; on your keyboard when you click to walk. You can&#039;t run constantly, and will need to take occasional breaks. How long you can run for depends on how much you are carrying, and how fast your energy restores depends on your agility.
<p>
<b>Auto retaliate on/off</b>
<p>
Before your character would always turn to attack a monster who was attacking. Now however you can turn the auto retaliate option off. This means you can continue mining and ignore the insignificant spider that is under the delusion that it can eat you. Also useful if you are a mage and don&#039;t want your character to chase after someone with melee combat.
<p>  
<b>Emote animations</b>
<p> 
The new &#039;player options&#039; menu contains several buttons to make your character perform all sorts of actions: clapping, waving, bowing and many more.
<p>
<b>Bug fixes</b><br>
We have fixed the following bugs.<br>
<p>
<li>Ice gloves were tradeable
<li>Many pieces of wall were examinable as crumblywall2
<li>Water strike had an incorrect rune requirement
<li>When players switched fishing style their animation wouldn&#039;t change
<li>The plain staff had the wrong stats
<li>Sometimes casting combat spells wouldn&#039;t work
<li>The Ernest the chicken quest didn&#039;t light up yellow when it was started
<li>Players could walk inside a wall in the the ice dungeon
<li>Perfect gold and perfect gold ore were tradeable
<li>Some Mithril rocks were missing in Edgeville dungeon
<li>The recast spell option didn&#039;t work on players who were eating
<li>Imps could still teleport during the time they were dying
<li>Melzar the mad sometimes hit stupidly hard
<li>Demons died very easily
 </td></tr></table><p></td></tr></table><table cellpadding=0 cellspacing=0><tr><td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td><td valign=bottom><div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">  This webpage and its contents is copyright 2004 Jagex Ltd<br>  To use our service you must agree to our  <a href="/terms" class=c>Terms+Conditions</a>  +   <a href="/privacy" class=c>Privacy policy</a>  </div>  <img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td></tr></table></center></td></tr></table></body></html>