[com_0]
type=model
x=227
y=162
width=32
height=32
model=model_3395
zoom=599
xan=520
yan=1

[com_1]
type=text
x=430
y=8
buttontype=close
width=74
height=14
font=p12
shadowed=yes
text=Close Window
colour=0xFAD782
overcolour=0xFFFFFF

[com_2]
type=layer
x=174
y=55
width=203
height=220

[com_3]
layer=com_2
type=model
x=102
y=91
width=32
height=32
model=model_3389
zoom=1349
xan=474
yan=1775

[com_4]
layer=com_2
type=model
x=78
y=151
width=32
height=32
model=model_3399
zoom=820
xan=397
yan=500

[com_5]
layer=com_2
type=model
x=139
y=96
width=32
height=32
model=model_3398
zoom=915
xan=368
yan=2042

[com_6]
layer=com_2
type=model
x=86
y=187
width=32
height=32
model=model_3398
zoom=744
xan=379
yan=515

[com_7]
layer=com_2
type=model
x=51
y=181
width=32
height=32
model=model_3399
zoom=900
xan=431
yan=776

[com_8]
layer=com_2
type=model
x=121
y=181
width=32
height=32
model=model_3399
zoom=900
xan=359
yan=262

[com_9]
layer=com_2
type=model
x=137
y=176
width=32
height=32
model=model_3399
zoom=708
xan=397
yan=500

[com_10]
layer=com_2
type=model
x=19
y=176
width=32
height=32
model=model_3398
zoom=744
xan=379
yan=515

[com_11]
layer=com_2
type=model
x=-2
y=176
width=32
height=32
model=model_3398
zoom=744
xan=379
yan=515

[com_12]
layer=com_2
type=model
x=155
y=176
width=32
height=32
model=model_3399
zoom=708
xan=397
yan=500

[com_13]
layer=com_2
type=model
x=94
y=151
width=32
height=32
model=model_3399
zoom=820
xan=397
yan=500

[com_14]
layer=com_2
type=model
x=122
y=133
width=32
height=32
model=model_3398
zoom=885
xan=386
yan=247

[com_15]
layer=com_2
type=model
x=48
y=136
width=32
height=32
model=model_3399
zoom=820
xan=397
yan=500

[com_16]
layer=com_2
type=model
x=17
y=144
width=32
height=32
model=model_3399
zoom=820
xan=397
yan=500

[com_17]
layer=com_2
type=model
x=-21
y=110
width=32
height=32
model=model_3399
zoom=820
xan=615
yan=1021

[com_18]
layer=com_2
type=model
x=-1
y=138
width=32
height=32
model=model_3399
zoom=812
xan=246
yan=837

[com_19]
layer=com_2
type=model
x=61
y=142
width=32
height=32
model=model_3399
zoom=845
xan=473
yan=790

[com_20]
layer=com_2
type=model
x=33
y=140
width=32
height=32
model=model_3399
zoom=998
xan=345
yan=285

[com_21]
layer=com_2
type=model
x=118
y=60
width=32
height=32
model=model_3399
zoom=820
xan=397
yan=500

[com_22]
layer=com_2
type=model
x=90
y=48
width=32
height=32
model=model_3399
zoom=820
xan=397
yan=500

[com_23]
layer=com_2
type=model
x=4
y=55
width=32
height=32
model=model_3399
zoom=820
xan=597
yan=1009

[com_24]
layer=com_2
type=model
x=34
y=47
width=32
height=32
model=model_3399
zoom=820
xan=553
yan=493

[com_25]
layer=com_2
type=model
x=62
y=35
width=32
height=32
model=model_3399
zoom=1338
xan=553
yan=493

[com_26]
layer=com_2
type=model
x=62
y=36
width=32
height=32
model=model_3399
zoom=1338
xan=553
yan=493

[com_27]
layer=com_2
type=model
x=52
y=41
width=32
height=32
model=model_3399
zoom=942
xan=595
yan=285

[com_28]
layer=com_2
type=model
x=73
y=41
width=32
height=32
model=model_3399
zoom=942
xan=601
yan=762

[com_29]
layer=com_2
type=model
x=-5
y=80
width=32
height=32
model=model_3398
zoom=996
xan=406
yan=201

[com_30]
layer=com_2
type=model
x=-15
y=126
width=32
height=32
model=model_3399
zoom=777
xan=249
yan=845

[com_31]
layer=com_2
type=model
x=-21
y=106
width=32
height=32
model=model_3399
zoom=820
xan=615
yan=1021

[com_32]
layer=com_2
type=model
x=103
y=54
width=32
height=32
model=model_3399
zoom=1019
xan=601
yan=762

[com_33]
layer=com_2
type=model
x=132
y=65
width=32
height=32
model=model_3399
zoom=1019
xan=601
yan=762

[com_34]
layer=com_2
type=model
x=139
y=88
width=32
height=32
model=model_3398
zoom=915
xan=368
yan=2042

[com_35]
type=model
x=150
y=229
width=32
height=32
model=model_3388
zoom=531
xan=493
yan=18

[com_36]
type=model
x=165
y=49
width=32
height=32
model=model_3388
zoom=531
xan=527
yan=515

[com_37]
type=model
x=340
y=62
width=32
height=32
model=model_3388
zoom=531
xan=578
yan=1030

[com_38]
type=model
x=321
y=245
width=32
height=32
model=model_3388
zoom=531
xan=576
yan=1544

[com_39]
type=model
x=166
y=240
width=32
height=32
model=model_3386
zoom=682
xan=500

[com_40]
type=model
x=188
y=242
width=32
height=32
model=model_3386
zoom=682
xan=500

[com_41]
type=model
x=210
y=241
width=32
height=32
model=model_3386
zoom=682
xan=500

[com_42]
type=model
x=220
y=249
width=32
height=32
model=model_3386
zoom=682
xan=500

[com_43]
type=model
x=246
y=250
width=32
height=32
model=model_3386
zoom=682
xan=500

[com_44]
type=model
x=281
y=250
width=32
height=32
model=model_3386
zoom=682
xan=500

[com_45]
type=model
x=306
y=249
width=32
height=32
model=model_3386
zoom=682
xan=500

[com_46]
type=model
x=317
y=240
width=32
height=32
model=model_3386
zoom=682
xan=500

[com_47]
type=model
x=170
y=187
width=32
height=32
model=model_3386
zoom=524
xan=500

[com_48]
type=model
x=223
y=210
width=32
height=32
model=model_3397
zoom=1965
xan=500

[com_49]
type=model
x=337
y=157
width=32
height=32
model=model_3397
zoom=1965
xan=500

[com_50]
type=model
x=252
y=146
width=32
height=32
model=model_3401
zoom=2036
xan=500

[com_51]
type=model
x=268
y=175
width=32
height=32
model=model_3391
zoom=1999
xan=495
yan=2017

[com_52]
type=model
x=220
y=149
width=32
height=32
model=model_3391
zoom=2009
xan=518
yan=43

[com_53]
type=model
x=239
y=123
width=32
height=32
model=model_3391
zoom=2080
xan=505
yan=18

[com_54]
type=model
x=205
y=122
width=32
height=32
model=model_3401
zoom=1971
xan=499
yan=2032

[com_55]
type=model
x=179
y=144
width=32
height=32
model=model_3391
zoom=2080
xan=505
yan=12

[com_56]
type=model
x=191
y=171
width=32
height=32
model=model_3401
zoom=2079
xan=501
yan=2034

[com_57]
type=model
x=200
y=71
width=32
height=32
model=model_3397
zoom=1969
xan=500

[com_58]
type=model
x=164
y=83
width=32
height=32
model=model_3397
zoom=2054
xan=500

[com_59]
type=model
x=298
y=147
width=32
height=32
model=model_3397
zoom=1965
xan=500
