[com_0]
type=model
x=273
y=70
width=32
height=32
model=model_3408
zoom=162
xan=500

[com_1]
type=model
x=419
y=141
width=32
height=32
model=model_3407
zoom=353
xan=500

[com_2]
type=model
x=419
y=141
width=32
height=32
model=model_3403
zoom=898
xan=500

[com_3]
type=model
x=419
y=141
width=32
height=32
model=model_3402
zoom=201
xan=500

[com_4]
type=text
x=430
y=8
buttontype=close
width=74
height=14
font=p12
shadowed=yes
text=Close Window
colour=0x505050
overcolour=0xFFFFFF

[com_5]
type=model
x=313
y=275
buttontype=normal
width=30
height=51
model=model_3405
zoom=1389
xan=275
yan=2029

[com_6]
type=model
x=315
y=13
buttontype=normal
width=27
height=43
model=model_3404
zoom=1418
xan=478
yan=14

[com_7]
type=model
x=258
y=258
buttontype=normal
width=44
height=52
model=model_3409
zoom=1228
xan=300
yan=285

[com_8]
type=model
x=21
y=264
buttontype=normal
width=47
height=49
model=model_3406
zoom=1219
xan=308
yan=695

[com_9]
type=model
x=152
y=180
width=32
height=32
model=model_3411
zoom=566
xan=500

[com_10]
type=model
x=152
y=180
width=32
height=32
model=model_3410
zoom=566
xan=500

[com_11]
type=model
x=152
y=180
width=32
height=32
model=model_3412
zoom=566
xan=500

[get_location]
type=text
x=131
y=313
buttontype=normal
width=71
height=14
font=p12
shadowed=yes
text=Get Location
colour=0x7C6035
overcolour=0xC8B08A
