[com_0]
type=text
x=430
y=8
buttontype=close
width=74
height=14
font=p12
shadowed=yes
text=Close Window
colour=0xFAD782
overcolour=0xFFFFFF

[com_1]
type=model
x=232
y=158
width=32
height=32
model=model_3395
zoom=639
xan=511
yan=2047

[inv]
type=inv
x=239
y=89
width=3
height=2

[com_3]
type=model
x=174
y=212
width=32
height=32
model=model_loc_76_8
zoom=914
xan=104
yan=761
