[com_0]
type=model
x=227
y=162
width=32
height=32
model=model_3395
zoom=599
xan=520
yan=1

[com_1]
type=text
x=430
y=8
buttontype=close
width=74
height=14
font=p12
shadowed=yes
text=Close Window
colour=0xFAD782
overcolour=0xFFFFFF

[com_2]
type=model
x=150
y=229
width=32
height=32
model=model_3388
zoom=531
xan=493
yan=18

[com_3]
type=model
x=165
y=49
width=32
height=32
model=model_3388
zoom=531
xan=527
yan=515

[com_4]
type=model
x=340
y=62
width=32
height=32
model=model_3388
zoom=531
xan=578
yan=1030

[com_5]
type=model
x=321
y=245
width=32
height=32
model=model_3388
zoom=531
xan=576
yan=1544

[com_6]
type=layer
x=141
y=28
width=229
height=225

[com_7]
layer=com_6
type=model
x=76
y=125
width=32
height=32
model=model_3400
zoom=1416
xan=437
yan=2030

[com_8]
layer=com_6
type=model
x=70
y=114
width=32
height=32
model=model_3400
zoom=1416
xan=514
yan=481

[com_9]
layer=com_6
type=model
x=89
y=125
width=32
height=32
model=model_3400
zoom=1416
xan=437
yan=2030

[com_10]
layer=com_6
type=model
x=70
y=102
width=32
height=32
model=model_3400
zoom=1416
xan=514
yan=481

[com_11]
layer=com_6
type=model
x=70
y=91
width=32
height=32
model=model_3400
zoom=1416
xan=514
yan=481

[com_12]
layer=com_6
type=model
x=70
y=80
width=32
height=32
model=model_3400
zoom=1416
xan=514
yan=481

[com_13]
layer=com_6
type=model
x=70
y=69
width=32
height=32
model=model_3400
zoom=1416
xan=514
yan=481

[com_14]
layer=com_6
type=model
x=142
y=28
width=32
height=32
model=model_3389
zoom=1349
xan=474
yan=1775

[com_15]
layer=com_6
type=model
x=70
y=58
width=32
height=32
model=model_3400
zoom=1416
xan=514
yan=481

[com_16]
layer=com_6
type=model
x=79
y=51
width=32
height=32
model=model_3400
zoom=1416
xan=548
yan=970

[com_17]
layer=com_6
type=model
x=90
y=51
width=32
height=32
model=model_3400
zoom=1416
xan=548
yan=970

[com_18]
layer=com_6
type=model
x=102
y=51
width=32
height=32
model=model_3400
zoom=1416
xan=548
yan=970

[com_19]
layer=com_6
type=model
x=114
y=51
width=32
height=32
model=model_3400
zoom=1416
xan=548
yan=970

[com_20]
layer=com_6
type=model
x=126
y=51
width=32
height=32
model=model_3400
zoom=1416
xan=548
yan=970

[com_21]
layer=com_6
type=model
x=137
y=51
width=32
height=32
model=model_3400
zoom=1416
xan=548
yan=970

[com_22]
layer=com_6
type=model
x=141
y=44
width=32
height=32
model=model_3400
zoom=1416
xan=551
yan=517

[com_23]
layer=com_6
type=text
x=128
y=153
width=11
height=11
font=p11
text=1N
colour=0x4C3D26

[com_24]
layer=com_6
type=text
x=104
y=74
width=12
height=11
font=p11
text=6E
colour=0x4C3D26

[com_25]
layer=com_6
type=text
x=84
y=148
width=16
height=11
font=p11
text=2W
colour=0x4C3D26

[com_26]
layer=com_6
type=text
x=66
y=102
width=14
height=11
font=p11
text=6N
colour=0x4C3D26

[com_27]
layer=com_6
type=model
x=101
y=129
width=32
height=32
model=model_3400
zoom=1416
xan=608
yan=490

[com_28]
type=layer
x=158
y=96
width=201
height=172

[com_29]
layer=com_28
type=model
x=136
y=25
width=32
height=32
model=model_3398
zoom=1075
xan=387
yan=3

[com_30]
layer=com_28
type=model
x=22
y=38
width=32
height=32
model=model_3398
zoom=983
xan=387
yan=3

[com_31]
layer=com_28
type=model
x=13
y=75
width=32
height=32
model=model_3398
zoom=1062
xan=428
yan=177

[com_32]
layer=com_28
type=model
x=2
y=105
width=32
height=32
model=model_3398
zoom=1399
xan=463
yan=2

[com_33]
layer=com_28
type=model
x=10
y=126
width=32
height=32
model=model_3398
zoom=1794
xan=453
yan=1801

[com_34]
layer=com_28
type=model
x=29
y=135
width=32
height=32
model=model_3398
zoom=1727
xan=322
yan=1552

[com_35]
layer=com_28
type=model
x=66
y=123
width=32
height=32
model=model_3398
zoom=1972
xan=442
yan=1525

[com_36]
layer=com_28
type=model
x=101
y=136
width=32
height=32
model=model_3398
zoom=1972
xan=442
yan=1525

[com_37]
layer=com_28
type=model
x=136
y=149
width=32
height=32
model=model_3398
zoom=1972
xan=401
yan=1546

[com_38]
layer=com_28
type=model
x=163
y=137
width=32
height=32
model=model_3398
zoom=3481
xan=401
yan=1546

[com_39]
layer=com_28
type=model
x=175
y=113
width=32
height=32
model=model_3398
zoom=1972
xan=410
yan=1030

[com_40]
layer=com_28
type=model
x=146
y=67
width=32
height=32
model=model_3398
zoom=1972
xan=410
yan=1030

[com_41]
layer=com_28
type=model
x=160
y=90
width=32
height=32
model=model_3398
zoom=984
xan=418
yan=778

[com_42]
layer=com_28
type=model
x=48
y=128
width=32
height=32
model=model_3398
zoom=2014
xan=370
yan=1312

[com_43]
layer=com_28
type=model
x=86
y=128
width=32
height=32
model=model_3398
zoom=1891
xan=478
yan=1752

[com_44]
layer=com_28
type=model
x=120
y=142
width=32
height=32
model=model_3398
zoom=1984
xan=483
yan=1773

[com_45]
layer=com_28
type=model
x=150
y=143
width=32
height=32
model=model_3398
zoom=2440
xan=523
yan=1284

[com_46]
layer=com_28
type=model
x=172
y=129
width=32
height=32
model=model_3398
zoom=2396
xan=484
yan=1183

[com_47]
layer=com_28
type=model
x=141
y=50
width=32
height=32
model=model_3398
zoom=1972
xan=455
yan=808

[com_48]
type=model
x=244
y=172
width=32
height=32
model=model_3401
zoom=2322
xan=500

[com_49]
type=model
x=279
y=144
width=32
height=32
model=model_3401
zoom=2220
xan=500

[com_50]
type=model
x=298
y=190
width=32
height=32
model=model_3401
zoom=2321
xan=500

[com_51]
type=model
x=281
y=220
width=32
height=32
model=model_3391
zoom=2087
xan=500

[com_52]
type=model
x=299
y=220
width=32
height=32
model=model_3401
zoom=2321
xan=500

[com_53]
type=model
x=315
y=206
width=32
height=32
model=model_3391
zoom=2087
xan=500

[com_54]
type=model
x=252
y=211
width=32
height=32
model=model_3401
zoom=2321
xan=500

[com_55]
type=model
x=262
y=156
width=32
height=32
model=model_3391
zoom=2087
xan=500

[com_56]
type=model
x=282
y=117
width=32
height=32
model=model_3391
zoom=2087
xan=500

[com_57]
type=model
x=247
y=102
width=32
height=32
model=model_3401
zoom=2220
xan=500

[com_58]
type=model
x=215
y=189
width=32
height=32
model=model_3391
zoom=2419
xan=500

[com_59]
type=model
x=192
y=144
width=32
height=32
model=model_3391
zoom=2419
xan=500

[com_60]
type=model
x=191
y=129
width=32
height=32
model=model_3401
zoom=2581
xan=500

[com_61]
type=model
x=227
y=105
width=32
height=32
model=model_3391
zoom=2087
xan=500

[com_62]
type=model
x=227
y=121
width=32
height=32
model=model_3401
zoom=2220
xan=500

[com_63]
type=model
x=156
y=133
width=32
height=32
model=model_3391
zoom=2087
xan=500

[com_64]
type=model
x=200
y=168
width=32
height=32
model=model_3391
zoom=2419
xan=500

[com_65]
type=model
x=199
y=155
width=32
height=32
model=model_3401
zoom=2581
xan=500

[com_66]
type=model
x=214
y=177
width=32
height=32
model=model_3401
zoom=2581
xan=500
