<html><head><META HTTP-EQUIV="Expires" CONTENT="0"><META HTTP-EQUIV="Pragma" CONTENT="no-cache"><META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"><meta name="MSSmartTagsPreventParsing" content="TRUE"><title>RuneScape - the massive online adventure game by Jagex Ltd</title><STYLE>BODY, TD, P{ font-family:Arial,Helvetica,sans-serif; font-size:13px;}.b {border-style: outset; border-width:3pt; border-color:#373737}.e {border:2px solid #382418}.c {text-decoration:none}A.c:hover {text-decoration:underline}.white {text-decoration:none; color:#FFFFFF;} .red {text-decoration:none; color:#E10505;} .lblue {text-decoration:none; color:#9DB8C3;} .dblue {text-decoration:none; color:#0D6083;} .yellow {text-decoration:none; color:#FFE139;} .green {text-decoration:none; color:#04A800;} .purple {text-decoration:none; color:#C503FD;} .pink {text-decoration:none; color:#FAA8AA;} A.c:hover {text-decoration:underline} A.white:hover {text-decoration:underline} A.red:hover {text-decoration:underline} A.lblue:hover {text-decoration:underline} A.dblue:hover {text-decoration:underline} A.yellow:hover {text-decoration:underline} A.green:hover {text-decoration:underline} A.purple:hover {text-decoration:underline} A.pink:hover {text-decoration:underline} </STYLE>  </head><body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center><table cellpadding=0 cellspacing=0><tr><td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td></tr></table><table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom><center><table width=250 bgcolor=black cellpadding=4><tr><td class=e><center><b>Frequently Asked Billing Questions</b><br><a href='/faq' class=c>FAQ Index</a></center></td></tr></table></center><center><table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e><br><p>Please check if your question is answered in our FAQ list below.<br>If not, you may <a href='#' class=c>contact Billing Support</a>.<a name='top'>
<p>This FAQ is broken into 5 sections, if you know which payment option your question is related to please use the following links to visit that section directly: <br>
<p>
<center><a href='#general' class=c>General</a> - <a href='#worldpay' class=c>WorldPay</a> - <a href='#paybycash' class=c>PayByCash</a> - <a href='#paybyphone' class=c>PayByPhone</a> - <a href='#paybysms' class=c>PayBySMS</a></center>

<p><center><img src='/img/newsletter/smstones.jpg'><img src='/img/newsletter/smstones.jpg'><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="general">
<h3>1) General Billing FAQ</h3>

<ul>
<li><a href='#general1' class=c>Which subscription methods do you offer?</a><br>
<li><a href='#general2' class=c>Can I pay for membership for someone else?</a><br>
<li><a href='#general3' class=c>Do I pay per computer or per account?</a><br>
<li><a href='#general4' class=c>If I am a member, can I access both RuneScape and RS Classic members' servers?</a><br>
<li><a href='#general5' class=c>What is your refunds policy?</a><br>
<li><a href='#general6' class=c>How much does membership cost?</a><br>
<li><a href='#general7' class=c>How much subscription do I have left?</a><br>
<li><a href='#general8' class=c>I want to pay in my currency but I can't see it listed?</a><br>
<li><a href='#general9' class=c>What will happen to my members items if I cancel my subscription?</a><br>
<li><a href='#general10' class=c>What will happen to my credit if I cancel my subscription?</a><br>
<li><a href='#general11' class=c>How can I renew my subscription?</a><br>
<li><a href='#general12' class=c>Why aren't all payment options available in my country?</a><br>
</ul>

<a name="general1">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Which subscription methods do you offer?</b></font><br>
The subscription methods available differ depending upon which country you are subscribing from.<br>
When you go to 'subscribe' from the Secure Services menu, all of the payment options available to you will be shown.<br>
For an overview of the payment options, please click on the following links: <a href='#worldpay' class=c>WorldPay</a>, <a href='#paybycash' class=c>PayByCash</a>, <a href='#paybyphone' class=c>PayByPhone</a> or <a href='#paybysms' class=c>PayBySMS</a>.

<a name="general2">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Can I pay for membership for someone else?</b></font><br>
You may only do this if the person is a member of your immediate family. Otherwise it is not allowed. This is necessary to help us detect and prevent fraud. Ignoring this warning may result in both your accounts being banned.<br>
If you wish to purchase membership for someone outside your family we recommend you just give them the money and let them purchase the membership themselves directly using one of our many payment methods.

<a name="general3">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Do I pay per computer or per account?</b></font><br>
You pay per account, you need to pay the subscription charge for each account you wish to upgrade. You can then use this account from any computer you wish.

<a name="general4">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>If I am a member, can I access both RuneScape and RS Classic members' servers?</b></font><br>
Membership is assigned to a character, you are able to play on both RuneScape and RS Classic whenever you wish and the member's servers on both games will always be available to all members.

<a name="general5">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>What is your refunds policy?</b></font><br>
Refunds are given at the discretion of the management. We don't normally refund victims of in-game 'scamming' since there are many warnings about avoiding this on our website. We will however do everything possible to help members recover stolen accounts/passwords.<br>
We also won't give refunds to users who have been 'banned' for violating our terms+conditions of use.<br>
If your case is exceptional and you feel a refund is justified please contact <a href='#' class=c>billing support</a>.

<a name="general6">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>How much does membership cost?</b></font><br>
For information on the cost of membership:<br>
<br>
<li>Go to <br>
<li>Click ? Subscribe, in the Secure Services section.<br>
<li>Sign in using your Runescape login.<br>
<li>Then Click the link 'Subscribe Now!' (top left of the page) 
<li>Choose your country from the list and click on Continue.
<li>Finally click the option you want to pay by. 

<a name="general7">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>How much subscription do I have left?</b></font><br>
Click <a href='#' class=c>here</a> to view your current subscription status

<a name="general8">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>I want to pay in my currency but I can't see it listed?</b></font><br>
It doesn't matter what country you are in you can still pay in US Dollars or UK Pounds or Euros. The card company works out the exchange rate and will bill you in YOUR currency. There are NO extra charges.

<a name="general9">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>What will happen to my members items if I cancel my subscription?</b></font><br>
If you cancel your subscription, your members benefits will be frozen until you renew your subscription and you are able to access the members' server. You will only be able to access the first page of your RuneScape bank, and will not be able to use any member?s items on the free servers.

<a name="general10">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>What will happen to my credit if I cancel my subscription?</b></font><br>
If you cancel your subscription, your account retains member status until the credit that you have paid for is used up. After this your account will revert to 'free-player' status and you will no longer be able to access any members' benefits.

<a name="general11">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>How can I renew my subscription?</b></font><br>
You may renew it by going <a href='#' class=c>here</a> and selecting to make another payment.
If you have paid by Credit Card you do not need to renew your subscription, World Pay will handle this automatically.

<a name="general12">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Why aren't all payment options available in my country?</b></font><br>
We are always looking to add new payment options for our players. If a certain payment option has not currently been implemented in your country, then please do not submit a query regarding this; instead keep an eye on the News and Updates section of our website for information on any new billing options, as and when we offer them.

<br><table border=0 width=100%><td align='right'><a href='#top' class=c>Back to Top</a></td></tr></table>
<!-- end of general billing FAQ section -->

<!-- start Worldpay Billing FAQ section -->

<a name="worldpay">
<p><p><center><img src='/img/newsletter/smstones.jpg'><img src='/img/newsletter/smstones.jpg'><img src='/img/newsletter/smstones.jpg'></center><p>
<h3>2) Paying by credit/debit card (WorldPay)</h3>

<p>WorldPay offer subscriptions for those wishing to use either a credit or debit card. This payment method is available to all players.
When you have subscribed, payment will be taken automatically each month until such time as you wish to cancel your agreement.

<ul>
<li><a href='#worldpay1' class=c>Which cards do you accept?</a><br>
<li><a href='#worldpay2' class=c>How do I cancel my WorldPay subscription (FuturePay agreement)?</a><br>
<li><a href='#worldpay3' class=c>I am getting an (W331) error when I enter my card details at WorldPay</a><br>
<li><a href='#worldpay4' class=c>How long does it take to cancel my membership?</a><br>
<li><a href='#worldpay5' class=c>When does my membership start?</a><br>
<li><a href='#worldpay6' class=c>Can I pay for more than one month at a time?</a><br>
<li><a href='#worldpay7' class=c>I wish to update the card details of my WorldPay FuturePay agreement:</a><br>
<li><a href='#worldpay8' class=c>How can I update my email address used for billing?</a><br>
<li><a href='#worldpay9' class=c>I have forgotten my WorldPay login details</a><br>
<li><a href='#worldpay10' class=c>Where can I find my WorldPay FuturePay agreement number?</a><br>
<li><a href='#worldpay11' class=c>What will happen to my account if I cancel my subscription?</a><br>
<li><a href='#worldpay12' class=c>Why is my credit is going down, I thought I had an ongoing membership?</a><br>
<li><a href='#worldpay13' class=c>Can I switch my membership to another account?</a><br>
<li><a href='#worldpay14' class=c>My FuturePay agreement was cancelled, can you reinstate it?</a><br>
</ul>

<a name="worldpay1">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Which cards do you accept?</b></font><br>
Most major credit cards: Visa, MasterCard, JCB, Delta, Visa Electron, Switch and Solo.

<a name="worldpay2">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>How do I cancel my WorldPay subscription (FuturePay agreement)?</b></font><br>
To cancel your WorldPay FuturePay agreement, please follow this path:
<li>Go to back to our main page
<li>Scroll down to secure services then click the link - Unsubscribe (right of the page)
<li>Option 1: Here you cancel a specific FuturePay agreement on a character.
<li>Option 2: If you can't remember your username/password you can still cancel by providing your card number. 
<br>Enter your details and follow the onscreen instructions.
<br>You do not need your WorldPay details for this. Please note we cannot do this for you.
<li>Alternatively you can cancel the agreement via WorldPay if you still have the login you were provided when you first subscribed.
<br>
You are able to log onto the members server until all of the credits have been used.

<a name="worldpay3">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>I am getting an (W331) error when I enter my card details at WorldPay</b></font><br>
This means that the card issuer has declined the transaction but no reason is given. You must contact your bank or the card issuer to ask them what the problem is. We cannot help you with this particular problem.

<a name="worldpay4">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>How long does it take to cancel my membership?</b></font><br>
If you sign up to pay monthly by credit card you can cancel the subscription at anytime. As long as you cancel at least 48 hours before the next payment date you will not be charged.

<a name="worldpay5">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>When does my membership start?</b></font><br>
Your membership will be active within 24 hours of subscribing. The first payment is taken when you subscribe, this will add one month of credit to your account. Subsequent payments will be taken each month, before your credit expires.

<a name="worldpay6">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Can I pay for more than one month at a time?</b></font><br>
Whilst your subscription with WorldPay can last for as long as you wish, the payment can only be taken in monthly installments. If you wish to pay for more than one month at a time, then please subscribe using <a href='#paybycash' class=c>PayByCash</a>.

<a name="worldpay7">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>I wish to update the card details of my WorldPay FuturePay agreement:</b></font><br>
To update your credit card details please go to <a href="https://support.worldpay.com/shopper" target='_blank' class=c>WorldPay</a>
<br>Log in using your WorldPay username and password (this was given to you when you made your first payment). There you can make selective changes to your account.

<a name="worldpay8">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>How can I update my email address used for billing?</b></font><br>
To change the email address that we and WorldPay use to contact you regarding all billing matters, login into the <a href="https://support.worldpay.com/shopper" target='_blank' class=c>WorldPay Shopper Management System</a>.

<a name="worldpay9">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>I have forgotten my WorldPay login details</b></font><br>
To get a new password for the WorldPay system click <a href="https://support.worldpay.com/shopper" target='_blank' class=c>here</a> to visit WorldPay and choose the 'Forgotten your password?' link.

<a name="worldpay10">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Where can I find my WorldPay FuturePay agreement number?</b></font><br>
Your agreement number was emailed to you when you first subscribed. Alternatively visit <a href="https://support.worldpay.com/shopper" target='_blank' class=c>WorldPay</a> and log in using your WorldPay username and password (this was given to you when you made your first payment).

<a name="worldpay11">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>What will happen to my account if I cancel my subscription?</b></font><br>
When you unsubscribe your character you will stop being billed until you renew your subscription. You are able to log onto the members servers until all of your credits are used.

<a name="worldpay12">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Why is my credit is going down, I thought I had an ongoing membership?</b></font><br>
You have a credit or debit card subscription and so whilst your membership credit will go down, you will be automatically billed each month, before your credit expires. There is no need to use the "add more credit function" as your membership payments will continue every month, until such time as you cancel your FuturePay agreement.

<a name="worldpay13">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Can I switch my membership to another account?</b></font><br>
We cannot switch membership from one character to another. You will need to cancel your existing subscription and re-sign up for your new character.

<a name="worldpay14">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>My FuturePay agreement was cancelled, can you reinstate it?</b></font><br>
We are unable to reinstate any FuturePay agreement which has been cancelled. If you wish to continue your membership, please subscribe again.

<br><table border=0 width=100%><td align='right'><a href='#top' class=c>Back to Top</a></td></tr></table>
<!-- end of Worldpay Billing FAQ section -->

<!-- start PayByCash Billing FAQ section -->

<a name="paybycash">
<p><p><center><img src='/img/newsletter/smstones.jpg'><img src='/img/newsletter/smstones.jpg'><img src='/img/newsletter/smstones.jpg'></center><p>
<h3>3) Paying by PayByCash</h3>

<p>PayByCash provide a wide selection of payment options, Including: Pay by Mail, Fax, Wire Transfer, Splash Plastic, PayPal, Western Union, Cyphermint and others. The length of subscriptions offered varies from one month up to one year.
<p>
Please visit <a href='http://www.paybycash.com/paymentmethods.htm' class=c target='_blank'>http://www.paybycash.com/paymentmethods.htm</a> for more information on all of the Payment options currently provided by PayByCash.
<p>
Players in the United States also have access to direct debit payments. A bi-monthly direct debit can be set, this will provide ongoing membership until such time as you wish to cancel your subscription.


<ul>
<li><a href='#paybycash1' class=c>Tell me more about the PayByCash Payment Options</a><br>
<li><a href='#paybycash2' class=c>Where do I post my payment to?</a><br>
<li><a href='#paybycash3' class=c>If I post my payment, how long will it take before I have membership?</a><br>
<li><a href='#paybycash4' class=c>Why was my payment refunded?</a><br>
<li><a href='#paybycash5' class=c>I have subscribed, when will my membership start?</a><br>
<li><a href='#paybycash6' class=c>Do I need to cancel my subscription?</a><br>
<li><a href='#paybycash7' class=c>I need to cancel my Direct Debit</a><br>
</ul>

<a name="paybycash1">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Tell me more about the PayByCash Payment Options</b></font><br>

<p>
<b>PayPal</b><br>
This is a method of sending funds via the internet. You will need to have a PayPal account before you can use this method.
<p>
<b>Western Union</b><br>
You can pay for your membership through any branch of Western Union. Simply subscribe using PayByCash selecting Western Union. Simply take your payment to the nearest Western Union branch, payment is made using the instructions PayByCash provided to you when you subscribed.
<p>
<b>Splash Plastic</b><br>
Available only to UK customers. Splash Plastic is a prepaid internet payment card, which allows shopping online at selected websites without a credit card. You will need a Splash Plastic card to use this method.
<p>
<b>Pay by Mail</b><br>
Post a payment to PayByCash, you can send either cash or a money order. We advise those players sending cash to use registered post. When you subscribe, PayByCash will email you details of where to send the payment to.
<p>
<b>Wire Transfer</b><br>
With this method, the payment is sent directly to the PayByCash bank (in your country!) from your bank. PayByCash will provide you with instructions when you subscribe. This is one of the most popular options for customers outside the U.S. as sending a wire transfer is quite inexpensive.
<p>
<b>Virtual Check</b><br>
You submit a check via the World Wide Web. The funds are drawn from your checking account via a direct debit. Details are provided when you subscribe.
<p>
<b>Check-by-FAX</b><br>
Available only to customers in the U.S. this method allows you to complete a paper check and then FAX it to PayByCash. The funds will be withdrawn directly from your checking account via direct debit.

<a name="paybycash2">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Where do I post my payment to?</b></font><br>
When you subscribe using PayByCash, they will send you an email detailing how to make the payment, including where to send it to. Please do not post any payment to Jagex Ltd. as we will be unable to process this for you.

<a name="paybycash3">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>If I post my payment, how long will it take before I have membership?</b></font><br>
Posted payments can take up to two weeks to be received and processed at PayByCash. Please do not send in a customer support query unless you have been waiting longer than 14 days.

<a name="paybycash4">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Why was my payment refunded?</b></font><br>
You will need to email PayByCash on: customerservice@paybycash.com or help@paybycash.com<br>
As well as describing the problem, you will need to include your payment details, your RuneScape player name, but NOT your RuneScape password.

<a name="paybycash5">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>I have subscribed, when will my membership start?</b></font><br>
Your membership will begin as soon as PayByCash receive and are able to process your payment. They will email you when they receive the payment. Your membership will become active shortly after.

<a name="paybycash6">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Do I need to cancel my subscription?</b></font><br>
Only direct debit subscriptions need to be cancelled. All of the PayByCash payments subscribe your character for a limited term; you will not be re-billed and so do not need to cancel. If you do not subscribe again, your membership will automatically end when your credit expires.

<a name="paybycash7">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>I need to cancel my Direct Debit</b></font><br>
You will need to cancel your subscription through the <a href='http://www.paybycash.com' class=c target='_blank'>PayByCash website</a>.

<br><table border=0 width=100%><td align='right'><a href='#top' class=c>Back to Top</a></td></tr></table>
<!-- end of PayByCash Billing FAQ section -->

<!-- start PayByPhone Billing FAQ section -->

<a name="paybyphone">
<p><p><center><img src='/img/newsletter/smstones.jpg'><img src='/img/newsletter/smstones.jpg'><img src='/img/newsletter/smstones.jpg'></center><p>
<h3>4) Paying by PayByPhone</h3>

<ul>
<li><a href='#paybyphone1' class=c>Tell me about PayByPhone</a><br>
<li><a href='#paybyphone2' class=c>Why is this process more expensive than other payment options?</a><br>
<li><a href='#paybyphone3' class=c>When I dial the PayByPhone number the call does not go through</a><br>
<li><a href='#paybyphone4' class=c>I can't see the PayByPhone/PayBySMS logo on the payment options page</a><br>
<li><a href='#paybyphone5' class=c>Why isn't PayByPhone available in my country?</a><br>
</ul>

<a name="paybyphone1">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Tell me about PayByPhone</b></font><br>
<p>This payment option is only available to customers in the UK, US, Australia and New Zealand. 

<p>We provide the telephone number and the code you need to enter during the call. When you call this number, you will be prompted to enter the code. When the code is entered, you will be issued with a PIN number, please write this down on a piece of paper. 

<p>You will need to wait fifteen minutes after the call before entering this PIN in the payment window. A message will show that this has been successful.

<p>When you redeem the PIN, one month of membership will be added to your account.

<p>The cost of the call will be added to your telephone bill.

<p>** Please note that we are always looking to add new payment options for our players. Please do not submit a query regarding this; instead keep an eye on the News and Updates section of our website for information on any new billing options, as and when we offer them. **

<a name="paybyphone2">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Why is this process more expensive than other payment options?</b></font><br>
PayByPhone and PayBySMS are more expensive as compared to paying by credit/debit card, because it is more expensive for Jagex to operate this more convenient payment method. Jagex earns the same revenues as with other paying methods. The additional fee goes to the phone operator.

<a name="paybyphone3">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>When I dial the PayByPhone number the call does not go through</b></font><br>
Please check with your telephone operator if your line is blocked from making calls to a premium rate number. The possible reasons can be that the bill payer has blocked dialing premium number, a call made to a premium rate number has been disputed previously or you are calling from a business line.
<p>
If there is a block on 900 or premium rate calls then you will need to check with the person who pays the telephone bill before getting the block lifted.

<a name="paybyphone4">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>I can't see the PayByPhone/PayBySMS logo on the payment options page</b></font><br>
PayByPhone and PayBySMS are only available to players in certain countries.

These services only become accessible when you have less than fourteen days of credit on your account. If you have more than fourteen days of membership credit, then you will not be able to use the service at this time.

<a name="paybyphone5">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Why isn't PayByPhone available in my country?</b></font><br>
We are always looking to add new payment options for our players. If PayByPhone has not currently been implemented in your country, please do not submit a query regarding this; instead keep an eye on the News and Updates section of our website for information on any new billing options, as and when we offer them

<br><table border=0 width=100%><td align='right'><a href='#top' class=c>Back to Top</a></td></tr></table>
<!-- end of PayByPhone Billing FAQ section -->

<!-- start PayBySMS Billing FAQ section -->

<a name="paybysms">
<p><p><center><img src='/img/newsletter/smstones.jpg'><img src='/img/newsletter/smstones.jpg'><img src='/img/newsletter/smstones.jpg'></center><p>
<h3>5) Paying by PayBySMS</h3>

<ul>
<li><a href='#paybysms1' class=c>Tell me about PayBySMS</a><br>
<li><a href='#paybysms2' class=c>Why is this process more expensive than other payment options?</a><br>
<li><a href='#paybysms3' class=c>I have used the PayBySMS service, but did not receive whole month of membership</a><br>
<li><a href='#paybysms4' class=c>I have used the PayBySMS service, but did not receive a PIN</a><br>
<li><a href='#paybysms5' class=c>Why isn't PayBySMS available in my country?</a><br>

</ul>

<a name="paybysms1">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Tell me about PayByPhone</b></font><br>
This payment option is only available to customers in the UK, it is run by MetaCharge one of our billing partners.
<p>
We provide the number to send the text to and the code you need to include in the text message.
When you send the text message to MetaCharge, they will respond with one initial text message, if this is successfully transmitted to your mobile phone, then three subsequent messages will be sent shortly afterwards. 
<p>
The first text from MetaCharge will include a PIN; you need to enter this PIN into the payment window to redeem your month of membership.
<p>
When you redeem the PIN, one month of membership will be added to your account.
<p>
If you have a prepaid mobile phone the credit will be removed from your phone, otherwise the cost of the text will be added to your mobile phone bill.
<p>
** Please note that we are always looking to add new payment options for our players. Please do not submit a query regarding this; instead keep an eye on the News and Updates section of our website for information on any new billing options, as and when we offer them. **

<a name="paybysms2">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Why is this process more expensive than other payment options?</b></font><br>
PayByPhone and PayBySMS are more expensive as compared to paying by credit/debit card, because it is more expensive for Jagex to operate this more convenient payment method. Jagex earns the same revenues as with other paying methods. The additional fee goes to the phone operator.

<a name="paybysms3">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>I have used the PayBySMS service, but did not receive whole month of membership</b></font><br>
When you subscribed, MetaCharge were unable to transmit all of the four text messages to your mobile phone. As a result you have been issued with 7 days of membership credit for each text message you did receive. You will only have been charged a quarter of the total cost for each 7 days.
<p>
The three main reasons that this occurs are:<br>
<li>There was not enough money on your mobile phone to pay for a full month of membership.
<li>Your text message inbox was full and so some of the PINs could not be transmitted.
<li>Your mobile phone service provider was unable to send the PIN due to loss of service.

<a name="paybysms4">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>I have used the PayBySMS service, but did not receive a PIN</b></font><br>
A PIN is sent to every user who texts the PayBySMS service. We operate a Reverse Billing procedure, where you are only charged when we successfully send you a PIN. If you did not receive the PIN, then you will not have been charged.
<p>
The three main reasons that this occurs are:<br>
<li>There was not enough money on your mobile phone to pay for a full month of membership.
<li>Your text message inbox was full and so some of the PINs could not be transmitted.
<li>Your mobile phone service provider was unable to send the PIN due to loss of service.

<a name="paybysms5">
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<font color='#ffbb22'><b>Why isn't PayBySMS available in my country?</b></font><br>
We are always looking to add new payment options for our players. If PayBySMS has not currently been implemented in your country, please do not submit a query regarding this; instead keep an eye on the News and Updates section of our website for information on any new billing options, as and when we offer them.
<p>

</td></tr></table><br></center></td></tr></table><table cellpadding=0 cellspacing=0><tr><td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td><td valign=bottom><div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">  This webpage and its contents is copyright 2004 Jagex Ltd<br>  To use our service you must agree to our  <a href="/terms" class=c>Terms+Conditions</a>  +   <a href="/privacy" class=c>Privacy policy</a>  </div>  <img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td></tr></table></td></tr></table></body></html>