<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Fan Site FAQ</b><br>
<a href="/title" class=c>Main menu</a> - <a href="/faq" class=c>FAQ Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>

Click a frequently asked question below to jump to the answer:<br>
<ul>
<li><a href='#fanfaq1' class=c>Is it ok for me to make a fan site?</a><br>
<li><a href='#fanfaq2' class=c>What sort of information should I display?</a><br>
<li><a href='#fanfaq3' class=c>Do you have any conditions that you would like Fan Sites to abide by?</a><br>
<li><a href='#fanfaq4' class=c>Can I advertise my website in RuneScape?</a><br>
<li><a href='#fanfaq5' class=c>Is it possible to get a link on RuneScape.com?</a><br>
<li><a href='#fanfaq6' class=c>Can I use graphics from the RuneScape website?</a><br>
</ul>

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="fanfaq1">
<p><b><font color='#ffbb22'>Is it ok for me to make a fan site?</b></font>

<p>Yes, of course. We encourage the creation of fan sites and many of our players use them to gain information about our game.

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="fanfaq2">
<p><b><font color='#ffbb22'>What sort of information should I display?</b></font>

<p>Well that's up to you. Most fan sites provide detailed information on most aspects of our game including things like items, skills, quests, monsters, developments etc..

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="fanfaq3">
<p><b><font color='#ffbb22'>Do you have any conditions that you would like Fan Sites to abide by?</b></font>

<p>Yes we do. Please see the below:

<ul>
<li>The site should abide by the Terms of Service for RuneScape. 
<li>The site should not promote any activity that is against our Rules of Conduct 
<li>The site should not publish an article or text taken from the Jagex, or RuneScape website without permission. If you do use any text or images you must acknowledge runescape.com as the source, and link back to our site.
<li>The site should not link to or promote any adult sites, or sites that conflict with Jagex interests. 
<li>The site should not promote any sites or information that provide or support hacking, software piracy, or other illegal activities. 
</ul>

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="fanfaq4">
<p><b><font color='#ffbb22'>Can I advertise my website in RuneScape?</b></font>

<p>I am afraid not. Please see Rule 11 in our rules of conduct located within our manual area. 
<p><b>Rule 11.</b> - You are not allowed to actively advertise in the RuneScape game or website. This includes advertising any website or product and no web addresses are allowed.
<p>As you may know, some sites are used to harvest unsuspecting player passwords which spoils players enjoyment of the game. We take password security very seriously and have to enforce a rule whereby no websites are advertised in game. 

<p>Clearly this does an injustice against players who create websites designed to help the RuneScape Community, however, we need to ensure that player accounts are absolutely secure and to this end we have developed this policy. We hope that at some point in the future, this can change and more community sites will take the place of hack sites, for the time being though, account security is absolutely essential.

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="fanfaq5">
<p><b><font color='#ffbb22'>Is it possible to get a link on RuneScape.com?</b></font>

<p>Not at the moment. However we are looking into a system which will allow us to give the best fan sites an "official fan site" classification. Sites that gain this classification will be allowed to show an official graphic as well as having a link to their site from RuneScape.com

<p>We do not have a date yet as to when this will be happening, so please DO NOT email us in regards to one.

<p>What we can tell you now is that when we do go ahead with this system Jagex will handpick "official" fan sites and we will contact you if we would like your site to receive an official acceptance. Please do not contact us regarding becoming an "official" fan site. Just concentrate on making your fan site high in quality and you will be doing your best to become accepted.

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="fanfaq6">
<p><b><font color='#ffbb22'>Can I use graphics from the RuneScape website?</b></font>

<p>As we are aware that fan sites want to help create a RuneScape atmosphere we have put together a pack of graphics that you may use.
<p> This can be found in our <a href="/copyright">Copyright FAQ</a> - please do not use any graphics except the ones contained in this zip file.



<br><br>


</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</td></tr></table>
</center></td></tr></table></body></html>