<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Game FAQ</b><br>
<a href="/title" class=c>Main menu</a> - <a href="/faq" class=c>FAQ Index</a>
</center></td></tr></table>
<!-- end title box -->
<br>
<!-- content table -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e width=500>

Click a frequently asked question below to jump to the answer:<br>
<ul>
<li><a href='#gamefaq1' class=c>I recently left your membership service and am now having troubles putting certain items into my bank. How can I place these items into my bank?</a></li>
<li><a href='#gamefaq2' class=c>Where am I able to find out more information about the skills and items available in RuneScape?</a></li>
<li><a href='#gamefaq3' class=c>Why is my level in RuneScape different to RuneScape Classic? I seem to have gained/lost a couple of levels</a></li>
<li><a href='#gamefaq4' class=c>I was player killing in the wilderness and I died unfairly. I ate some food just before being killed but this did not take effect. Why was this?</a></li>
<li><a href='#gamefaq5' class=c>I have lost items in the game. Can I get them back?</a></li>
<li><a href='#gamefaq6' class=c>A certain player in the game is abusing/harassing me. What should I do?</a></li>
<li><a href='#gamefaq7' class=c>I would like some of my levels to be altered. Is this possible?</a></li>
<li><a href='#gamefaq8' class=c>Why can I not trade the holiday drop items any more?</a></li>
<li><a href='#gamefaq9' class=c>The RuneScape game window is too big to fit on my screen!</a></li>
<li><a href='#gamefaq10' class=c>How do I talk in colour in RuneScape? How do I do the wavey effects I see people using?</a></li>
</ul>

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="gamefaq1">
<p><b><font color='#ffbb22'>I recently left your membership service and am now having troubles putting certain items into my bank. How can I place these items into my bank?</b></font>

<p>Your bank problem is related to the items you had in your enlarged bank from when you used to be a p2p subscriber.

<p>To solve the problem you must discard items from you bank, so that all the items fit in just
one page. i.e. keep dropping items from your bank until you see an empty slot. The bank
will then function normally

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="gamefaq2">
<p><b><font color='#ffbb22'>Where am I able to find out more information about the skills and items available in RuneScape?</font></b></font>

<p>Our <a href="/manual">How To Play</a> section (available from our front page) holds a wealth of information on RuneScape. Here you should be able to find the answers to the majority of your questions. If you cannot find the answers you require after some searching please feel free to use customer support.

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="gamefaq3">
<p><b><font color='#ffbb22'>Why is my level in RuneScape different to RuneScape Classic? I seem to have gained/lost a couple of levels</b></font>

<p>This is merely because we have changed the formula which is used to determine your combat level to be more
accurate. The combat-level in RuneScape Classic was never a very good indication of how strong something really was (for instance
a level 100 player could easily beat a level 150 monster). This has now been fixed. It doesn't mean you are weaker/stronger - 
it's just the result of a more accurate equation. 

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="gamefaq4">
<p><b><font color='#ffbb22'>I was player killing in the wilderness and I died unfairly. I ate some food just before being killed but this did not take effect. Why was this?</b></font>

<p>This is most likely a problem where your Internet Connection has been a little laggy and you have lost a vital few seconds before the server received your instructions. It's usually best to not wait until the very last second before running away, activating a prayer or eating some food.

<p>Our <a href="/faq/technical">Technical FAQ</a> contains some helpful tips on how to reduce the lag you suffered from.

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="gamefaq5">
<p><b><font color='#ffbb22'>I have lost items in the game. Can I get them back?</b></font>

<p>Unfortunately our policy is to never return lost items since doing so just encourages users to claim they lost items they never had in order to gain an unfair advantage over other players.

<p>Our trade system is very secure so if you have lost items we suggest you look at the reasons for having done this and try and learn from the situation in order not to lose any more in the future.

<p>You might also want to check out our <a href="/guides/scam">anti scamming guide</a> in order for you avoid being scammed in the future.

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="gamefaq6">
<p><b><font color='#ffbb22'>A certain player in the game is abusing/harassing me. What should I do?</b></font>

<p>Firstly you should report this player in game by using our in game report function.

<p>You might also find our <a href="/guides/abuse">reporting abuse guide</a> quite useful. This describes in detail how to handle abusive players.

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="gamefaq7">
<p><b><font color='#ffbb22'>I would like some of my levels to be altered. Is this possible?</b></font>

<p>I am afraid that we cannot alter ANY players stats for ANY reason. If you gain a level then it is there to stay.

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="gamefaq8">
<p><b><font color='#ffbb22'>Why can I not trade the holiday drop items any more?</font></b>

<p>New holiday items are not tradable.
<p>Please remember holiday items are supposed to be just a bit of fun for special occasions. We've noticed on previous occasions players hoarding huge numbers of the gifts we drop, and then reselling them for massively unfair prices. This really isn't in the spirit of the occasion. 
We don't want this to just become an event whereby a few lucky players suddenly become ludicrously unfairly rich. Therefore new holiday drops are non-tradeable and limited to one per player. But hopefully still a lot of fun.
<p>All previously dropped holiday items will still remain tradable though (drops made before the Easter "bunny ears" drop).

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="gamefaq9">
<p><b><font color='#ffbb22'>The RuneScape game window is too big to fit on my screen!</b></font>

<p>Since the RuneScape game window is larger than the RuneScape Classic one, we advise that users running at a resolution of 800x600 use
Internet Explorer's fullscreen option (press F11 or select 'View -> Full Screen') and then auto-hide the top navigation
bar by right clicking on it and selecting 'auto-hide'. Press F11 to return the screen to normal.

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="gamefaq10">
<p><b><font color='#ffbb22'>How do I talk in colour in RuneScape? How do I do the wavey effects I see people using?</b></font>

<p>Try some of the following examples:<br>
red:hello<br>
yellow:greetings froobs!<br>
wave:wooooohooooo!<br>
scroll:selling axe press 333 to buy<br>
glow1:die evil spider of doom!<br>
flash1:I'm being really annoying!<br>

<br><br>


</center>
</td></tr></table>
<!--end content body-->
<br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</td></tr></table>
</center></td></tr></table></body></html>