<html><head><META HTTP-EQUIV="Expires" CONTENT="0"><META HTTP-EQUIV="Pragma" CONTENT="no-cache"><META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"><meta name="MSSmartTagsPreventParsing" content="TRUE"><title>RuneScape - the massive online adventure game by Jagex Ltd</title><STYLE>BODY, TD, P{ font-family:Arial,Helvetica,sans-serif; font-size:13px;}.b {border-style: outset; border-width:3pt; border-color:#373737}.e {border:2px solid #382418}.c {text-decoration:none}A.c:hover {text-decoration:underline}.white {text-decoration:none; color:#FFFFFF;} .red {text-decoration:none; color:#E10505;} .lblue {text-decoration:none; color:#9DB8C3;} .dblue {text-decoration:none; color:#0D6083;} .yellow {text-decoration:none; color:#FFE139;} .green {text-decoration:none; color:#04A800;} .purple {text-decoration:none; color:#C503FD;} .pink {text-decoration:none; color:#FAA8AA;} A.c:hover {text-decoration:underline} A.white:hover {text-decoration:underline} A.red:hover {text-decoration:underline} A.lblue:hover {text-decoration:underline} A.dblue:hover {text-decoration:underline} A.yellow:hover {text-decoration:underline} A.green:hover {text-decoration:underline} A.purple:hover {text-decoration:underline} A.pink:hover {text-decoration:underline} </STYLE>  </head><body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center><table cellpadding=0 cellspacing=0><tr><td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td></tr></table><table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom><center><table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Frequently Asked Technical Questions</b><br><a href='/faq' class=c>FAQ Index</a></center></td></tr></table></center>
<center><table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e>
<p>Please check if your question is answered in our FAQ list below.<br>
You may also find the solution to your problem by browsing the <a href='#' class=c>Technical Support forum</a> on the offical RuneScape Forums.<br>
If you still cannot find the answer to your technical problem, you may <a href='#' class=c>contact Technical Support</a>.
<ul>
<li><a href='#techfaq1' class=c>If you are having trouble loading RuneScape (can't get to the title screen)</a><br>
<li><a href='#techfaq2' class=c>If you having trouble logging in to the game (if it says 'unable to connect to server')</a><br>
<li><a href='#techfaq3' class=c>If you having problem with the game running slowly, or with "lost connections" or with "lag"</a><br>
<li><a href='#techfaq4' class=c>I'm trying to login but it says my username is already in use!</a><br>
<li><a href='#techfaq5' class=c>I am a member but cannot hear the members' sounds</a><br>
<li><a href='#techfaq6' class=c>I can't hear anyone talk, or the mouse/camera are behaving oddly</a><br>
<li><a href='#techfaq7' class=c>I turned on the SUN Java Plug-in, but now I want to turn it off again</a><br>
</ul>

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="techfaq1">
<p><b><font color='#ffbb22'>If you are having trouble loading RuneScape (can't get to the title screen).</b></font>
 
<ol>

<li>Try connecting to a different 'world' (UK or US). If one of our servers is experiencing technical issues
this will solve the problem for you whilst we get it fixed. 
 
<p><b>If this doesn't fix your problem then try:</b>
 
<br><br><li>Your browser may be caching an old version of the game - try clearing your web-cache.

<p>To do this in Internet-Explorer

<br><br>-Point at the 'tools' menu
<br>-Select 'internet options'
<br>-Click the button to delete your temporary internet files
 
<p><b>If this doesn't fix your problem then try:</b>
 
<br><br><li>On the 'play-game' page (the one where you select between free and members), you will see a scroll
at the bottom of the page. Click on the drop down menu on this scroll and select "Signed Applet using SUN Java"
and then proceed to load the game as normal. This will often fix the problem.
 
<p><b>If this doesn't fix your problem then try:</b>
 
<br><br><li>Ensure that you have accepted the popup security warning that appears a few seconds
after choosing your game server. If this popup does not appear try rebooting your machine, and make
sure you click "yes" when asked if you want to trust the RuneScape applet.
 
<p><b>If this doesn't fix your problem then try:</b>
 
<br><br><li>On the 'play-game' page (the one where you select between free and members), you will see a scroll 
at the bottom of the page. Click on the drop down menu on this scroll and select "Unsigned Applet using default Java"
and then proceed to load the game as normal. This will often fix the problem if you are playing from a school
machine or internet-cafe where you have limited access to the computer.
 
<p><b>If this doesn't fix your problem then try:</b>
 
<br><br><li>Download the mozilla web-browser from <a href='http://www.mozilla.org' target='new' class=c>www.mozilla.org</a> and try using that to play RuneScape
 
<p><b>If this doesn't fix your problem then try:</b>
 
<br><br><li>Our servers may be temporarily offline for maintenance or an update, try waiting an hour and then 
trying again.
 
<p><b>If this doesn't fix your problem then try:</b>
 
<br><br><li>Make sure your computer is sufficiently powerful to play RuneScape. To run RuneScape we recommend
you have at least 64 meg of RAM, and at least a 300mhz computer. If your machine isn't very fast make sure
you close all unnecessary program before running RuneScape.
 
<p>If it STILL won't work then sorry we really can't help you. If despite trying all the above it still won't work then
it is likely someone is deliberately blocking you from playing RuneScape, talk to your network administrator.
 
 </ol>


<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="techfaq2">
<p><b><font color='#ffbb22'>If you having trouble logging in to the game (if it says 'unable to connect to server')</b></font>
 
<ol>

<li>Try connecting to a different 'world' (UK or US). If one of our servers is experiencing technical issues
this will solve the problem for you whilst we get it fixed. 
 
<p><b>If this doesn't fix your problem then try:</b>
 
<br><br><li>If you cannot connect to our server, a firewall on your network may be blocking your connection.
Please ask your network administrator / ISP to open ports 43954 and 43595 which are used
by RuneScape
 
<p><b>If this doesn't fix your problem then try:</b>
 
<br><br><li>Our servers may be temporarily offline for maintenance or an update, try waiting an hour and then
trying again.
</ol>
 
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="techfaq3">
<p><b><font color='#ffbb22'>If you having problem with the game running slowly, or with "lost connections" or with "lag"</b></font>


<br><br>This problem is normally caused by either playing RuneScape from a slow computer, or by a poor quality internet connection between your computer and our server. Even if you're using a super-fast computer connected using an ultra fast cable link it's still possible that one of the machines on the route from us to you isn't up to the task, and so you might get poor performance sometimes. 

<p><b>To reduce the problem you can: </b>

<p> a) try playing on one of our servers in a different country, for instance even if you live in the US you might bizzarely get a better link to our UK servers. 

<p>b) make sure there aren't any other programs using your internet-connection. Close any unnecessary software. In particular don't try playing RuneScape at the same time as downloading files or swapping music, as this doesn't work very well! 

<p>c) try playing at a different time of day when the Internet is quieter and the various routers across the internet aren't overloaded. 

<p>d) whilst playing the game press the F1 key. This will cause the game to miss out some of the graphics and pixels which should hopefully make the screen update a bit faster 

<p>e) On the 'play-game' page (the one where you select between free and members), you will see a scroll at the bottom of the page. Try clicking on the drop down menu on this scroll and select "Signed Applet using SUN Java" and then proceed to load the game as normal. 

<p>f) ensure your Java Just-In-Time compiler for virtual machine is enabled. In Internet Explorer, under: tools->internet-options->advanced->Microsoft VM 
 
<p>g) try playing from a faster computer :-)
 
<p>h) try using a different ISP (internet-server-provider) 
 
<p>Our servers have a very good internet link, (we have over 90mbps of dedicated bandwidth) so it's unlikely to be a problem at our end. 
 
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="techfaq4">
<p><b><font color='#ffbb22'>I'm trying to login but it says my username is already in use!</b></font>

<p><b>There are three things that can cause this: </b>

<br><br>
<ul>
<li>If you were playing a few minutes ago and didn't log out properly your user may still be connected to the server. After a short while you will be logged out automatically so wait a few minutes and then try again. 


<li>You will occasionally see this message when we are upgrading the servers. Look on the RuneScape webpage, and if one or more of the servers is showing 0-players then its probably the reason. Just wait a few minutes for us to finish the upgrade and then login as normal. 


<li>If the servers seem to be working normally for everyone else, and you cannot login after waiting a while then someone may have your password and is using your account. </ul>

All users are advised to read our security tips. If you haven't already done so then please do so immediately by clicking <a href='/guides/securetips' class=c>here</a>. 

<p>After reading the security tips you should secure your account as detailed <a href='/guides/secureproc' class=c>here</a>.

 
<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="techfaq5">
<p><b><font color='#ffbb22'>I am a member but cannot hear the members' sounds</b></font>
 
<p>Runescape members using the SUN java plug-in will not be able to hear sounds from the game. Our development team is currently working hard to correct this, but in the short-term, consider using the Microsoft java plug-in.

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="techfaq6">
<p><b><font color='#ffbb22'>I can't hear anyone talk, or the mouse/camera are behaving oddly</b></font>
 
<p>Check you haven't accidently changed the in-game config options. For information on how to check these, please refer to the RuneScape manual. 

<p><center><img src='/img/newsletter/smstones.jpg'></center><p>
<a name="techfaq7">
<p><b><font color='#ffbb22'>I turned on the SUN Java Plug-in, but now I want to turn it off again</b></font>
 
<p>In Internet Explorer, uncheck 'Use Java2' via 'Tools' > 'Internet Options'. 
</td></tr></table><br></center></td></tr></table><table cellpadding=0 cellspacing=0><tr><td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td><td valign=bottom><div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">  This webpage and its contents is copyright 2004 Jagex Ltd<br>  To use our service you must agree to our  <a href="/terms" class=c>Terms+Conditions</a>  +   <a href="/privacy" class=c>Privacy policy</a>  </div>  <img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td></tr></table></td></tr></table></body></html>