[com_0]
type=layer
x=5
y=20
width=168
height=229
scroll=875

[com_1]
layer=com_0
type=text
x=5
y=8
width=84
height=14
font=b12
shadowed=yes
text=FREE QUESTS:
colour=0xF99B15

[com_2]
layer=com_0
type=text
x=10
y=23
buttontype=normal
width=130
height=14
font=p12
shadowed=yes
text=Black Knight's Fortress
colour=0x9F9F9F

[cook]
layer=com_0
type=text
x=10
y=39
buttontype=normal
width=96
height=14
font=p12
shadowed=yes
text=Cook's Assistant
colour=0x9F9F9F

[com_4]
layer=com_0
type=text
x=10
y=55
buttontype=normal
width=76
height=14
font=p12
shadowed=yes
text=Demon Slayer
colour=0x9F9F9F

[runemysteries]
layer=com_0
type=text
x=10
y=223
buttontype=normal
width=125
height=14
font=p12
shadowed=yes
text=Rune Mysteries Quest
colour=0x9F9F9F

[doric]
layer=com_0
type=text
x=10
y=71
buttontype=normal
width=75
height=14
font=p12
shadowed=yes
text=Doric's Quest
colour=0x9F9F9F

[com_7]
layer=com_0
type=text
x=10
y=192
buttontype=normal
width=109
height=14
font=p12
shadowed=yes
text=The Restless Ghost
colour=0x9F9F9F

[com_8]
layer=com_0
type=text
x=10
y=117
buttontype=normal
width=94
height=14
font=p12
shadowed=yes
text=Goblin Diplomacy
colour=0x9F9F9F

[com_9]
layer=com_0
type=text
x=10
y=102
buttontype=normal
width=105
height=14
font=p12
shadowed=yes
text=Ernest the Chicken
colour=0x9F9F9F

[com_10]
layer=com_0
type=text
x=10
y=147
buttontype=normal
width=66
height=14
font=p12
shadowed=yes
text=Imp Catcher
colour=0x9F9F9F

[com_11]
layer=com_0
type=text
x=10
y=162
buttontype=normal
width=97
height=13
font=p12
shadowed=yes
text=Pirate's Treasure
colour=0x9F9F9F

[com_12]
layer=com_0
type=text
x=10
y=177
buttontype=normal
width=96
height=14
font=p12
shadowed=yes
text=Prince Ali Rescue
colour=0x9F9F9F

[romeojuliet]
layer=com_0
type=text
x=10
y=208
buttontype=normal
width=86
height=14
font=p12
shadowed=yes
text=Romeo & Juliet
colour=0x9F9F9F

[com_14]
layer=com_0
type=text
x=10
y=239
buttontype=normal
width=83
height=14
font=p12
shadowed=yes
text=Sheep Shearer
colour=0x9F9F9F

[com_15]
layer=com_0
type=text
x=10
y=255
buttontype=normal
width=85
height=14
font=p12
shadowed=yes
text=Shield of Arrav
colour=0x9F9F9F

[com_16]
layer=com_0
type=text
x=10
y=132
buttontype=normal
width=104
height=14
font=p12
shadowed=yes
text=The Knight's Sword
colour=0x9F9F9F

[com_17]
layer=com_0
type=text
x=10
y=270
buttontype=normal
width=84
height=14
font=p12
shadowed=yes
text=Vampire Slayer
colour=0x9F9F9F

[hetty]
layer=com_0
type=text
x=10
y=287
buttontype=normal
width=79
height=14
font=p12
shadowed=yes
text=Witch's Potion
colour=0x9F9F9F

[com_19]
layer=com_0
type=text
x=10
y=816
buttontype=normal
width=68
height=14
font=p12
shadowed=yes
text=Watch Tower
colour=0x9F9F9F

[com_20]
layer=com_0
type=text
x=10
y=306
width=113
height=14
font=b12
shadowed=yes
text=MEMBERS QUESTS:
colour=0xF99B15

[com_21]
layer=com_0
type=text
x=10
y=831
buttontype=normal
width=89
height=14
font=p12
shadowed=yes
text=Waterfall Quest
colour=0x9F9F9F

[com_22]
layer=com_0
type=text
x=10
y=846
buttontype=normal
width=82
height=14
font=p12
shadowed=yes
text=Witches House
colour=0x9F9F9F

[com_23]
layer=com_0
type=text
x=10
y=339
buttontype=normal
width=57
height=14
font=p12
shadowed=yes
text=Biohazard
colour=0x9F9F9F

[com_24]
layer=com_0
type=text
x=10
y=354
buttontype=normal
width=63
height=14
font=p12
shadowed=yes
text=Clock Tower
colour=0x9F9F9F

[com_25]
layer=com_0
type=text
x=10
y=369
buttontype=normal
width=76
height=14
font=p12
shadowed=yes
text=Digsite Quest
colour=0x9F9F9F

[com_26]
layer=com_0
type=text
x=10
y=385
buttontype=normal
width=73
height=14
font=p12
shadowed=yes
text=Druidic Ritual
colour=0x9F9F9F

[com_27]
layer=com_0
type=text
x=10
y=401
buttontype=normal
width=77
height=14
font=p12
shadowed=yes
text=Dwarf Cannon
colour=0x9F9F9F

[com_28]
layer=com_0
type=text
x=10
y=416
buttontype=normal
width=69
height=14
font=p12
shadowed=yes
text=Family Crest
colour=0x9F9F9F

[com_29]
layer=com_0
type=text
x=10
y=432
buttontype=normal
width=65
height=14
font=p12
shadowed=yes
text=Fight Arena
colour=0x9F9F9F

[com_30]
layer=com_0
type=text
x=10
y=448
buttontype=normal
width=88
height=14
font=p12
shadowed=yes
text=Fishing Contest
colour=0x9F9F9F

[com_31]
layer=com_0
type=text
x=10
y=465
buttontype=normal
width=83
height=14
font=p12
shadowed=yes
text=Gertrude's Cat
colour=0x9F9F9F

[com_32]
layer=com_0
type=text
x=10
y=481
buttontype=normal
width=83
height=14
font=p12
shadowed=yes
text=The Grand Tree
colour=0x9F9F9F

[com_33]
layer=com_0
type=text
x=10
y=497
buttontype=normal
width=63
height=14
font=p12
shadowed=yes
text=Hazeel Cult
colour=0x9F9F9F

[com_34]
layer=com_0
type=text
x=10
y=513
buttontype=normal
width=73
height=14
font=p12
shadowed=yes
text=Hero's Quest
colour=0x9F9F9F

[com_35]
layer=com_0
type=text
x=10
y=530
buttontype=normal
width=53
height=14
font=p12
shadowed=yes
text=Holy Grail
colour=0x9F9F9F

[com_36]
layer=com_0
type=text
x=10
y=546
buttontype=normal
width=77
height=14
font=p12
shadowed=yes
text=Jungle Potion
colour=0x9F9F9F

[com_37]
layer=com_0
type=text
x=10
y=562
buttontype=normal
width=85
height=14
font=p12
shadowed=yes
text=Legends Quest
colour=0x9F9F9F

[com_38]
layer=com_0
type=text
x=10
y=578
buttontype=normal
width=50
height=14
font=p12
shadowed=yes
text=Lost City
colour=0x9F9F9F

[com_39]
layer=com_0
type=text
x=10
y=594
buttontype=normal
width=88
height=14
font=p12
shadowed=yes
text=Merlin's Crystal
colour=0x9F9F9F

[com_40]
layer=com_0
type=text
x=10
y=610
buttontype=normal
width=77
height=14
font=p12
shadowed=yes
text=Monk's Friend
colour=0x9F9F9F

[com_41]
layer=com_0
type=text
x=10
y=626
buttontype=normal
width=90
height=14
font=p12
shadowed=yes
text=Murder Mystery
colour=0x9F9F9F

[com_42]
layer=com_0
type=text
x=10
y=641
buttontype=normal
width=109
height=14
font=p12
shadowed=yes
text=Observatory Quest
colour=0x9F9F9F

[com_43]
layer=com_0
type=text
x=10
y=657
buttontype=normal
width=63
height=14
font=p12
shadowed=yes
text=Plague City
colour=0x9F9F9F

[com_44]
layer=com_0
type=text
x=10
y=672
buttontype=normal
width=96
height=14
font=p12
shadowed=yes
text=Scorpion Catcher
colour=0x9F9F9F

[com_45]
layer=com_0
type=text
x=10
y=688
buttontype=normal
width=85
height=14
font=p12
shadowed=yes
text=Sea Slug Quest
colour=0x9F9F9F

[com_46]
layer=com_0
type=text
x=10
y=704
buttontype=normal
width=76
height=14
font=p12
shadowed=yes
text=Sheep Herder
colour=0x9F9F9F

[com_47]
layer=com_0
type=text
x=10
y=720
buttontype=normal
width=67
height=14
font=p12
shadowed=yes
text=Shilo Village
colour=0x9F9F9F

[com_48]
layer=com_0
type=text
x=10
y=736
buttontype=normal
width=80
height=14
font=p12
shadowed=yes
text=Temple of Ikov
colour=0x9F9F9F

[com_49]
layer=com_0
type=text
x=10
y=753
buttontype=normal
width=88
height=14
font=p12
shadowed=yes
text=The Tourist Trap
colour=0x9F9F9F

[com_50]
layer=com_0
type=text
x=10
y=769
buttontype=normal
width=105
height=14
font=p12
shadowed=yes
text=Tree Gnome Village
colour=0x9F9F9F

[com_51]
layer=com_0
type=text
x=10
y=785
buttontype=normal
width=66
height=14
font=p12
shadowed=yes
text=Tribal Totem
colour=0x9F9F9F

[com_52]
layer=com_0
type=text
x=10
y=801
buttontype=normal
width=105
height=14
font=p12
shadowed=yes
text=Underground Pass
colour=0x9F9F9F

[com_53]
layer=com_0
type=text
x=10
y=86
buttontype=normal
width=79
height=14
font=p12
shadowed=yes
text=Dragon Slayer
colour=0x9F9F9F

[com_54]
layer=com_0
type=text
x=10
y=323
buttontype=normal
width=135
height=14
font=p12
shadowed=yes
text=Big Chompy Bird Hunting
colour=0x9F9F9F

[com_55]
type=text
x=41
y=4
width=93
height=14
font=b12
shadowed=yes
text=Quest Journal
colour=0xFFFF00

[com_56]
type=graphic
x=-12
y=194
width=36
height=36
graphic=miscgraphics,2

[com_57]
type=graphic
x=150
y=194
width=36
height=36
graphic=steelborder2,1

[com_58]
type=graphic
x=3
y=20
width=25
height=30
graphic=steelborder,0

[com_59]
type=graphic
x=146
y=20
width=25
height=30
graphic=steelborder,1

[com_60]
type=graphic
x=3
y=219
width=25
height=30
graphic=steelborder,2

[com_61]
type=graphic
x=146
y=219
width=25
height=30
graphic=steelborder,3

[com_62]
type=graphic
x=28
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=64
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=100
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=112
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=150
y=50
width=36
height=36
graphic=steelborder2,1

[com_67]
type=graphic
x=150
y=86
width=36
height=36
graphic=steelborder2,1

[com_68]
type=graphic
x=150
y=122
width=36
height=36
graphic=steelborder2,1

[com_69]
type=graphic
x=150
y=158
width=36
height=36
graphic=steelborder2,1

[com_70]
type=graphic
x=-12
y=50
width=36
height=36
graphic=miscgraphics,2

[com_71]
type=graphic
x=-12
y=86
width=36
height=36
graphic=miscgraphics,2

[com_72]
type=graphic
x=-12
y=122
width=36
height=36
graphic=miscgraphics,2

[com_73]
type=graphic
x=-12
y=158
width=36
height=36
graphic=miscgraphics,2

[com_74]
type=graphic
x=28
y=228
width=36
height=36
graphic=miscgraphics,3

[com_75]
type=graphic
x=64
y=228
width=36
height=36
graphic=miscgraphics,3

[com_76]
type=graphic
x=98
y=228
width=36
height=36
graphic=miscgraphics,3

[com_77]
type=graphic
x=124
y=228
width=36
height=36
graphic=miscgraphics,3
