[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[com_55]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_69]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[com_70]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_73]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[com_74]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[com_75]
type=text
x=216
y=28
width=88
height=14
center=yes
font=b12
shadowed=yes
text=Report abuse
colour=0xFFFF00

[com_76]
type=text
x=420
y=29
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0xFF0000
overcolour=0xFFFFFF

[com_77]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[com_85]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[com_88]
type=graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[com_89]
type=graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[com_90]
type=text
x=84
y=55
width=343
height=14
font=p12
shadowed=yes
text=This form is for reporting players who are breaking our rules.
colour=0xFFFFFF

[com_91]
type=text
x=74
y=70
width=357
height=14
font=p12
shadowed=yes
text=Using it sends a snapshot of the last 60 secs of activity to us.
colour=0xFFFFFF

[com_92]
type=text
x=130
y=85
width=242
height=14
font=p12
shadowed=yes
text=If you misuse this form, you will be banned.
colour=0xFF8000

[com_93]
type=text
x=75
y=180
width=362
height=14
font=p12
shadowed=yes
text=Then click below to indicate which of our 12 rules is being broken.
colour=0xFFFF00

[com_94]
type=text
x=39
y=196
width=441
height=14
font=p12
shadowed=yes
text=For a detailed explanation of each rule please read the manual on our website.
colour=0xFFFF00

[com_95]
type=text
x=59
y=220
buttontype=normal
clientcode=601
width=125
height=14
font=p12
shadowed=yes
text=1: Offensive language
colour=0xFFFFFF
overcolour=0xFF0000

[com_96]
type=text
x=57
y=235
buttontype=normal
clientcode=602
width=96
height=14
font=p12
shadowed=yes
text=2: Item scamming
colour=0xFFFFFF
overcolour=0xFF0000

[com_97]
type=text
x=58
y=250
buttontype=normal
clientcode=603
width=125
height=14
font=p12
shadowed=yes
text=3: Password scamming
colour=0xFFFFFF
overcolour=0xFF0000

[com_98]
type=text
x=58
y=265
buttontype=normal
clientcode=604
width=72
height=14
font=p12
shadowed=yes
text=4: Bug abuse
colour=0xFFFFFF
overcolour=0xFF0000

[com_99]
type=text
x=58
y=280
buttontype=normal
clientcode=605
width=166
height=14
font=p12
shadowed=yes
text=5: Jagex staff impersonation
colour=0xFFFFFF
overcolour=0xFF0000

[com_100]
type=text
x=58
y=295
buttontype=normal
clientcode=606
width=153
height=14
font=p12
shadowed=yes
text=6: Account sharing/trading
colour=0xFFFFFF
overcolour=0xFF0000

[com_101]
type=text
x=276
y=220
buttontype=normal
clientcode=607
width=63
height=14
font=p12
shadowed=yes
text=7: Macroing
colour=0xFFFFFF
overcolour=0xFF0000

[com_102]
type=text
x=274
y=235
buttontype=normal
clientcode=608
width=115
height=14
font=p12
shadowed=yes
text=8: Multiple logging in
colour=0xFFFFFF
overcolour=0xFF0000

[com_103]
type=text
x=274
y=250
buttontype=normal
clientcode=609
width=206
height=14
font=p12
shadowed=yes
text=9: Encouraging others to break rules
colour=0xFFFFFF
overcolour=0xFF0000

[com_104]
type=text
x=268
y=265
buttontype=normal
clientcode=610
width=180
height=14
font=p12
shadowed=yes
text=10: Misuse of customer support
colour=0xFFFFFF
overcolour=0xFF0000

[com_105]
type=text
x=270
y=280
buttontype=normal
clientcode=611
width=139
height=14
font=p12
shadowed=yes
text=11: Advertising / website
colour=0xFFFFFF
overcolour=0xFF0000

[com_106]
type=text
x=268
y=295
buttontype=normal
clientcode=612
width=147
height=14
font=p12
shadowed=yes
text=12: Real world item trading
colour=0xFFFFFF
overcolour=0xFF0000

[com_107]
type=text
x=91
y=118
width=330
height=14
font=p12
shadowed=yes
text=First please enter the name of the offending player below:
colour=0xFFFF00

[com_108]
type=text
x=233
y=137
clientcode=600
width=58
height=14
center=yes
font=b12
shadowed=yes
text=Andrew*
colour=0xFFFFFF

[com_109]
type=text
x=118
y=154
buttontype=normal
clientcode=613
width=284
height=14
center=yes
font=p12
shadowed=yes
text=Moderator option: Mute player for 48 hours: <OFF>
colour=0xFFFFFF

[com_110]
type=model
x=27
y=213
width=31
height=34
model=model_3180
zoom=578
xan=1489
yan=1024

[com_111]
type=model
x=437
y=213
width=32
height=32
model=model_3180
zoom=578
xan=1489
yan=1024
