type=overlay

[com_0]
type=text
x=113
y=28
width=58
height=11
font=p11
shadowed=yes
text=Energy left:
colour=0x2DED01

[com_1]
type=text
x=129
y=40
width=28
height=14
script1op1=runenergy
center=yes
font=p12
shadowed=yes
text=%1%
colour=0xFFFF00

[com_2]
type=graphic
x=53
y=108
buttontype=select
width=36
height=36
script1op1=pushvar,auto_retaliate
script1=eq,0
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_3]
type=graphic
x=101
y=108
buttontype=select
width=36
height=36
script1op1=pushvar,auto_retaliate
script1=eq,1
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_4]
type=graphic
x=9
y=44
buttontype=select
width=36
height=36
script1op1=pushvar,run
script1=eq,0
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_5]
type=graphic
x=53
y=44
buttontype=select
width=36
height=36
script1op1=pushvar,run
script1=eq,1
graphic=miscgraphics,0
activegraphic=miscgraphics,9

[com_6]
type=text
x=47
y=4
width=101
height=14
font=b12
shadowed=yes
text=Player controls
colour=0x00FFFF

[com_7]
type=text
x=56
y=88
width=79
height=14
font=p12
shadowed=yes
text=Auto retaliate
colour=0xEE7C02

[com_8]
type=text
x=109
y=118
width=20
height=14
font=p12
shadowed=yes
text=Off
colour=0xFFFF00
activecolour=0xFF8000

[com_9]
type=text
x=63
y=118
width=15
height=14
font=p12
shadowed=yes
text=On
colour=0xFFFF00
activecolour=0xFF8000

[com_10]
type=text
x=14
y=25
width=68
height=14
font=p12
shadowed=yes
text=Move speed
colour=0x2DED01

[com_11]
type=text
x=61
y=54
width=21
height=14
font=p12
shadowed=yes
text=Run
colour=0xFFFF00
activecolour=0xFF8000

[com_12]
type=text
x=15
y=54
width=25
height=14
font=p12
shadowed=yes
text=Walk
colour=0xFFFF00
activecolour=0xFF8000

[com_13]
type=graphic
x=53
y=200
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_14]
type=graphic
x=101
y=172
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_15]
type=graphic
x=9
y=228
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_16]
type=graphic
x=145
y=172
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_17]
type=graphic
x=9
y=200
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_18]
type=graphic
x=145
y=228
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_19]
type=graphic
x=53
y=228
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_20]
type=graphic
x=9
y=172
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_21]
type=graphic
x=53
y=172
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_22]
type=graphic
x=101
y=200
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_23]
type=graphic
x=145
y=200
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_24]
type=graphic
x=101
y=228
buttontype=normal
width=36
height=25
graphic=miscgraphics2,0

[com_25]
type=text
x=13
y=235
width=28
height=11
font=p11
shadowed=yes
text=Wave
colour=0xFFFF00

[com_26]
type=text
x=45
y=153
width=99
height=14
font=p12
shadowed=yes
text=Emote animations
colour=0x02DE01

[com_27]
type=text
x=153
y=179
width=20
height=11
font=p11
shadowed=yes
text=Bow
colour=0xFFFF00

[com_28]
type=text
x=148
y=235
width=30
height=11
font=p11
shadowed=yes
text=Dance
colour=0xFFFF00

[com_29]
type=text
x=12
y=207
width=30
height=11
center=yes
font=p11
shadowed=yes
text=Angry
colour=0xFFFF00

[com_30]
type=text
x=107
y=179
width=25
height=11
center=yes
font=p11
shadowed=yes
text=Think
colour=0xFFFF00

[com_31]
type=text
x=54
y=235
width=35
height=11
font=p11
shadowed=yes
text=Beckon
colour=0xFFFF00

[com_32]
type=text
x=19
y=179
width=17
height=11
font=p11
shadowed=yes
text=Yes
colour=0xFFFF00

[com_33]
type=text
x=65
y=179
width=13
height=11
center=yes
font=p11
shadowed=yes
text=No
colour=0xFFFF00

[com_34]
type=text
x=62
y=207
width=18
height=11
font=p11
shadowed=yes
text=Cry
colour=0xFFFF00

[com_35]
type=text
x=105
y=55
width=76
height=11
font=p11
shadowed=yes
text=Weight carried:
colour=0x2DED01

[com_36]
type=text
x=128
y=66
width=30
height=14
script1op1=runweight
center=yes
font=p12
shadowed=yes
text=%1kg
colour=0xFFFF00

[com_37]
type=text
x=105
y=207
width=29
height=11
font=p11
shadowed=yes
text=Laugh
colour=0xFFFF00

[com_38]
type=text
x=148
y=207
width=30
height=11
font=p11
shadowed=yes
text=Cheer
colour=0xFFFF00

[com_39]
type=text
x=108
y=235
width=22
height=11
font=p11
shadowed=yes
text=Clap
colour=0xFFFF00
