<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Cooking</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/rs2/skills" class=c>Skills Index</a>
</center></td></tr></table>
<br>
<!-- end of title box -->

<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e>
<table border=0><tr><td>
<center><b>Cooking skill </b></center><p>

<p>There are a variety of different foods you can cook in RuneScape. Food is useful because eating it will heal lost hit points. As you practice your cooking, your character will get better. You will burn food less often, and you will be able to make better food which heals you more. 

<p>To cook food you will need to use one of the many stoves which are scattered around the map. Alternatively if there aren't any stoves nearby you can build a campfire and use that. For more information on building fires please see our <a href="/rs2/skills/firemaking" class=c>Firemaking section</a>.

<p>A guide to the different foods you can cook is shown below. In addition to the foods listed there are also some low-level foods and drinks which can be brought directly from the shops and pubs in RuneScape. 
<br>
<p><center><b>Cooking Items</b></center><p>

<p>A list of the different foods you can cook in Runescape are shown below with the cooking level needed (cooking) and the amount it heals your hit points (healing).
<br><br>
<!-- table -->
<center>
<table bgcolor=black cellpadding=6 border=0>

<tr>
<td width=90 bgcolor=#382418><center><b>Food</b></center></td>
<td width=70 bgcolor=#382418><center><b>Level</b></center></td>
<td width=90 bgcolor=#382418><center><b>Food</b></center></td>
<td width=70 bgcolor=#382418><center><b>Level</b></center></td>
</tr>

<tr>
<td><center>Meat<br><img src="/img/rs2/manual/cooking/meat.gif" width=48 height=32></center></td>
<td><center>Cooking 1<br>Heals 3</center></td>

<td><center>Bread<br><img src="/img/rs2/manual/cooking/bread2.gif" width=48 height=32></center></td>
<td><center>Cooking 1<br>Heals 4</center></td>
</tr>


<tr>
<td><center>Herring<br><img src="/img/rs2/manual/cooking/herring.gif" width=48 height=32></center></td>
<td><center>Cooking 5<br>Heals 5</center></td>

<td><center>Redberry pie<br><img src="/img/rs2/manual/cooking/r_pie.gif" width=48 height=32></center></td>
<td><center>Cooking 10<br>Heals 6</center></td>
</tr>

<tr>
<td><center>Trout<br><img src="/img/rs2/manual/cooking/trout.gif" width=48 height=32></center></td>
<td><center>Cooking 15<br>Heals 7</center></td>


<td><center>Pike<br><img src="/img/rs2/manual/cooking/pike.gif" width=48 height=32></center></td>
<td><center>Cooking 20<br>Heals 8</center></td>

</tr>

<tr>
<td><center>Meat pie<br><img src="/img/rs2/manual/cooking/m_pie.gif" width=48 height=32></center></td>
<td><center>Cooking 20<br>Heals 8</center></td>


<td><center>Salmon<br><img src="/img/rs2/manual/cooking/salmon.gif" width=48 height=32></center></td>
<td><center>Cooking 25<br>Heals 9</center></td>

</tr>

<tr>
<td><center>Stew<br><img src="/img/rs2/manual/cooking/stew.gif" width=48 height=32></center></td>
<td><center>Cooking 25<br>Heals 9</center></td>


<td><center>Apple pie<br><img src="/img/rs2/manual/cooking/a_pie.gif" width=48 height=32></center></td>
<td><center>Cooking 30<br>Heals 10</center></td>

</tr>

<tr>
<td><center>Tuna<br><img src="/img/rs2/manual/cooking/tuna.gif" width=48 height=32></center></td>
<td><center>Cooking 30<br>Heals 10</center></td>


<td><center>Pizza<br><img src="/img/rs2/manual/cooking/pizza.gif" width=48 height=32></center></td>
<td><center>Cooking 35<br>Heals 11</center></td>

</tr>

<tr>
<td><center>Wine<br><img src="/img/rs2/manual/cooking/wine.gif" width=48 height=32></center></td>
<td><center>Cooking 35<br>Heals 11</center></td>


<td><center>Lobster<br><img src="/img/rs2/manual/cooking/lobster.gif" width=48 height=32></center></td>
<td><center>Cooking 40<br>Heals 12</center></td>

</tr>

<tr>
<td><center>Cake<br><img src="/img/rs2/manual/cooking/cake2.gif" width=48 height=32></center></td>
<td><center>Cooking 40<br>Heals 12</center></td>


<td><center>Swordfish<br><img src="/img/rs2/manual/cooking/swordfish.gif" width=48 height=32></center></td>
<td><center>Cooking 45<br>Heals 14</center></td>

</tr>

<tr>
<td><center>Meat pizza<br><img src="/img/rs2/manual/cooking/meatpizza.gif" width=48 height=32></center></td>
<td><center>Cooking 45<br>Heals 14</center></td>


<td><center>Chocolate cake<br><img src="/img/rs2/manual/cooking/choc_cake2.gif" width=48 height=32></center></td>
<td><center>Cooking 50<br>Heals 15</center></td>
</tr>

<tr>
<td><center>Anchovie<br>pizza<br><img src="/img/rs2/manual/cooking/anchoviepizza.gif" width=48 height=32></center></td>
<td><center>Cooking 55<br>Heals 16</center></td>
<td valign=top><center>Pineapple<br>pizza<br><img src="/img/rs2/manual/cooking/pineapplepizza.gif" width=48 height=32></center></td>
<td><center>Cooking 65<br>Heals 20<br><a href="/members" class=c>Members only</a></center></td>


</tr>

<tr>
<td valign=top><center>Cod<br><img src="/img/rs2/manual/cooking/cod.gif" width=48 height=32></center></td>
<td><center>Cooking 18<br>Heals 7</center></td>
<td valign=top><center>Bass<br><img src="/img/rs2/manual/cooking/bass.gif" width=48 height=32></center></td>
<td><center>Cooking 43<br>Heals 13<br><a href="/members" class=c>Members only</a></center></td>

</tr>

<tr>
<td valign=top><center>Shark<br><img src="/img/rs2/manual/cooking/shark.gif" width=48 height=32></center></td>
<td><center>Cooking 80<br>Heals 20<br><a href="/members" class=c>Members only</a></center></td>


<td valign=top><center>Mackerel<br><img src="/img/rs2/manual/cooking/mackerel.gif" width=48 height=32></center></td>
<td><center>Cooking 10<br>Heals 6<br><a href="/members" class=c>Members only</a></center></td>

</tr>

<tr>
<td valign=top><center>Curry<br><img src="/img/rs2/manual/cooking/curry.gif" width=48 height=32></center></td>
<td><center>Cooking 60<br>Heals 19<br><a href="/members" class=c>Members only</a></center></td>

<td valign=top><center>Seaturtle<br><img src="/img/rs2/manual/cooking/seaturtle.gif" width=48 height=32></center></td>
<td><center>Cooking 82<br>Heals 21<br><a href="/members" class=c>Members only</a></center></td>

</tr>

<tr>
<td valign=top><center>Mantaray<br><img src="/img/rs2/manual/cooking/mantaray.gif" width=48 height=32></center></td>
<td><center>Cooking 91<br>Heals 22<br><a href="/members" class=c>Members only</a></center></td>


<td valign=top></td>
<td></td>

</tr>
</table>
<p><center><b>How to Cook</b></center><p>

<!-- table -->

<center><table border=0>
<tr><td><p><b>Bread</b></p></td>
<td><img src="/img/rs2/manual/cooking/bread2.gif" width=48 height=32></td></tr></table>
</center>

<table width=305><tr><td>
<p>1. Pick some grain, and take it to the windmill to make flour.
<br>2. You will need to use a pot to pick up the flour you have made.
<br>3. Buy a bucket or jug, and fill it with water from a sink or fountain.
<br>4. Mix the flour and water to make some bread dough.
<br>5. Cook the dough by using it with a stove.
</td></tr></table>
<br><br>

<center>
<table border=0>
<tr><td><p><b>Pies</b></p></td>
<td><img src="/img/rs2/manual/cooking/m_pie.gif" width=48 height=32></td></tr></table>
</center>

<table width=305><tr><td>
<p>1. Mix flour and water to make some pastry dough.
<br>2. Place the dough in an empty pie dish.
<br>3. Use your choice of filling with the empty pie. 
(redberry, apple or meat)
<br>4. Cook the pie by using it with a stove. 

</td></tr></table>
<!-- end of table -->
<p>
<!-- table -->
<center>
<table border=0>
<tr><td><p><b>Fish</b></p></td>
<td><img src="/img/rs2/manual/cooking/swordfish.gif" width=48 height=32></td></tr></table>

<table border=0 width=305><tr><td>
<p>To cook fish you need to use your choice of fish with a fire or stove to cook it. (To find out how to catch fish please see our <a href="/rs2/skills/fishing" class=c>fishing section</a>.)</td></tr></table>
<br><br>
</center>
<center><table border=0>
<tr><td align=right><b>Cakes</b></td>
<td><img src="/img/rs2/manual/cooking/cake2.gif" width=48 height=32></td></tr></table>

<table>
<tr><td colspan=2 width=305>
<p>1. Mix flour, eggs, milk together in a cake tin.
<br>2. Cook the cake by using it with a stove. 
<br>3. Buy some chocolate and add it to the cake. <b><i>(optional)</i></b> 
</td></tr>
</table>
</center>

<br><br>

<center><table border=0>
<tr><td align=right><b>Stew</b></td>
<td><img src="/img/rs2/manual/cooking/stew.gif" width=48 height=32></td></tr></table>

<table>
<tr><td colspan=2 width=305>
<p>1. Obtain a bowl, and fill it with water from a sink or fountain.
<br>2. Pick a potato and place it in the bowl.
<br>3. Cook some meat and place it in the bowl.
<br>4. Cook the stew by using it with a stove or fire. 
</td></tr>
</table>
</center>

<p>
<center><table border=0>
<tr><td align=right><b>Curry</b></td>
<td><img src="/img/rs2/manual/cooking/curry.gif" width=48 height=32></td></tr></table>

<table border=0 width=305>
<tr><td colspan=2>
<p>1.Make some uncooked stew(see stew description).
<br>2.Before cooking the stew add some spices.
<br>3.Cook the curry by using it with a stove or fire.
</td></tr>
</table>
</center>
<br>

<center><table border=0>
<tr><td align=right><b>Wine</b></td>
<td><img src="/img/rs2/manual/cooking/wine.gif" width=48 height=32></td></tr></table>

<table border=0 width=305>
<tr><td colspan=2>
<p>1. Fill a jug with water.
<br>2. Use grapes with the jug of water.
<br>3. Wait until the wine ferments.
<br>4. Wine will ferment when left in your inventory or the bank.
</td></tr>
</table>
</center>
<br><br>

<center><table border=0>
<tr><td align=right><b>Pizzas</b></td>
<td><img src="/img/rs2/manual/cooking/meatpizza.gif" width=48 height=32></td></tr></table>

<table border=0 width=305>
<tr><td colspan=2>
<p>1. Mix flour and water to make a pizza base.
<br>2. Buy a tomato and add it to the pizza.
<br>3. Buy some cheese and add it to the pizza.
<br>4. Cook the pizza by using it with a stove. 
<br>5. Add your choice of topping to the pizza.
</td></tr>
</table>
</center>

</td></tr></table>

</td></tr></table>
<br>

<!--end main body text -->
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>