<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->

<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Crafting</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/rs2/skills" class=c>Skills Index</a>
</center></td></tr></table>
<br>
<!-- end of title box -->

<!-- tip box 1 -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e>
<table border=0><tr><td>
<center><b>Crafting guide</b><br><br></center>
<p>
The crafting skill can be used to make different things out of all sort of materials. Gems, gold bars, silver bars, leather and clay are all used in crafting.
<p>
<center><b>Pottery</b><br><br></center>
<table border=0><tr><td>
Bowls, pots and pie dishes can all be made by crafting. 
Clay is obtained by <a href="/rs2/skills/mining" class=c>mining</a>.<br>
To make the clay workable it needs to be softened first.
Use a jug of water with the clay and it will be turned into soft clay.
Take the clay to a potter's wheel. There is one in the barbarian village.<br>
Use the clay on the potter's wheel and select what object you would like to make. If you have the correct crafting level you will make an unfired piece of pottery.
Use it on the pottery oven and as long as it doesn't crack upon heating, you will have made yourself a nice new piece of pottery.
</td><td><img src="/img/rs2/manual/crafting/pottery.gif" width=159 height=151></td></tr></table>

<p>
<center><b>Leather</b></center><br><br>Leather is made from cow hides, so you will need to find a cow field and kill some cows. <br>
<table><tr><td valign=top><img src="/img/rs2/manual/crafting/leather.gif"></td><td>
Once you have a cow hide, take it to the tannery in Al Kharid. You can then craft your leather into leather armour, boots or gloves. You will need to get a needle and some thread from a crafting shop. Right-click the needle in your inventory and use it on a piece of leather, then as long as you have some thread the screen below will be opened, and you will be given a choice of leather objects to make.  
</td></tr></table><br>Simply click on the item you want to make and if you have enough thread you will craft it.<p><center>
<img src="/img/rs2/manual/crafting/leather.jpg"></center><p>
There are 3 types of leather - normal, hard and dragon. You are given the choice of either normal or hard leather when you get your cow hides converted by the tanner. Expect to pay a little more for hardened leather.
Dragon leather is made in the same way as normal leather, except dragon hides are used instead of cow hides.<p>
Kill a dragon to collect it's hide, then speak to a tanner in the same way, and you get the option to make
dragon leather if you have any dragonhides in your inventory. The cost for converting dragonhides is more
expensive than hardened leather however. Use a needle and thread again and a smaller crafting display is shown with the items that you can craft from dragon leather.
<p>
Adding studs to a leather body or chaps increases it's strength. Studs can be smithed from steel, then used  with the leather item to make it studded. Studs can only be used on normal leather.
<p>
<center><b>Gems</b></center><br>
Gems are rare objects you will occasionally find, they can be made more valuable by cutting them. Once a gem is cut it can also be used when you are making gold jewelry.
You will need to buy a chisel from a general store or a crafting shop.
Select the chisel from your inventory and then the gem you wish to cut.
If you find your crafting level is not high enough to cut the gem you may want to make a bit more pottery or leather to raise your crafting level first.<br><br>

<p>
<center><b>Holy and Unholy symbols</b></center><br>

<table><tr><td><img src="/img/rs2/manual/crafting/spinning.gif" width=105 height=179></td><td>
 You need a crafting level of 16 to craft silver bars. To make silver bars see the <a href="/rs2/skills/mining" class=c>mining</a> and <a href="/rs2/skills/smithing" class=c>smithing</a> guides. You will need a holy symbol mould which can be bought from a crafting shop. Then use your silver bar on a furnace and you will be able to make a holy symbol of Saradomin. <br>
You can either sell your holy symbol to the general store or you can make it into an object that makes your prayers last longer. If you want to use your holy symbol you will need some string. To make string, buy a pair of shears from a general store. Use the shears on a sheep to get some wool. 
 



</td></tr></table>

<p>

<table><tr><td>
Use the wool on a spinning wheel to spin it into a ball. Then you can use your ball of wool on your holy symbol to give it a string. 
Finally you will need to get your holy symbol blessed. This can only be done by taking it to a monk called Brother Jered. Brother Jered is upstairs in the monastery. You will need a prayer level of 31 to get in to talk to him.
<br>
Runescape members may also come across an unholy symbol mould which can be used to make unholy symbols in the same way and requires a crafting level of 17 to use. When they get the mould they will also be told how to get their unholy symbols enchanted.
</td><td><img src="/img/rs2/manual/crafting/monk.gif" width=178 height=143></td></tr></table>

<p>
<center><b>Jewelery and amulets</b></center><br>

<table><tr><td><img src="/img/rs2/manual/crafting/furnace.gif" width=259 height=190></td><td valign=top>
To make gold bars see the <a href="/rs2/skills/mining" class=c>mining</a> and <a href="/rs2/skills/smithing" class=c>smithing</a> guides.
You can make amulets, necklaces and rings from gold bars. Buy the appropriate moulds from a crafting shop. 
<br><br>Use a gold bar on a furnace and select the object you would like to make.
</td></tr></table>

<p>

Putting gems in your gold jewelry can increase the smithing level required quite a lot, but it also increases the value of what you are making.

<p>All the gold jewelry can be sold for a good price, but amulets with jewels in them can also be made into useful enchanted amulets which give various bonuses. First of all your amulet will need a string, this is made in the same way as the string for the holy amulets of Saradomin. Then it can be enchanted using the magic skill. 


<p>
<center><b>Glassmaking</b><br><br><i>Glassmaking is only available to RuneScape members.<br>
Please <a href="/members" class=c>subscribe</a> to get this feature.</i><br><br></center>

<table>
<tr><td valign=top><p>To make some glass, you will first need to get some seaweed. 
This can be obtained by big net fishing, or found on Entrana Island. 
Heat the seaweed to get soda ash. <br><br>Then use a bucket on a sandpit, to 
get a bucket of sand. With both soda ash and sand in your inventory, 
you can then use a furnace on either one to make molten glass.</td>
<td><img src="/img/rs2/manual/crafting/sandpit.gif" width=153 height=135></td></tr></table>
<p>Use this molten glass with a glass-blowing pipe, which can also be found
on Entrana. You will then be asked what object you would like to make.
<p><center><b>Glass objects</b></center><br>

<center>
<table bgcolor=black cellpadding=6 border=0>

<tr>
<td align=center width=90 bgcolor=#382418><b>Item</b></td>
<td align=center width=70 bgcolor=#382418><b>Purpose</b></td>
<td align=center width=90 bgcolor=#382418><b>Crafting level</b></td>

</tr>

<tr>
<td><center>Beer Glass<br><img src="/img/rs2/manual/crafting/beerglass.gif" width=48 height=32></center></td>
<td><center>Fill them with beer<br>	from beer barrels</center></td>

<td><center>1</center></td>

</tr>


<tr>
<td><center>Vial<br><img src="/img/rs2/manual/crafting/vial.gif" width=48 height=32></center></td>
<td><center>Useful in Herblore</center></td>

<td><center>33</center></td>

</tr>

<tr>
<td><center>Orb<br><img src="/img/rs2/manual/crafting/stafforb.gif" width=48 height=32></center></td>
<td><center>Can be enchanted<br>
 and then put on the<br>
 end of battlestaffs 
<br>(See below)</center></td>


<td><center>46</center></td>


</tr>
</table>
</center>
<p>
<p>
<center><b>Bowstrings</b></center><br>

<table><tr><td></td><td valign=top>
<center> <i>Bowstrings can only be made on a members server.<br>
Please <a href="/members" class=c>subscribe</a> to get this feature.</i><br><br></center>
 You can make bowstrings by using flax on a spinning wheel. <br><br>
 Making bow strings gives a good amount of crafting experience and the bowstrings are useful for making bows (see the <a href="/rs2/skills/fletching" class=c>fletching guide</a>.)
</td></tr></table>

<p>
<!-- end tip box 1 -->


<center><b>Battlestaffs</b><br><p>
<i>Battlestaff crafting is only available to RuneScape members.<br>
Please <a href="/members" class=c>subscribe</a> to get this feature.</i><br><br></center>

<p>First get an unpowered orb (see glassmaking).

<p>You will need to enchant the orb. You can make fire orbs, earth orbs, water orbs and air orbs.
Take an orb to a magic obelisk (either the obelisk of air, the obelisk of earth, the obelisk of water or the obelisk of fire) and cast the appropriate orb enchantment spell on the obelisk.
This requires a high magic level (see <a href="/rs2/skills/magic" class=c>magic guide</a>).
The obelisks are not in easily accesible areas.

<p>Then buy a battlestaff from a staff shop on a members server. Use the battlestaff with a charged orb to make an elemental battlestaff. 
<br><br>
<center>You will need the following crafting levels to attach the orbs to the staffs.
<p>

<table bgcolor=black cellpadding=6 border=0>
<tr>
<td bgcolor=#382418><center></center></td>
<td bgcolor=#382418><center><b>Battlestaff</b></center></td>
<td bgcolor=#382418><center><b>Crafting level requirement</b></center></td>

</tr>


<tr>
<td><center><img src="/img/rs2/manual/crafting/waterstaff.gif" width=48 height=32></center></td>
<td><center>Water</center></td>

<td><center>54</center></td>

</tr>


<tr>
<td><center><img src="/img/rs2/manual/crafting/earthstaff.gif" width=48 height=32></center></td>
<td><center>Earth</center></td>

<td><center>58</center></td>

</tr>


<tr>
<td><center><img src="/img/rs2/manual/crafting/firestaff.gif" width=48 height=32></center></td>
<td><center>Fire</center></td>

<td><center>62</center></td>

</tr>

<tr>
<td><center><img src="/img/rs2/manual/crafting/airstaff.gif" width=48 height=32></center></td>
<td><center>Air</center></td>

<td><center>66</center></td>

</tr>

</table>



</td></tr></table>




<!--end main body text -->
</td></tr></table>
<br>

<!--end main body text -->
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>