<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->

<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Fishing</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/rs2/skills" class=c>Skills Index</a>
</center></td></tr></table>
<br>
<!-- end of title box -->


<!-- tip box 1 -->
<table width=500 bgcolor=black cellpadding=4 border=0><tr><td class=e>
<center><b>Fishing guide</b></center>

<p>Fishing is a quick way of getting food to heal yourself. There are various sorts of fishing spots in the game. You will need to buy the correct fishing equipment to match the fishing spot. Fishing equipment can be bought from fishing shops. <br><br>

<table border=0><tr><td valign=top>Typically a fishing spot will have a left click option and a right click option.
These options are net, bait, harpoon, lure and cage. <br><br>Click on the correct option and if you have the correct equipment you will attempt to catch a fish.</td>
<td><img src="/img/rs2/manual/fishing/fishingchoices.gif"></td></table>

<p>You can find below the guides to each of the different types of fishing you can do in Runescape.

<p><center><b>Types of Fishing</b></center><br>

<center><b><u>Net Fishing</u></b></center><br>

<!-- net fishing table -->

<table border=0 cellpadding=3 cellspacing=0 width=490>
<tr><td valign=top>

<b>Location:</b> Found in many sea fishing locations<br><br>
<b>Required items:</b> Net<br><br>
<b>Fishing level requirements:</b> Shrimps 1, Anchovies 15<br><br>

</td>

<td valign=top width=150><img src=/img/rs2/manual/fishing/netfishing.gif></td>
</table>

<!-- end of net fishing table -->


<center><u><b>Sea bait fishing</b></u></center><br> 
<!-- Sea bait fishing table -->

<table border=0 cellpadding=3 cellspacing=0 width=490>
<tr><td valign=top>

<b>Location:</b> Found in many sea fishing locations<br><br>
<b>Required items:</b> Fishing rod, Fishing bait<br><br>
<b>Fishing level requirements:</b> Sardine 5, Herring 10<br><br>

</td>

<td valign=top width=150><img src=/img/rs2/manual/fishing/seabaitfishing.gif></td>
</table>

<!-- end of Sea bait fishing table -->

<center><b><u>Fly fishing</u></b></center><br>

<!-- net fishing table -->

<table border=0 cellpadding=3 cellspacing=0 width=490>
<tr><td valign=top>

<b>Location:</b> Found in many river locations<br><br>
<b>Required items:</b> Fly fishing rod, Feathers<br><br>
<b>Fishing level requirements:</b> Trout 20, Salmon 30
<br><br><i>(You will use up 1 feather every time you catch a fish)</i><br><br>

</td>

<td valign=top width=150><img src=/img/rs2/manual/fishing/flyfishing.gif></td>
</table>

<!-- end of net fishing table -->


<center><u><b>River bait fishing</b></u></center><br> 
<!-- Sea bait fishing table -->

<table border=0 cellpadding=3 cellspacing=0 width=490>
<tr><td valign=top>

<b>Location:</b> Found in many river fishing locations<br><br>
<b>Required items:</b> Fishing rod, Fishing bait<br><br>
<b>Fishing level requirements:</b> Pike 25<br><br>
<i>(You will use up 1 bait every time you catch a fish)</i>
</td>

<td valign=top width=150><img src=/img/rs2/manual/fishing/riverbaitfishing.gif></td>
</table>

<!-- end of Sea bait fishing table -->


<p><center><b><u>Harpoon fishing</u></b></center><br>

<!-- net fishing table -->

<table border=0 cellpadding=3 cellspacing=0 width=490>
<tr><td valign=top>

<b>Location:</b> Found in Karamja and in many sea fishing locations on the members servers.<br><br>
<b>Required items:</b> Harpoon<br><br>
<b>Fishing level requirements:</b> Tuna 35, Swordfish 50

<br><br>

</td>

<td valign=top width=150><img src=/img/rs2/manual/fishing/harpoonfishing.gif></td>
</table>

<!-- end of net fishing table -->


<center><u><b>Lobster fishing</b></u></center><br> 
<!-- Sea bait fishing table -->

<table border=0 cellpadding=3 cellspacing=0 width=490>
<tr><td valign=top>

<b>Location:</b> Found in Karamja and in many sea fishing locations on the members servers.<br><br>
<b>Required items:</b> Lobster pot<br><br>
<b>Fishing level requirements:</b> Lobster  40<br><br>

</td>

<td valign=top width=150><img src=/img/rs2/manual/fishing/lobsterfishing.gif></td>
</table>

<!-- end of Sea bait fishing table -->

<p><center><b><u>Big net fishing </u></b> - (<a href="/members" class=c>members only</a>)</center><br>

<!-- net fishing table -->

<table border=0 cellpadding=3 cellspacing=0 width=490>
<tr><td valign=top>

<b>Location:</b> Found at Catherby and the fishing guild.<br><br>
<b>Required items:</b> Big net<br><br>
<b>Fishing level requirements:</b> Boots 16, Gloves 16, Seaweed 16, Mackerel 16, Oyster shell 16, Cod 23, Bass 46

<br><br>

</td>

<td valign=top width=150><img src=/img/rs2/manual/fishing/bignetfishing.gif></td>
</table>

<!-- end of net fishing table -->

<center><b><u>Shark fishing </u></b> - (<a href="/members" class=c>members only</a>)</center><br>

<!-- net fishing table -->

<table border=0 cellpadding=3 cellspacing=0 width=490>
<tr><td valign=top>

<b>Location:</b> Found at Catherby and the fishing guild.<br><br>
<b>Required items:</b> Harpoon<br><br>
<b>Fishing level requirements:</b> Shark 76

<br><br>

</td>

<td valign=top width=150><img src=/img/rs2/manual/fishing/sharkfishing.gif></td>
</table>

<!-- end of net fishing table -->



</td></tr></table>

<br>


<!--end main body text -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>