<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=white alink=white vlink=white topmargin=0 leftmargin=0>
<table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->
<table width=250 bgcolor=black cellpadding=4>
  <tr><td class=e><center><b>Skills</b><br>
    <a href="/title" class=c><font color=#90c040>Main Menu</font></a> - <a href="/manual" class=c><font color=#90c040>How to Play Index</font></a></font>
    </center>
  </td></tr>
</table>
<br>

  <center>
  <table><tr valign=top><td>
    <table cellspacing=0 cellpadding=0 background='/img/manual/listscroll.gif' width=246 height=383>
      <tr valign=top><td><center>
        <table border=0>
          <tr><td><img src=/img/title/blank.gif width=1 height=3></td></tr>
          <tr><td><img src=/img/manual/bskills.gif></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td align=center><a href=/rs2/skills/cooking class=c>Cooking</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/crafting class=c>Crafting</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/fighting class=c>Fighting</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/firemaking class=c>Firemaking</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/fishing class=c>Fishing</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/magic class=c>Magic</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/mining class=c>Mining</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/prayer class=c>Prayer</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/ranging class=c>Ranging</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/runecraft class=c>Runecrafting</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/smithing class=c>Smithing</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/woodcutting class=c>Woodcutting</a></td></tr>
          <tr><td align=center><hr></td></tr>
          <tr><td align=center><a href=/rs2/skills/random class=c>Random events</a></td></tr>
        </table>
      </td></tr>
    </table>
  </td><td>
    <table cellspacing=0 cellpadding=0 background='/img/manual/listscroll.gif' width=246 height=383>
      <tr valign=top><td><center>
        <table border=0>
          <tr><td><img src=/img/title/blank.gif width=1 height=3></td></tr>
          <tr><td><img src=/img/manual/moskills.gif></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td align=center><a href=/rs2/skills/agility class=c>Agility</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/herblore class=c>Herblore</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/fletching class=c>Fletching</a></td></tr>
          <tr><td align=center><a href=/rs2/skills/thieving class=c>Thieving</a></td></tr>
        </table>
      </td></tr>
    </table>
    </td></tr></table>
    </center>
    
<br><br>
</td></tr></table>
<!-- end content table -->

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c><font color=#90c040>Terms+Conditions</font></a>
+ 
<a href="/privacy" class=c><font color=#90c040>Privacy policy</font></a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>