<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->

<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Magic</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/rs2/skills" class=c>Skills Index</a>
</center></td></tr></table>
<br>
<!-- end of title box -->

<!-- tip box 1 -->
<table bgcolor=black cellpadding=4 width=500><tr><td class=e>
<center><b>Using magic spells</b></center><p>
<table><tr><td>
Pointing at the spell book item brings up the magic menu. From here you can select spells to cast. <p>
This will bring up a screen of all spells available to you within the game. If the picture of a spell is darkened, it means that you do not yet have a high enough level to cast it or you do not have the runes in your inventory to do so. If a spell is lit up on this screen, then it means that you are a high enough level to cast it and you have enough runes in your inventory. 
</td><td>
<img src="/img/rs2/manual/magic/magictab.gif">
</td></tr></table>
<p>
To cast the spell just click on the spell picture, and then click on your desired target
in the main game window. Some spells can only be cast on hostile monsters, other spells can
only be cast on yourself or inventory items, so experiment to see what targets are valid for each spell.

<p>
<table><tr><td>
For more information on a spell move your mouse cursor over the spell. A description of the spell and a
list of which are runes are required is shown at the bottom of the window. Each required rune has
2 numbers shown below a picture of it. The 1st number indicates how many of that rune you have, and the 2nd number
indicates how many you require. The numbers will be drawn in red for runes which you do not have a sufficient
number of to cast the spell. Runes can be obtained in a number of ways. Mages can make their own runes using the runecrafting skill (see the <a href="/rs2/skills/runecraft" class=c>runecrafting</a> guide). Other ways to get runes include buying them in magic shops in towns such as Varrock and Port Sarim or by killing monsters.
</td><td>
<img src="/img/rs2/manual/magic/magictab2.gif">
</td></tr></table>

<p><center><b>Rune Types</b></center><p>
To cast spells in the game you need the correct runes. Each of the runes has a different power, and is used
for a different category of spell. Information about each of the runes is shown below:<br><br><br>
<table cellpadding=4>
<tr><td><img src=/img/rs2/manual/magic/earthrune.gif></td>
<td>Earth rune - One of the 4 elemental runes. Can be replaced by a staff of earth.</td></tr>
<tr><td><img src=/img/rs2/manual/magic/airrune.gif></td>
<td>Air rune - One of the 4 elemental runes. Can be replaced by a staff of air.</td></tr>
<tr><td><img src=/img/rs2/manual/magic/waterrune.gif></td>
<td>Water rune - One of the 4 elemental runes. Can be replaced by a staff of water.</td></tr>
<tr><td><img src=/img/rs2/manual/magic/firerune.gif></td>
<td>Fire rune - One of the 4 elemental runes. Can be replaced by a staff of fire.</td></tr>
<tr><td><img src=/img/rs2/manual/magic/bodyrune.gif></td>
<td>Body rune - Required for curse spells.</td></tr>
<tr><td><img src=/img/rs2/manual/magic/mindrune.gif></td>
<td>Mind rune - Required for strike spells.</td></tr>
<tr><td><img src=/img/rs2/manual/magic/cosmicrune.gif></td>
<td>Cosmic rune - Required for amulet enchant spells.</td></tr>
<tr><td><img src=/img/rs2/manual/magic/chaosrune.gif></td>
<td>Chaos rune - Required for bolt spells.</td></tr>
<tr><td><img src=/img/rs2/manual/magic/naturerune.gif></td>
<td>Nature rune - Required for object conversion spells.</td></tr>
<tr><td><img src=/img/rs2/manual/magic/deathrune.gif></td>
<td>Death rune - Required for blast spells.</td></tr>
<tr><td><img src=/img/rs2/manual/magic/lawrune.gif></td>
<td>Law rune - Required for teleport spells.</td></tr>
<tr><td><img src=/img/rs2/manual/magic/soulrune.gif></td>
<td>Soul rune - Required for high level curse spells.</td></tr>
<tr><td><img src=/img/rs2/manual/magic/bloodrune.gif></td>
<td>Blood rune - Required for high level strike spells.</td></tr>
</table>


<p><center><b>Staffs</b></center><p>
<table><tr><td valign=top>
If you want to cast many spells against opponents without clicking repeatedly, then you should use a staff. Staffs have a "recast" option as one of their combat styles. <br>
If you wield a staff and select the combat style menu (the crossed sword icon on the player interface) you will see a book in the bottom left corner. <br>
Clicking on that will allow you to chose any of the elemental spells you are able to cast and tie them to your staff. If you then select the "attack with" combat style on your staff you will automatically fight by casting that spell when you enter combat.
</td><td><p align=justify>
<img src=/img/rs2/manual/magic/staff.gif>
</td></tr></table>

<p>
<center><b>Notes about magic</b></center><p>
<li>Heavy armour is very conductive of magic. Mages will often find themselves more effective against a hand to hand fighter in full armour than other enemies. You will notice enemies in full metal armour will be hit hard by spells, but also wearing heavy metal armour will affect your ability to cast spells successfully. The recommended equipment for Mages is light robes, to allow magical power to flow from you freely. 
<p><li>
Sometimes spells will fail to work. If a spell fails, you will still gain the experience from casting the spell, and you will still use the runes required to cast it, but you will see a 'splash' effect on your opponent showing the failure of the spell. The higher level spells are more likely to fail, but as your magic ability improves you will cast spells successfully more of the time. 

</td></tr></table>
<!--end main body text -->
<br>
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>