<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<!-- title box -->

<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Prayer</b><br>
<a href="/title" class=c>Main menu</a>
-
<a href="/rs2/skills" class=c>Skills Index</a>
</center></td></tr></table>
<br>
<!-- end of title box -->

<!-- tip box 1 -->
<table bgcolor=black cellpadding=4 width=500><tr><td class=e>
<center><b>Using prayers</b></center><p>


<table><tr><td>
As well as using magic spells you can also pray to the gods of RuneScape to give you an advantage. To
view the available prayers, select the prayer icon from your interface. You can see what each prayer does by moving your mouse over the icon.
<p>
The list of prayers shown will light up when you are at the appropriate level to use them. If the
icon for the prayer is darkened then you are not at a high enough level to use that prayer.
<p>

</td><td>
<img src="/img/rs2/manual/prayer1.gif">
</td></tr></table>
Each of the prayers can be turned on or off individually. Whilst a prayer is in use, your player
will be given an advantage depending on the prayer. To activate a prayer just left click on it. The
icon will light up to indicate the prayer is active. Click on the prayer again to deactivate it.
<p>
<table><tr><td>
Whilst you have prayers active your prayer-points will slowly drain down to zero. The more prayers you
use at once, and the more powerful they are, the faster your points will drain. When you run
out of prayer-points all the effects will be deactivated, and can't be used again until you recharge
your prayer-points.
<p>
To recharge your prayer-points you must find a church in the game, and left click on the altar to recharge.
You are then ready to use the different prayers again.
</td><td>
<img src="/img/rs2/manual/prayer2.gif">
</td></tr></table>

<p>

To use the prayers for longer, and to use the higher-level prayers in the game you need to increase your
total prayer-points. You do this by burying bones from monsters you kill. Take the bones, and then left
click on them in your inventory to bury them. You need to bury quite a lot of bones to advance a level, but
luckily they are quite easy to come by.

</td></tr></table>
<!-- end tip box 1 -->
<br>
<!--end main body text -->
</td></tr></table>
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>