<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>Full Credits List</b><br>
<a href="/title" class=c>Main menu</a>

</center></td></tr></table><p>

<table bgcolor=black cellpadding=4 width=150><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>
The Jagex Team</center></td></tr></table>
<br>
<table width=450 bgcolor=black cellpadding=4><tr valign=top><td class=e><center>
<table><tr><td valign="top" width="50%">
<center>
<b><u>Development Team</u></b>
<p>
<b>Lead Designer/Programmer</b><br>
Andrew Gower
<p>
<b>Head of Content and Quests</b><br>
Paul Gower
<p>
<b>Content and Quests</b><br>
Dylan C<br>
Graham B<br>
Ian G<br>
James B<br>
Jonathan S<br>
Tytn H
<p>
<b>Graphics and Maps</b><br>
Anthony A<br>
Joe R<br>
Tom W
<p>
<b>Music and Sounds</b><br>
Ian T
<p>
<b>Website and Databases</b><br>
Chris S<br>
David B<br>
James C B
<p>
<b>Quality Assurance</b><br>
Andrew C<br>
Mark O<br>
Simon B<br>
</center>
</td><td valign="top" width="50%">
<center>
<b><u>Publishing Team</u></b>
<p>
<b>Commercial Director</b><br>
Constant T
<p>
<b>Commercial Assistant</b><br>
Lynn-Marie S
<p>
<b>Operations Manager</b><br>
Daniel C
<p>
<b>Billing Support</b><br>
Rob S
<p>
<b>Head of Customer Support</b><br>
Tom D
<p>
<b>Customer Support</b><br>
Adam D<br>
Alex M<br>
Brian K<br>
Daniel H<br>
Daniel G<br>
Gavin S<br>
Jay A<br>
Phil T<br>
Steven F<br>
Tom R
</center>
</td></tr>
</table>
</center></td></tr></table>
<br>
</td></tr></table>
<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->

</center></td></tr></table></body></html>