<html><head><META HTTP-EQUIV="Expires" CONTENT="0"><META HTTP-EQUIV="Pragma" CONTENT="no-cache"><META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"><meta name="MSSmartTagsPreventParsing" content="TRUE"><title>RuneScape - the massive online adventure game by Jagex Ltd</title><STYLE>BODY, TD, P{ font-family:Arial,Helvetica,sans-serif; font-size:13px;}.b {border-style: outset; border-width:3pt; border-color:#373737}.e {border:2px solid #382418}.c {text-decoration:none}A.c:hover {text-decoration:underline}.white {text-decoration:none; color:#FFFFFF;} .red {text-decoration:none; color:#E10505;} .lblue {text-decoration:none; color:#9DB8C3;} .dblue {text-decoration:none; color:#0D6083;} .yellow {text-decoration:none; color:#FFE139;} .green {text-decoration:none; color:#04A800;} .purple {text-decoration:none; color:#C503FD;} .pink {text-decoration:none; color:#FAA8AA;} A.c:hover {text-decoration:underline} A.white:hover {text-decoration:underline} A.red:hover {text-decoration:underline} A.lblue:hover {text-decoration:underline} A.dblue:hover {text-decoration:underline} A.yellow:hover {text-decoration:underline} A.green:hover {text-decoration:underline} A.purple:hover {text-decoration:underline} A.pink:hover {text-decoration:underline} </STYLE>  </head><body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center><table cellpadding=0 cellspacing=0><tr><td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td></tr></table><table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom><center><table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>RuneScape Hiscores</b><br><a href="/title" class=c>Main menu</a></center></td></tr></table></center>
<center><table><tr><td width=160><center><img src="/img/title/blank.gif" valign="bottom" width=1 height=16 /><b>Select hiscore table</b><br>
<table width=150 height=400 bgcolor=black cellpadding=4><tr><td class=e><center>
<table height=380 cellspacing="1" cellpadding="0">
<tr><td><img src="/img/title/blank.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=0' class=c>Overall</a></td></tr>
<tr><td><img src="/img/hiscores/attack.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=1' class=c>Attack</a></td></tr>
<tr><td><img src="/img/hiscores/defence.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=2' class=c>Defence</a></td></tr>
<tr><td><img src="/img/hiscores/strength.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=3' class=c>Strength</a></td></tr>
<tr><td><img src="/img/hiscores/hitpoints.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=4' class=c>Hitpoints</a></td></tr>
<tr><td><img src="/img/hiscores/ranged.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=5' class=c>Ranged</a></td></tr>
<tr><td><img src="/img/hiscores/prayer.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=6' class=c>Prayer</a></td></tr>
<tr><td><img src="/img/hiscores/magic.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=7' class=c>Magic</a></td></tr>
<tr><td><img src="/img/hiscores/cooking.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=8' class=c>Cooking</a></td></tr>
<tr><td><img src="/img/hiscores/woodcutting.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=9' class=c>Woodcutting</a></td></tr>
<tr><td><img src="/img/hiscores/fletching.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=10' class=c>Fletching</a></td></tr>
<tr><td><img src="/img/hiscores/fishing.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=11' class=c>Fishing</a></td></tr>
<tr><td><img src="/img/hiscores/firemaking.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=12' class=c>Firemaking</a></td></tr>
<tr><td><img src="/img/hiscores/crafting.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=13' class=c>Crafting</a></td></tr>
<tr><td><img src="/img/hiscores/smithing.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=14' class=c>Smithing</a></td></tr>
<tr><td><img src="/img/hiscores/mining.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=15' class=c>Mining</a></td></tr>
<tr><td><img src="/img/hiscores/herblore.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=16' class=c>Herblore</a></td></tr>
<tr><td><img src="/img/hiscores/agility.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=17' class=c>Agility</a></td></tr>
<tr><td><img src="/img/hiscores/thieving.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=18' class=c>Thieving</a></td></tr>
<tr><td><img src="/img/hiscores/runecrafting.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?category=21' class=c>Runecrafting</a></td></tr>
</table>
</center></td></tr></table>
</center></td><td width=299><center>
<img src="/img/hiscores/woodcutting.gif" valign="bottom" width=16 height=16 />&nbsp;
<b>Woodcutting Hiscores</b><br>
<table width=270 height=400 bgcolor=black cellpadding=4><tr><td class=e><center>
<table><tr><td align="right"><b>Rank</b><br>
1<br>
2<br>
3<br>
4<br>
5<br>
6<br>
7<br>
8<br>
9<br>
10<br>
11<br>
12<br>
13<br>
14<br>
15<br>
16<br>
17<br>
18<br>
19<br>
20<br>
21<br>
</td><td>&nbsp;</td><td><b>Name</b><br>
<a href="/hiscores?user=pete_5" class=c
>Pete&nbsp;5</a><br>
<a href="/hiscores?user=scarletstar" class=c
>Scarletstar</a><br>
<a href="/hiscores?user=matt258" class=c
>Matt258</a><br>
<a href="/hiscores?user=cowchicken" class=c
>Cowchicken</a><br>
<a href="/hiscores?user=moridin" class=c
>Moridin</a><br>
<a href="/hiscores?user=doomflight" class=c
>Doomflight</a><br>
<a href="/hiscores?user=racerta" class=c
>Racerta</a><br>
<a href="/hiscores?user=drew_koskey" class=c
>Drew&nbsp;Koskey</a><br>
<a href="/hiscores?user=korskin" class=c
>Korskin</a><br>
<a href="/hiscores?user=god_of_end" class=c
>God&nbsp;Of&nbsp;End</a><br>
<a href="/hiscores?user=everdred" class=c
>Everdred</a><br>
<a href="/hiscores?user=empror1" class=c
>Empror1</a><br>
<a href="/hiscores?user=lynx153" class=c
>Lynx153</a><br>
<a href="/hiscores?user=mattis1_the" class=c
>Mattis1&nbsp;The</a><br>
<a href="/hiscores?user=punk4ever" class=c
>Punk4ever</a><br>
<a href="/hiscores?user=aaa_finality" class=c
>Aaa&nbsp;Finality</a><br>
<a href="/hiscores?user=tork78" class=c
>Tork78</a><br>
<a href="/hiscores?user=flubber12" class=c
>Flubber12</a><br>
<a href="/hiscores?user=volcom89" class=c
>Volcom89</a><br>
<a href="/hiscores?user=philipj" class=c
>Philipj</a><br>
<a href="/hiscores?user=lydomina" class=c
>Lydomina</a><br>
</td><td>&nbsp;</td><td><b>Level</b><br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
</td><td>&nbsp;</td><td align=right><b>XP</b> <br>
26,122,369<br>
23,840,028<br>
20,327,779<br>
20,255,807<br>
20,017,947<br>
18,086,998<br>
17,108,727<br>
17,053,428<br>
16,805,639<br>
16,389,510<br>
15,317,484<br>
15,024,127<br>
14,838,092<br>
14,755,048<br>
14,751,142<br>
14,541,408<br>
14,188,851<br>
14,028,784<br>
13,909,069<br>
13,818,330<br>
13,754,435<br>
</td></tr></table>
</td></tr></table>
</center></td></tr></table>
<center>
<table cellspacing=1 cellpadding=0><tr><td>
<table width=150 bgcolor=black cellpadding=7><tr><td class=e><center>
<a href="#" class=c>Login</a> to view your personal hiscores and see how you compare to your friends.
</center></td></tr></table>
</td><td>
<table width=150 bgcolor=black cellpadding=4><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>
<form action="hiscorerank" style="display:inline"><b>Search by rank</b><br>
<input type=text maxlength=12 size=12 name=rank value=""><br>
<input type=hidden name=category value='9'>
<input type=submit value='Search' style="margin-top: 4px">
</form></center></td></tr></table>
</td><td>
<table width=150 bgcolor=black cellpadding=4><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>
<form action="hiscorepersonal" style="display:inline"><b>Search by name</b><br>
<input type=text maxlength=12 size=12 name=username value=""><br>
<input type=submit value='Search' style="margin-top: 4px">
</form></center></td></tr></table>
</td></tr></table></center>
</td></tr></table><table cellpadding=0 cellspacing=0><tr><td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td><td valign=bottom><div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">  This webpage and its contents is copyright 2004 Jagex Ltd<br>  To use our service you must agree to our  <a href="/terms" class=c>Terms+Conditions</a>  +   <a href="/privacy" class=c>Privacy policy</a>  </div>  <img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td></tr></table></td></tr></table></body></html>