<html><head><META HTTP-EQUIV="Expires" CONTENT="0"><META HTTP-EQUIV="Pragma" CONTENT="no-cache"><META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"><meta name="MSSmartTagsPreventParsing" content="TRUE"><title>RuneScape - the massive online adventure game by Jagex Ltd</title><STYLE>BODY, TD, P{ font-family:Arial,Helvetica,sans-serif; font-size:13px;}.b {border-style: outset; border-width:3pt; border-color:#373737}.b2 {border-style: outset; border-width:3pt; border-color:#570700}.e {border:2px solid #382418}.c {text-decoration:none}A.c:hover {text-decoration:underline}.white {text-decoration:none; color:#FFFFFF;} .red {text-decoration:none; color:#E10505;} .lblue {text-decoration:none; color:#9DB8C3;} .dblue {text-decoration:none; color:#0D6083;} .yellow {text-decoration:none; color:#FFE139;} .green {text-decoration:none; color:#04A800;} .purple {text-decoration:none; color:#C503FD;} .pink {text-decoration:none; color:#FAA8AA;} A.c:hover {text-decoration:underline} A.white:hover {text-decoration:underline} A.red:hover {text-decoration:underline} A.lblue:hover {text-decoration:underline} A.dblue:hover {text-decoration:underline} A.yellow:hover {text-decoration:underline} A.green:hover {text-decoration:underline} A.purple:hover {text-decoration:underline} A.pink:hover {text-decoration:underline} </STYLE>  </head><body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 style="margin:0"><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center><table cellpadding=0 cellspacing=0><tr><td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td></tr></table><table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom><center><table width=250 bgcolor=black cellpadding=4><tr><td class=e><center>
<b>RuneScape Hiscores</b><br><a href="/title" class=c>Main menu</a></center></td></tr></table></center>
<center><table><tr><td width=160><center><img src="/img/title/blank.gif" valign="bottom" width=1 height=16 /><b>Select hiscore table</b><br>
<table width=150 height=400 bgcolor=black cellpadding=4><tr><td class=e><center>
<table height=380 cellspacing="1" cellpadding="0">
<tr><td><img src="/img/title/blank.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=0' class=c>Overall</a></td></tr>
<tr><td><img src="/img/hiscores/attack.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=1' class=c>Attack</a></td></tr>
<tr><td><img src="/img/hiscores/defence.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=2' class=c>Defence</a></td></tr>
<tr><td><img src="/img/hiscores/strength.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=3' class=c>Strength</a></td></tr>
<tr><td><img src="/img/hiscores/hitpoints.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=4' class=c>Hitpoints</a></td></tr>
<tr><td><img src="/img/hiscores/ranged.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=5' class=c>Ranged</a></td></tr>
<tr><td><img src="/img/hiscores/prayer.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=6' class=c>Prayer</a></td></tr>
<tr><td><img src="/img/hiscores/magic.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=7' class=c>Magic</a></td></tr>
<tr><td><img src="/img/hiscores/cooking.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=8' class=c>Cooking</a></td></tr>
<tr><td><img src="/img/hiscores/woodcutting.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=9' class=c>Woodcutting</a></td></tr>
<tr><td><img src="/img/hiscores/fletching.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=10' class=c>Fletching</a></td></tr>
<tr><td><img src="/img/hiscores/fishing.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=11' class=c>Fishing</a></td></tr>
<tr><td><img src="/img/hiscores/firemaking.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=12' class=c>Firemaking</a></td></tr>
<tr><td><img src="/img/hiscores/crafting.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=13' class=c>Crafting</a></td></tr>
<tr><td><img src="/img/hiscores/smithing.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=14' class=c>Smithing</a></td></tr>
<tr><td><img src="/img/hiscores/mining.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=15' class=c>Mining</a></td></tr>
<tr><td><img src="/img/hiscores/herblore.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=16' class=c>Herblore</a></td></tr>
<tr><td><img src="/img/hiscores/agility.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=17' class=c>Agility</a></td></tr>
<tr><td><img src="/img/hiscores/thieving.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=18' class=c>Thieving</a></td></tr>
<tr><td><img src="/img/hiscores/runecrafting.gif" valign="bottom" width=16 height=16 /></td><td>&nbsp;</td>
<td><a href='/hiscores?user=zezima&category=21' class=c>Runecrafting</a></td></tr>
</table>
</td></tr></table>
</center></td><td width=290><center>
<img src="/img/hiscores/attack.gif" valign="bottom" width=16 height=16 />&nbsp;
<b>Attack Hiscores</b><br>
<table width=270 height=400 bgcolor=black cellpadding=4><tr><td class=e><center>
<table><tr><td align="right"><b>Rank</b><br>
89<br>
90<br>
91<br>
92<br>
93<br>
94<br>
95<br>
96<br>
97<br>
98<br>
<font color=yellow>
99<br>
</font>
100<br>
101<br>
102<br>
103<br>
104<br>
105<br>
106<br>
107<br>
108<br>
109<br>
</td><td>&nbsp;</td><td><b>Name</b><br>
<a href="/hiscores?user=ladykilljoy" class=c
>Ladykilljoy</a><br>
<a href="/hiscores?user=fir3g0d" class=c
>Fir3g0d</a><br>
<a href="/hiscores?user=supergoten23" class=c
>Supergoten23</a><br>
<a href="/hiscores?user=llama0" class=c
>Llama0</a><br>
<a href="/hiscores?user=crew_dragon4" class=c
>Crew&nbsp;Dragon4</a><br>
<a href="/hiscores?user=thug_style" class=c
>Thug&nbsp;Style</a><br>
<a href="/hiscores?user=eugene_ru" class=c
>Eugene&nbsp;Ru</a><br>
<a href="/hiscores?user=jakkeri" class=c
>Jakkeri</a><br>
<a href="/hiscores?user=wildcard123" class=c
>Wildcard123</a><br>
<a href="/hiscores?user=sommerset" class=c
>Sommerset</a><br>
<font color=yellow>
<a href="/hiscores?user=zezima" class=c
 style="color: yellow"
>Zezima</a><br>
</font>
<a href="/hiscores?user=0ddball" class=c
>0ddball</a><br>
<a href="/hiscores?user=corigan" class=c
>Corigan</a><br>
<a href="/hiscores?user=martingi85" class=c
>Martingi85</a><br>
<a href="/hiscores?user=lameclod" class=c
>Lameclod</a><br>
<a href="/hiscores?user=eva_02" class=c
>Eva&nbsp;02</a><br>
<a href="/hiscores?user=adx1" class=c
>Adx1</a><br>
<a href="/hiscores?user=groovesan" class=c
>Groovesan</a><br>
<a href="/hiscores?user=chilipeppers" class=c
>Chilipeppers</a><br>
<a href="/hiscores?user=trixstar" class=c
>Trixstar</a><br>
<a href="/hiscores?user=laser_line" class=c
>Laser&nbsp;Line</a><br>
</td><td>&nbsp;</td><td><b>Level</b><br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
<font color=yellow>
99<br>
</font>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
99<br>
</td><td>&nbsp;</td><td align=right><b>XP</b> <br>
13,323,097<br>
13,320,521<br>
13,311,043<br>
13,306,093<br>
13,301,393<br>
13,301,251<br>
13,290,103<br>
13,288,084<br>
13,285,347<br>
13,282,663<br>
<font color=yellow>
13,261,064<br>
</font>
13,257,286<br>
13,237,819<br>
13,232,136<br>
13,231,570<br>
13,230,100<br>
13,217,234<br>
13,208,035<br>
13,206,364<br>
13,199,714<br>
13,185,879<br>
</td></tr></table>
</td></tr></table>
</center></td></tr></table>
<center>
<table cellspacing=1 cellpadding=0><tr><td>
<table width=150 bgcolor=black cellpadding=7><tr><td class=e><center>
<a href="#" class=c>Login</a> to view your personal hiscores and see how you compare to your friends.
</center></td></tr></table>
</td><td>
<table width=150 bgcolor=black cellpadding=4><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>
<form action="hiscorerank" style="display:inline"><b>Search by rank</b><br>
<input type=text maxlength=12 size=12 name=rank value=""><br>
<input type=hidden name=category value='1'>
<input type=submit value='Search' style="margin-top: 4px">
</form></center></td></tr></table>
</td><td>
<table width=150 bgcolor=black cellpadding=4><tr><td class=b bgcolor=#474747 background=/img/stoneback.gif><center>
<form action="hiscorepersonal" style="display:inline"><b>Search by name</b><br>
<input type=text maxlength=12 size=12 name=username value="zezima"><br>
<input type=submit value='Search' style="margin-top: 4px">
</form></center></td></tr></table>
</td></tr></table></center>
</td></tr></table><table cellpadding=0 cellspacing=0><tr><td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td><td valign=bottom><div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">  This webpage and its contents is copyright 2004 Jagex Ltd<br>  To use our service you must agree to our  <a href="/terms" class=c>Terms+Conditions</a>  +   <a href="/privacy" class=c>Privacy policy</a>  </div>  <img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td><td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td></tr></table></center></td></tr></table></body></html>