<html>

<head>
  <META HTTP-EQUIV="Expires" CONTENT="0">
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
  <meta name="MSSmartTagsPreventParsing" content="TRUE">
  <title>Jagex Software</title>
  <STYLE>
    BODY,
    TD,
    P {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .b {
      border-style: outset;
      border-width: 3pt;
      border-color: #373737
    }

    .b2 {
      border-style: outset;
      border-width: 3pt;
      border-color: #570700
    }

    .e {
      border: 2px solid #382418
    }

    .c {
      text-decoration: none
    }

    A.c:hover {
      text-decoration: underline
    }

    .white {
      text-decoration: none;
      color: #FFFFFF;
    }

    .red {
      text-decoration: none;
      color: #E10505;
    }

    .lblue {
      text-decoration: none;
      color: #9DB8C3;
    }

    .dblue {
      text-decoration: none;
      color: #0D6083;
    }

    .yellow {
      text-decoration: none;
      color: #FFE139;
    }

    .green {
      text-decoration: none;
      color: #04A800;
    }

    .purple {
      text-decoration: none;
      color: #C503FD;
    }

    .pink {
      text-decoration: none;
      color: #FAA8AA;
    }

    A.c:hover {
      text-decoration: underline
    }

    A.white:hover {
      text-decoration: underline
    }

    A.red:hover {
      text-decoration: underline
    }

    A.lblue:hover {
      text-decoration: underline
    }

    A.dblue:hover {
      text-decoration: underline
    }

    A.yellow:hover {
      text-decoration: underline
    }

    A.green:hover {
      text-decoration: underline
    }

    A.purple:hover {
      text-decoration: underline
    }

    A.pink:hover {
      text-decoration: underline
    }
  </STYLE>
  <script defer="defer" src="/js/runetek.js"></script>
  <script defer="defer" src="/js/mapview.js"></script>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 style="margin:0">
  <table width=100% height=100% cellpadding=0 cellspacing=0>
    <tr>
      <td valign=middle>
        <center>
          <center>
            <table width=250 bgcolor=black cellpadding=4>
              <tr>
                <td class=e>
                  <center>
                    <b>Map of the RuneScape World</b><br>
                    <a href="/" class=c>Main Menu</a>
                  </center>
                </td>
              </tr>
            </table>
          </center>
          <p>
            <canvas id="canvas" width="635" height="503"></canvas>
          <p>
            <center>
              <table width=500 bgcolor=black cellpadding=4 border=0>
                <tr>
                  <td class=e>
                    <b>Using the Main Map</b><br>
                    Click and drag the left mouse button on the main map to move the map around. Click on the different
                    percentage buttons at the bottom of the applet to zoom in and out.
                    <p>
                      <b>Using the Overview Map</b><br>
                      Click on the "Overview" button to bring up the overview map. The red shaded area indicated what
                      the area the main map is showing. Left click on the overview map to move the main map around
                      quickly.
                    <p>
                      <b>Using the Key</b><br>
                      Click on the "Key" button to bring up the key. There are two pages in the key, clicking on the
                      "Prev page" or "Next page" buttons will allow you to navigate them. Clicking on any item in the
                      key will locate all icons on the map of that type (they will flash yellow for a while).
                  </td>
                </tr>
              </table><br>
            </center>
          <div align="center" style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
            This webpage and its contents is copyright 2004 Jagex Ltd<br>
            To use our service you must agree to our <a href="terms/terms.html" class=c>Terms+Conditions</a> + <a
              href="privacy/privacy.html" class=c>Privacy policy</a>
          </div>
        </center>
      </td>
    </tr>
  </table>
</body>

</html>