                    <table cellpadding=0 cellspacing=0>
                        <tr>
                            <td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
                            <td valign=bottom>
                                <div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
                                    <% if (typeof nodisclaimer === 'undefined') { %><a href="/disclaimer">View our non-affiliation disclaimer here.</a><br><% } %>
                                    Recreated and preserved in 2023 - 2024.<br><br>
                                </div>
                                <img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0>
                            </td>
                            <td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>