[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_55]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_56]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[com_67]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[com_68]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_69]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_70]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[com_71]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[com_72]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[com_73]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[com_74]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[com_75]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[com_76]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[com_77]
type=graphic
x=458
y=34
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[com_84]
type=graphic
x=37
y=34
width=36
height=36
graphic=steelborder2,0

[com_85]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=18
y=34
width=36
height=36
graphic=steelborder2,0

[com_87]
type=layer
x=19
y=55
width=218
height=142
scroll=188

[com_88]
layer=com_87
type=text
x=42
y=2
width=132
height=14
font=p12
shadowed=yes
text=You are about to stake:
colour=0xAA8822

[inv]
layer=com_87
type=invtext
x=50
y=29
width=2
height=14
center=yes
font=p12
shadowed=yes
colour=0xAAAAAA
margin=0,2

[inv_nothing]
layer=com_87
type=invtext
x=109
y=29
width=1
height=10
center=yes
font=p12
shadowed=yes
colour=0xAAAAAA
margin=0,2

[com_91]
layer=com_87
type=text
x=55
y=17
width=110
height=14
center=yes
font=p12
shadowed=yes
text=Absolutely nothing!
colour=0xAAAAAA

[com_92]
type=layer
x=260
y=55
width=218
height=142
scroll=188

[otherinv_nothing]
layer=com_92
type=invtext
x=109
y=28
width=1
height=10
center=yes
font=p12
shadowed=yes
colour=0xAAAAAA
margin=0,2

[com_94]
layer=com_92
type=text
x=37
y=1
width=140
height=14
center=yes
font=p12
shadowed=yes
text=Your opponent will stake:
colour=0xAA8822

[otherinv]
layer=com_92
type=invtext
x=49
y=28
width=2
height=14
center=yes
font=p12
shadowed=yes
colour=0xAAAAAA
margin=0,2

[com_96]
layer=com_92
type=text
x=52
y=16
width=110
height=14
center=yes
font=p12
shadowed=yes
text=Absolutely nothing!
colour=0xAAAAAA

[com_97]
type=text
x=139
y=29
width=232
height=14
center=yes
font=p12
shadowed=yes
text=Are you sure you want to fight this duel?
colour=0xFFAA44

[obstacles]
type=text
x=298
y=270
width=57
height=14
font=p12
shadowed=yes
text=Obstacles
colour=0xAA8822

[com_99]
type=text
x=425
y=29
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[com_100]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[com_101]
type=graphic
x=239
y=88
width=36
height=36
graphic=miscgraphics,2

[com_102]
type=graphic
x=239
y=52
width=36
height=36
graphic=miscgraphics,2

[com_103]
type=graphic
x=239
y=160
width=36
height=36
graphic=miscgraphics,2

[com_104]
type=graphic
x=239
y=124
width=36
height=36
graphic=miscgraphics,2

[com_105]
type=layer
x=391
y=212
width=78
height=42

[accept]
layer=com_105
type=rect
x=6
y=6
buttontype=normal
width=66
height=31
fill=yes

[accept_text]
layer=com_105
type=text
x=21
y=14
width=39
height=14
font=p12
shadowed=yes
text=Accept
colour=0x008000
overcolour=0x00FF00

[com_108]
layer=com_105
type=graphic
x=21
y=-15
width=36
height=36
graphic=steelborder2,0

[com_109]
layer=com_105
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_110]
layer=com_105
type=graphic
x=53
y=0
width=25
height=30
graphic=steelborder,1

[com_111]
layer=com_105
type=graphic
x=0
y=13
width=25
height=30
graphic=steelborder,2

[com_112]
layer=com_105
type=graphic
x=53
y=13
width=25
height=30
graphic=steelborder,3

[com_113]
layer=com_105
type=graphic
x=21
y=22
width=36
height=36
graphic=miscgraphics,3

[com_114]
type=layer
x=391
y=262
width=78
height=43

[decline]
layer=com_114
type=rect
x=6
y=6
buttontype=close
width=66
height=31
fill=yes

[decline_text]
layer=com_114
type=text
x=20
y=14
width=40
height=14
font=p12
shadowed=yes
text=Decline
colour=0x800000
overcolour=0xFF0000

[com_117]
layer=com_114
type=graphic
x=21
y=-15
width=36
height=36
graphic=steelborder2,0

[com_118]
layer=com_114
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_119]
layer=com_114
type=graphic
x=53
y=0
width=25
height=30
graphic=steelborder,1

[com_120]
layer=com_114
type=graphic
x=0
y=13
width=25
height=30
graphic=steelborder,2

[com_121]
layer=com_114
type=graphic
x=53
y=13
width=25
height=30
graphic=steelborder,3

[com_122]
layer=com_114
type=graphic
x=20
y=22
width=36
height=36
graphic=miscgraphics,3

[no_forfeit_text]
type=text
x=61
y=210
buttontype=normal
width=57
height=14
font=p12
shadowed=yes
text=No Forfeit
colour=0xAA8822

[no_magic_text]
type=text
x=188
y=250
width=50
height=14
font=p12
shadowed=yes
text=No Magic
colour=0xAA8822

[no_ranged_text]
type=text
x=188
y=210
width=60
height=14
font=p12
shadowed=yes
text=No Ranged
colour=0xAA8822

[no_melee_text]
type=text
x=188
y=230
width=51
height=14
font=p12
shadowed=yes
text=No Melee
activetext=No Melee
colour=0xAA8822

[no_weapons_text]
type=text
x=61
y=250
width=69
height=14
font=p12
shadowed=yes
text=No Weapons
colour=0xAA8822

[no_potions_text]
type=text
x=298
y=210
width=61
height=14
font=p12
shadowed=yes
text=No Potions
colour=0xAA8822

[no_food_text]
type=text
x=298
y=230
width=45
height=14
font=p12
shadowed=yes
text=No Food
colour=0xAA8822

[no_prayer_text]
type=text
x=298
y=250
width=56
height=14
font=p12
shadowed=yes
text=No Prayer
colour=0xAA8822

[no_movement_text]
type=text
x=61
y=230
width=76
height=14
font=p12
shadowed=yes
text=No Movement
colour=0xAA8822

[no_armour_text]
type=text
x=61
y=270
width=59
height=14
font=p12
shadowed=yes
text=No Armour
colour=0xAA8822

[com_133]
type=graphic
x=18
y=182
width=36
height=36
graphic=steelborder2,0

[com_134]
type=graphic
x=54
y=182
width=36
height=36
graphic=steelborder2,0

[com_135]
type=graphic
x=90
y=182
width=36
height=36
graphic=steelborder2,0

[com_136]
type=graphic
x=126
y=182
width=36
height=36
graphic=steelborder2,0

[com_137]
type=graphic
x=162
y=182
width=36
height=36
graphic=steelborder2,0

[com_138]
type=graphic
x=198
y=182
width=36
height=36
graphic=steelborder2,0

[com_139]
type=graphic
x=234
y=182
width=36
height=36
graphic=steelborder2,0

[com_140]
type=graphic
x=270
y=182
width=36
height=36
graphic=steelborder2,0

[com_141]
type=graphic
x=306
y=182
width=36
height=36
graphic=steelborder2,0

[com_142]
type=graphic
x=342
y=182
width=36
height=36
graphic=steelborder2,0

[com_143]
type=graphic
x=378
y=182
width=36
height=36
graphic=steelborder2,0

[com_144]
type=graphic
x=414
y=182
width=36
height=36
graphic=steelborder2,0

[com_145]
type=graphic
x=450
y=182
width=36
height=36
graphic=steelborder2,0

[com_146]
type=graphic
x=458
y=182
width=36
height=36
graphic=steelborder2,0

[com_147]
type=graphic
x=36
y=210
width=14
height=15
script1op1=testbit,duel_settings,0
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[com_148]
type=graphic
x=36
y=230
width=14
height=15
script1op1=testbit,duel_settings,1
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[com_149]
type=graphic
x=36
y=250
width=14
height=15
script1op1=testbit,duel_settings,2
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[com_150]
type=graphic
x=36
y=270
width=14
height=15
script1op1=testbit,duel_settings,3
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[com_151]
type=graphic
x=162
y=210
width=14
height=15
script1op1=testbit,duel_settings,4
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[com_152]
type=graphic
x=162
y=230
width=14
height=15
script1op1=testbit,duel_settings,5
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[com_153]
type=graphic
x=162
y=250
width=14
height=15
script1op1=testbit,duel_settings,6
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[com_154]
type=graphic
x=272
y=210
width=14
height=15
script1op1=testbit,duel_settings,7
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[com_155]
type=graphic
x=272
y=230
width=14
height=15
script1op1=testbit,duel_settings,8
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[com_156]
type=graphic
x=272
y=250
width=14
height=15
script1op1=testbit,duel_settings,9
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[com_157]
type=graphic
x=272
y=270
width=14
height=15
script1op1=testbit,duel_settings,10
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[status]
type=text
x=194
y=293
width=130
height=11
font=p11
shadowed=yes
text=Waiting for other player...
colour=0xAAAAAA

[com_159]
type=graphic
x=239
y=161
width=36
height=36
graphic=miscgraphics,2

[flower_power_text]
type=text
x=188
y=270
width=71
height=14
font=p12
shadowed=yes
text=Flower Power
colour=0xAA8822

[com_161]
type=graphic
x=162
y=270
width=14
height=15
script1op1=testbit,duel_settings,12
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11

[no_jewelry_text]
type=text
x=61
y=290
width=61
height=14
font=p12
shadowed=yes
text=No Jewelry
colour=0xAA8822

[com_163]
type=graphic
x=36
y=290
width=14
height=15
script1op1=testbit,duel_settings,11
script1=eq,1
graphic=miscgraphics,10
activegraphic=miscgraphics,11
