name: Pack Content

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main, live ]
    paths:
      - '.github/workflows/content-pack.yml'
      - 'data/src/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: '20.x'

    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Install Dependencies
      run: |
        npm i
        wget https://github.com/2004scape/RuneScriptCompiler/releases/latest/download/RuneScriptCompiler.jar

    - name: Validate Build Cache
      run: npm run build
