<html>
    <head></head>
    <body style="background-color: black;">
        <a id="bannerLink" target="_blank" href=""><img id="bannerImage" src="" width="100%" style="border: 0px"></a>

        <script>
            function urlParam(name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                if (results == null) {
                    return null;
                } else {
                    return decodeURI(results[1]) || 0;
                }
            }

            var windowOnload = window.onload || function() {
                var servers = [
                    {
                        url: 'https://rsc.vet?affil=lostcity',
                        images: {
                            // 300x250
                            '300': [
                                '/img/orsc_evony_ad.png',
                            ],
                            // 468x60
                            '469': [
                                'http://via.placeholder.com/468x60',
                            ],
                            // 742x90
                            '729': [
                                'http://via.placeholder.com/742x90',
                            ]
                        }
                    },
                    {
                        url: 'https://2009scape.org?affil=lostcity',
                        images: {
                            '300': [
                                '/img/2009scape_1.png',
                                '/img/2009scape_2.png',
                                '/img/2009scape_3.png',
                            ],
                            '469': [
                                'http://via.placeholder.com/468x60',
                            ],
                            '729': [
                                'http://via.placeholder.com/742x90',
                            ]
                        }
                    }
                ];

                var size = urlParam('size') || '300';
                var server = servers[Math.floor(Math.random() * servers.length)];
                var image = server.images[size][Math.floor(Math.random() * server.images[size].length)];

                var bannerImage = document.getElementById('bannerImage');
                bannerImage.src = image;

                var bannerLink = document.getElementById('bannerLink');
                bannerLink.href = server.url;
            };

            window.onload = function() { windowOnload(); };
        </script>
    </body>
</html>
