<html>
<script language="javascript">
function givetrue() {return true;}
function musicloop() {var tune=document.app.gettune(); if (tune!="none") {music.location="music?tune="+tune;}}
function startloop() {onerror=givetrue; timer=setInterval("musicloop()",100);}
</script>
<head>
<META HTTP-EQUIV='Expires' CONTENT='0'>
<META HTTP-EQUIV='Pragma' CONTENT='no-cache'>
<META HTTP-EQUIV='Cache-Control' CONTENT='no-cache'>
<title>RuneScape Game</title>
<STYLE>
BODY, TD, P
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
}
BODY {margin:0px; overflow: auto;}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
<SCRIPT LANGUAGE="JavaScript">
<!-- Hide from old browsers
function ConfirmMenu(e) {
     if (e == null) e = event;
     var response=window.confirm("Clicking this link will exit the game and take you to the main menu.\nPlease log out of the game before exiting.\nClick OK if you have safely logged out.");
     if (response) document.location.href="/title";
     if (e.cancelable) e.preventDefault();
     return false;
}
function init() {
  if (document.getElementById) {
    var node = document.getElementById('menulink');
    if (node != null) {
    	node.setAttribute('href','');
    	node.onclick = ConfirmMenu;
    }
    var node = document.getElementById('menulink2');
    if (node != null) {
    	node.setAttribute('href','');
    	node.onclick = ConfirmMenu;
    }
  }
}
//-->
</SCRIPT>
</head>

<body onload="init()" bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 style="margin: 2px 0 0 0 0;" marginwidth="0" marginheight="0" topmargin="2" leftmargin="0"><center><table cellpadding=1 cellspacing=0>
<tr><td align=center><table width=785 cellpadding=1 cellspacing=0><tr><td align=center><a href="/title" ID='menulink'><img src='/img/jagexlogo_black.jpg' border=0><br><font color=white>Return to Main Menu</font></a></td><td align=center><IFRAME SRC="/banner?size=469" WIDTH=468 HEIGHT=60 MARGINWIDTH=0 MARGINHEIGHT=0 FRAMEBORDER=0 SCROLLING=no></iframe></td><td align=right><a href=# target=newwin><img src=/img/gamewin/realbanner.gif border=0></a></td></tr></table></td></tr>
<tr><td colspan=2 align=center><iframe src='<%= world.address %>/client-inner?method=<%= method %>&world=<%= world.id %>&detail=<%= detail %>' frameborder="0" border="0" width="789" height="532" scrolling="no"></iframe>
</td></tr></table></center></body></html>
