<HTML>
<STYLE>
BODY {margin:0px; overflow: auto;}
</STYLE><BODY topmargin=0 leftmargin=0 bgcolor=black onload=startloop();><center><OBJECT classid = "clsid:CAFEEFAC-0014-0002-0000-ABCDEFFEDCBA"
codebase = "http://java.sun.com/products/plugin/autodl/jinstall-1_4_2-windows-i586.cab#Version=1,4,2,0" WIDTH=789 HEIGHT=532>
<PARAM name=code value=client.class>
<PARAM name=archive value=runescape.jar>
<PARAM name=type value="application/x-java-applet;jpi-version=1.4.2">
<PARAM name=scriptable value=true>
<param name=portoff value=0>
<param name=nodeid value=10>
<COMMENT>
<EMBED type="application/x-java-applet;jpi-version=1.4.2"
CODE=client.class
ARCHIVE=runescape.jar
WIDTH=789
HEIGHT=532
scriptable=true
portoff=0
nodeid=10
pluginspage="http://java.sun.com/products/plugin/index.html#download">
</EMBED></COMMENT></OBJECT><br>
<br>
<bgsound id=midibox loop=0 volume=0 autostart=yes>
<bgsound id=wavebox loop=0 volume=0 autostart=yes>

<script language="javascript">
var fadestop=null;
var fade=50;
var fademidi;
var fadevol=0;

function dofade() {
	fade=fade+1;
	midibox.volume = -(fade*100);
	if (fade>=36) {
		clearInterval(fadestop);
		clearInterval(fadestop);
		midibox.src=fademidi; midibox.volume=fadevol; fade=-(fadevol/100);
		clearInterval(fadestop);
		clearInterval(fadestop);
	}
}

function givetrue() {return true;}

function musicloop() {
	var midi=document.app.getmidi();
	if (midi!="none") {
		if (fadestop!=null) clearInterval(fadestop);
		var midivol=document.app.getmidivol();
		var midifade=document.app.getmidifade();
		if (midi=="stop") {midibox.src="c:\silence.mid"; fade=50; return;}
		if (midi=="voladjust") {midibox.volume=midivol; if (midifade==1) fade=-(midivol/100); else fade=50; return;}
		if (midifade==1) {
			fademidi=midi; fadevol=midivol;
			if (fadestop!=null) clearInterval(fadestop);
			fadestop=setInterval("dofade()",200);
		}
		else {
			midibox.src=midi; midibox.volume=midivol; fade=50;
		}
		
	}
	var wave=document.app.getwave();
	if (wave!="none") {
		var wavevol=document.app.getwavevol();
		wavebox.src=wave; wavebox.volume=wavevol;
	}
}

function startloop() {
	onerror=givetrue;
	setInterval("musicloop()",50);
}
</script></center></body></html>
