<html><head>  
<META HTTP-EQUIV="Expires" CONTENT="0">  
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">  
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">  
<meta name="MSSmartTagsPreventParsing" content="TRUE">   

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>  

<STYLE>  
BODY, TD, P  
{      
	font-family:Arial,Helvetica,sans-serif;     
	font-size:13px;  
}  
.b {border-style: outset; border-width:3pt; border-color:#373737}  
.e {border:2px solid #382418}  
.c {text-decoration:none}  
A.c:hover {text-decoration:underline}  
</STYLE>
</head>

<body bgcolor=black text="white" link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0><table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<!--border top-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=top><img src=/img/edge_a.jpg width=100 height=43 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=top><img src=/img/edge_d.jpg width=100 height=43 hspace=0 vspace=0></td>
</tr></table>
<!--end border top-->

<!-- content table-->
<table width=600 cellpadding=0 cellspacing=0 border=0 background=/img/background2.jpg><tr><td valign=bottom>
<center>
<br>
<table width=300 bgcolor=black cellpadding=4>
  <tr><td class=e><center>  <b>Customer Support</b><br>  <a href="/title" class=c>Main menu</a>  </center></td></tr>
</table>
<br>
<table>
  <tr><td colspan=3>
    <table width=507 bgcolor=black cellpadding=4>
      <tr><td class=e><center>  
        <table width=250 bgcolor=black cellpadding=2>
          <tr><td class=b bgcolor=#474747 background=/img/stoneback.gif align=center>Recent Customer Support News</td></tr>
        </table>
        <table>
          <tr><td><img src=/img/title/mm_scroll.jpg border=0 width=77 height=120></td>
            <td><iframe src="/news/cs" width="370" height="130" scrolling="no" border="0" frameborder="no"></iframe></td>
          </tr>
        </table>
      </td></tr>
    </table>
  </td></tr>
  <tr><td>
    <table width=240 bgcolor=black cellpadding=4>
      <tr><td class=e><center>  
        <table width=150 bgcolor=black cellpadding=2>
          <tr><td class=b bgcolor=#474747 background=/img/stoneback.gif align=center>Password Support</td></tr>
        </table>
        <table>
          <tr><td>  <a href='#' class=c><img src=/img/support/password.jpg width=95 height=65 border=0></a>  </td>
            <td>If you need help with your password or recovery-questions<br><a href='#' class=c>Click here</a></td>
          </tr>
        </table>
      </td></tr>
    </table>
  </td>
  <td width=10></td>
  <td>
    <table width=240 bgcolor=black cellpadding=4>
      <tr><td class=e><center>  
        <table width=150 bgcolor=black cellpadding=2>
          <tr><td class=b bgcolor=#474747 background=/img/stoneback.gif align=center>Query Tracking</td></tr>
        </table>
        <table>
          <tr><td>  <a href='#' class=c><img src='/img/support/lk_qtracking.jpg' width=95 height=65 border=0></a>  </td>
            <td>View the status of your password request<br><a href='#' class=c>Click here</a></td>
          </tr>
        </table>
      </td></tr>
    </table>
  </td></tr>
  
  <tr><td colspan=3>
    <table width=507 bgcolor=black cellpadding=4>
      <tr><td class=e><center>  
        <table width=150 bgcolor=black cellpadding=2>
          <tr><td class=b bgcolor=#474747 background=/img/stoneback.gif align=center>Send a Query</td></tr>
        </table>
        <table>
          <tr><td>  <a href='#' class=c><img src=/img/support/feedback.jpg width=95 height=65 border=0></a>  </td>
            <td>Log-in to send any other questions to our staff<br>(Ban Appeals, Billing and Technical Support, Feedback and Other)<br><a href=# class=c>Click here</a></td>
          </tr>
        </table>
      </td></tr>
    </table>
  </td></tr>
</table>
<br>
</td></tr></table>

<!-- border footer-->
<table cellpadding=0 cellspacing=0><tr>
<td valign=bottom><img src=/img/edge_g2.jpg width=100 height=82 hspace=0 vspace=0></td>
<td valign=bottom>
<div align=center style="font-family:Arial,Helvetica,sans-serif; font-size:11px;">
This webpage and its contents is copyright 2004 Jagex Ltd<br>
To use our service you must agree to our
<a href="/terms" class=c>Terms+Conditions</a>
+ 
<a href="/privacy" class=c>Privacy policy</a>
</div>
<img src=/img/edge_c.jpg width=400 height=42 hspace=0 vspace=0></td>
<td valign=bottom><img src=/img/edge_h2.jpg width=100 height=82 hspace=0 vspace=0></td>
</tr></table>
<!-- border footer-->
</td></tr></table>
</center></td></tr></table></body></html>