<html><head>
<META HTTP-EQUIV="Expires" CONTENT="0">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta name="MSSmartTagsPreventParsing" content="TRUE">

<title>RuneScape - the massive online adventure game by Jagex Ltd</title>
<STYLE>
BODY, TD, P
{ 
   font-family:Arial,Helvetica,sans-serif;
   font-size:13px;
}
.b {border-style: outset; border-width:3pt; border-color:#373737}
.e {border:2px solid #382418}
.c {text-decoration:none}
A.c:hover {text-decoration:underline}
</STYLE>
</head>

<body bgcolor=black background=/img/background.jpg text=white link=#90c040 alink=#90c040 vlink=#90c040 topmargin=0 leftmargin=0>
<table width=100% height=100% cellpadding=0 cellspacing=0><tr><td valign=middle><center>

<table><tr><td valign=top align=left>
  <table width=250 bgcolor=black cellpadding=4>
    <tr><td class=e>
      <center><b>Map of the RuneScape World</b><br><a href="/title" class=c>Main menu</a> - <a href='/manual' class=c> How to Play</a></center>
    </td></tr>
  </table>
</td>
</tr>
<tr>
  <td><img border=0 hspace=0 vspace=0 width=2165 height=2253 alt="Map of the RuneScape World" title="Map of the RuneScape World" src="/img/rs2/worldmap/worldmap2.jpg"></td></tr>
</table>

</center></td></tr></table></body></html>