[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[com_31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[com_45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[com_46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[com_47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[com_48]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[com_49]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[com_50]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[com_51]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[com_52]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[com_53]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[com_54]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[com_55]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[com_56]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[com_57]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[com_58]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[com_59]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[com_60]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[com_61]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[com_62]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[com_63]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[com_64]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[com_65]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[com_66]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[com_67]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[com_68]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[com_69]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[com_70]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[com_71]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[com_72]
type=graphic
x=288
y=42
width=36
height=36
graphic=steelborder2,0

[com_73]
type=graphic
x=324
y=42
width=36
height=36
graphic=steelborder2,0

[com_74]
type=graphic
x=182
y=290
width=25
height=30
graphic=steelborder,0

[com_75]
type=graphic
x=396
y=42
width=36
height=36
graphic=steelborder2,0

[com_76]
type=graphic
x=252
y=42
width=36
height=36
graphic=steelborder2,0

[com_77]
type=graphic
x=432
y=42
width=36
height=36
graphic=steelborder2,0

[com_78]
type=graphic
x=458
y=42
width=36
height=36
graphic=steelborder2,0

[com_79]
type=graphic
x=216
y=42
width=36
height=36
graphic=steelborder2,0

[com_80]
type=graphic
x=180
y=42
width=36
height=36
graphic=steelborder2,0

[com_81]
type=graphic
x=144
y=42
width=36
height=36
graphic=steelborder2,0

[com_82]
type=graphic
x=108
y=42
width=36
height=36
graphic=steelborder2,0

[com_83]
type=graphic
x=72
y=42
width=36
height=36
graphic=steelborder2,0

[com_84]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[com_85]
type=graphic
x=37
y=42
width=36
height=36
graphic=steelborder2,0

[com_86]
type=graphic
x=360
y=42
width=36
height=36
graphic=steelborder2,0

[com_87]
type=graphic
x=18
y=42
width=36
height=36
graphic=steelborder2,0

[otherinv1]
type=invtext
x=377
y=96
width=1
height=14
center=yes
font=b12
shadowed=yes
colour=0xFFFFFF
margin=0,2

[com_89]
type=text
x=60
y=62
width=146
height=14
font=b12
shadowed=yes
text=You are about to give:
colour=0xFFFF00

[com_90]
type=text
x=290
y=62
width=168
height=14
font=b12
shadowed=yes
text=In return you will receive:
colour=0xFFFF00

[com_91]
type=text
x=139
y=27
width=240
height=14
center=yes
font=p12
shadowed=yes
text=Are you sure you want to make this trade?
colour=0x00FFFF

[com_92]
type=text
x=107
y=43
width=298
height=11
font=p11
shadowed=yes
text=There is NO WAY to reverse a trade if you change your mind
colour=0xFFFFFF

[com_93]
type=graphic
x=239
y=243
width=36
height=36
graphic=miscgraphics,2

[inv2]
type=invtext
x=77
y=96
width=2
height=14
center=yes
font=p12
shadowed=yes
colour=0xFFFFFF
margin=0,2

[otherinv2]
type=invtext
x=317
y=96
width=2
height=14
center=yes
font=p12
shadowed=yes
colour=0xFFFFFF
margin=0,2

[com_96]
type=graphic
x=239
y=278
width=36
height=36
graphic=miscgraphics,2

[com_97]
type=graphic
x=241
y=275
width=36
height=36
graphic=steelborder2,0

[inv1]
type=invtext
x=136
y=96
width=1
height=14
center=yes
font=b12
shadowed=yes
colour=0xFFFFFF
margin=0,2

[com_99]
type=text
x=425
y=27
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0xFF0000
overcolour=0xFFFFFF

[com_100]
type=graphic
x=307
y=290
width=25
height=30
graphic=steelborder,1

[com_101]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[accept]
type=rect
x=188
y=296
buttontype=normal
width=66
height=18
fill=yes

[com_103]
type=text
x=203
y=297
width=39
height=14
font=p12
shadowed=yes
text=Accept
colour=0x00C000

[decline]
type=rect
x=260
y=296
buttontype=close
width=66
height=18
fill=yes

[com_105]
type=text
x=274
y=297
width=40
height=14
font=p12
shadowed=yes
text=Decline
colour=0xC00000

[com_106]
type=graphic
x=239
y=99
width=36
height=36
graphic=miscgraphics,2

[com_107]
type=graphic
x=239
y=63
width=36
height=36
graphic=miscgraphics,2

[com_108]
type=graphic
x=239
y=171
width=36
height=36
graphic=miscgraphics,2

[com_109]
type=graphic
x=207
y=275
width=36
height=36
graphic=steelborder2,0

[com_110]
type=graphic
x=239
y=207
width=36
height=36
graphic=miscgraphics,2

[com_111]
type=graphic
x=239
y=135
width=36
height=36
graphic=miscgraphics,2

[com_112]
type=graphic
x=271
y=275
width=36
height=36
graphic=steelborder2,0

[inv_nothing]
type=text
x=72
y=83
width=129
height=14
center=yes
font=b12
shadowed=yes
text=Absolutely nothing!
colour=0xFFFFFF

[otherinv_nothing]
type=text
x=311
y=84
width=129
height=14
center=yes
font=b12
shadowed=yes
text=Absolutely nothing!
colour=0xFFFFFF
