[inv]
type=inv
x=16
y=8
width=4
height=7
draggable=yes
margin=10,4
option1=Deposit 1
option2=Deposit 5
option3=Deposit 10
option4=Deposit All
option5=Deposit X
