[com_0]
type=model
x=239
y=145
width=35
height=35
model=model_3035
zoom=525
xan=395

[com_1]
type=layer
x=300
y=80
width=135
height=167
hide=yes

[com_2]
layer=com_1
type=text
x=0
y=0
width=135
height=17
center=yes
font=q8
text=Cocktail Index
colour=0x000080

[com_3]
layer=com_1
type=text
x=0
y=30
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Blurberry Special

[com_4]
layer=com_1
type=text
x=0
y=50
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Chocolate Saturday

[com_5]
layer=com_1
type=text
x=0
y=70
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Drunk Dragon

[com_6]
layer=com_1
type=text
x=0
y=90
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Fruit Blast

[com_7]
layer=com_1
type=text
x=0
y=110
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Pineapple Punch

[com_8]
layer=com_1
type=text
x=0
y=130
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Short Green Guy

[com_9]
layer=com_1
type=text
x=0
y=150
buttontype=normal
width=135
height=17
center=yes
font=q8
text=Wizard Blizzard

[com_10]
type=layer
x=432
y=259
width=45
height=36

[com_11]
layer=com_10
type=graphic
x=0
y=0
buttontype=normal
width=45
height=36
graphic=rightarrow,0

[com_12]
type=layer
x=47
y=80
width=409
height=209

[com_13]
layer=com_12
type=text
x=15
y=0
width=163
height=17
center=yes
font=q8
text=Gnome Bowls
colour=0x000080

[com_14]
layer=com_12
type=text
x=12
y=32
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Chocolate Bomb

[com_15]
layer=com_12
type=text
x=11
y=48
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Tangled Toad's Legs

[com_16]
layer=com_12
type=text
x=10
y=64
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Worm Hole

[com_17]
layer=com_12
type=text
x=9
y=80
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Veg Ball

[com_18]
layer=com_12
type=text
x=6
y=112
width=163
height=17
center=yes
font=q8
text=Gnome Crunchies
colour=0x000080

[com_19]
layer=com_12
type=text
x=3
y=144
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Worm Crunchies

[com_20]
layer=com_12
type=text
x=2
y=160
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Choc Chip Crunchies

[com_21]
layer=com_12
type=text
x=1
y=176
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Spicy Crunchies

[com_22]
layer=com_12
type=text
x=0
y=192
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Toad Crunchies

[com_23]
layer=com_12
type=text
x=239
y=0
width=163
height=17
center=yes
font=q8
text=Gnome Battas
colour=0x000080

[com_24]
layer=com_12
type=text
x=242
y=32
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Worm Batta

[com_25]
layer=com_12
type=text
x=243
y=48
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Toad's Legs Batta

[com_26]
layer=com_12
type=text
x=244
y=64
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Cheese & Tomato Batta

[com_27]
layer=com_12
type=text
x=245
y=80
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Fruit Batta

[com_28]
layer=com_12
type=text
x=246
y=96
buttontype=normal
width=163
height=17
center=yes
font=q8
text=Vegetable Batta

[com_29]
type=layer
x=12
y=20
width=488
height=36

[com_30]
layer=com_29
type=graphic
x=94
y=-3
width=88
height=60
graphic=tradebacking,0

[com_31]
layer=com_29
type=graphic
x=182
y=6
width=88
height=60
graphic=tradebacking,0

[com_32]
layer=com_29
type=graphic
x=270
y=6
width=88
height=60
graphic=tradebacking,0

[com_33]
layer=com_29
type=graphic
x=358
y=6
width=88
height=60
graphic=tradebacking,0

[com_34]
layer=com_29
type=graphic
x=394
y=6
width=88
height=60
graphic=tradebacking,0

[com_35]
layer=com_29
type=graphic
x=6
y=-1
width=88
height=60
graphic=tradebacking,0

[com_36]
layer=com_29
type=graphic
x=60
y=16
width=36
height=36
graphic=miscgraphics,3

[com_37]
layer=com_29
type=graphic
x=96
y=16
width=36
height=36
graphic=miscgraphics,3

[com_38]
layer=com_29
type=graphic
x=132
y=16
width=36
height=36
graphic=miscgraphics,3

[com_39]
layer=com_29
type=graphic
x=168
y=16
width=36
height=36
graphic=miscgraphics,3

[com_40]
layer=com_29
type=graphic
x=204
y=16
width=36
height=36
graphic=miscgraphics,3

[com_41]
layer=com_29
type=graphic
x=240
y=16
width=36
height=36
graphic=miscgraphics,3

[com_42]
layer=com_29
type=graphic
x=276
y=16
width=36
height=36
graphic=miscgraphics,3

[com_43]
layer=com_29
type=graphic
x=312
y=16
width=36
height=36
graphic=miscgraphics,3

[com_44]
layer=com_29
type=graphic
x=348
y=16
width=36
height=36
graphic=miscgraphics,3

[com_45]
layer=com_29
type=graphic
x=384
y=16
width=36
height=36
graphic=miscgraphics,3

[com_46]
layer=com_29
type=graphic
x=420
y=16
width=36
height=36
graphic=miscgraphics,3

[com_47]
layer=com_29
type=graphic
x=428
y=16
width=36
height=36
graphic=miscgraphics,3

[com_48]
layer=com_29
type=graphic
x=0
y=0
width=25
height=30
graphic=steelborder,0

[com_49]
layer=com_29
type=graphic
x=60
y=-15
width=36
height=36
graphic=steelborder2,0

[com_50]
layer=com_29
type=graphic
x=96
y=-15
width=36
height=36
graphic=steelborder2,0

[com_51]
layer=com_29
type=graphic
x=132
y=-15
width=36
height=36
graphic=steelborder2,0

[com_52]
layer=com_29
type=graphic
x=168
y=-15
width=36
height=36
graphic=steelborder2,0

[com_53]
layer=com_29
type=graphic
x=204
y=-15
width=36
height=36
graphic=steelborder2,0

[com_54]
layer=com_29
type=graphic
x=240
y=-15
width=36
height=36
graphic=steelborder2,0

[com_55]
layer=com_29
type=graphic
x=276
y=-15
width=36
height=36
graphic=steelborder2,0

[com_56]
layer=com_29
type=graphic
x=312
y=-15
width=36
height=36
graphic=steelborder2,0

[com_57]
layer=com_29
type=graphic
x=348
y=-15
width=36
height=36
graphic=steelborder2,0

[com_58]
layer=com_29
type=graphic
x=384
y=-15
width=36
height=36
graphic=steelborder2,0

[com_59]
layer=com_29
type=graphic
x=420
y=-15
width=36
height=36
graphic=steelborder2,0

[com_60]
layer=com_29
type=graphic
x=25
y=-15
width=36
height=36
graphic=steelborder2,0

[com_61]
layer=com_29
type=graphic
x=463
y=0
width=25
height=30
graphic=steelborder,1

[com_62]
layer=com_29
type=graphic
x=427
y=-15
width=36
height=36
graphic=steelborder2,0

[com_63]
layer=com_29
type=graphic
x=463
y=7
width=25
height=30
graphic=steelborder,3

[com_64]
layer=com_29
type=graphic
x=25
y=16
width=36
height=36
graphic=miscgraphics,3

[com_65]
layer=com_29
type=graphic
x=0
y=7
width=25
height=30
graphic=steelborder,2

[com_66]
type=text
x=75
y=30
width=360
height=14
center=yes
font=b12
shadowed=yes
text=The Blurberry Cocktail Guide
colour=0xFFFF00

[com_67]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF
